[2015-09-15 17:03] antw commented on #1900
It appears [the input](https://github.com/quintel/etsource/blob/23e8a9ae1c7967be8780f74b933eefb4dfb943de/inputs/modules/employment/employment_economic_multiplier.ad) doesn't have a `unit`. If we add `- unit = x`, the problem should go away.

All inputs get scaled [except those whose unit is `%`, `x`, or `m^2K/W`](https://github.com/quintel/etengine/blob/72349ac7dcf6c12d9cbc7700f763976b62f984b5/app

[2015-09-16 08:46] AlexanderWirtz commented on #1900
@antw sounds like a solution to me. what's your opinion @ChaelKruip

[2015-09-16 08:52] ChaelKruip commented on #1900
:+1:

Is this the only input that has to be 'unscaled' @AlexanderWirtz? I'd rather do them all at once if there are several.

[2015-09-16 09:05] AlexanderWirtz commented on #1900
haven't spotted anything

[2015-09-16 11:40] RobTerwel opened #1901 "Adding Charts for Well-to-Wheel efficiencies in the transport sidebar?"
With a view to user experience,  it might be a good idea (if possible) to add a chart which shows the well-to-wheel efficiencies (i.e. efficiencies as taken over all steps from primary carriers to energy output of the vehicle) for all fuels used in the car technology slide.

Right now, the user defines supply and demand - the efficiencies of intermediate processes are behind the scenes, so to spea

[2015-09-16 11:40] #1900 closed

[2015-09-17 05:24] AlexanderWirtz commented on #1897
@ChaelKruip this chart is not available yet, is it?

[2015-09-17 06:03] dennisschoenmakers commented on #1901
Excellent idea @RobTerwel ! :+1:

I think we could at least start with comparing two or three options. Of course, we can use the electricity fuel fix from your supply part of the scenario.

[2015-09-17 13:57] grdw commented on #1882
![screen shot 2015-09-17 at 3 55 11 pm](https://cloud.githubusercontent.com/assets/2676542/9935008/a8824970-5d54-11e5-9748-8a979a07c85b.png)

Made the box white. Just like the rest. The tabs should be gone aswell but I'd like to beleive that there's a purpose for them?

[2015-09-17 14:00] ChaelKruip commented on #1882
I don't understand what you mean :confused:
I think the option to scale saved scenario's is redundant because the user can open any saved scenario from the ETM interface and then scale it. So, the tab can go as far as I'm concerned.

[2015-09-17 14:01] antw commented on #1882
I think the "Scale saved scenario" tab can be removed completely. It made sense in an older iteration of the UI, but it seems pointless now.

Maybe make the background `#DFE8F3` (same as the footer) to make it stand out a bit more?

![screen shot 2015-09-17 at 14 59 56](https://cloud.githubusercontent.com/assets/4383/9935139/e7da159c-5d4c-11e5-8118-2e7f1ca73303.png)

[2015-09-17 14:05] grdw commented on #1882
I would result in:

![screen shot 2015-09-17 at 4 03 18 pm](https://cloud.githubusercontent.com/assets/2676542/9935240/d2ba4cbe-5d55-11e5-8b2e-03d899e6cf07.png)

It's lonely in the middle though. But I think this will do for now.

[2015-09-17 14:08] ChaelKruip commented on #1882
:+1:

[2015-09-17 14:13] antw commented on #1882
Being super-picky again, sorry:

I wonder if we really need to show the country and year. The user chose these when creating their scenario; is the information useful, or is it distracting from the real purpose of the page?

![screen shot 2015-09-17 at 15 13 17](https://cloud.githubusercontent.com/assets/4383/9935460/a5304e80-5d4e-11e5-9216-cd57aff27442.png)

No need to change it to this, just sol

[2015-09-17 14:52] ChaelKruip commented on #1882
Welcome to the OCD-team!

I like the minimalistic look. :+1:

[2015-09-17 15:06] ChaelKruip commented on #1897
No, unfortunately, my approach of tracing final demand back to primary carriers seems to result in a different renewability percentage than the `renewable_factor` calculation which is used to calculate the dashboard item. Once I have found out why there is a discrepancy, I will put the chart on BETA.

[2015-09-18 12:52] antw commented on #1884
Tabs – the main sidebar items – have been made "area dependent" and a new `_always_hidden` dependancy has been added, which does as you'd expect.

The flexibility tab, P2H slider, and excess electricity chart have been hidden on beta.

[2015-09-18 12:52] #1884 closed

[2015-09-22 08:40] ChaelKruip commented on #1897
Also see https://github.com/quintel/etengine/issues/785

[2015-09-22 09:38] jorisberkhout commented on #1868
Changing milestone to 'Deploy February 2016'.

[2015-09-23 11:54] ChaelKruip commented on #1897
I have made a new concept chart that is in line with the current definition of renewability (based on final demand). The chart displays the final demand carrier groups. For the carriers that have partial renewability:

* heat
* electricity
* gas

I have made two queries. One for the sustainable, and one for the fossil part of the carrier(group):
![cursor_and_energy_transition_model_-_your_free__in

[2015-09-23 11:55] ChaelKruip commented on #1897
Perhaps I could tweak the color scheme a bit :smile:

[2015-09-23 12:16] dennisschoenmakers commented on #1897
Excellent work Chael! So much more informative now! I vote in favour of
making this the pop-up chart when you press the renewability percentage in
the dashboard.

[2015-09-23 14:26] AlexanderWirtz commented on #1897
hear hear! I like it a lot! :+1:

[2015-09-24 15:08] #1897 closed

[2015-09-28 10:00] RobTerwel commented on #1585
This issue is still present; reopened on @jorisberkhout 's advice. In space heating in a clean Netherlands 2050 scenario, `micro CHP` (combined with hot water) cannot be set higher than 52%

![screen shot 2015-09-28 at 11 46 07](https://cloud.githubusercontent.com/assets/14106387/10132540/32425c4c-65d7-11e5-9fb5-ad3ef2ced415.png)
As noted above in this issue, in `hot water` (combined with space he

[2015-09-28 10:11] RobTerwel opened #1905 "List of links and videos in information which don't work"
This list will be updated and contains all links in the information (question marks next to sliders) which don't work.

Embedded videos - Streams not found

- [ ] Demand - Household energy demand - Space heating - Heat pump (ground)
- [ ] Demand - Household energy demand - Solar panels - PV panels
- [ ] Demand - Buildings - Space Heating - Solar thermal panels
- [ ] Demand - Transportation - Car T

[2015-09-28 10:19] RobTerwel opened #1906 "Sliders adding up to percentages slightly greater or smaller than 100%"
Some percentage sliders don't always give rise to a 100% total, but 99.9% or 100.1% e.g.:

![screen shot 2015-09-28 at 10 55 38](https://cloud.githubusercontent.com/assets/14106387/10133017/7c159098-65da-11e5-9fd1-0e62ff96fcfc.png)

This is not something that occurs for fixed ratios, because I've managed to start a new scenario and actually get to 12/76/12 %, giving the 100% total as expected. It

[2015-09-28 10:31] RobTerwel opened #1907 "The Useful demand in Residences chart does not reflect all changes it should"
For example, when one changes sliders in `cooking`, the `Useful demand in Residences` chart does not change at all, in spite of having a cooking part. This was confirmed with table view. However, changing appliances' efficiencies does change this chart.

![screen shot 2015-09-28 at 12 29 17](https://cloud.githubusercontent.com/assets/14106387/10133311/962f825c-65dc-11e5-9282-5cec18fe93d7.png)

The

[2015-09-28 11:23] RobTerwel opened #1908 "Calculated Changes and Symbols"
The change in quantities on the bottom of the screen (`Energy use`, `Costs` etc.) is also visualized by downward or upward arrows. However, if such a quantity is not affected, what happens? In the following image, there is a hyphen (-) for `Energy imports` but no sign for `Bio-footprint`. Is there a difference, or do both indicate there are no changes?

![screen shot 2015-09-28 at 11 40 54](https:

[2015-09-28 11:38] RobTerwel commented on #1906
In addition to the foregoing, in a **clean** Netherlands 2050 scenario on beta the demand - buildings - space heating sliders start off totalling 100.1%.

![screen shot 2015-09-28 at 13 34 02](https://cloud.githubusercontent.com/assets/14106387/10134398/cc74599c-65e5-11e5-854e-1a97441380c7.png)

[2015-09-28 11:56] ChaelKruip commented on #1908
Re-assigning to @antw because I don't know what exactly the difference in behaviour between these items is and if it is intentional.

[2015-09-28 12:04] AlexanderWirtz commented on #1870
HAS this issue beenanswered, @ChaelKruip

[2015-09-28 15:06] antw commented on #1908
This happens because the bio-footprint value doesn't change *at all*; the energy imports and renewability values change, but by less than 1e<sup>-5</sup>. When that happens, you get the "—" icon. The UI framework we use (Backbone) simply won't trigger a `change` event if the new value is identical to the old one.

How would people feel about removing the neutral "—" icon, and only showing ↑ and ↓?

[2015-09-28 15:29] RobTerwel opened #1909 "Unfinished Storage Sidebar is still present on beta front-end"
![screen shot 2015-09-28 at 17 21 55](https://cloud.githubusercontent.com/assets/14106387/10139974/b934effc-6605-11e5-8f38-8dad4bc2ddb6.png)

Shouldn't the Costs - Storage section be removed from the front end before September's deploy as it is unfinished but shows up nonetheless?

Re-assign at will.

[2015-09-28 15:57] ChaelKruip commented on #1908
Fine by me!

[2015-09-28 15:58] ChaelKruip commented on #1909
Assigning @antw

[2015-09-28 16:00] jorisberkhout opened #1910 "Local and domestic CO2 emissions: two names for the same dashboard item"
When selecting the dashboard item it is called 'Domestic', but when displayed it is called 'Local'. The title of the corresponding chart is 'Domestic'.

I suggest sticking with 'Domestic'. What about you, @AlexanderWirtz , @ChaelKruip ?

<img width="965" alt="screen shot 2015-09-28 at 17 55 46" src="https://cloud.githubusercontent.com/assets/4669028/10141025/819596d2-660a-11e5-8ac5-caf5b9bdd4b6.pn

[2015-09-29 07:11] RobTerwel commented on #1908
Yes, seems like a good suggestion to me!

[2015-09-29 07:21] jorisberkhout commented on #1908
Sounds good to me!

[2015-09-29 07:36] RobTerwel opened #1911 "'Dead' sliders for efficiency improvement in Demand - Other"
In `Demand - Other`, there are sliders for efficiency improvement of `electricity`, `heat`and `non-energetic`. The current quantities come from the energy balance; however, changing the sliders for efficiency improvement of `electricity` and `heat` does not change the dashboard nor the chart associated with them.

![screen shot 2015-09-29 at 09 26 56](https://cloud.githubusercontent.com/assets/141

[2015-09-29 07:55] jorisberkhout commented on #1910
After discussing with @AlexanderWirtz , I will change 'Local' into 'Domestic'.

[2015-09-29 08:05] RobTerwel opened #1912 "Re-appearance of symbols for latest dashboard change when a non-dashboard-affecting slider is moved"
Hard to phrase, but here is an attempt:

Changing certain sliders does not affect the dashboard quantities at all; however, when doing so the increase/decrease arrows for the **previous** change re-appear in the dashboard.

This is best illustrated by an example. Set all trucks to be electric in the demand of car technology, and then change the slider for efficiency improvement `combustion engine

[2015-09-29 08:12] RobTerwel opened #1913 "Ghost Appearance of Input Fuel Mix in technical and financial information"
At random, when accessing the information about a slider and clicking the `technical and financial information`, a table appears which includes the input fuel mix. This indeed seems to occur haphazardly, as it does not show up every time for the same slider and it also appears for sliders for which this is out of place (e.g. input for wind turbines, see image).

![screen shot 2015-09-29 at 10 06 4

[2015-09-29 08:26] jorisberkhout commented on #1839
@ChaelKruip , somehow this new chart does not appear when I click on the 'Domestic (a.k.a. local) CO2 emission dashboard item. Do you know why?

[2015-09-29 08:34] #1910 closed

[2015-09-29 08:39] RobTerwel opened #1915 "Liquid Biofuels changes in FCE reflected in chart, but not on dashboard"
When one changes the feedstock for `Liquid biofuels` in `Fuel chain emissions`, the chart on the right reflects the changes but the dashboard doesn't. Going from 100% `sugar beets` to 100% `sugar cane` leads to a decrease of more than 10 kg/GJ in the fuel production chart next to it but has no effect on the dashboard.

![screen shot 2015-09-29 at 10 32 09](https://cloud.githubusercontent.com/asset

[2015-09-29 08:49] RobTerwel opened #1916 "Primary CO2 emissions of Final demand chart has units of ZJ (instead of Mton)"
The `Primary CO2 emissions of final demand` chart now has alarming units of ZJ (10ˆ21 J), while it should have units of mass, probably Mton.

![screen shot 2015-09-29 at 10 43 00](https://cloud.githubusercontent.com/assets/14106387/10159230/75f304b2-6697-11e5-906c-d1ffdd7d3ea6.png)

@antw , could you verify and change this?

[2015-09-29 08:54] jorisberkhout commented on #1916
Duplicate of https://github.com/quintel/etmodel/issues/1886.

[2015-09-29 09:03] ChaelKruip commented on #1916
Closing because duplicate.

[2015-09-29 09:03] #1916 closed

[2015-09-29 09:05] ChaelKruip commented on #1913
Assigned @antw. Minor issue.

[2015-09-29 09:10] jorisberkhout commented on #1907
Assigning myself to look into this.

[2015-09-29 09:44] georgiasavvidou opened #1917 "CO2 emissions in dashboard are different in LIVE and BETA"
When I create a new scenario, there is a 3.2% difference in the total CO2 emissions in the dashboard between the BETA and the LIVE version (and a 3.3 % difference in the local CO2 emissions)

BETA:
![image](https://cloud.githubusercontent.com/assets/12493788/10160349/2cdf2afc-669d-11e5-916f-568a6cea3890.png)

LIVE:
![image](https://cloud.githubusercontent.com/assets/12493788/10160512/5a05f08c-669e

[2015-09-29 09:49] antw commented on #1886
I set the chart unit to `T` and get this:

<img width="607" alt="screen shot 2015-09-29 at 10 47 49" src="https://cloud.githubusercontent.com/assets/4383/10160775/9169d662-6697-11e5-9092-d059840445da.png">

Looks good to me; what do you think @ChaelKruip?

[2015-09-29 09:51] #1909 closed

[2015-09-29 10:00] ChaelKruip commented on #1915
Including @AlexanderWirtz @jorisberkhout do you have any ideas why this could be?

[2015-09-29 10:02] ChaelKruip commented on #1917
Assigning to @AlexanderWirtz as he has the best feeling if his changes to carriers could have this impact.

[2015-09-29 10:02] jorisberkhout commented on #1907
Well spotted, @RobTerwel . This chart shows useful demand, which is only effected by the sliders in the 'Prosperity' slide and the sliders in the 'Construction and insulation' slide (only for heating and cooling). The useful demand does not depend on the technology sliders as these effect final demand (which you refer to as the chart being 'dead').

For appliances we have not included useful deman

[2015-09-29 10:03] ChaelKruip commented on #1886
:+1: :+1:

[2015-09-29 10:03] #1886 closed

[2015-09-29 10:05] georgiasavvidou opened #1918 "Difference in costs between LIVE and BETA"
There is a difference of 3.2 bln/yr between the costs in the BETA and LIVE

BETA:
![image](https://cloud.githubusercontent.com/assets/12493788/10161116/1c159026-66a2-11e5-994d-11252fd02361.png)

LIVE:
![image](https://cloud.githubusercontent.com/assets/12493788/10161125/24b4d840-66a2-11e5-80cb-2be9f8f30c47.png)

[2015-09-29 10:11] AlexanderWirtz commented on #1918
The cause is the huge drop in dollar_to_euro. Since Oil and Coal are paid for in dollars, the lower value of the euro means you have to spend more to buy the same amount of oil.

[2015-09-29 10:12] AlexanderWirtz commented on #1918
I do not have time to look into the specifics, but I would bet this is what causes all of this difference

[2015-09-29 10:12] AlexanderWirtz commented on #1917
@jorisberkhout is already looking into this

[2015-09-29 10:15] jorisberkhout commented on #1918
Assigning myself and adding milestone.

[2015-09-29 10:16] AlexanderWirtz commented on #1915
@RobTerwel:

This is incorrect: only for carriers whose CO2 content depends on their mix of origins (the fossil fuels), will the CO2 emissions change regardless. If it is OFF, the calculation only takes into account the CO2 released in the combustion/conversion step. No CO2 is officially released when biomass is converted.

[2015-09-29 10:21] ChaelKruip commented on #1839
This is a custom chart that is defined in [ETModel](https://github.com/quintel/etmodel/blob/master/app/assets/javascripts/lib/views/co2_emissions_chart_view.coffee). I need @antw to change this. The queries to make the grey and blue parts of the above chart are in [this commit](https://github.com/quintel/etsource/commit/f05f8d42543ef0806febe228ffbc29f8a32bd9c9).

Assigning to @antw.

[2015-09-29 10:22] ChaelKruip commented on #1915
So, @RobTerwel can we close this?

[2015-09-29 10:54] ChaelKruip commented on #1912
This behaviour is as old as the ETM. I kinda got used to it but that is not a reason to correct it. It would be better IMO if the arrows disappear as you touch a new slider that does not change anything.

Assigning @antw to pick this up after the deploy.

[2015-09-29 10:55] ChaelKruip commented on #1911
This section of the model for NL is very boring because in the statistics for our country there is almost no 'uncharted/miscellaneous/other' energy reported. For other countries the other sector is more significant.

I see where you're coming from but I advice against it for the following reason: we know very little about the 'other' sector, electricity, heat and non-energetic use is about the bes

[2015-09-29 10:55] #1911 closed

[2015-09-29 10:56] ChaelKruip commented on #1907
Is the better solution IMO but I'm not sure if this is worth a big time-investment at the moment.

[2015-09-29 10:57] ChaelKruip commented on #1905
Assigning @grdw

[2015-09-29 11:10] RobTerwel commented on #1915
Yes, we can! Thanks @AlexanderWirtz

[2015-09-29 12:15] georgiasavvidou opened #1919 "Renewable el. chart from the dashboard does not show the penetration of different RES"
The renewable el. chart from the dashboard does not show the penetration of different RES in the renewable electricity. The user might be interested to see the mix of renewable sources in the renewable electricity.
![image](https://cloud.githubusercontent.com/assets/12493788/10161687/125e355c-66a6-11e5-9ae7-f59a519d23a8.png)

The chart can be similar to the renewables share chart which differentia

[2015-09-29 12:21] RobTerwel opened #1920 "Spanish Energetic CO2 Emissions per sector chart"
The Spanish (2030) `Energetic CO2 Emissions per sector`chart probably has a value for the `Other` section which is too large. It is given in teratonnes (I believe) and it is much bigger than the values of other sectors (which do appear in the table view). For reference, the values for this chart in the Netherlands are in Mtonnes and the `Other` section is much smaller.
![screen shot 2015-09-29 at

[2015-09-29 12:27] #1915 closed

[2015-09-29 12:45] jorisberkhout commented on #1920
Good point, @RobTerwel . Interestingly, the total CO2 emissions as shown in the dashboard item are only 267.53 MT :confused:

[2015-09-29 12:47] georgiasavvidou opened #1921 "Add a table view in dashboard"
Consider to add a table view in the charts in the dashboard. This is useful for example in the case of 'Renewables' option in the dashboard where the share of 'Renewable gas' , 'Renewable heat' and other carriers in the Netherlands is so small that cannot seen by pointing at the chart.

![image](https://cloud.githubusercontent.com/assets/12493788/10164279/fc85df92-66b8-11e5-9415-2243eb3abf28.png)

[2015-09-29 12:51] georgiasavvidou opened #1922 "Dashboard- Disable the chart 'Profitability of power plants' if MO is disabled"
If the Merit Order is disabled, the chart 'Profitability of power plants' can be misleading (indicating the gas turbine as 1st in the merit order). Therefore, it is good to disable this chart if the MO is disabled.

![image](https://cloud.githubusercontent.com/assets/12493788/10164380/93745564-66b9-11e5-8cac-d86e644c7284.png)

[2015-09-29 12:54] georgiasavvidou opened #1923 "Group the charts by sector in the Demand"
There are too many charts in the Demand and it would be more user friendly to group them by sector

![image](https://cloud.githubusercontent.com/assets/12493788/10164467/f43b7760-66b9-11e5-961f-6526bb0546eb.png)

[2015-09-29 12:55] #1920 closed

[2015-09-29 13:04] RobTerwel commented on #1921
Correct me if I'm wrong, but you can add a chart called `Renewability of the final demand' which seems the same. There is a table view option for that chart.

[2015-09-29 13:07] ChaelKruip commented on #1921
It is :smile:

Yes, but it would also be nice to have it for the pop-up chart (which is indeed the same).

[2015-09-29 13:09] RobTerwel commented on #1921
D'accord!

[2015-09-29 13:38] RobTerwel opened #1924 "CO2 emissions of electricity production chart has no units"
The `CO2 emissions of electricity production` chart has no units:

![screen shot 2015-09-29 at 15 35 19](https://cloud.githubusercontent.com/assets/14106387/10165502/f5c38676-66bf-11e5-8095-6dbef0614a87.png)

Re-assign at will.

[2015-09-29 13:59] antw commented on #1906
This is just a display issue caused by rounding the numbers to one decimal place. This is fixable, but probably not in time for tomorrow's deploy.

[2015-09-29 14:05] #1908 closed

[2015-09-29 14:18] ChaelKruip commented on #1906
I think this very low priority.

[2015-09-29 14:48] #1924 closed

[2015-09-29 15:04] ChaelKruip commented on #1919
Nice suggestion @georgiasavvidou! I will pick this up in the next deploy.

[2015-09-29 15:05] ChaelKruip commented on #1923
Moving to February deploy.

[2015-09-29 15:06] ChaelKruip commented on #1922
Assigned @grdw and moved to next deploy

[2015-09-29 15:38] jorisberkhout commented on #1918
I think you will win this bet :wink: I have looked into this issue in a little more detail and cannot find any errors in the calculation. The difference can be explained by the updated costs of many carriers (which in turn are caused by the changed dollar to euro rate).

[2015-09-29 15:38] #1918 closed

[2015-09-29 15:41] RobTerwel opened #1925 "No Cooling in Poland (empty cooling demand in residences chart)"
The `cooling demand in residences` chart does not show anything for Poland, and in the table all values are zero. Is there no cooling in Poland or are we missing something here?

@jorisberkhout , could you help out here?

![screen shot 2015-09-29 at 17 37 53](https://cloud.githubusercontent.com/assets/14106387/10169348/ec6fa09e-66d0-11e5-8b3b-85cfe1d8f294.png)
![screen shot 2015-09-29 at 17 33 16]

[2015-09-29 15:50] grdw commented on #1905
I found out that they come from an external resource called http://www.new-energy.tv

I'm wondering if they just moved the videos or that they are actually gone.

[2015-09-29 15:59] grdw commented on #1905
I think they switched from their own Flash video uploading tool to Youtube. And removed all the old videos.  The quick solution would be to remove the old videos from the database by hand and replace them with the Youtube one's, if the Youtube one's exist... If someone could help identify the correct Youtube movies, that would be nice? :smile:

[2015-09-29 16:05] grdw commented on #1905
### Staging database removed:

Embedded videos - Streams not found

- [ ] Demand - Household energy demand - Space heating - Heat pump (ground)
- [ ] Demand - Household energy demand - Solar panels - PV panels
- [ ] Demand - Buildings - Space Heating - Solar thermal panels
- [ ] Demand - Transportation - Car Technology - Compressed gas
- [ ] Costs - Solar power - Solar power costs
- [ ] Costs - CO

[2015-09-29 17:13] antw commented on #1839
On beta.

![screen shot 2015-09-29 at 18 13 13](https://cloud.githubusercontent.com/assets/4383/10172156/caa7fefc-66d5-11e5-9906-249684b9832c.png)

[2015-09-29 17:16] ChaelKruip commented on #1839
Very nice! :+1:

[2015-09-29 17:17] antw commented on #1839
Forgot about the table view. :grimacing:

I'll get that fixed before the deploy.

[2015-09-29 17:17] ChaelKruip commented on #1921
Assigning @antw to do this if he feels like it...

[2015-09-29 17:30] #1839 closed

[2015-09-30 07:11] jorisberkhout commented on #1925
From the [Polish residences source analysis](https://github.com/quintel/etdataset/blob/master/source_analyses/pl/2012/6_residences/6_residences_source_analysis.md):

So this is a conscious choice. Closing.

[2015-09-30 07:11] #1925 closed

[2015-09-30 07:14] RobTerwel commented on #1925
Thanks, @jorisberkhout !

[2015-09-30 07:16] ChaelKruip commented on #1921
Moving to next deploy

[2015-09-30 07:17] ChaelKruip commented on #1917
Moving to next deploy

[2015-09-30 07:20] ChaelKruip commented on #1888
Closing this a the main points have been carried out.

[2015-09-30 07:20] #1888 closed

[2015-09-30 07:21] ChaelKruip commented on #1913
Moving to next deploy

[2015-09-30 07:23] ChaelKruip commented on #1847
Moving to next deploy as discussed in the issue

[2015-09-30 07:25] ChaelKruip commented on #1917
Closing but for further work on this see https://github.com/quintel/etdataset/issues/609

[2015-09-30 07:25] #1917 closed

[2015-09-30 08:25] ChaelKruip commented on #1817
@dennisschoenmakers what is the priority of this?

[2015-09-30 08:30] dennisschoenmakers commented on #1817
Nice-to-have

[2015-09-30 08:30] dennisschoenmakers commented on #1817
I moved it to the next deploy

[2015-09-30 08:43] ChaelKruip commented on #1882
Removing this milestone.

[2015-09-30 08:44] ChaelKruip commented on #1870
I think so, further discussion will follow but this can be closed.

[2015-09-30 08:44] #1870 closed

[2015-09-30 08:46] ChaelKruip commented on #1905
Let's keep them removed. @dennisschoenmakers @AlexanderWirtz what do you think? Very few people watch movies through the ETM is my feeling.

[2015-09-30 08:47] dennisschoenmakers commented on #1905
Agree.

[2015-09-30 08:48] ChaelKruip commented on #1905
Closing.

[2015-09-30 08:48] #1905 closed

[2015-09-30 11:46] AlexanderWirtz opened #1926 "Improve investments table 1: some converters need to be added"
As @ChaelKruip and I agreed the improvements to the 'Investments for heat and electricity production' table have been split into two issues. This one deals with converters that should be included in this table.

## Intro
This table costs us a lot of work, because users ask for the information in this table. Since the table is incorrect and unclear, we need to do extra work in Excel.

## Converters

[2015-09-30 11:59] AlexanderWirtz opened #1927 "Improve investments table 2: decide on method to prevent double counting and implement"
As @ChaelKruip and I agreed the improvements to the 'Investments for heat and electricity production' table have been split into two issues. This one deals with the double counting of heaters and water heaters (and cooling).

## Intro
The table is confusing, because the total costs listed at the bottom do not add up to the same number as the row items listed. Some technologies can be used for spac

[2015-09-30 12:02] AlexanderWirtz opened #1928 "Improve investments table 3: please increase significant numbers"
This is a side issue for the 'Investments for heat and electricity production'  table. For scaled regions this table doesn't contain much information as everything is rounded to tenths of billions. Let's use at least 3 or 4 decimals instead.

If this is easy to do, I would like to use it on October 8th

Notifying @ChaelKruip
#1926 and #1927

[2015-09-30 14:38] ChaelKruip commented on #1882
This has been done. Closing.

[2015-09-30 14:38] #1882 closed

[2015-09-30 14:40] RobTerwel opened #1929 "External link in Households - Climate information not working"
![screen shot 2015-09-30 at 16 34 52](https://cloud.githubusercontent.com/assets/14106387/10196108/67c7f9e2-6791-11e5-9178-23b1ecaa66d7.png)

In the Households - Climate information, there is an external link (to the KNMI website) that does not work. As decided in https://github.com/quintel/etmodel/issues/1905 , this link can be removed alltogether. Additionally, the sentence it's part of can also

[2015-09-30 14:50] jorisberkhout commented on #1929
I can show you how to that, @RobTerwel . Assigning you.

[2015-09-30 15:06] dennisschoenmakers opened #1930 "For absent tech, cost chart makes no sense"
When a technology is absent in a scenario, the EUR/MWhe costs go to zero:

![image](https://cloud.githubusercontent.com/assets/104830/10196882/613b5d4a-6795-11e5-8c6b-a4cd288c23ef.png)

And the chart becomes pointless for these technologies. Could we do something about it?
E.g.:
* Hide technologies which costs are zero?
* any ideas @ChaelKruip, @grdw, @antw, @jorisberkhout, @AlexanderWirtz ?

[2015-09-30 15:10] dennisschoenmakers opened #1931 "When zoomed in, would be nice if font size would be bigger."
I use the zoom option a lot when I project the model for a group, but fonts are still relatively small.

![image](https://cloud.githubusercontent.com/assets/104830/10197004/e6560dfe-6795-11e5-94b4-f2d7b92d6dc1.png)

[2015-09-30 15:11] ChaelKruip commented on #1931
Assigning @grdw

[2015-09-30 15:22] jorisberkhout commented on #1929
We closed this issue by removing the line 'More on the topic ... found here.' both in the production and staging database, both in the Dutch and English texts.

[2015-09-30 15:22] #1929 closed

[2015-10-01 05:23] AlexanderWirtz commented on #1930
Wow I haven't seen this issue in at least two years. It's cause is known and as I understanding fixing it wasn't easy back then.

[2015-10-01 07:19] ChaelKruip opened #1932 "CO2: what is the status?"
Discussion with @jorisberkhout made me realise that the possible reasons for the CO2 discrepancy as observed between beta and live can be due to several things:

* The (confirmed) omission of the coal gas export node
* The possible omission of co2 attributes for carriers
* The omission of some own use due to the improper modeling of the refinery sector
* ...

@AlexanderWirtz has looked into the di

[2015-10-01 09:06] dennisschoenmakers commented on #1930
Yeah, it's zero, because there is now energy flow through the converter. This is caused by the way the cost calculation is set up.

[2015-10-01 09:37] jorisberkhout commented on #1440
@AlexanderWirtz , as you are looking into the specs of heat pumps, could you advice me on the COP of heat pumps when it comes to cooling (both numbers and definitions)?

The ETDataset, ETSource and ETEngine code has changed significantly since @lodykuling wrote this issue, so I propose to start from the data and make sure that this ends up correctly in ETSource.

[2015-10-01 09:57] RobTerwel opened #1933 "Sliders disappear if you scale down a scenario in which all residences are demolished"
To reproduce this, do the following:

 - open a clean scenario (e.g. Netherlands 2050)
 - set `residences built before 1992` and `residence built after 1991` to zero
 - scale the scenario to some number (I chose 10000) of residences
 - you'll see sliders for the slide opened (`prosperity`), but open any other slide and the sliders will be gone

![screen shot 2015-10-01 at 11 45 21](https://cloud.g

[2015-10-01 10:17] RobTerwel opened #1934 "In some cases, scaling a scenario gives 0 inhabitants per residence"
To reproduce this, do the following:

- open a new scenario (e.g. Netherlands 2050)
- set `residences built before 1992` to 4.0 (million)
- scale to 10000 residences
- go to `population` and view the chart

You should see this:

![screen shot 2015-10-01 at 12 00 19](https://cloud.githubusercontent.com/assets/14106387/10218207/550805f0-6835-11e5-8527-db52d333d110.png)

And `number of inhabitants pe

[2015-10-01 10:47] dennisschoenmakers commented on #1934
Good catch @RobTerwel !

[2015-10-02 08:34] ChaelKruip commented on #1930
That is the only thing that makes sense to me. I can imagine this to be complex to do or not @antw?
A somewhat hacky way to achieve the hiding is by giving them negative costs instead of zero and only showing the positive axis of the chart...

[2015-10-02 08:58] dennisschoenmakers commented on #1930
Pretty straighforward, right?

We will have to adapt:
* [block_chart_view#update_block_charts](https://github.com/quintel/etmodel/blob/master/app/assets/javascripts/lib/views/block_chart_view.coffee#L107-L150)
* [_block_chart.html.haml](https://github.com/quintel/etmodel/blob/master/app/views/output_elements/_block_chart.html.haml#L3)

Wanna give it a try, @grdw ?

[2015-10-02 08:58] AlexanderWirtz commented on #1930
uuuuugly!

[2015-10-02 09:03] dennisschoenmakers commented on #1930
I don't think that's necessary. :smile:

[2015-10-02 09:06] ChaelKruip commented on #1930
I felt dirty just thinking up that solution :wink:

[2015-10-02 10:34] grdw opened #1935 "Guide users at ETModel for ETMoses"
On the front page of ETMoses there are three images that explain how to manouvre through ETModel in order to create a scaled scenario.

However to switch between tabs from ETMoses and ETmodel is asking a little too much from the 21 century Internet user.

So I'd like to suggest to use http://usablica.github.io/intro.js/

To create a small guide for ETMoses on ETModel.

Thought? @ChaelKruip @antw @

[2015-10-02 11:33] ChaelKruip commented on #1935
I like the idea but I have two reservations:
* These things always take a lot of time to do well
* The typical ETMoses user is not someone who stumbles on the website by accident and goes exploring on his own. Rather, we want to advertise our workshops I think (see https://github.com/quintel/etmoses/issues/495). ETMoses is too much of an expert tool to let someone loose there without proper guidan

[2015-10-02 11:39] dennisschoenmakers commented on #1935
I agree with @ChaelKruip. BTW: We used intro.js on etflex! It is awesome!

[2015-10-05 08:42] antw commented on #1930
Seems like a sensible solution. The chart already has the ability to turn off some carriers already (with the tick-boxes). Perhaps, when the it updates, we could find any whose cost is zero and deselect it from the chart and disable the box.

The chart would have to remember which had been automatically turned off – as opposed to those intentionally hidden by the user – so that they could be turne

[2015-10-06 12:40] #1928 closed

[2015-10-06 12:53] AlexanderWirtz commented on #1928
:+1:

[2015-10-08 10:15] georgiasavvidou opened #1936 "Merit order- PP running more than expected based on their availability in the present"
It appears that some Power Plants in the merit order table are running more than they should according to their availability.

An example is the nuclear 2nd generation. It appears to have 7800 FLH in the present resulting in availability of 89%
(7800/8760=0.89)

However, its availability is 87% (see 2nd picture).

Also, the issue quintel/etsource#970 refers to a rounding issue. However, that does

[2015-10-08 11:54] ChaelKruip opened #1937 "It should be possible to make a (mekko) with km2 as the unit"
Right now, km2 is not recognized as a unit I think and neither is m2...

[2015-10-08 12:45] ChaelKruip commented on #1937
Now I have used 'PJ' instead of 'km2' in this draft of a bio-footprint Mekko:
![cursor_and_energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/10366510/40b40388-6dcb-11e5-8fbe-c6b03cf3cb7f.png)

[2015-10-08 13:08] antw commented on #1937
Is this chart only on your local machine? I can't find it on beta.

Either way, `m2` (and `km2`, `Mm2`, `Gm2`, etc) should now be useable in the Mekko chart.

[2015-10-08 13:10] ChaelKruip commented on #1937
Yes, still local!

Thanks!

[2015-10-08 14:07] ChaelKruip commented on #1937
I just realised that the normal 'scaling law' for multiples of 1000 does not apply to m2 (because it is a square). So, 1 km2 = 1e6 m2 = 1e-6 Mm2. So, I think that the current chart shows values that are a factor 1000 too small:
![cursor_and_energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/10368598/5c87

[2015-10-08 14:12] antw commented on #1937
This isn't currently possible, but it's a sensible observation. :+1:

I'll see what I can do about it early next week.

[2015-10-08 14:13] ChaelKruip commented on #1937
:+1:

[2015-10-08 14:37] ChaelKruip opened #1938 "How to distribute excess electricity over the available peak-shaving options?"
When incorporating storage and conversion into the ETM (see https://github.com/quintel/etmodel/issues/1868), we will have to give the user some control over which technology is given precedence for taking care of the excess electricity.

Previously, the idea was to let the user 'order' the technologies according to which should be 'first' to receive a given kWh of excess electricity. So, batteries

[2015-10-09 07:06] AlexanderWirtz commented on #1938
Will that lead to a cascade of problems, if the next available technology is one of those assigned a percentage by the sliders?

[2015-10-09 10:01] dennisschoenmakers opened #1939 "Tables should not contain thousand seperators"
As some of our users copy/paste data from these tables into Excel.

[2015-10-12 07:45] dennisschoenmakers opened #1940 "Latest version of IE not correctly identified."
One of our users with a new Windows laptop showed us the ETM, and there was a yellow warning visible with [unsuported_browser](https://github.com/quintel/etmodel/blob/3bffa7f194d115efe08c5c80f42cf242401a190b/app/controllers/application_controller.rb#L33) warning despite our [white list](https://github.com/quintel/etmodel/blob/master/lib/browser.rb#L2) containing:

[code]

I think this has to do wi

[2015-10-12 08:23] ChaelKruip commented on #1938
It might lead to intransparent behaviour: the user chooses that technology A and B get 50% of the excess each. But in the end, A might end up with 90% because B is 'full'. Perhaps the responsibility for distributing excess over the different technologies in a smart way should lie with the user.
This could lead to frustration because the ideal slider settings might differ for the seasons...

[2015-10-12 08:39] ChaelKruip opened #1941 "Residences should be translated into Dutch"
![image](https://cloud.githubusercontent.com/assets/1303760/10424195/65f25adc-70cd-11e5-97b9-2457b075c210.png)

Translations can be found in [**nl_etm.yml**](https://github.com/quintel/etmodel/blob/3bffa7f194d115efe08c5c80f42cf242401a190b/config/locales/nl_etm.yml#L128-L129)

[2015-10-12 08:47] ChaelKruip commented on #1941
The word 'residences' need not be dynamic anymore as we only scale to the number of residences. Assigning to @grdw

[2015-10-15 13:21] ChaelKruip opened #1942 "Perhaps, when Merit is 'on', the ETM should not use the year averaged mix for exported electricity"
We now assume that exported electricity has the same carrier-mix as the locally consumed electricity. If the Merit Order is running, we know exactly what the mix of the electricity is at that moment of exporting. It will likely be completely volatile (otherwise the ETM would not export while Merit is running).

We have to think about the ramifications for the renewability of our local mix if we st

[2015-10-19 08:52] ChaelKruip opened #1943 "Should we show CO2, bio-footprint and primary demand of export in Mekko's?"
Doing some research for Gasunie, I realised that in some scenario's the Mekko charts which are based on the primary demand calculation (those for CO2, bio-footprint and primary demand) actually miss some of the energy. The reason is that we calculate **primary demand of the nodes in the final demand group**. This includes almost all energy use in the ETM **except** that which is associated with ex

[2015-10-19 08:52] ChaelKruip commented on #1943
@AlexanderWirtz @dennisschoenmakers @jorisberkhout what do you think?

[2015-10-19 08:56] jorisberkhout commented on #1943
I like it!

[2015-10-19 09:48] AlexanderWirtz commented on #1943
1. I like it, BUT...
THere is no doubt that primary demand for exported electricity is for the country producing the electricity.
The production of primary carriers, however, is a bit more complicated. Let's take the example of `natural_gas`. If we *produce* e.g. `102`, resulting in `100` purified natural gas and then export `50`, what is primary demand of `natural_gas`? Primary *consumption* (an

[2015-10-21 12:19] AlexanderWirtz opened #1944 "Chart 146: final_demand_mekko_mece should show solar thermal not solar"
The series 1386 - 1391 refer to `solar` rather than `solar_thermal` and the queries are like below. How can there ever be *final* demand of solar_radiation, however, other than for solar thermal purposes?

## Solution
simply change each label from `solar` to `solar_thermal`. Less work than creating this issue. :-)

## Example of current query

''''
GQL Statment
SUM(
  V(
    FILTER(
      FILTER(

[2015-10-27 14:32] ChaelKruip opened #1945 "Mekko tables should show present year as well"
Due to their inherent form, Mekko charts can only show data from one year (the end-year). If you switch to table view, however, there is room to show the present and future year and this would be very useful.

[2015-10-28 09:23] ChaelKruip commented on #1944
There cannot indeed. It is included for completeness.

Done this in the database:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/10784341/d8678884-7d5d-11e5-8d3d-24dd43550b1b.png)

Closing.

[2015-10-28 09:23] #1944 closed

[2015-10-28 09:26] ChaelKruip commented on #1939
Assigning to @antw

[2015-10-28 10:10] AlexanderWirtz commented on #1944
@ChaelKruip I forgot to mention the same should be done in chart number 42:
http://beta.pro.et-model.com/admin/output_elements/42
![image](https://cloud.githubusercontent.com/assets/308563/10785441/806068c0-7d64-11e5-8a11-7c636ad27b5b.png)

[2015-10-28 10:11] AlexanderWirtz commented on #1944
I will do this on beta

[2015-10-28 10:12] AlexanderWirtz commented on #1944
The results:
![image](https://cloud.githubusercontent.com/assets/308563/10785490/c7bbd0c4-7d64-11e5-854b-5664a86b82c2.png)

[2015-10-28 12:23] AlexanderWirtz opened #1946 "Naming of charts and carriers in charts: fix these"
Quite a few carriers and charts have been named confusingly and contain confusing carriers.`

### Final demand mekko needs carrier name update
- Gas should be network gas
- Bio-fuels should be biogenic_fuels

![image](https://cloud.githubusercontent.com/assets/308563/10787126/df8e93d0-7d6e-11e5-8ab8-834f03cc2c35.png)

- `network_gas` entry already exists
- Created new entries for:

[code]

### Pri

[2015-11-03 10:39] RobTerwel opened #1948 "Some sliders not appearing locally in spite of having been added (with correct keys)"
On etmodel.dev/admin I added the sliders @jorisberkhout and I had agreed to put in the front end. However, when running the model locally, some sliders refuse to show up.

![screen shot 2015-11-03 at 10 51 08](https://cloud.githubusercontent.com/assets/14106387/10905593/8805b10a-821b-11e5-9151-00594e41facb.png)

The console gives:

![screen shot 2015-11-03 at 10 51 55](https://cloud.githubusercont

[2015-11-03 10:50] antw commented on #1948
This would suggest ETEngine is not sending any information about the inputs you have added. Can you confirm that your *ETModel* config/config.yml reads:

[code]

The slider which *does* appear for you [is already available on beta.et-engine.com](http://beta.et-engine.com/data/latest/inputs/transport_shipping_mixer_diesel_bio_lng_share); the two missing sliders are *not* available on beta. I think

[2015-11-03 10:53] RobTerwel commented on #1948
@antw , thank you very much, greatly spotted! My `api_url` for development was indeed set to `beta.et-engine.com`. I'll change it  to `http://etengine.dev` immediately.

[2015-11-03 11:03] RobTerwel commented on #1948
Strangely enough, the problem persists, these two sliders still don't appear.

[2015-11-03 11:09] antw commented on #1948
Make sure that they appear in your ETEngine at http://etengine.dev/data/latest/inputs. If they do, restart your ETModel to ensure the new ETE URL has been picked up:

[code]

You can assert that the correct URL is being used by creating a *new* scenario in ETModel, opening the console, and running `App.scenario_url()`. This value returned should begin with `http://etengine.dev`.

[2015-11-03 11:16] RobTerwel commented on #1948
Hmm... they don't appear in http://etengine.dev/data/latest/inputs, although I do have the files here locally.

[2015-11-03 11:22] antw commented on #1948
Restarting ETEegine might push it in the right direction. :laughing:

[code]

Depending on your ETE config/config.yml settings, it may not pick up new ETSource files without being restarted, so it's worth a try.

If that doesn't work, check the following ETEngine config.yml settings:

[code]

... and restart ETEngine again so that the changes take effect.

[2015-11-03 12:43] RobTerwel commented on #1948
Okay, I went to my ETModel directory and ran

``` touch tmp/restart.txt```

Then the  files didn't show up yet in  http://etengine.dev/data/latest/inputs .

Next, I checked the ETEngine config.yml settings and they are all as you wrote them in your post.

I restarted ETModel again (via `touch tmp/restart.txt` in the ETmodel directory) and they still didn't show up in etengine.dev/dta/latest/inputs

[2015-11-03 13:23] RobTerwel commented on #1948
There must be something up with the file: I made a copy of it (same name) and it didn't appear on  http://etengine.dev/dta/latest/inputs . I then made a copy of a different file and gave it a different name (note the two variables), but that file was picked up!

I should be able to find a way to solve this now. An update will follow.

[2015-11-03 13:25] antw commented on #1948
I checked the ETSource branch out myself, and noticed that one of the files has a space at the end of the name:

* "transport_shipping_mixer_lng_bio_lng_share.ad " (trailing space) should be:
* "transport_shipping_mixer_lng_bio_lng_share.ad"

The space would explain why the file might not be picked up correctly: `".ad "` != `".ad"`

[2015-11-03 13:34] RobTerwel commented on #1948
Yep, you're totally right! And so does `transport_road_mixer_lng_bio_lng_share`. I changed both and now they are picked up.

I cannot believe that this all came down to one surreptitious 'suffix' of a space... It does make sense, because I've noted this keyboard does sometimes double my spacing... Anyway, thanks a lot for your help, @antw ! I'll close this once I have confirmation the sliders also

[2015-11-03 14:01] RobTerwel commented on #1948
Everything works like a charm!

Closing.

[2015-11-03 14:01] #1948 closed

[2015-11-06 10:40] ChaelKruip opened #1949 "Scaling a scenario results in incorrect rounding of inhabitants per residence"
![etmoses_schalings_waarde_-_chael_kruip_quintel_com_-_quintel_com_mail](https://cloud.githubusercontent.com/assets/1303760/10995132/f9f9e48c-847a-11e5-8225-d6131e4b97ab.png)

[2015-11-06 11:50] antw commented on #1949
Any chance you have a scenario ID? Or remember the steps you took to get to this result?

[2015-11-06 12:54] ChaelKruip commented on #1949
Unfortunately this is done by external users and I only got this screenshot to work with...

[2015-11-06 13:04] antw commented on #1949
Okay thanks; will investigate soon. The population slider being 0 is strange: even with number of residences set to 1 (the minimum), the slider shouldn't go below 1.14.

I did find a similar bug however:

1. Set number of old residences to 0
2. Set number of new residences to 0
3. Scale to 1 residence (number probably doesn't matter)

The result is that sliders don't load (due to a "non-numeric GQ

[2015-11-09 14:36] RobTerwel commented on #1946
Assigned to @Robterwel

[2015-11-10 10:01] RobTerwel opened #1950 "Addition of LNG and bio LNG to charts on beta"
This is an overview ticket for the addition of LNG and bio LNG to charts. Here I included all charts to which LNG and bio LNG will have a non-zero value. Note: since we modelled regasified LNG as natural gas and regasified bio LNG as greengas, all charts which use natural gas and greengas from the grid need not be modified and have not been included here. Of course the `Greengas in gas network` gr

[2015-11-10 14:05] RobTerwel commented on #1946
Progress overview

- [ ] Final energy demand mekko
  - [x] output elements
  - [ ] interface; To do: `biogenic_fuels` instead of `bio_fuels`
- [ ] Primary energy use mekko
  - [x] output elements
  - [ ] interface; To do: `solid_biomass` instead of `biomass`
- [x] Primary demand of biofuels
- [ ] Electricity production; To do: `solid_biomass` instead of `biomass`
- [ ] Import waterfall present; To

[2015-11-10 19:04] AlexanderWirtz commented on #1946
I mean it should be solar thermal everywhere it is meant to be solar thermal. However in charts where solar thermal will never show up, it should not be in the legend.

[2015-11-11 08:27] RobTerwel commented on #1946
Merging closed this issue automatically because of the 'fixes #1946', but the interface elements still have to be changed in some cases (see overview above). I will take care of that now.

[2015-11-11 08:49] RobTerwel commented on #1946
All charts and carriers listed above have been edited; closing.

[2015-11-11 08:49] #1946 closed

[2015-11-12 10:17] RobTerwel commented on #1950
With https://github.com/quintel/etsource/pull/986 you can see for yourself how this works out on beta.

Everything has been done as said before, so:

- for renewability of the final demand: `lng` to `fossil gas` and `bio lng` to `biomass` <--- is that the correct name by the way? I check the gquery and it is the sum of `bio ethanol`, `biodiesel`, `bio lng` and `wood pellets`.
- for present energy

[2015-11-12 12:10] ChaelKruip commented on #1950
@RobTerwel What happened to this chart? Is the unit correct because it seems that the transport sector dominates everything due to LNG

[2015-11-16 09:00] RobTerwel commented on #1950
That is not what I observe, it is actually biodiesel that dominates the transport sector which in turn dominates the mekko. On beta I see this in a clean 2050 NL scenario:

![screen shot 2015-11-16 at 09 56 01](https://cloud.githubusercontent.com/assets/14106387/11177805/7d230828-8c48-11e5-9878-b1740874005c.png)

I checked ETSource and there is no factor difference in the gqueries which would acco

[2015-11-16 16:21] RobTerwel opened #1953 "4 FCE charts, but why are certain carriers added to multiple charts?"
Currently, there are 4 FCE charts in the ETM

- 100 FCE (`fuel_chain_emissions`)
  - wood pellets
  - greengas
  - natural gas
  - LNG
  - crude oil
  - coal
- 105 FCE of uranium (`fuel_chain_emissions_scaled_for_uranium`)
  - uranium
  - wood pellets (# 2)
  - green gas (# 2)
  - natural gas (# 2)
  - coal (# 2)
- 107 FCE of greengas (`fuel_chain_emissions_scaled_for_greengas`)
  - uranium (# 2)

[2015-11-18 08:41] ChaelKruip commented on #1953
No. @AlexanderWirtz could you enlighten us?

[2015-11-18 08:56] AlexanderWirtz commented on #1953
These chart compare carriers. Some carriers are more relevant to compare to than others in each case. We cannot include all carriers in all charts, so we made some choices. The scaling is done so the information for bio carriers is not lost due to compression of the chart after scaling.

Does that make sense?

[2015-11-18 08:56] AlexanderWirtz commented on #1953
Also, @RobTerwel what is the actual issue here?

[2015-11-18 09:03] RobTerwel commented on #1953
This is the part of the answer I assumed, but I was wondering on what grounds the selection of carriers is made. I added `LNG` to the first chart and I did not know whether to add it to any other or not, since there did not seem to be a straightforward logic behind these choices. You said

and it is the reasons behind those that I am after.

This is just an issue inasmuch as GitHub calls it that,

[2015-11-18 09:25] AlexanderWirtz commented on #1953
Aha, but why add LNG to these charts? That does not seem like a good idea to me. After all, if you set your slider to 100% gas from the Middle East, natural_gas has become LNG, in essence. These charts serve a very particular purpose and adding LNG does not seem to add any information that users cannot already glean from the charts as they are. I was unaware that you wanted to add this carrier to

[2015-11-18 09:42] RobTerwel commented on #1953
I see your point, but LNG should be added for the simple reason that if a user decides to turn on FCE, natural gas suddenly has a much higher `co2_per_mj` attribute than LNG and it becomes much more favourable to import all natural gas as LNG, regasify it and feed it into the national grid.

I agree that adding LNG to FCE's does not add much information, but it does make the carrier level (i.e., h

[2015-11-18 10:28] RobTerwel commented on #1953
After discussing this with @AlexanderWirtz and @jorisberkhout , we found another option::

- Merging the `Natural gas` and `LNG` FCE slides, naming it `Natural gas` and make an interface group called 'Pipeline gas' and include all existing natural gas FCE's (except the Middle East, since it's LNG) and one called 'Liquefied Natural Gas (LNG)' which includes all existing LNG FCE's.

Of course, the b

[2015-11-18 10:54] AlexanderWirtz commented on #1953
As discussed please make sure that Norwegian and Algerian pipeline and lng varieties are included in both categories.

[2015-11-18 13:01] ChaelKruip commented on #1953
I have no strong preference. Option one seems to be the least work :smile:

[2015-11-19 10:36] jorisberkhout commented on #1953
Hmm, separating the LNG energy flows from the natural gas flows in the ETM proves to be trickier than I had anticipated resulting in, amongst others, this FCE issue. Let's put a little more thought into this issue before closing it, @RobTerwel . My 2 cents (in random order):

- LNG needs FCE attributes, otherwise LNG becomes very favourable w.r.t. natural gas if the FCE calculation is switched on

[2015-11-20 12:33] jorisberkhout commented on #1932
Let's resolve this before the February deploy.

[2015-11-23 15:23] RobTerwel commented on #1953
I fully agree, @jorisberkhout ! I think it's safe to conclude that we have now found a solution we all think is appropriate, so I will proceed as noted above (option 3), and
- put all LNG FCE sliders on the natural gas FCE slide
- create an interface group so as to separate `pipeline natural gas` from `liquefied natural gas` and create a pull request  for it
- in the slide's information explain th

[2015-12-03 08:07] dennisschoenmakers opened #1955 "Sliders cannot be moved using Chrome on Windows"
As witnessed by @AlexanderWirtz yesterday. He doesn't know which version it was.

[2015-12-03 08:20] AlexanderWirtz commented on #1955
Sorry, was a bit busy to ask people which versio nthey were running. I noticed it for about 1/3 of the students using Windows laptops with Chrome. I asked those who could to switch to Firefox. That worked fine, which tells me it was indeed a Chrome issue.

Those Chrome users *could* type in slider settings, by the way.

[2015-12-04 11:22] dennisschoenmakers opened #1956 "Add 'show graph' to the settings menu"
Add a link that takes user to ETEngine:

`http://et-engine.com/data/:scenario_id/show`.

As discussed with @AlexanderWirtz

[2015-12-08 08:00] jorisberkhout opened #1957 "Dutch translations for LNG FCE slide interface headers are missing on Beta"
This is what it looks like when I set the language to Dutch. Also, the name `Algerijë` is written in two different ways.

<img width="454" alt="screen shot 2015-12-08 at 08 52 23" src="https://cloud.githubusercontent.com/assets/4669028/11650486/d0db0e8c-9d89-11e5-8243-2d0dda134e82.png">

@RobTerwel , could you look into this?

[2015-12-08 16:09] RobTerwel opened #1959 "More realistic prices in the transport sector (and beyond)"
The prices we use throughout the ETM, are flat carrier prices with the addition of cost attributes of converters these carriers flow through. This strategy is quite comprehensive, but there are certain converters in the ETM for which prices are quite far below those in reality (this mostly occurs for carriers which are used widely across the ETM). Let me illustrate this with an example.

Liquefied

[2015-12-08 16:11] #1957 closed

[2015-12-10 09:12] jorisberkhout opened #1961 "[Overview issue] Improved network calculation"
**Background**

This issue describes a long anticipated improvement of the network calculation in the ETM. The network calculation is used to determine the additional network capacity that is required to facilitate the electrical technologies installed by the user and the associated costs.

**Current implementation**

In the current implementation of the network calculation, we compare the additio

[2015-12-10 15:29] #1953 closed

[2015-12-14 08:12] ChaelKruip commented on #1959
I think it is a good idea but I have some questions and an alternative idea.

* What happens **after** a converter with `cost_per_mj_surplus` with the carrier costs? In other words: does the cost of the carrier drop to its normal `cost_per_mj` level or does it stay equal to `cost_per_mj + cost_per_mj_surplus`?

If the places in the model where we need this are limited, I would also like to conside

[2015-12-14 08:20] RobTerwel commented on #1959
The way I thought of it, it stays equal to `cost_per_mj + cost_per_mj_surplus`, since this typically happens towards the end of a fuel chain .

However, I do like your idea better, because it is indeed more transparent, easier to implement, and easier to update! We could then, to stick to the original example, have the carrier `lng` in the `transport_final_demand_lng` which flows to `transport_fin

[2015-12-14 08:26] AlexanderWirtz commented on #1959
I just have an issue with the term surplus. If we assign additional costs, I think it should be named less ambiguously. Transparency demands a clear cut approach here, in my opinion.

In case of infrastructure or distribution costs, it would be good to call it that.

Other than that I like the overall idea and thinking behind this.

[2015-12-16 10:38] ChaelKruip opened #1964 "Make it possible to download the price curve and load curves from the Merit Order"
We get this request regularly by our power users.

The information/functionality is already available to admin users on [http://beta.et-engine.com/data/latest/merit](http://beta.et-engine.com/data/latest/merit):
![energytransitionmodel](https://cloud.githubusercontent.com/assets/1303760/11838726/27b187b2-a3e9-11e5-8797-b69738983612.png)

Perhaps we could make download links either in the Merit Ord

[2015-12-21 15:09] jorisberkhout commented on #1950
@RobTerwel , what is the status of this issue?

[2015-12-21 15:19] RobTerwel commented on #1950
@jorisberkhout , it can be closed, provided that everyone agrees with the decisions made. Beware that these screenshots are somewhat outdated and some carrier groups have received a name update already.

[2015-12-21 15:22] jorisberkhout commented on #1950
Thanks, @RobTerwel . Closing this issue.

[2015-12-21 15:22] #1950 closed

[2015-12-21 15:22] RobTerwel commented on #1950
:+1:

[2015-12-21 15:34] ChaelKruip opened #1965 "An 'ordering' of storage options needs to added to the front-end"
Part of https://github.com/quintel/etmodel/issues/1868

The user should be able to drag the following options for dealing with excess electricity into an order:

- [ ] P2P in batteries
- [ ] P2P in EV
- [ ] P2G
- [ ] P2H
- [ ] Export

Curtailment will be the last option which is the last resort and cannot be dragged by the user.

[2015-12-22 08:21] RobTerwel commented on #1901
Changing status to 'on hold'.

[2015-12-22 08:48] jorisberkhout commented on #1901
Removing milestone 'Deploy Februari 2016'.

[2015-12-22 10:30] ChaelKruip opened #1966 "How do we show the user the amount of hydrogen which is mixed into the gas network?"
Currently, the front-end show the fraction of green-gas in the gas-network:
![energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_](https://cloud.githubusercontent.com/assets/1303760/11953268/2350a6ca-a89f-11e5-809d-f6f480882f81.png)

If P2G produces hydrogen, and we mix this into the national gas network, the resulting mix should be communicated to t

[2015-12-22 11:11] ChaelKruip opened #1967 "A slider for physical import/export interconnectivity needs to be added to the front-end"
Part of quintel/etmodel#1868

[2015-12-22 11:13] ChaelKruip opened #1968 "A slider for availability of interconnectivity for export needs to be added to the front-end"
Part of quintel/etmodel#1868

[2015-12-22 11:13] ChaelKruip opened #1969 "A slider for availability of interconnectivity for import needs to be added to the front-end"
Part of quintel/etmodel#1868

[2015-12-22 11:16] ChaelKruip commented on #1868
Assigning to @jorisberkhout

[2015-12-22 11:20] ChaelKruip commented on #1938
Assigning to @jorisberkhout

[2015-12-22 11:41] ChaelKruip opened #1970 "Should we add a curtailment node to the graph?"
If we want to show curtailed electricity in the front-end, we must have a place to store the amount of it. Perhaps a node is the most logical choice?

@antw what is your opinion?

[2015-12-22 11:53] antw commented on #1970
You mean to treat it like the `*_savings_from_insulation` nodes? I agree; this seems like a nice solution, and consistent with what we already have.

[2015-12-23 09:51] ChaelKruip commented on #1923
Assigning @grdw

[2015-12-23 13:51] ChaelKruip commented on #1919
I have made a preliminary attempt at creating queries for this chart. The following complication made me decide that the work involved is disproportionate to the benefits of having this chart at the moment:

Power plants can have a mix of inputs, some of them fossil, others sustainable, others even partially fossil and partially sustainable. In order to determine how much electricity is produced f

[2015-12-23 13:52] ChaelKruip commented on #1919
Putting 'on hold'

[2015-12-23 15:46] jorisberkhout commented on #1961
I have asked Alliander to validate the results of the new network calculation. Should any changes be required from this, I will open a separate issue. Cleaning up the Gqueries already has a separate issue.

That seems to be all regarding the network calculation. Closing this issue.

[2015-12-23 15:46] #1961 closed

[2015-12-31 15:49] antw commented on #1964
There's no support for putting something *beneath* a slider, and placing the download links directly above the on/off toggle made it harder to notice. So, I put the links after the first paragraph of the MO description; I feel like they're quite noticeable there, without distracting attention from the on/off button.

![screen shot 2015-12-31 at 15 45 54](https://cloud.githubusercontent.com/assets/

[2015-12-31 15:49] #1964 closed

[2015-12-31 16:14] jorisberkhout commented on #1936
Moved to 'Deploy February 2016' milestone.

[2015-12-31 19:11] ChaelKruip commented on #1964
:+1:

Sent from a mobile device.

[2016-01-06 11:31] RobTerwel opened #1972 "Where to put the hydrogen production slide in the user interface?"
There is not really a clear-cut place where the hydrogen production slide belongs, but I see the following main options:

### Transport Fuels

![screen shot 2016-01-06 at 11 19 45](https://cloud.githubusercontent.com/assets/14106387/12140686/1e509a8c-b46a-11e5-8ba0-460efa8c0225.png)

In the 'Transport Fuels' sidebar. For now, hydrogen is only used as a transport fuel so this location makes sense.

[2016-01-06 13:01] dennisschoenmakers commented on #1972
New sidebar 'Hydrogen'. Would it make sense to call it 'Hydrogen production'?

And what do the percentages mean? (market share? of what?)

[2016-01-06 13:11] RobTerwel commented on #1972
If no other slides are added to it, yes, absolutely. :smile:

Percentage of total hydrogen produced that has been produced by this technology.

[2016-01-06 13:19] dennisschoenmakers commented on #1972
Do you also set the production of hydrogen (somewhere)?

[2016-01-06 13:20] RobTerwel commented on #1972
The hydrogen production converters are demand-driven.

[2016-01-06 16:34] jorisberkhout opened #1974 "How to label the Brazilian dataset?"
The Brazilian dataset/model has a special status as it was created by Thais and Lucas. It would be good to stress this status in the front-end.

All I can come up with now is to label the dataset `Brazil (external research)`. Do anyone have a better solution? @AlexanderWirtz , @dennisschoenmakers , @antw , @grdw or @RobTerwel ?

[2016-01-06 16:58] jorisberkhout commented on #1972
John prefers the section option ('sidebar item') with two changes:

1. Rename the slide sidebar item and slide to `Hydrogen production`
2. Put the `Hydrogen production` sidebar item in between the `Renewable heat` and `Transport fuels` sidebar items

I agree with John.

One minor comment by John is that we have to explain carefully what input fuels go into the various technologies.

[2016-01-06 16:58] jorisberkhout commented on #1972
Moved to 'Hydrogen Transport' milestone.

[2016-01-06 19:05] AlexanderWirtz commented on #1972
I am not against John's preference. There are pro's and con's for everything. it only makes sense if we also put P2G there, though!

[2016-01-06 19:07] AlexanderWirtz commented on #1974
what is their firm called. maybe we can let Thais have a say? Brazil (by Thais) looks kinda good to me.

[2016-01-07 07:23] dennisschoenmakers commented on #1974
What do you think @thaisclv ?

[2016-01-07 07:24] dennisschoenmakers commented on #1974
By the way @thaisclv: you can already see the Brazilian dataset on our **live** server:

[**energytransitionmodel.com**](http://energytransitionmodel.com)

[2016-01-07 13:13] #1941 closed

[2016-01-07 13:13] #1956 closed

[2016-01-08 10:36] grdw commented on #1931
Increasing the font size looks really weird for all the 'text' (including axis-labels). Mainly where 2050 meets 0 PJ.

![screen shot 2016-01-08 at 11 34 15 am](https://cloud.githubusercontent.com/assets/2676542/12196013/c7e29392-b5fb-11e5-87a2-b05017bcaf84.png)

Without axis labels it looks a bit better:
![screen shot 2016-01-08 at 11 33 53 am](https://cloud.githubusercontent.com/assets/2676542/12

[2016-01-08 10:39] grdw opened #1975 "Missing translation"
![screen shot 2016-01-08 at 11 38 33 am](https://cloud.githubusercontent.com/assets/2676542/12196115/6e1cbe04-b5fc-11e5-94a1-9860ad45ada5.png)

[2016-01-08 12:08] jorisberkhout commented on #1975
I fixed this by importing the latest ETSource commit on Beta ETEngine and updating the key (as well as the renamed `agriculture_chp_supercritical_wood_pellets` key) in the staging database.

Closing.

[2016-01-08 12:08] #1975 closed

[2016-01-08 13:43] #1930 closed

[2016-01-08 14:44] #1940 closed

[2016-01-08 14:44] grdw commented on #1940
Fixed with: https://github.com/quintel/etmodel/commit/99d3625941a95d0250c4205bff8cfa37f33a46d3

[2016-01-11 00:48] thaisclv commented on #1974
Happy New Year, Quintelers!

Great to see that the Brazilian dataset is on the live server! Lucas and I are very happy and looking forward to continue improving it!

About the company, I do have one, but it is called Thais Varella because I registred as an Individual Micro-Entrepreneur. I would say that for now we can keep it "Brazil (by Thais and Lucas)". In a few months we will create one togeth

[2016-01-11 08:50] dennisschoenmakers commented on #1974
Excellent! We will do that! @grdw can you make the required adjustments?

[2016-01-11 08:56] jorisberkhout commented on #1974
I believe that John also wanted to move the Brazilian dataset to a separate category. Is that correct, @dennisschoenmakers ?

The list would then look like

`France`
`Germany`
`Netherlands`
`Poland`
`Spain`
`United Kingdom`
`--`
`EU-27`
`--`
`Brazil (by Thais and Lucas)`

[2016-01-11 09:04] dennisschoenmakers commented on #1974
I thought something like this:

[code]

[2016-01-11 09:09] jorisberkhout commented on #1974
:+1:

[2016-01-11 09:31] grdw commented on #1974
Yes, I can :+1:  will ook into this.

[2016-01-11 14:04] grdw commented on #1974
Like this:

![screen shot 2016-01-11 at 3 03 55 pm](https://cloud.githubusercontent.com/assets/2676542/12235498/8e955202-b874-11e5-93c2-57fd65c349f6.png)

[2016-01-11 14:04] jorisberkhout commented on #1974
Looks good!

[2016-01-11 14:44] jorisberkhout commented on #1936
Well spotted by @georgiasavvidou . The present FLH come straight from the 'Power and heat plant analysis' on ETDataset, where we do not check for consistency between these FLH and the availability. I did a quick check and found that the following converters have higher FLH in the present than allowed by their availability:

| converter | FLH (present) | max. FLH based on availability | availabilit

[2016-01-11 14:46] jorisberkhout commented on #1936
In addition I found the following six converters to have `0.00` availability, even though they have FLH in the present year. I know these are heat producers so they do not participate in the merit order, but still it would be nice to update them, although I have no clue to what number. @AlexanderWirtz , what do you think?

| converter | FLH (present) | max. FLH based on availability | availability

[2016-01-11 15:07] grdw commented on #1922
![screen shot 2016-01-11 at 4 06 28 pm](https://cloud.githubusercontent.com/assets/2676542/12237097/4b23b67c-b87d-11e5-857a-b828fe2ba06d.png)

Can't we just hide the whole merit-order out of the change-chart pop-up aswell if merit-order is disabled.

[2016-01-11 19:03] AlexanderWirtz commented on #1936
How come they have 0.00 availability? Where have these been set? I suggest (guess) at least use the `2190` even though that seems on the low side as well (there is an old issue for this).

[2016-01-11 19:07] AlexanderWirtz commented on #1936
I think the `energy_power_hydro_mountain` FLH are a bit high relative to the availability. That one (33%) does not seem so crazy to me. What country has them with such high FLH?

The coal and nuclear plant can probably have slightly higher availability. I assume that is what you mean @jorisberkhout? To update the availabilities instead of the FLH?

[2016-01-12 08:15] jorisberkhout commented on #1936
Correct, I updated my previous comment to reflect this.

These FLH are for NL, which has no hydro mountain, so the FLH are irrelevant. Nevertheless, I think it would be nicer to update these FLH to match the availability.

Good point about the country specific FLH. So far, I have only checked the NL dataset, but I will check the other datasets as well and see if that gives any reason to change the

[2016-01-12 08:35] AlexanderWirtz commented on #1936
Good idea

[2016-01-12 09:28] grdw opened #1980 "Descriptions of slides (and maybe others) cannot contain a % sign."
It causes an error at [this line](https://github.com/quintel/etmodel/blob/master/app/helpers/application_helper.rb#L106) when using the percentage character in the text.

We could teach everybody to use `%%` to escape the percentage but maybe a smart `gsub` would do the trick.

[2016-01-12 09:58] #1980 closed

[2016-01-12 10:57] AlexanderWirtz commented on #1932
1. We use slightly different CO2 emission characteristics for our carriers. the NL dataset, for example, specifies FCE attributes for different type of coal from different parts of the world. This means the mix of origins set for the dataset and perhaps later chosen by a user actually determines the CO2 emissions per GJ of coal. The UNFCCC on the other hand, uses uniform numbers for all carriers.

[2016-01-12 10:57] AlexanderWirtz commented on #1932
@jorisberkhout what needs to be done to close this?

[2016-01-12 10:58] AlexanderWirtz commented on #1932
also see: https://github.com/quintel/etdataset/issues/609

[2016-01-13 09:05] #1974 closed

[2016-01-13 10:04] grdw commented on #1923
Couple of questions. I have looked into it:

1. Is it important that the graphs stay in the same order?
2. Should the demand charts be 'subgrouped' or are the demand charts split up into separate first level groups?

[2016-01-13 10:08] grdw opened #1981 "Use https for security instead of http"
I could put this in every quintel repo where an url points to but consider this a global et-everything issue.

My main question is: why don't we use it?

We could look into: https://letsencrypt.org/

[2016-01-13 11:08] RobTerwel commented on #1972
For now I did the following (John's and @jorisberkhout's preferences )

 1. Rename the slide sidebar item and slide to Hydrogen production
 2. Put the Hydrogen production sidebar item in between the Renewable heat and Transport fuels sidebar items

I'm keeping this issue open, since P2G has not been added to the user interface yet and we should make sure that their (relative) positions make sense.

[2016-01-13 17:34] AlexanderWirtz commented on #1972
:+1:

[2016-01-15 09:49] RobTerwel opened #1983 "Communicate to user overall increase when setting yearly increase"
The ETM features many sliders which allow the user to indicate the yearly growth of, say, useful demand. Since these functions are exponential, it might be instructive to communicate to the user the cumulative increase or decrease as a result of the yearly increase set.

Such an implementation (as has already been done for <a href="http://pro.et-model.com/scenario/costs/fuel_costs/combustion-fuel"

[2016-01-15 13:20] jorisberkhout commented on #1949
After discussing with @grdw, assigning him.

[2016-01-15 13:21] jorisberkhout commented on #1934
After discussing with @grdw, assigning him.

[2016-01-15 13:21] jorisberkhout commented on #1933
After discussing with @grdw, assigning him.

[2016-01-15 13:45] grdw commented on #1933
`Status update:`

I did exactly this and noticed that there were two unit errors flying by in the console output of the browser.

One was `Unknown unit: Gln` and the other is `Unknown unit: Tln`

After adding the two units to the `BASE_UNITS` in a `quantity.coffee` something weird happened:

![screen shot 2016-01-15 at 2 41 19 pm](https://cloud.githubusercontent.com/assets/2676542/12354454/50d4eb7

[2016-01-15 14:05] antw commented on #1933
The unit for that slider [has been set to `mln`](http://beta.pro.et-model.com/admin/input_elements/335/edit) ("million"). That will be tripping up the Quantity class, since "million" should be a capital "M", i.e. `Mln`. You might also have to add a base unit called `ln` if there isn't one already.

[2016-01-15 14:11] grdw commented on #1933
Thanks, that fixed it :+1:

[2016-01-15 14:22] grdw commented on #1934
Allright, this is a rounding "problem".

`29625.7 / 1654327.8` returns `0.017907998644524983` which is `0.0`. Maybe we could round down to two digits? Or add the full number in the title of the table-cell to clearify that it's not actually `0.0`.

But I have no idea where the `1654327.8` comes from and how to change it.

[2016-01-15 14:30] grdw commented on #1934
![screen shot 2016-01-15 at 3 29 36 pm](https://cloud.githubusercontent.com/assets/2676542/12355421/cdfd338a-bb9c-11e5-8d15-b81b3ee578a2.png)

After dragging this slider the residences jumps to the correct amount.

[2016-01-15 14:54] #1933 closed

[2016-01-15 15:00] grdw commented on #1934
![screen shot 2016-01-15 at 3 59 37 pm](https://cloud.githubusercontent.com/assets/2676542/12356083/003cfd9a-bba1-11e5-988e-72e50bccfcbd.png)

After some more digging it has to be a problem at Et-engine. I'll see if I can reproduce it with et-engine locally.

[2016-01-18 09:54] grdw commented on #1934
Since the numbers are directly coming from `etsource` there has to be a gquery that's being called that gives me the [households_number_of_residences](https://github.com/quintel/etsource/gqueries/output_elements/output_series/table_145_population_residences_overview/households_number_of_residences.gql).

Returns:1654327.8001886636

However I think the problem is before that step - in the scaling i

[2016-01-18 10:07] antw commented on #1934
The "area" attributes [are scaled here](https://github.com/quintel/etengine/blob/d67fef8bfaa001abde8ad51facf71233e00eb307/app/models/scenario_scaling.rb#L149-L151). I think if that were wrong then *all* of the scaled values would be wrong, which isn't the case. Also, the "present" (2012) value looks to be correct.

It's odd that `number_of_residences` is the attribute affected, because thats the s

[2016-01-18 10:50] grdw commented on #1934
Couldn't it be that it's a caching thing than? It looks and feels like a caching problem - however I can't point my finger to it in the code.

[2016-01-18 10:53] ChaelKruip commented on #1923
No

Subgroups I would think

[2016-01-18 12:42] jorisberkhout commented on #1969
This slider was already on Beta, but hidden. I have now unhidden the slider. Closing.

[2016-01-18 12:42] #1969 closed

[2016-01-18 12:42] jorisberkhout commented on #1968
This slider was already on Beta, but hidden. I have now unhidden the slider. Closing.

[2016-01-18 12:42] #1968 closed

[2016-01-18 12:42] jorisberkhout commented on #1967
This slider was already on Beta, but hidden. I have now unhidden the slider. Closing.

[2016-01-18 12:42] #1967 closed

[2016-01-18 14:47] ChaelKruip commented on #1983
I think this is a nice idea @RobTerwel. Big question is when we can find budget to pick this up.

[2016-01-19 10:43] #1934 closed

[2016-01-19 12:22] #1949 closed

[2016-01-19 14:10] grdw commented on #1923
![screen shot 2016-01-19 at 3 09 55 pm](https://cloud.githubusercontent.com/assets/2676542/12420740/b90b7db8-bebe-11e5-9e7b-e329832eb879.png)

[2016-01-19 14:15] jorisberkhout commented on #1932
@AlexanderWirtz , what did we decide to do with this issue in the end?

[2016-01-19 16:29] grdw commented on #1922
Including @ChaelKruip @jorisberkhout

[2016-01-20 08:08] jorisberkhout commented on #1922
Sounds like a good idea to me, but I would like to hear what @AlexanderWirtz and @dennisschoenmakers think.

[2016-01-20 08:10] jorisberkhout commented on #1923
Looks good!

[2016-01-20 08:18] AlexanderWirtz commented on #1922
Can the chart not be made to say: "please go to options and turn on merit order" if MO is off?

[2016-01-20 08:20] AlexanderWirtz commented on #1932
This issue exists for reference sake. Not actionable now that 2013 dataset for Amal will be deployed.

[2016-01-20 08:20] #1932 closed

[2016-01-20 08:22] jorisberkhout commented on #1938
After discussion with @ChaelKruip , closing this issue as we prefer the solution described in https://github.com/quintel/etmodel/issues/1965.

[2016-01-20 08:22] #1938 closed

[2016-01-20 08:30] jorisberkhout opened #1985 "Start year in front-end for NL/2013 dataset is not correct on Beta"
I recently imported the new dataset for NL with start year 2013; the start year in all charts and tables in the front-end, however, is not updated (see picture below). This happened last year as well and the solution is described in https://github.com/quintel/etmodel/issues/1807. Could you look into this, @grdw ?

<img width="616" alt="screen shot 2016-01-20 at 09 23 05" src="https://cloud.githubu

[2016-01-20 08:50] AlexanderWirtz opened #1986 "Functionalities vs Enegy demand sectors in interface, a wish list"
In the Netherlands after the Energierapport has come out, the debate on energy now centers on so-called 'functionalities' of energy use, rather than following a sectoral approach. Examples of such functionalities are:
- Low-temperature heat (in residences, other buildings and industry sectors)
- High-temperature heat (in industry sector)
- Mobility / Transport (in transport sector)
- Power and lig

[2016-01-20 08:50] AlexanderWirtz commented on #1986
Assigning @ChaelKruip feel free to re-assign

[2016-01-20 09:00] grdw commented on #1985
Where do you set the `start_year` ? Flushing the cache for memcached doesn't do anything (?) (I can verify that there's nothing left but the `start_year` is still 2012).

[2016-01-20 09:04] jorisberkhout commented on #1985
As far as I know, the value of `start_year` is taken from the [`<area>.ad` file on ETSource](https://github.com/quintel/etsource/blob/master/datasets/nl/nl.ad), where it is called `analysis_year`.

[2016-01-20 09:06] grdw commented on #1923
Only downside is that you have to manually set the subgroups. I think that's possible within the admin panel but I'll have to take a look.

[2016-01-20 09:56] grdw commented on #1985
I asked @antw appreantly you should also restart `et-engine` after flushing the cache and than everything should work.

Steps to take:

[code]

[2016-01-20 09:56] #1985 closed

[2016-01-20 10:00] ChaelKruip commented on #1919
Removing milestone "Deploy Feb 2016".

[2016-01-20 10:03] antw commented on #1985
This should do it:

[code]

In this case I shut down the app completely and started it back up since I've found Unicorn's hot reloading (`USR2`) to be a bit hit-and-miss sometimes. I guess this could also be done with Capistrano:

[code]

[2016-01-20 10:17] grdw commented on #1981
Moving this to ansible repo.

[2016-01-20 10:17] #1981 closed

[2016-01-20 13:10] grdw commented on #1965
Are these options somewhere present in ETE? Or are these static?

[2016-01-20 13:13] jorisberkhout commented on #1965
So far, they are static.

[2016-01-20 13:41] grdw commented on #1965
Update: I can drag them in an order.

- [ ] Styling
- [ ] Store order of elements

How would I store the order? And what has to happen with the order?

[2016-01-20 13:43] jorisberkhout commented on #1965
@antw, could you weigh in here?

[2016-01-20 14:03] grdw commented on #1965
Quick question is "Curtailment will be the last option" the same as "Export" or is "Curtailment" an extra option?

[2016-01-20 14:07] grdw commented on #1965
![screen shot 2016-01-20 at 3 07 25 pm](https://cloud.githubusercontent.com/assets/2676542/12451073/894fe996-bf87-11e5-8a36-c5a23beb3d7e.png)

Small preview

[2016-01-20 14:09] jorisberkhout commented on #1965
I like the preview!

"Curtailment" is an extra option, but is always the last resort. Could you perhaps make it the last option in the list, grey it out and make it not-selectable?

[2016-01-20 14:14] antw commented on #1965
An new table in ETEngine would be my preference (like `scenario_scalings` in ETEngine, or `selected_strategy` in Moses). I think a single column containing a serialized array of technology keys (P2P, P2G, etc) would do the job. There are *better* designs from the perspective of database normalisation, but I think a serialized array is good enough here.

I suggest that curtailment be shown in the f

[2016-01-20 14:18] ChaelKruip commented on #1965
One small correction: in this context, "curtailment" is throwing away the energy at the production site (stopping the wind turbine for instance).

[2016-01-20 14:28] ChaelKruip commented on #1986
After some brainstorming with @dennisschoenmakers I think that the only viable option would be a separate sidebar item which shows the user one or more slides where the results of the ETM in terms of 'functionalities' are summarised.

Adding labels or text to the current charts and slides in the ETM would lead to visual clutter and would obfuscate the current front-end without really adding any re

[2016-01-20 14:29] ChaelKruip commented on #1986
Removing Deploy milestone for this February.

[2016-01-20 15:44] ChaelKruip commented on #1926
@AlexanderWirtz what about electric vehicles? They used to add no investment costs but now they will right?

[2016-01-20 15:46] ChaelKruip commented on #1926
Can you give an explanation for this @AlexanderWirtz?

[2016-01-20 16:25] RobTerwel commented on #1926
Electric vehicles (i.e., `transport_car_using_hydrogen` and `transport_car_using_electricity`) will receive *additional* investment costs w.r.t. ICE vehicles (whose investment costs will be considered as a 0 - baseline).

[2016-01-21 08:22] jorisberkhout commented on #1921
Assigning @grdw.

[2016-01-21 08:24] jorisberkhout commented on #1847
Assigning @grdw .

[2016-01-21 08:24] jorisberkhout commented on #1913
Assigning @grdw .

[2016-01-21 08:25] jorisberkhout commented on #1912
Assigning @grdw .

[2016-01-21 09:27] jorisberkhout commented on #1906
Assigning, @grdw. Low priority though.

[2016-01-21 09:29] jorisberkhout commented on #1922
Interesting solution as well. What do you think, @dennisschoenmakers ?

[2016-01-21 09:34] dennisschoenmakers commented on #1922
I think that's a better solution. Otherwise people will be rightfully complaining about the fact that they cannot find the profitability chart. :smiley:

[2016-01-21 09:39] jorisberkhout commented on #1922
Good point, @dennisschoenmakers and @AlexanderWirtz .

Could you implement this, @grdw?

[2016-01-21 11:18] #1970 closed

[2016-01-21 13:44] grdw commented on #1912
Took my some reading but I get the issue. :sweat_smile:

The current implementation is that it 'animates' away after [30s](https://github.com/quintel/etmodel/blob/master/app/assets/javascripts/lib/views/constraint_view.coffee#L124)

[2016-01-21 14:49] grdw commented on #1912
I would love that aswell but the event is triggered >5 times when dragging one slider. Also checking if a slider 'did nothing' overall is harder than I thought. I wasted too much time on this (consider it a "I probably need a very speedy introduction to Backbone in combination with Coffeescript").

The fix I came up with is not letting the arrows stay on the field for 30 seconds. That's too long.

[2016-01-22 08:46] grdw commented on #1847
I'm a bit confused about the relation between a `constraint` and an `output_element`. How would they relate?

[2016-01-22 09:36] grdw opened #1988 "JS: Why the separation between App.settings and globals.settings?"
Is this intentional and which one is prefered?

[2016-01-22 09:44] antw commented on #1988
Use `App.settings` in the JS code. `globals` [is set here](https://github.com/quintel/etmodel/blob/6e95fc94fff8e29a9202a18d48fe8dec35c428e6/app/views/layouts/etm/_javascript_globals.html.erb); I believe it is used to communicate the application settings from the Rails app to the JS app.

`globals` is used in some placed in the JS, but I'm guessing that's because `App.settings` [haven't been set ye

[2016-01-22 09:55] antw commented on #1847
A constraint would be better called a "dashboard item": one of the seven items which appears at the bottom of the page (energy use, CO2 emissions, energy imports etc). An output element is a chart or table, typically shown on the right-hand half of each page. If you click on a dashboard item, a chart or table ("output element") is normally shown.

As I recall, [there is no explicit relation betwee

[2016-01-22 10:34] grdw commented on #1922
Something like this:
![screen shot 2016-01-22 at 11 34 14 am](https://cloud.githubusercontent.com/assets/2676542/12508418/1a9e58ea-c0fc-11e5-921d-59316acc2d06.png)

[2016-01-22 10:48] jorisberkhout commented on #1922
I like it, @grdw . Two questions / comments:

- Is the new warning banner displayed for all three merit order charts (i.e. Merit order capacities, Merit order table and Plant profitability)? The original issue is not very clear about this, but I think it would be good to display the banner in all three instances.
- I find the current warning text a little vague and prefer changing it to 'The merit

[2016-01-22 10:50] grdw commented on #1922
It's now implemented for 'Merit order table and Plant profitability' I forgot the first one.

:+1:

[2016-01-22 10:59] AlexanderWirtz commented on #1922
@grdw Much better IMO.
Can we make it even easier and say:
"The merit order calculation is turned off. Please go to 'Options' and turn on the merit order calculation."
Does that fit?

[2016-01-22 11:03] grdw commented on #1922
![screen shot 2016-01-22 at 12 03 37 pm](https://cloud.githubusercontent.com/assets/2676542/12509052/2fce05b8-c100-11e5-9f31-48b89a26dfeb.png)

Yes.... on two lines.

[2016-01-22 11:05] AlexanderWirtz commented on #1922
Works for me! :smile:

[2016-01-22 12:20] grdw commented on #1912
Fixed with: https://github.com/quintel/etmodel/commit/2e44b75db124f68c1f6c5ff7ace5b5d5e73f5727

[2016-01-22 12:20] #1912 closed

[2016-01-22 12:46] grdw commented on #1847
Thanks for the explanation but I guess what I was trying to ask is 'How they would relate?' but I'd guess Chael would just have to add an `output_element`-id to the `Constraint`?

[2016-01-22 12:46] antw commented on #1922
I like this, but I think there's room for improvement still.

* I would prefer that the message give the user more information about *why* they need to enable the merit order. It can have a significant effect on the demands of a scenario, and with it costs, CO2 emissions, and more. Novice users may enable the option without understanding what it does. Let's help them out!

* Do these charts displa

[2016-01-22 12:53] grdw commented on #1922
That sounds a whole lot better and logical to me. However I think we still need an answer to:

[2016-01-22 13:11] dennisschoenmakers commented on #1922
I guess that's a **no**, and I think in the latest design by @antw the idea is also that the warning 'well' is shown **in stead** of the chart, right @antw?

[2016-01-22 13:16] antw commented on #1922
That's the idea. If the charts *do not* have meaningful data, I think it's confusing to show a warning but then go on to show them some data anyway.

If they *do* have meaningful data, the first paragraph would need to be reworded slightly. *"This chart will contain more accurate data if you choose to enable the merit order. To do so, ..."*

[2016-01-22 13:30] #1847 closed

[2016-01-22 13:34] grdw commented on #1922
@antw is there already a default 'well' in the etmodel stylesheets available?

[2016-01-22 13:34] dennisschoenmakers commented on #1922
Don't think so.... :smile:

[2016-01-22 13:35] grdw commented on #1922
I'll create my own than :+1:

[2016-01-22 13:37] antw commented on #1922
I threw that one together quickly in the Chrome inspector, but I don't think such a thing exists yet. It was something like:

[code]

[2016-01-22 13:38] AlexanderWirtz commented on #1922
I like where this is going

[2016-01-22 13:40] grdw commented on #1922
@antw while you're at it, could you copy/paste the text in here aswell? :+1:

[2016-01-22 13:41] dennisschoenmakers commented on #1922
![image](https://cloud.githubusercontent.com/assets/104830/12512054/2e64c6d8-c116-11e5-8b6c-075e5166c34e.png)

[2016-01-22 13:46] antw commented on #1922
Argh, I closed it already. I think it was like this, but maybe the h5 was an h4? Either way I had to increase the font-size to 15px.

[code]

![](https://i.imgur.com/7drHiqr.gif)

[2016-01-22 13:53] grdw commented on #1922
Cool, thanks!

[2016-01-22 14:40] grdw commented on #1922
Please read and change at will:

NL:

Zet de merit order aan om deze informatie te bekijken

Deze informatie is gebaseerd op de merit order berekening, die momenteel niet aangezet is in jouw scenario. Selecteer 'Gebruik merit oder' om deze aan te zetten vanuit het 'Opties' menu bovenaan de pagina.

Om meer te leren over de merit order en het effect die het zal hebben op jouw scenario, zie de Merit

[2016-01-22 14:50] AlexanderWirtz commented on #1922
Typ-o in the Dutch bit. Also included some right-wing stuff

*NL:*

Zet de merit order aan om deze informatie te bekijken

Deze informatie is gebaseerd op de merit order berekening, die momenteel niet aangezet is in jouw scenario. Selecteer 'Gebruik merit order' om deze aan te zetten vanuit het 'Opties' menu rechts bovenaan de pagina.

Om meer te leren over de merit order en het effect die het zal

[2016-01-22 16:04] grdw commented on #1913
I tried really hard clicking my way into this but "at random" is really hard to trigger :sweat_smile:

[2016-01-22 16:19] RobTerwel commented on #1913
You can reproduce it as follows:

-> Go to supply - electricity - coal plants - Co-firing coal plant for district heat (CHP) - info - technical and financial properties

You'll see input shares, as you'd expect from a co-firing coal plant. Next,
-> go to gas plants - Gas plant for district heat (CHP) - info - technical and financial properties and ...

![image](https://cloud.githubusercontent.com/

[2016-01-25 09:17] grdw commented on #1931
Fixed with: https://github.com/quintel/etmodel/commit/1debf76d353aaefbd8f7727fdc6f614d50e4ebaa

[2016-01-25 09:17] #1931 closed

[2016-01-25 09:24] dennisschoenmakers opened #1991 "Make first version for Ameland"
I suggest we track the version we create here:

First attempt by @AlexanderWirtz : http://beta.pro.et-model.com/scenarios/458633

include @jorisberkhout for the deploy

[2016-01-25 09:57] jorisberkhout commented on #1991
:+1:

[2016-01-25 10:35] grdw commented on #1913
Update: the problem lies within Et-engine. Am not sure what yet, but somehow it returns the fuel mix while it should not have returned it in the first place.

[2016-01-25 10:50] grdw commented on #1913
The reason this is going bad is because of [here](https://github.com/quintel/etengine/blob/master/app/models/api/v3/converter_presenter_data.rb#L198-L213). If you print out the `current_fuel_input_mix` to the log it will give you a set of data after the second request eventhough `out` is cleared on line 198. @antw would you know why? Is this because of the GC stats thingy?

[2016-01-25 10:54] antw commented on #1913
Is it possible that under `uses_coal_and_wood_pellets?` we just need to `out = out.dup`? It looks like [line 206](https://github.com/quintel/etengine/blob/478c572470ca294612fb9d886bd37e900a68acc4/app/models/api/v3/converter_presenter_data.rb#L206) might be editing the `*_ATTRIBUTES_AND_METHODS` constants.

[2016-01-25 11:01] grdw commented on #1913
Yes, that works. :+1:  But I'm not sure why it works. On line 198 we say `out = {}`. How does it - after two request - maintain the `current_fuel_input_mix`?

Previous contents:
[code]

[2016-01-25 11:08] #1913 closed

[2016-01-25 12:17] antw commented on #1913
[The next line](https://github.com/quintel/etengine/blob/478c572470ca294612fb9d886bd37e900a68acc4/app/models/api/v3/converter_presenter_data.rb#L199) says: if converter is a member of the `cost_traditional_heat` group, `out = HEAT_PRODUCTION_ATTRIBUTES_AND_METHODS`. Then line 205: "if converter uses coal and wood pellets" `out[:current_fuel_input_mix] = ...`.

If a converter was a member of one of

[2016-01-25 13:27] jorisberkhout commented on #1983
I like it, @RobTerwel ! Putting on hold for now for the reason mentioned by @ChaelKruip .

[2016-01-25 14:16] grdw commented on #1913
@antw Thanks for explaining.

:fearful: Not much of a constant than.

[2016-01-25 14:54] antw commented on #1913
Yup! Constants can be reassigned in Ruby; you'll get a warning, but you're allowed to do it.

[code]

The *contents* of an object assigned to a constant (such as a string, array, or hash) can be modified with no warning given at all.

[code]

These days I freeze objects assigned to constants, but even that provides limited protection. For example, if you have a hash *inside* a frozen hash, you can

[2016-01-25 15:17] grdw commented on #1913
That's the same in JavaScript ES>5

I would say in the case of Hashes in Hashes: yes.

[2016-01-25 16:31] grdw commented on #1921
Allright, I found how to turn a chart into a table. I found out where the chart is loaded but I don't get how this [fancybox](https://github.com/quintel/etmodel/blob/master/app/assets/javascripts/lib/views/constraint_view.coffee#L48-L57) ~~~~ connects to ~~~~~> [chart_list#load](https://github.com/quintel/etmodel/blob/master/app/assets/javascripts/lib/models/chart_list.coffee#L40-L101). According

[2016-01-25 16:56] antw commented on #1921
I'm not very familiar with this code unfortunately, but I think what happens is that FancyBox requests [conststraints/show](https://github.com/quintel/etmodel/blob/26aad168ef64ff31ada85abfdde2c3f0a676ee19/app/views/constraints/show.html.haml), which includes [constraints/_js_init.coffee](https://github.com/quintel/etmodel/blob/26aad168ef64ff31ada85abfdde2c3f0a676ee19/app/views/constraints/_js_init

[2016-01-26 10:08] ChaelKruip opened #1994 "Some numbers are incorrectly 'rounded'"
In the investment table, very small numbers (e-16) are incorrectly rounded and represented as being much larger.

The [query for the delta of district heating](https://github.com/quintel/etsource/blob/master/gqueries/output_elements/output_series/table_142_investments/households_heat_network_connection_steam_hot_water_delta_in_investment_cost_table.gql) in the sandbox:

![energytransitionmodel](ht

[2016-01-26 10:14] grdw commented on #1994
The actual value you would want to see would be 0 I'd guess?

[2016-01-26 10:16] ChaelKruip commented on #1994
Yes, if rounded to 4 numbers behind the comma, this would become 0.

[2016-01-26 10:17] ChaelKruip commented on #1994
@antw please take note. I'm worried that whatever is causing this might affect other charts/tables/outputs as well...

[2016-01-26 10:23] grdw commented on #1994
For which scenario does this problem arise? Because this is my result which is not saying much:
![screen shot 2016-01-26 at 11 20 50 am](https://cloud.githubusercontent.com/assets/2676542/12578079/e0d6952a-c41e-11e5-90bc-a3262df8b0ff.png)
Also, is this on `beta` or on `production`?

*On an accounting note:*
Why is this issue registered in etmodel, isn't this a problem for etengine (judging by the

[2016-01-26 10:34] #1926 closed

[2016-01-26 10:34] #1927 closed

[2016-01-26 10:37] antw commented on #1994
I pushed a quick fix for the rounding of very small numbers. It could use some testing though.

The bug was in `Metric.autoscale_value` which is not frequently used these days. That's not to say that there weren't other numbers which were incorrectly rounded, but it shouldn't be common.

It was a rounding bug in the ETM; ETEngine was returning the correct number.

[2016-01-26 10:39] grdw commented on #1994
I found out :+1:

Thanks for solving though.

[2016-01-26 10:47] #1988 closed

[2016-01-26 10:50] jorisberkhout opened #1995 "Should we remove the €-sign from the investment table?"
While reviewing the recent changes to the investment table, I noticed that the column headers read `Investment (BLN. EURO)` ánd each cell contains a €-sign. I believe one of the two should go as they are giving the same information, and would prefer to remove the €-sign from each cell.

What do you think, @ChaelKruip , @AlexanderWirtz , @dennisschoenmakers, @antw ?

<img width="616" alt="screen sh

[2016-01-26 10:52] ChaelKruip commented on #1995
I agree that the euro signs are redundant and quite repetitive...

[2016-01-26 10:52] jorisberkhout commented on #1994
Assigning @ChaelKruip to do this.

[2016-01-26 10:53] dennisschoenmakers commented on #1995
Good idea @jorisberkhout!

[2016-01-26 10:59] grdw commented on #1817
Including @jorisberkhout @ChaelKruip @antw . Does anybody have any strong opinions what the contents of those pages should be? Are these pages purely informative?

[2016-01-26 11:02] #1994 closed

[2016-01-26 11:11] antw commented on #1994
I pushed a better version, not much testing should be required now since I'm fairly confident it's correct. :laughing:

For @grdw's sake: the issue was in [Metric.autoscale_unit](https://github.com/quintel/etmodel/blob/44d25f048326ec1f84d62ff71a63937e094037f8/app/assets/javascripts/lib/models/metric.coffee#L35-L120) which is intended to take values from ETEngine and format them for display in the

[2016-01-26 11:13] jorisberkhout commented on #1817
I like the idea of having an overview page with some statistics for each dataset. Could you elaborate a little more on what you would like to be displayed, @dennisschoenmakers ?

[2016-01-26 11:23] dennisschoenmakers commented on #1817
I would say at least:

* Country name: the Netherlands
* Present year: 2013
* Last updated: 2 months ago

Then we need to be able to start a new scenario from here (so the user should be able to input the end year)

We could add some basic energy stats, but I would start with the basics. :smile:

[2016-01-26 12:00] jorisberkhout commented on #1995
@AlexanderWirtz agrees with this as well.

@grdw, could you remove the €-sign from all cells in this table?

[2016-01-26 12:12] AlexanderWirtz commented on #1995
unless someone actually intended the use of the well-known €<sup>2</sup> unit, which can be very useful

[2016-01-26 14:46] dennisquintel opened #1996 "Redirect all trafic to energytransitionmodel.com"
So we can purchase a wildcard SSL certficate for *.energytransitionmodel that covers:
- www.energytransitionmodel.com (etcentral)
- pro.energytransitionmodel.com
- moses.energytransitionmodel.com

You'd still be able to type: pro.et-model.com, or moses.et-model.com, but you will be redirected! :smile:

What do you think @grdw and @antw ?

[2016-01-26 14:50] antw commented on #1996
:+1:

We might need to also move ETEngine to a subdomain (otherwise requests to ETE might result in "this website is insecure" warnings), but I see no problem doing that.

[2016-01-26 14:52] dennisschoenmakers commented on #1996
engine.energytransitionmodel.com ?

[2016-01-26 15:04] antw commented on #1996
Sounds good.

[2016-01-27 09:30] grdw commented on #1817
What would be the 2 months ago, the `mtime` of the `nl.yml` file in etsource or?

[2016-01-27 10:06] dennisschoenmakers commented on #1817
Good question! People want to know when the last update was. Maybe other files also count? What do you think? :smile:

[2016-01-27 10:10] grdw commented on #1817
I would say: all these timestamps:
![screen shot 2016-01-27 at 11 10 23 am](https://cloud.githubusercontent.com/assets/2676542/12610181/99b4bfdc-c4e6-11e5-8a34-b83aec31fb51.png)

[2016-01-27 10:11] dennisschoenmakers commented on #1817
Perfect!

[2016-01-27 10:33] jorisberkhout commented on #1991
@dennisschoenmakers, is this critical for the deploy? If not, I suggest removing the milestone.

[2016-01-27 10:39] dennisschoenmakers commented on #1991
Well, it should

[2016-01-27 10:53] grdw commented on #1817
![screen shot 2016-01-27 at 11 52 47 am](https://cloud.githubusercontent.com/assets/2676542/12611368/8075da14-c4ec-11e5-86ce-272817aaf93a.png)

Minor preview thusfar.

Page is rather empty though.

[2016-01-27 10:54] dennisschoenmakers commented on #1817
That's okay. Maybe we can make a bullet list of the characteristics?

And I guess people need to input the end year before they can start? How do you intend on making that? :smile:

[2016-01-27 11:02] grdw commented on #1817
Yes. I think we could.

Well the button right now links to the front page and sets the select box to the correct country value. There the user picks the end year and creates the scenario.

[2016-01-27 11:13] ChaelKruip opened #1997 "If the merit order is off, the load curves should not be downloadable"
I don't understand that they show information at all :confused:

[2016-01-27 11:26] antw commented on #1997
The merit order still runs in a very limited fashion when it is disabled; it needs to do so for the LOLE calculation.

[2016-01-27 13:06] grdw commented on #1817
Before continueing on with this issue I'd like to discuss what this page will do. It's nice to have but how will people know that there's such a page?

I can imagine that it would be nice if there's additional information about your dataset on the website of et-model itself but more in this fashion:

![screen shot 2016-01-27 at 2 04 26 pm](https://cloud.githubusercontent.com/assets/2676542/1261424

[2016-01-27 13:22] ChaelKruip commented on #1817
Very nice idea @grdw! This seems like a logical place for such a link!

[2016-01-27 13:26] jorisberkhout commented on #1817
I like it too!

[2016-01-27 13:38] antw commented on #1817
I'd swap that out for "$COUNTRY dataset information" where the whole thing is a link – [for accessibility reasons](https://www.w3.org/TR/WCAG10-HTML-TECHS/#link-text) – but otherwise I like the idea also.

[2016-01-27 13:47] grdw commented on #1817
That's a bit better. We could also go completly minimal:

![information](https://cloud.githubusercontent.com/assets/2676542/12615234/c376fe0c-c504-11e5-94ac-754d122e5b09.png)

Where the I would link to the set page. However this could also be interpreted as a possible popup thingy.

[2016-01-27 13:53] RobTerwel opened #1998 "Hydrogen production sidebar needs sidebar image"
See title, /scenario/supply/hydrogen_production/

Suggestion: H<sub>2</sub> , in sidebar image style. Plain and simple! :smile:

[2016-01-27 14:11] grdw commented on #1995
Yes I could. However, just to play Devil's advocate, if I remove those signs isn't it confusing if I scroll down a little (just as much that the table header is off the screen) and seeing all these numbers which don't look like they're about money? The €-signs provide some context to something as "non-money looking" like `0.0784` (if it were `0.08` it would be less of an issue I'd guess).

[2016-01-27 14:19] dennisschoenmakers commented on #1817
Great idea!

[2016-01-27 14:21] antw commented on #1817
Reminds me of a "help" button; I half-expect a pop-up to appear explaining what the country `<select>` does. But I like that we won't have to swap out `$COUNTRY` text which would be distracting to a visitor. I'm conflicted. :grimacing:

[2016-01-27 14:26] jorisberkhout commented on #1995
To be honest, I find the €-sign more confusing than helpful in that example. The numbers in the cells are BLN Euro, but by placing the €-sign before them it looks like they are just Euro.

[2016-01-27 14:36] grdw commented on #1995
I agree. :+1:

[2016-01-27 15:11] dennisschoenmakers commented on #1998
What do you think?

![image](https://cloud.githubusercontent.com/assets/104830/12617592/a44a6954-c510-11e5-875c-ebcc7233ee16.png)

[2016-01-27 15:12] RobTerwel commented on #1998
Perfect!

[2016-01-27 15:33] grdw commented on #1995
On a related note:

![screen shot 2016-01-27 at 4 31 26 pm](https://cloud.githubusercontent.com/assets/2676542/12618276/7375d270-c513-11e5-8a9c-b3b75a896bff.png)

After some clicking (to test if I didn't destroy any other charts with euro-signs in them) I found this graph though. For the sake of consistency shouldn't we just pick one way to display bln euro's?

[2016-01-27 15:35] antw commented on #1995
I like that more than the "BLN. EURO" header, personally.

[2016-01-27 15:37] jorisberkhout commented on #1995
I wasn't aware of that graph and agree with @antw that that way of displaying is a nicer solution.

[2016-01-27 15:37] jorisberkhout commented on #1995
What do you think, @ChaelKruip ?

[2016-01-27 15:43] ChaelKruip commented on #1995
I have not changed my mind :smiling_imp:

[2016-01-27 15:54] grdw commented on #1995
I think the only way we can resolve this is with a good old fist fight...

On a more serious note:
Now without euro signs:

![screen shot 2016-01-27 at 4 51 43 pm](https://cloud.githubusercontent.com/assets/2676542/12618989/7e8db97c-c516-11e5-9c31-3317b5cb4b9c.png)

However I might just create another issue for the sake of consistency.

[2016-01-27 16:01] dennisschoenmakers commented on #1995
I like it a lot better without the Euro-sign in your screenshot @grdw!

[2016-01-27 16:02] grdw opened #1999 "Table for bln euro's is not consistent."
Continuation of #1995

![screen shot 2016-01-27 at 4 51 43 pm](https://cloud.githubusercontent.com/assets/2676542/12619216/685927da-c517-11e5-9fdc-6a9bda062c9a.png)

One displays BLN EURO in a header.

![screen shot 2016-01-27 at 4 31 26 pm](https://cloud.githubusercontent.com/assets/2676542/12619220/6cad408c-c517-11e5-84b6-cb30060d13c2.png)

The other displays `€<x> bln` for every cell.

---

I d

[2016-01-27 16:13] antw commented on #1995
I think it takes away context from the numbers; the individual values are easier to read but the table is harder to understand. A "BLN. EURO" header can be missed by a user while "€2.3375 bln" cannot. In most tables (but not this one, to be fair) you can hold your mouse over a number to see the full un-rounded version.

![screen shot 2016-01-27 at 16 12 41](https://cloud.githubusercontent.com/asse

[2016-01-27 16:21] grdw commented on #1995
Yes. That's a bad move. In my issue I'm just talking about "money"-related tables.

[2016-01-27 16:28] dennisschoenmakers commented on #1995
I know what you're talking 'bout!

![image](https://cloud.githubusercontent.com/assets/104830/12620123/39beb2f6-c51b-11e5-879b-97d2788bd80e.png)

[2016-01-27 16:29] #1998 closed

[2016-01-28 08:42] grdw commented on #1817
For now; I'll just use "$COUNTRY dataset information" but might there come a time when minimal design becomes (more) hip, it'll be easy to switch. :)

[2016-01-28 08:56] jorisberkhout opened #2001 "Disable charts when merit is disabled"
Like the charts described in https://github.com/quintel/etmodel/issues/1922, the following charts only display relevant information when the merit order is enabled. Could you implement the same warning you implemented in a2346ed4452fbffd664e2b23fb41ea95fd68b6c9 for these charts, @grdw ?

- Chart 163: Use of excess electricity
- Table 164: Storage options

[2016-01-28 14:06] grdw commented on #2001
@antw do you know how "Chart 163: Use of excess electricity" is rendered?

I found the `app/assets/javascripts/lib/views/vertical_stacked_bar_chart_view.coffee` file but when I alert something in the initialize method nothing much happens. Am I using the wrong file or?

[2016-01-28 14:35] grdw commented on #1906
It is. But with rounding in the right places this doesn't get solved .. or I don't do it in the right places. What we could do is maybe add a `title` to the output with the full value (no rounding)?

[2016-01-28 15:45] antw commented on #2001
I think it's a [D3.stacked_bar](https://github.com/quintel/etmodel/blob/master/app/assets/javascripts/d3/stacked_bar.coffee). Many of the old `javascripts/lib/views/` charts were replaced with D3 versions (in `javascripts/d3/`) some time ago. I think the old ones were kept to retain support for older browsers in which D3 was not supported (IE6).

[2016-01-28 16:19] grdw commented on #2001
https://github.com/quintel/etmodel/pull/2003

[2016-01-29 12:25] grdw commented on #1999
Closing due to solution being presetned in #1995

[2016-01-29 12:25] #1999 closed

[2016-01-29 12:28] grdw commented on #1995
We've chosen to display it as `€ <x> bln/mln/..` by using the same `valueFormatter` from the default tables.

This looks like this:

![screen shot 2016-01-29 at 12 24 31 pm](https://cloud.githubusercontent.com/assets/2676542/12675649/1141e90c-c68c-11e5-8fb4-bc958712a366.png)

I've also removed the BLN EURO headers for they are redundant.

[2016-01-29 12:33] jorisberkhout commented on #1995
Yeah! I like this solution a lot for, especially for its consistency with the other tables!

Notifying @AlexanderWirtz and @ChaelKruip as they use this table most often!

[2016-01-29 12:48] jorisberkhout commented on #1997
Assigning @grdw to get the buttons hidden when the MO is switched off.

These buttons that is!

<img width="465" alt="screen shot 2016-01-29 at 13 46 50" src="https://cloud.githubusercontent.com/assets/4669028/12675995/d5889160-c68e-11e5-87dd-ee89f08b3a43.png">

[2016-01-29 12:49] jorisberkhout commented on #1955
@grdw, could you look into this?

[2016-01-29 12:50] dennisschoenmakers commented on #1955
Yesterday we used Chrome on Windows 7 and that worked just **fine**. :unamused:

[2016-01-29 12:52] grdw commented on #1955
Hmm... this looks weird.  Considering the date, can I assume this was Windows 10?

[2016-01-29 12:53] jorisberkhout commented on #1945
Assigning @grdw .

[2016-01-29 12:54] jorisberkhout commented on #1939
Assigning @grdw .

[2016-01-29 12:56] jorisberkhout commented on #1854
Assigning @grdw .

[2016-01-29 13:24] grdw commented on #1955
*Quick overview:*

- Windows 7 - Chrome 48.0.2564.97  - Works
- Windows 11 - Chrome 48.0.2564.97  - Works

I'm in the proces of checking Win 8 and 8.1 but they're still downloading :snail:

[2016-01-29 14:05] #1995 closed

[2016-01-29 14:31] ChaelKruip commented on #1995
Thanks for that. I like the table too like this.

The only possible issue I see is that it becomes more difficult to copy-past and analyse this table in Excel now. Especially if different lines may have different units, it would require some complex find-replace tasks in Excel to make the numbers of equal order of magnitude again. @AlexanderWirtz do you think this is an issue?

[2016-01-29 14:37] jorisberkhout commented on #1995
Thanks for this comment, @ChaelKruip . I realised this as well and discussed the possibility to download the data from the investment table directly with @grdw . That would avoid having to copy-paste the data at all. @AlexanderWirtz , should we go ahead and implement this?

[2016-01-29 14:37] grdw commented on #1995
Wouldn't we want an export function for this? Manually copy/pasting sounds really dreadful.

[2016-01-29 15:04] AlexanderWirtz commented on #1995
@jorisberkhout it would be great to be able to export the data for Excel from the tables. That also means I won't have to hassle @antw about changing number of significant digits etc.

[2016-01-29 15:32] jorisberkhout opened #2004 "[Overview issue] Improving the network calculation"
**Introduction**

Validation of the results of the improved network calculation (see https://github.com/quintel/etmodel/issues/1961) by both Alliander and ourselves revealed that there is still room for more improvement in the network calculation. Some of these improvement are described in separate issues which I will refer to below.

This issue is intended as the starting point for further improv

[2016-01-29 15:37] jorisberkhout opened #2005 "Make it possible to download the investment table"
As discussed in https://github.com/quintel/etmodel/issues/1995#issuecomment-176785338, it should be possible to download the contents of the investment table.

@grdw , you had a suggestion on how to format this download and make this happen, right?

[2016-01-29 15:48] AlexanderWirtz commented on #1955
Could well be a specific Chrome version's problem. I asked the people to email me their versions but they never dod. Let's not spend too much time on this.

[2016-01-29 15:50] jorisberkhout commented on #1955
Thanks, @AlexanderWirtz . Closing this issue then.

[2016-01-29 15:50] #1955 closed

[2016-01-30 01:09] antw commented on #1995
I love the idea of exporting tables to CSV; that could be very useful.

On 29 Jan 2016, 15:04 +0000, AlexanderWirtz<notifications@github.com>, wrote:

[2016-01-30 15:01] antw commented on #1939
If we added an "export table as CSV" feature, would that be better? Probably isn't doable by this upcoming deploy, but it would allow us to keep the more readable numbers while also catering to those who want the raw data.

[2016-02-01 07:34] jorisberkhout commented on #1939
I like it. I'll close this issue in favour of the solution described in https://github.com/quintel/etmodel/issues/2005. Re-open if you feel different about that.

[2016-02-01 07:34] #1939 closed

[2016-02-01 09:31] jorisberkhout commented on #1972
Moving to 'Storage' milestone.

[2016-02-01 10:22] AlexanderWirtz commented on #1943
After discussions with @ChaelKruip we decided this issue needs further specification.

The central problem is that the graph contains no good information on what the actual export per carrier *IS*. For example: what is `gasoline` export in `future_year` if in the Netherlands most cars have become electric vehicles? Will we still refine `crude_oil`? Without adding sliders and converters about refin

[2016-02-01 10:28] AlexanderWirtz commented on #1943
## Now for a more pragmatic approach

Any export that the engine *DOES* know about can be correctly calculated and displayed in the relevant charts. For that, a calculation identical to `primary_demand_of_final_demand` should work just fine.

[2016-02-01 11:07] jorisberkhout commented on #2005
As discussed with @grdw, it would be nice if we could make it possible to download the data in *all* tables as CSV.

[2016-02-01 12:12] #1921 closed

[2016-02-01 12:43] #1817 closed

[2016-02-01 13:37] grdw commented on #1997
Turned off:
![screen shot 2016-02-01 at 2 36 43 pm](https://cloud.githubusercontent.com/assets/2676542/12718820/488bdd02-c8f1-11e5-9d5a-a2edc64c7f4a.png)

Turned on:
![screen shot 2016-02-01 at 2 36 52 pm](https://cloud.githubusercontent.com/assets/2676542/12718819/488a441a-c8f1-11e5-9f34-6f2460ce35e2.png)

[2016-02-01 14:12] grdw commented on #2005
![redodt](https://cloud.githubusercontent.com/assets/2676542/12719132/85505c5c-c8f3-11e5-8a5b-fe4982e8a289.png)

At the position of the red dot there will be an extra button; a download-like button. A bit like the icon used on the merit order page:

![screen shot 2016-02-01 at 2 56 29 pm](https://cloud.githubusercontent.com/assets/2676542/12719213/086537d4-c8f4-11e5-8dad-1a732195dac4.png)

However

[2016-02-01 14:48] ChaelKruip commented on #1966
After discussion with @jorisberkhout I think there are various options here but none of them without its drawback:

## OPTION 1: Third slider
Adding a third slider (H2) to the slider-group shown above. This slider would not be an input, however, but rather an output of the P2G calculation. This would introduce back into the ETM the old 'grayed-out' sliders that are magically updated by the model i

[2016-02-02 08:49] AlexanderWirtz commented on #1966
To be blunt:

I don't like **OPTION 1**. It creates the potential to add a lot of H2 to the gas network. This will rightly cause a bit of criticism: as it is far from certain that this would work and is currently not legally allowed. Also, the greyed-out slider is ugly IMO. Just a percentage indicator is less ugly, but still suffers from the problem of unlimited H2 feed-in into the gas network.
It

[2016-02-02 09:09] dennisschoenmakers commented on #1966
To elaborate a bit on the fourth option: All though it is unfeasable to replace all CH4 with H2 for the gas network, it is possible to mix a small fraction, and since this option is discussed widely, I think we should be able to allow it in the ETM, even though there might be objections or better uses.

[2016-02-02 09:11] AlexanderWirtz commented on #1966
I agree

[2016-02-02 09:11] antw commented on #2005
I think raw, [unrounded values](https://github.com/quintel/etmodel/blob/196e72242cbacea8594fcd8d976ed5dc523d7be6/app/assets/javascripts/lib/models/chart_serie.coffee#L7-L8). Ideally this would not be specific to the investment table; [TableView](https://github.com/quintel/etmodel/blob/196e72242cbacea8594fcd8d976ed5dc523d7be6/app/assets/javascripts/lib/views/table_view.coffee) should be a good star

[2016-02-02 09:21] ChaelKruip commented on #1966
Agree! But we still have the issue of how to 'balance' the slider group shown [above](https://github.com/quintel/etmodel/issues/1966#issue-123455226). I think it is bad practice in general to to allow sliders to be moved by the model rather than the user.

A way around this is to rename that slider groups to 'composition of non-H2 gas in the network'. This does not deserve any awards for elegance

[2016-02-02 09:30] dennisschoenmakers commented on #1966
To be clear: not something I had a mind (either) and I agree 100% that we should not have this 'magic' in the ETM.

[2016-02-02 09:51] jorisberkhout commented on #1966
I full agree as well.

I don't want to be negative Nancy, but this solution feels counter-intuitive as well. Although the slider settings remain the same, the absolute amounts of both green gas and natural gas will change when you feed more or less hydrogen into the gas network. I would find it most intuitive that feeding more hydrogen into the gas network (capped by a slider setting, I like that

[2016-02-02 09:53] grdw commented on #2005
I'd guess on a somewhat similar basis it's now implemented in [Etmoses](https://github.com/quintel/etmoses/blob/master/app/assets/javascripts/les/topology_load_charts/csv_download.js)?

[2016-02-02 09:53] antw commented on #2005
:+1:

[2016-02-02 09:54] jorisberkhout commented on #1966
I realised that there is one minor issue with the above solution. If the amount of green gas and hydrogen add up to more than 100% of the gas demand, we would have to cut one of them. I would say that in that case we cut the amount of hydrogen fed into the gas network and export the excess hydrogen.

[2016-02-02 14:02] AlexanderWirtz commented on #1966
Agreed. That would be consistent with the fact that you do not specify how much hydrogen is to be produced, but only a cap.

[2016-02-02 14:06] ChaelKruip commented on #1966
I like the solution proposed by @jorisberkhout

One question though:

Do you adjust the **absolute** amount of green-gas when hydrogen input changes due to P2G to keep the % of green-gas constant? Otherwise the slider is moved by the model again...

[2016-02-02 14:16] jorisberkhout commented on #1966
No, I don't think that is necessary. The user sets the percentage of green gas in the gas network which, combined with the demand for gas from the gas network, sets the absolute amount of green gas in the gas network. The percentage of green gas will stay the same (unless the user changes it), but the absolute amount will change when the user changes the demand of gas from the gas network.

If mor

[2016-02-02 14:43] ChaelKruip commented on #1966
Yes! You are 100% right! I agree with your suggestion :+1:

[2016-02-03 08:35] jorisberkhout opened #2008 "Add toggle switch to restrict interconnector capacity"
To make sure that the results of existing scenarios do not change due to the fact that we will be restricting the interconnector capacity for import and export from now on, we need a toggle switch to turn select if the interconnector capacity is restricted. The switch needs to go here

<img width="676" alt="screen shot 2016-02-03 at 09 27 14" src="https://cloud.githubusercontent.com/assets/4669028

[2016-02-03 08:41] jorisberkhout commented on #2008
Putting 'On hold'.

[2016-02-03 09:41] jorisberkhout commented on #2008
A bit more background on this issue.

At the moment, the ETM will export all excess electricity. With the implementation of the new flexibility functionality we have, however, restricted the interconnector capacity, meaning that the amount of electricity that you can export is limited. @ChaelKruip and I were afraid that this new implementation would alter the results of preset scenarios, therefore

[2016-02-03 09:41] #2008 closed

[2016-02-03 10:45] dennisschoenmakers opened #2009 "Domestic shipping shouldn't be hidden for scaled scenarios"
@AlexanderWirtz is creating a (scaled) scenario for Ameland and wants to use this slider to set the domestic shipping energy use for the ferry from and to the island.

Not sure 'why' the slider is hidden. (btw: also domestic flights are hidden).

Including @antw

[2016-02-03 10:49] jorisberkhout commented on #2009
Any ideas, @RobTerwel ?

[2016-02-03 11:05] dennisschoenmakers opened #2010 "How can dependent_on by empty in area dependencies?"
![image](https://cloud.githubusercontent.com/assets/104830/12780442/49d4404a-ca6e-11e5-9b7d-5577fea72842.png)

including @RobTerwel @ChaelKruip @jorisberkhout: who knows? :smile:

[2016-02-03 11:11] dennisschoenmakers commented on #2009
Hmmm, on **beta** it doesn't hide @AlexanderWirtz ...

### national scenario:

![image](https://cloud.githubusercontent.com/assets/104830/12780572/f1e606ec-ca6e-11e5-87dc-813e2a3a995b.png)

### local scenario

![image](https://cloud.githubusercontent.com/assets/104830/12780605/1edc657e-ca6f-11e5-8378-2ab2b3691aad.png)

[2016-02-03 11:12] dennisschoenmakers commented on #2009
But... we're missing these sliders:

### national

![image](https://cloud.githubusercontent.com/assets/104830/12780639/5394b8fc-ca6f-11e5-9ee9-b50fd26ea9ba.png)

### scaled

![image](https://cloud.githubusercontent.com/assets/104830/12780650/647a98b2-ca6f-11e5-8efc-3afa27452a5d.png)

[2016-02-03 11:13] jorisberkhout commented on #1965
I like what we've got so far. As discussed with John, we could make it a bit more clear to the user that he can / needs to drag the options in the desired order. Could you add an icon to each of the rows, @grdw ?

Also, could you make the options stand out a little more by making the box around them thicker and/or darker?

I prefer something like this.

<img width="445" alt="screen shot 2016-02-03

[2016-02-03 11:14] RobTerwel commented on #2009
Hmm interesting. Not on the top of my head, I looked in `scenario_scaling.rb` and found there are some inputs which are excluded <a href="https://github.com/quintel/etengine/blob/dcb76f7dcc1aadd58765aafe1e176403640de3ff/app/models/scenario_scaling.rb#L7-L9"a>here<a/> in ETEngine, depending on the units of the input statement. However, other vehicle technologies (also having % as a unit) are not ex

[2016-02-03 11:15] dennisschoenmakers commented on #2009
Found it:

![image](https://cloud.githubusercontent.com/assets/104830/12780723/d0129d72-ca6f-11e5-8ee6-8789e4bf861d.png)

[2016-02-03 11:18] dennisschoenmakers commented on #2009
I removed the row from beta.et-engine.com

[2016-02-03 11:18] #2009 closed

[2016-02-03 11:21] dennisschoenmakers commented on #2009
BTW: What are listed [there](https://github.com/quintel/etengine/blob/dcb76f7dcc1aadd58765aafe1e176403640de3ff/app/models/scenario_scaling.rb#L7-L9) are **unscalable** inputs, such as market shares: you do not want to scale 50% of all households having a combi heater, or the insulation level of existing houses.

[2016-02-03 11:21] RobTerwel commented on #2009
@dennisschoenmakers Thanks for explaining!

[2016-02-03 11:32] antw commented on #2010
The forms for these models will submit an empty area dependency if you don't select one:

![screen shot 2016-02-03 at 11 28 05](https://cloud.githubusercontent.com/assets/4383/12780970/3d0c3b1a-ca69-11e5-8faf-91230a9f03d0.png)

[code]

[`accepts_nested_attributes_for`](https://github.com/quintel/etmodel/blob/fa250e70b9835374abfc7de6c6c15629a895a5c7/app/models/input_element.rb#L34) will then save a

[2016-02-03 12:29] grdw commented on #1965
Usually it's just the three stripes (at least for mobile devices).

[2016-02-03 12:29] antw commented on #1965
:+1:

[2016-02-03 14:36] dennisschoenmakers commented on #1965
### iOS style:

![image](https://cloud.githubusercontent.com/assets/104830/12785115/24663120-ca8b-11e5-8d1a-62889e240a1c.png)

### Materialize-ish

![image](https://cloud.githubusercontent.com/assets/104830/12785240/d165d902-ca8b-11e5-9786-537b72dcf41e.png)

[2016-02-03 15:09] antw commented on #1965
Materialize-ish is nice, especially with the icons. I wonder if we could find suitable icons for each of the flexible technologies?

[2016-02-03 15:23] dennisschoenmakers commented on #1965
Don't we already have a bunch of icons for the sidebar items?

[2016-02-03 16:16] dennisschoenmakers commented on #2010
Thanks!

[2016-02-03 16:16] #2010 closed

[2016-02-04 06:24] dennisschoenmakers opened #2011 "BUG: Dashboard popup charts are empty on Beta"
At least:
* energy use
* CO2 emissions

including @jorisberkhout

[2016-02-04 06:28] dennisschoenmakers commented on #2011
It looks so empty:

![image](https://cloud.githubusercontent.com/assets/104830/12807637/dc4cd6f6-cb10-11e5-9080-f22a175eaefd.png)

[2016-02-04 06:35] dennisschoenmakers opened #2012 "Population statistics is missing unit"
E.g. for Ameland the slider says 3.52k inhabitants, the chart 3.52:

![image](https://cloud.githubusercontent.com/assets/104830/12807711/b8ba943e-cb11-11e5-9988-f4c42a058056.png)

[2016-02-04 07:30] AlexanderWirtz opened #2013 "New order of 'Add chart` library not an improvement"
I noticed that on Beta the order of the 'Add chart' List has been changed. It no longer starts with 'Overview' but with 'Supply'. How come? Did we have a vote on this? I for one do not think it is particularly intuitive to start with Supply.

The new order is:

1. Supply
2. Targets
3. Overview
4. Costs
5. Demand
6. Merit Order

I am a frequent user of these charts in demonstrations and at least fo

[2016-02-04 07:36] AlexanderWirtz opened #2014 "Heat and electricity demand in buildings chart (#68) has incorrect series name"
I noted this when makign a scenario for Ameland:

![image](https://cloud.githubusercontent.com/assets/308563/12808797/0d5f7a74-cb1a-11e5-9a05-703c3ac87226.png)

This image shows "Electricity demand" in buildings is about 27 TJ. Except that it isn't. THe one below shows that it is about 56 TJ:
![image](https://cloud.githubusercontent.com/assets/308563/12808825/330d2af0-cb1a-11e5-8786-e18c007a4733.p

[2016-02-04 07:36] AlexanderWirtz commented on #1966
:+1:

[2016-02-04 07:46] dennisschoenmakers commented on #2013
Related issue where there has been a vote on ordering charts: #1923

[2016-02-04 07:55] RobTerwel commented on #2011
Interestingly enough, of all standard dashboard items Energy imports and Bio-footprint are not empty, the others are.

[2016-02-04 07:55] jorisberkhout commented on #2013
Good point, @AlexanderWirtz . As far as I am aware, we did not decide to change the order of the chart groups. All that was decided in #1923 is to add subgroups for the demand charts (per sector) to break up the lengthy list of demand charts. The order that is discussed in #1923 is the order of the charts *within* the groups.

[2016-02-04 07:56] jorisberkhout commented on #2013
@AlexanderWirtz , just to be clear, your preferred order is different from the one on LIVE. Should we go ahead and implement this?

[2016-02-04 08:00] dennisschoenmakers commented on #2013
I think [this Q&A](https://github.com/quintel/etmodel/issues/1923#issuecomment-172496419) in #1923 lead to the reshuffle:

[2016-02-04 08:03] jorisberkhout commented on #2013
Thanks, @dennisschoenmakers . As #1923 is specifically about the charts *within* the Demand group, I don't see why the order of the groups has been altered, but I see where it happened in the code and will talk to @grdw to fix it.

[2016-02-04 08:04] dennisschoenmakers commented on #2013
Merci!

[2016-02-04 08:04] jorisberkhout commented on #2013
Also, there is this mysterious Chart Sub Group that should not be there.

<img width="432" alt="screen shot 2016-02-04 at 08 59 43" src="https://cloud.githubusercontent.com/assets/4669028/12809308/4cfd6660-cb1e-11e5-8ab7-8c9af186498d.png">

[2016-02-04 08:05] jorisberkhout commented on #2013
Assigning @grdw to fix this. Come talk to me first.

[2016-02-04 08:10] jorisberkhout commented on #2011
The charts themselves are still working, so it must have something to do with the pop-ups themselves. Maybe something to do with https://github.com/quintel/etmodel/issues/1921?

[2016-02-04 08:12] jorisberkhout commented on #2012
The same is true for an *un*scaled scenario, where the table says `16.78` inhabitants, which should be `16730348.0`.

[2016-02-04 08:12] jorisberkhout commented on #2012
Assigning @grdw as I would guess that this has to do with the way the tables are formatted.

[2016-02-04 08:18] #2011 closed

[2016-02-04 08:24] grdw commented on #2013
IS gone. Difference between `NULL` and `''` is still a difference. Might check for present as a fix.

[2016-02-04 08:43] grdw commented on #2012
This has to do with the fix for: https://github.com/quintel/etmodel/issues/1995

[2016-02-04 08:44] jorisberkhout commented on #2013
As discussed with @AlexanderWirtz , this is not deploy critical.

So far the order of the groups was hard-coded in ETModel. As discussed with @grdw , it would be better if you can set the order through the admin interface of ETModel. Any thoughts on this, @dennisschoenmakers , @AlexanderWirtz , @ChaelKruip and @antw ?

Also, I re-opened https://github.com/quintel/etmodel/issues/1923, which is rele

[2016-02-04 08:50] grdw commented on #2012
Turns out that there was a `scaleDown` boolean which was `true` by default. Setting it to false turned the numbers back to:
![screen shot 2016-02-04 at 9 50 39 am](https://cloud.githubusercontent.com/assets/2676542/12810180/c6748752-cb24-11e5-86da-320f3ecccc30.png)

Like it is on production.

[2016-02-04 08:57] ChaelKruip commented on #2013
A nice-to-have certainly

[2016-02-04 08:57] jorisberkhout commented on #2012
Thanks, @grdw . One thing before we can close this issue. Could you round the `Number of inhabitants per residence` to 1 decimal (like `2.2`). Otherwise this table gives to little information.

[2016-02-04 09:13] jorisberkhout commented on #2012
Thanks for fixing this. @dennisschoenmakers , the units are back again on Beta.

[2016-02-04 09:13] #2012 closed

[2016-02-04 09:32] jorisberkhout commented on #1923
As discussed is #2013 , let's pick this up after the deploy.

[2016-02-04 10:05] jorisberkhout opened #2015 "[Overview issue] Improving all tables in the ETM"
Recently quite some issues have been raised about the formatting of tables in the front end of the ETM, in particular the custom HTML-tables (charts 54, 75, 98, 116, 140, 141, 142, 145 and 164). I suggest that we use this issue to discuss how the tables should be formatted and implement the decision for all tables. This will avoid having to fix each table individually.

As @grdw pointed out to me,

[2016-02-04 10:06] jorisberkhout commented on #2005
Let's pick this up as part of the broader issues described in https://github.com/quintel/etmodel/issues/2015.

[2016-02-04 10:09] jorisberkhout commented on #1945
Removing milestone.

[2016-02-04 10:16] jorisberkhout opened #2016 "New dataset information page does not work as expected"
<img width="363" alt="screen shot 2016-02-04 at 11 13 42" src="https://cloud.githubusercontent.com/assets/4669028/12812012/62a2af68-cb30-11e5-892c-5e196f3f87ac.png">

- If I hit the `Start a new scenario from this country` button, nothing happens
- If I hit the `Go back to the model` link, it opens a (new?) scenario
- (minor) I think the first `Go back to the model` link is redundant

[2016-02-04 10:25] jorisberkhout opened #2017 "Should we turn the merit order ON for the default scenario?"
We ask ourselves this question regularly. Let's use this issue to write down the pros and cons and take a decision.

**PROS**
- with the merit order on, the behaviour of the ETM is much more realistic
- the new flexibility feature only works when merit is switched on
- quite a few charts rely on the merit order being switched on (although this has been solved quite nicely with the new merit order

[2016-02-04 10:31] grdw commented on #2015
This is starting to sound like a feature and not like something 'custom'. Considering that those tables all have the same or somewhat same layout (with gqueries). I'd guess that there will be one 'general' way those tables should be displayed (preferably exactly the same as the tables that belong to the charts).

My preference for this (in order to keep it customizable by Joris/Chael/Possible-futu

[2016-02-04 10:31] ChaelKruip commented on #2017
I am in favour of turning Merit 'on'. We should put the two 'cons' in the known issue list though!

[2016-02-04 10:31] dennisschoenmakers commented on #2017
In favor of On!

[2016-02-04 10:35] grdw commented on #2016
No, you got to the front-page of etmodel and the country is prefilled with the country you selected. Obviously "The Netherlands" is the default so "nothing happens". This had to do with the fact that you can't specify the end-year in this layout and it would be a little double to also include it in this page.

I got that link for free using the 'pages' layout. Guess I could use a 'blank' layout co

[2016-02-04 10:36] AlexanderWirtz commented on #2017
On! On! On!

[2016-02-04 10:37] antw commented on #2017
Load is not really a problem since the servers are not that busy and we have enough CPU cores. The issue I have is with the additional *time* it takes calculate the merit order, and that it requires the future graph to be computed twice. ETEngine response times with the M/O off are 300-500ms. With the M/O on, this rises to 700-1000ms and this makes the ETM feel a lot less responsive. The delay bet

[2016-02-04 10:44] jorisberkhout commented on #2017
Good point. I personally don't mind, given all the pros of switching it ON. I will call John to see what he thinks.

Does it make a difference if we turn the merit on by default for all scenarios that are created *from now on*?

[2016-02-04 10:47] jorisberkhout commented on #2017
John is fine with this as well (as long as the response time stays below 1s).

[2016-02-04 10:47] antw commented on #2017
Unfortunately no. We could theoretically do it by forcing every new scenario to inherit from a preset where the merit order is turned on (with no other input values set), but I think that would be to open a very messy can of worms. :laughing:

Better to go back and turn it off for all the old scenarios.

[2016-02-04 10:50] jorisberkhout commented on #2017
Right, let's do that then. BTW, let's do this later this afternoon the earliest as Beta needs to be stable between 12h00 and 14h00 CET for the presentation by @AlexanderWirtz and @dennisschoenmakers .

[2016-02-04 10:50] antw commented on #2017
A couple of samples with the merit order on:

![screen shot 2016-02-04 at 10 49 03](https://cloud.githubusercontent.com/assets/4383/12812956/f3e228d6-cb2c-11e5-9250-000375cf9256.png)

[2016-02-04 11:28] jorisberkhout commented on #1965
As demonstrated, the new functionality does not always work on Chrome (`Version 48.0.2564.97 (64-bit)`).

[2016-02-04 12:44] jorisberkhout commented on #1991
This is done right, @dennisschoenmakers ?

[2016-02-04 12:45] jorisberkhout commented on #1936
Not critical for the deploy, milestone removed.

[2016-02-04 12:45] jorisberkhout commented on #1907
Not critical for the deploy, removing milestone.

[2016-02-04 13:32] jorisberkhout commented on #1906
Not deploy critical.

[2016-02-04 14:23] AlexanderWirtz commented on #1991
Done but not complete. :-)

[2016-02-05 08:00] dennisschoenmakers commented on #1991
Newest version here: http://beta.pro.et-model.com/scenarios/481197

@AlexanderWirtz will still adapt the following:

- [ ] Include ferry to and from the island
- [ ] Adjust CO2 1990 value
- [ ] Clean up scenario description

Once @AlexanderWirtz is done, @grdw can create a preset.

[2016-02-05 08:06] AlexanderWirtz commented on #1991
FYI, I am waiting for the correct numbers for the ferry. The rest is easy.

[2016-02-05 09:04] grdw commented on #1965
![screen shot 2016-02-05 at 10 02 57 am](https://cloud.githubusercontent.com/assets/2676542/12841915/a8ae7dce-cbef-11e5-94cf-630f5751d976.png)

Minor preview.

Now I still see an ongoing discussion about the icons. But I'm guessing it's also about the 'dragging' itself. That it feels like you're pushing the blocks away instead of the 'ghostly' way? (I'm hoping I make myself clear here).

[2016-02-05 09:22] dennisschoenmakers commented on #1965
In all: It still doesn't look like the items are **draggable** at first sight, and it is unclear to me (and the user IMO) what he/she can do at this page:

How we can improve this IMO:
* The 'drag' icons can be a bit wider and less black: it can be subtler: compare [the icons](http://cl.ly/3T001i2P1s0Z) by @antw
* You might want to either put numbers in front of the options to make it more clear t

[2016-02-05 09:43] grdw commented on #1965
![screen shot 2016-02-05 at 10 31 16 am](https://cloud.githubusercontent.com/assets/2676542/12842521/a1d4e0de-cbf3-11e5-8f5d-1a6144179b2b.png)

Preview 2.0

Making them 'wider' is going to be a bit of a hassle since we're using font-awesome. I can make them larger in both height and width not width only (unless there's maybe a css property, which I don't know of, which can take care of that).

I m

[2016-02-05 09:55] dennisschoenmakers commented on #1965
LOL good point about calories. How about loosing the ugly double border then? I kinda like the Materialize design here:

![image](https://cloud.githubusercontent.com/assets/104830/12843004/d01f963e-cbf6-11e5-8d47-69da7c0cb3f9.png)

And also: do we need to 'convey' to the eye of the user that Curtailment is ALWAYS the last option, and thus cannot be moved? (i.o.w.: 'explain' why it is immovable?)

[2016-02-05 10:03] grdw commented on #1965
Is there also  an 'outer glow' or is that the background-color of the screenshot?

I did remove the 'double-border':

![screen shot 2016-02-05 at 11 01 27 am](https://cloud.githubusercontent.com/assets/2676542/12843178/efee26e6-cbf7-11e5-8114-278d75db5855.png)

[2016-02-05 10:15] grdw commented on #1965
I did manage to make the icons wider :dancers:

![screen shot 2016-02-05 at 11 14 41 am](https://cloud.githubusercontent.com/assets/2676542/12843445/b0c15b80-cbf9-11e5-9d4b-c089d11e96c0.png)

[2016-02-05 10:31] antw commented on #1965
I think that's looking a lot better. :+1:

OCD nitpicking:

![screen-shot-2016-02-05-at-10 23 36](https://cloud.githubusercontent.com/assets/4383/12843760/58248e08-cbf3-11e5-94e3-cff5142842b9.png)

[2016-02-05 10:55] #2016 closed

[2016-02-05 11:11] grdw commented on #1965
Well yes! :smile: but I think @ChaelKruip can explain better why that is.

[2016-02-05 11:22] grdw opened #2018 "Can't drag the flexibility order when there's no api_session_id set yet."
![screen shot 2016-02-05 at 12 19 22 pm](https://cloud.githubusercontent.com/assets/2676542/12844932/c3315f46-cc02-11e5-9fcc-31c14701a820.png)

Steps to take:
1. Close Chrome
2. Open Chrome
3. Copy/paste url in browser: http://beta.pro.energietransitiemodel.nl/scenario/flexibility/electricity_storage/order-of-flexibility-options
4. Cry :sob: because it's broken
5. Refresh
6. It works again! (no ma

[2016-02-05 11:37] antw commented on #2018
[This is the callback executed when the ID is set](https://github.com/quintel/etmodel/blob/843165be34d0af07090703b9229b38e797c04a7a/app/assets/javascripts/lib/app.coffee#L31-L33).

The Backbone way of doing things would – I think – be to set a listener on the Settings object so that the flexibility configured is set up when the ID is set. Something like this:

[code]

This might not trigger if the

[2016-02-05 11:40] grdw commented on #2018
Hmmmm yes. I found out the problem is a bit weirder than that. The `helper` generates the urls for me and already in that step the session_id is missing. So I removed the helper method and build up the url in the javascript. That seems to be fixing the problem :smile:

Now I need to google a nicer way of making an url than:

[code]

[2016-02-05 11:44] antw commented on #2018
Keep in mind that what you want is `App.settings.get("api_session_id")` – not `globals.api_session_id` – as `globals` won't be updated when the ID arrives.

`globals` will only have a value if the visitor is continuing a previous scenario; I expect it will be empty if they are a first-time visitor (and maybe also if starting a new scenario).

[2016-02-05 12:11] dennisschoenmakers commented on #1965
Ah I see, you want to provide the user with a small, digital ChaelKruip?

![image](https://cloud.githubusercontent.com/assets/104830/12845967/fb0f2f68-cc09-11e5-8bce-339d714cb4ea.png)

[2016-02-05 12:19] grdw commented on #2018
Oh yes.

![chael-clippy](https://cloud.githubusercontent.com/assets/2676542/12846145/183f5aee-cc0b-11e5-9a79-966c0a9058e6.png)

[2016-02-05 12:20] grdw commented on #1965
Yes!

![chael-clippy](https://cloud.githubusercontent.com/assets/2676542/12846157/26f9443c-cc0b-11e5-9c53-441df397bed2.png)

[2016-02-05 12:38] grdw commented on #1965
On a more serious note. What I think you (@dennisschoenmakers) are trying to say is that there needs to be some text explaining why `curtailment` is greyed-out?

[2016-02-05 12:44] dennisschoenmakers commented on #1965
Well, not too much text please, for instance:

![image](https://cloud.githubusercontent.com/assets/104830/12846750/93b48232-cc0e-11e5-81e0-b9d308b21f25.png)

Or any better ideas?

[2016-02-05 12:47] jorisberkhout commented on #1965
It is already explained in the text above the drag-and-drop menu (might need some rewording). I would say that that is enough for now.

[2016-02-05 13:06] grdw commented on #1965
I agree for the most part. I think at most there could be an extra-information popover.

[2016-02-05 14:36] #2018 closed

[2016-02-05 14:58] #1965 closed

[2016-02-05 15:38] grdw opened #2021 "Behavior of search-bar etmodel rather strange"
![screen shot 2016-02-05 at 4 32 13 pm](https://cloud.githubusercontent.com/assets/2676542/12850653/0e241c50-cc26-11e5-9ec5-7cae83bd4a5f.png)

I find the behavior of the search button of etmodel rather weird. I get what it does after trying it a couple of times but I expect it to search within the scope of etmodel. In essence, so I can find specific sliders / information on the website / etc.

[2016-02-08 08:59] grdw opened #2022 "Dragging and dropping of the flexibility options doesn't work in [IE9]"
The library I use is a little to fancy.

[2016-02-08 09:02] grdw opened #2023 "Chart glitches before rendering [IE9]"
![virtualbox_ie9 - win7_08_02_2016_10_02_02](https://cloud.githubusercontent.com/assets/2676542/12881573/1012f546-ce4b-11e5-8460-d6f3cedf8e57.png)

It happens in a split second so it's not that much of a problem.

Reassign at will.

[2016-02-08 09:05] grdw opened #2024 "When typing a wrong email address you get redirected to an unstyled page"
When typing a wrong emailadres you get redirected to an unstyled page (is this the default Devise page?).

![screen shot 2016-02-08 at 10 04 07 am](https://cloud.githubusercontent.com/assets/2676542/12881629/83acc6f8-ce4b-11e5-9a5e-b7e2cc5cec4a.png)

@jorisberkhout  Reassign at will

- [ ] Remove two 'home' links at top and bottom of this page

This is present in the `static_page` layout. This pro

[2016-02-08 10:14] RobTerwel opened #2025 "Electric vehicles have zero capacity in storage chart in the present (with MO and excess electricity)"
To reproduce:

- MO on
- inland wind turbines >10000 to make sure we have excess electricity
- flexibility options ordering: EV storage first
- Storage in EVs slide: increase availability to some number

![screen shot 2016-02-08 at 11 04 31](https://cloud.githubusercontent.com/assets/14106387/12882799/4d394bf6-ce54-11e5-839f-b679cfb3f74b.png)

The capacity and annual demand are zero, even though t

[2016-02-08 10:29] AlexanderWirtz opened #2026 "Table for flexibility options needs improvement"
I am afraid I find the table quite confusing.
Below find a random pair of screenshots in NL and EN

![image](https://cloud.githubusercontent.com/assets/308563/12882965/54ad9b5c-ce55-11e5-87e1-c7733a876f0e.png)

![image](https://cloud.githubusercontent.com/assets/308563/12882998/7d9d8400-ce55-11e5-8721-925038d23a2a.png)

I would change to following to improve the clarity:

- [x] electrische auto's

[2016-02-08 10:47] AlexanderWirtz opened #2027 "Storage in electric cars needs translation"
`transport_car_using_electricity_availability` has English slider name in the Dutch model

![image](https://cloud.githubusercontent.com/assets/308563/12883682/afc2fd62-ce59-11e5-9b3b-09d4dcb22ebd.png)

Availability --> Beschikbaarheid

noifying @jorisberkhout

[2016-02-08 10:51] AlexanderWirtz opened #2028 "Flexibility charts cannot be loaded in 'chart picker'"
This means I cannot see the `Use of excess electricity` chart (love it) and the `Flexibility options` table in the same screen. This is kind of annoying. not deploy critical.

Reassign at will

[2016-02-08 10:56] AlexanderWirtz opened #2029 "Flexibility chart color scheme needs improvements"
The two blues for P2G and storage in EV are indistinguishable to me. Granted, I only have 3 out of 4 possible color cones in my retina.

not deploy critical. Reassign at will.

![image](https://cloud.githubusercontent.com/assets/308563/12883837/b98bab54-ce5a-11e5-9cba-33cae1285a09.png)

[2016-02-08 10:57] ChaelKruip commented on #2029
:+1:

[2016-02-08 10:58] jorisberkhout commented on #2029
Assigning to @ChaelKruip .

[2016-02-08 10:58] jorisberkhout commented on #2028
Assigning @grdw to look into this.

[2016-02-08 10:59] AlexanderWirtz opened #2030 "Is P2G calculation correct? Is the allowed capacity not too low?"
I am surprised at how little H2 is produced / power is used for making H2. Compare to storage in EV.

Is this a consequence of the low capacity for P2G allowed by slider max? I suppose so. Perhaps this needs to be more than a mere 74 MW?

![image](https://cloud.githubusercontent.com/assets/308563/12883893/0847dc9a-ce5b-11e5-887c-9e5c6ac215c0.png)

reassign at will notifying @ChaelKruip @RobTerwel

[2016-02-08 11:01] AlexanderWirtz opened #2031 "Under flexibility options, greyed-out 'Curtailment' barely visible"
I failed to notice it the first 5 times. I am not your average user (rather blind), but perhaps that makes me a good person to point this out.

![image](https://cloud.githubusercontent.com/assets/308563/12883983/8ce43890-ce5b-11e5-8289-1b4d52592205.png)

reassign at will

[2016-02-08 11:05] #2025 closed

[2016-02-08 11:05] RobTerwel commented on #2030
Yes, it is. @jorisberkhout decided to base the P2G plant on the local forecourt electrolysis plant used for transport. While many of their attributes are similar (when scaled), P2G plants typically have larger capacities (at least a few MW).

A quick fix would involve increasing the capacity and carefully scaling relevant attributes accordingly.

[2016-02-08 11:12] ChaelKruip commented on #2029
Closed by changing stuff in the admin section.

[2016-02-08 11:12] #2029 closed

[2016-02-08 11:12] grdw commented on #2022
I switched to jQuery ui and used the sortable module.

It still contains the same problem. IE9 doesn't finish the Ajax request.

https://github.com/quintel/etmodel/blob/master/app/assets/javascripts/lib/views/base_chart_view.coffee#L108

Doesn't it have something to do with the fact that we use `api_url` always instead of the `proxy_url` ?

[2016-02-08 11:14] grdw commented on #2031
It has to look 'disabled' or non-draggable. We could make it a little more black-gray instead of white-gray? And maybe change the background color to something light-gray aswell.

[2016-02-08 11:17] jorisberkhout opened #2032 "The output of the P2H node is not taken into account in the graph"
As a result of the flexibility calculation, the P2H node (blue) might get a demand. This demand is, however, not communicated to the red node. Assigning @ChaelKruip to look into this.

<img width="462" alt="screen shot 2016-02-08 at 12 14 35" src="https://cloud.githubusercontent.com/assets/4669028/12884328/c67607b2-ce5d-11e5-933b-2094f48cc314.png">

[2016-02-08 11:18] AlexanderWirtz commented on #2031
@grdw I understand that is what we were going for. More contrast need IMO

[2016-02-08 11:20] AlexanderWirtz commented on #2030
I thought we had discussed and decided that these large-scale P2G units would be much bigger than the ones for transport?

[2016-02-08 11:29] jorisberkhout commented on #2030
I thought we decided to keep them the same as the transport ones for consistency reasons.

The Siemens P2G installations that Albert van der Molen recommended have a capacity of `1.25 MW`, but other specs are hard to find (see [Siemens website](http://www.industry.siemens.com/topics/global/en/pem-electrolyzer/silyzer/silyzer-systems/Pages/silyzer-systeme1105-9496.aspx?tabcardname=silyzer%20200%20b

[2016-02-08 12:06] AlexanderWirtz commented on #2030
OK, let's do some more research post deploy then. Not critical, as impact is not too high. Still, it is becoming a very important part of public discussions of renewable power, so this will need to be picked up at a later stage.

I truly do not know what a good cap would be, but let's do something crazy like 500 MW or even 800 MW (same as a power plant).

[2016-02-08 12:07] antw commented on #2022
Yes. I found that you should use `App.api.path` instead; it will return the correct path depending on what the browser supports:

[code]

[2016-02-08 12:09] jorisberkhout commented on #2030
I'll change the slider cap to 1000 then. This means that you can build 740 MW of P2G plants.

Agree!

[2016-02-08 12:21] jorisberkhout commented on #2030
Actually, assigning @RobTerwel to do this.

[2016-02-08 12:26] AlexanderWirtz commented on #2030
:+1:

[2016-02-08 12:29] dennisschoenmakers opened #2034 "Persistency for storage options not working?"
When I go to [flexibility] and I change the order of the technologies, hit command-R I get the original order back as if nothing was changed.

[2016-02-08 12:30] dennisschoenmakers commented on #2034
including @grdw

[2016-02-08 12:30] dennisschoenmakers commented on #2034
including @AlexanderWirtz

[2016-02-08 12:30] #2022 closed

[2016-02-08 12:30] grdw commented on #2022
Fixed by: https://github.com/quintel/etmodel/commit/32e4f593cd35378aa77865c3437aaee86c17530e

[2016-02-08 12:40] grdw commented on #2034
Is it still this way? There were some changes made in the past hour or so.

[2016-02-08 12:41] jorisberkhout commented on #2034
Could you do some testing to see if this is solved, @grdw ?

[2016-02-08 12:42] grdw commented on #2034
Yes. I checked in Firefox/Chrome - and it seems to be functional :+1:

[2016-02-08 12:42] #2030 closed

[2016-02-08 12:44] grdw commented on #2034
IE9 is still unstable though - it sometimes works and it sometimes doesn't ... :cry:

[2016-02-08 12:47] jorisberkhout commented on #2034
I tested it on Chrome and noticed that the first time you refresh (by hitting cmd-R), the default order is restored. When you change the order again and hit cmd-R, the new order remains. Could you see if you can improve this behaviour, @grdw ?

[2016-02-08 12:48] #2027 closed

[2016-02-08 12:49] grdw commented on #2034
You mean, you see the original order in flash and than it orders to the order you 'set' or?

[2016-02-08 12:52] jorisberkhout commented on #2034
No, it returns to the default order after you hit cmd-R and stays there. This does, however, only happen one time after you create a new scenario.

[2016-02-08 12:58] grdw commented on #2034
I know why ... moment please.

[2016-02-08 13:00] #2034 closed

[2016-02-08 13:02] grdw commented on #2034
See relevant comment: https://github.com/quintel/etmodel/issues/2018#issuecomment-180313893

[2016-02-08 13:41] jorisberkhout commented on #2024
Re-assigning @grdw . Not deploy critical though.

[2016-02-08 13:42] jorisberkhout commented on #2023
Re-assigning @grdw . Not deploy critical.

[2016-02-08 14:01] jorisberkhout commented on #2028
`Use of excess electricity` is shown in the chart picker (Overview -> last chart).

The `Flexibility options` table indeed isn't. @grd could you fix this?

[2016-02-08 14:09] grdw commented on #2031
![screen shot 2016-02-08 at 3 02 25 pm](https://cloud.githubusercontent.com/assets/2676542/12887504/1bce95aa-ce75-11e5-9650-f914cdfce092.png)

Something like this?

[2016-02-08 14:17] dennisschoenmakers commented on #2017
Is this going to be implemented? I was surprised to find it off by default on beta still.

[2016-02-08 14:19] antw commented on #2017
It is on my todo list, yes. :grimacing:

[2016-02-08 14:23] jorisberkhout commented on #2028
As discussed with @AlexanderWirtz and @ChaelKruip , I moved both charts to the merit group in the chart picker which I renamed to `Merit order and flexibility` in c8c8cbc825fbd5114f28759b65efd936bbc1f7db.

[2016-02-08 14:25] AlexanderWirtz commented on #2028
:+1:

[2016-02-08 14:26] #2028 closed

[2016-02-08 14:27] dennisschoenmakers commented on #2034
Works like a charme now here.

[2016-02-08 14:28] jorisberkhout commented on #2028
:blush: I set the both charts to `_always_hidden` because the results they were showing not making sense. Now that everything is working again, I forgot to remove the `always_hidden` tag.

Both charts are showing up in the `Merit order and flexibility` group now.

[2016-02-08 14:34] ChaelKruip commented on #1943
Closing this as the charts for primary demand and CO2 are added. Bio-footprint will have to wait.

[2016-02-08 14:34] #1943 closed

[2016-02-08 14:35] ChaelKruip opened #2036 "Bio footprint of export needs to be added to Mekko (and dashboard)"
Remaining task of https://github.com/quintel/etmodel/issues/1943

[2016-02-08 14:37] jorisberkhout commented on #2001
Closed by #2003.

[2016-02-08 14:37] #2001 closed

[2016-02-08 14:39] jorisberkhout commented on #2031
I liked the old style better the current style much better than this preview. Could you not just make the grey in the current flexibility options selector a little darker?

[2016-02-08 14:39] jorisberkhout commented on #2031
Moved to storage milestone.

[2016-02-08 14:40] jorisberkhout commented on #2026
Moved to storage milestone.

[2016-02-08 15:14] grdw commented on #2031
@jorisberkhout I agree, it's overdoing it a little.

![screen shot 2016-02-08 at 4 12 10 pm](https://cloud.githubusercontent.com/assets/2676542/12889351/befec61a-ce7e-11e5-8b6a-244c93cefd8b.png)

This is more readable.

[2016-02-08 15:18] ChaelKruip commented on #2032
Currently, the shares to the right of `households_useful_demand_for_hot_water_for_houses_with_p2h` are fixed at 0, 1 for the top and bottom edges respectively. So, even though (after https://github.com/quintel/etsource/pull/1066) the node receives a demand, 100% of that demand flows downwards to the non-p2h hot water options.

I can image two solution directions both of which I am not sure will wo

[2016-02-08 15:46] #2014 closed

[2016-02-08 15:59] AlexanderWirtz commented on #2031
much better

[2016-02-08 16:03] jorisberkhout opened #2038 "Costs for batteries are not taken into account in the dashboard item"

[2016-02-08 16:06] jorisberkhout opened #2039 "Additional investment chart needs info"
<img width="625" alt="screen shot 2016-02-08 at 17 06 09" src="https://cloud.githubusercontent.com/assets/4669028/12891002/50c445dc-ce86-11e5-96cf-54b314788871.png">

[2016-02-08 16:10] RobTerwel commented on #2039
The chart only had `short content` info texts. I copied and pasted them into the regular `content` info texts.

[2016-02-08 16:10] #2039 closed

[2016-02-08 16:15] dennisschoenmakers commented on #1922
I don't wanna nag (okay, I do wanna nag) but IMO there should definitely be some space between the header and the well:

![image](https://cloud.githubusercontent.com/assets/104830/12891286/701fe73c-ce87-11e5-98db-b822d02c7f93.png)

[2016-02-08 16:18] jorisberkhout commented on #2031
I like it

[2016-02-08 16:35] jorisberkhout commented on #1997
Re-opening this as I don't see the download buttons anymore, even when the merit order switched on. @grdw, any ideas?

[2016-02-08 16:49] jorisberkhout opened #2040 "Cost of P2G are not included"

[2016-02-08 17:01] jorisberkhout commented on #2026
All tables that are generated by ETEngine have a centre-aligned leftmost column. I suggest to stick with this for consistency. I suggest we re-evaluate that decision as part of https://github.com/quintel/etmodel/issues/2015.

<img width="629" alt="screen shot 2016-02-08 at 18 00 00" src="https://cloud.githubusercontent.com/assets/4669028/12892736/d0e3c29a-ce8d-11e5-834a-5c232c491ed3.png">

[2016-02-08 17:23] jorisberkhout commented on #2026
I have added a description of the table (as well as for chart 163), that is showed when you hit the '?'.

[2016-02-08 19:36] AlexanderWirtz commented on #2026
No problem for me to delay that one.

[2016-02-09 07:57] jorisberkhout commented on #2026
As noted by John, the units for the numbers in the table do not get adjusted dynamically. This means that  for scaled scenarios, the column shows just `0.0`. An easy fix would be to increase the number of digits in the table to 4. The nicer fix would be to make the units dynamic. I added this point to the list in the first post of this issue.

[2016-02-09 08:09] RobTerwel opened #2041 "Population and residences table (145) won't show if MO is off."
![screen shot 2016-02-09 at 09 06 52](https://cloud.githubusercontent.com/assets/14106387/12910650/b7d0ba5e-cf0c-11e5-94a4-98f2ed4df11a.png)

Probably not intentional, observed in a clean NL 2050 scenario. HTML table no. 145.

Re-assign at will.

[2016-02-09 08:12] grdw commented on #1997
In all my honesty: not really. It's fine with me on `beta.pro`. Did you do anything special prior to toggling the merit order?

[2016-02-09 08:26] RobTerwel opened #2042 "Video in sliders info text not found"
## Relevant sliders

- demand - households - district heating - geothermal
- demand - industry - other - demand growth - heat

![screen shot 2016-02-09 at 09 20 49](https://cloud.githubusercontent.com/assets/14106387/12910855/6f518180-cf0e-11e5-9fc4-b9c29e024bdf.png)

![screen shot 2016-02-09 at 09 52 03](https://cloud.githubusercontent.com/assets/14106387/12911454/f8cb0856-cf12-11e5-92a1-486660b0

[2016-02-09 08:45] #1922 closed

[2016-02-09 09:01] jorisberkhout commented on #1997
I cannot reproduce it either. Closing.

[2016-02-09 09:01] #1997 closed

[2016-02-09 09:04] #2031 closed

[2016-02-09 09:13] AlexanderWirtz commented on #1991
Removing milestone as remaining points are not deploy critical.

[2016-02-09 09:17] dennisschoenmakers commented on #1991
Just to be clear: We will add this preset **after** the deploy when we receive updated figures. @jorisberkhout

[2016-02-09 09:21] #2032 closed

[2016-02-09 09:30] AlexanderWirtz commented on #1991
I have added 2013 CO2 emissions as if they were 1990, as there is no data on actual 1990 emissions.

[2016-02-09 09:41] AlexanderWirtz opened #2043 "Should we move the P2H water heater slider to Flexibility options"
This issue is not deploy critical, but a big nice to have for me.

In retrospect I am not very happy with the choice to put the `households_flexibility_p2h_electricity_market_penetration` slider in the HH hot_water slide for the following reasons:

1. This slider does precisely nothing until the user has made some choices under 'Flexibility options'. This is confusing and counter-intuitive to the

[2016-02-09 10:18] RobTerwel commented on #1991
I added one 'to do' to the list: the `number_of_cars` AREA attribute. It is automatically scaled to 519 now, but that number should be corrected to its actual value.

[2016-02-09 10:37] #2040 closed

[2016-02-09 10:41] jorisberkhout commented on #2041
Assigning @grdw .

[2016-02-09 10:42] jorisberkhout commented on #2042
Assigning @grdw .

[2016-02-09 10:47] RobTerwel commented on #2043
I agree with all points, @AlexanderWirtz .

[2016-02-09 10:48] jorisberkhout commented on #2038
Closed with #1069 .

[2016-02-09 10:48] #2038 closed

[2016-02-09 11:00] jorisberkhout opened #2045 "Losses in storage are not calculated correctly"

[2016-02-09 11:05] grdw commented on #2041
Fixed by: https://github.com/quintel/etmodel/commit/7c6fb70d09585ddf016bb2de708cdaceeb36cd1c

[2016-02-09 11:05] #2041 closed

[2016-02-09 11:06] dennisschoenmakers opened #2047 "Flexibility chart horizontal axis disappears and animates between 0 and infinity?"
When you start a new scenario for NL and pull a slider in Flexability:

![feb 09 2016 12 03](https://cloud.githubusercontent.com/assets/104830/12914549/29270ad8-cf25-11e5-841f-f68bbcb8b692.gif)

![feb 09 2016 12 05](https://cloud.githubusercontent.com/assets/104830/12914609/8c5dc150-cf25-11e5-883a-f878cb21a30b.gif)

[2016-02-09 11:10] jorisberkhout commented on #2043
John agrees on moving the slider to the 'Power to heat' slide and so do I. I will move it and rephrase the texts.

[2016-02-09 11:19] jorisberkhout commented on #2043
Done. Closing.

[2016-02-09 11:19] #2043 closed

[2016-02-09 11:20] ChaelKruip opened #2048 "Merit table should show position of plants in merit order"
![energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_](https://cloud.githubusercontent.com/assets/1303760/12914904/73f45a1e-cf27-11e5-911e-a6c6aa1daf78.png)

The module is 'on' but the numbers don't show up...

[2016-02-09 11:21] jorisberkhout commented on #2047
Assigning @grdw to look into this.

[2016-02-09 11:22] grdw commented on #2042
![screen shot 2016-02-09 at 12 22 19 pm](https://cloud.githubusercontent.com/assets/2676542/12914951/c7ef7b26-cf27-11e5-8894-d1e7db0de397.png)

You can edit it directly in the admin panel :smile:
But I'll change it.

[2016-02-09 12:24] jorisberkhout commented on #1972
Closing this issue as everyone seems to like the current positions and orders of the slides

[2016-02-09 12:24] #1972 closed

[2016-02-09 12:33] jorisberkhout commented on #1966
As our original approach proved a lot harder than expected, we decided to go for an alternative solution. The hydrogen that is produced by the P2G plants will be used in the transport sector. This implementation will follow the following rules:

- the hydrogen from the P2G plants can only be used by hydrogen cars
- if hydrogen cars demand more hydrogen than produced by P2G, the remainder will be s

[2016-02-09 12:34] #2042 closed

[2016-02-09 13:24] grdw commented on #2047
I can confirm this but I'm having a hard time finding where this happens in the code. My guess is that this has something to do with D3 rendering. It's a bit hard to find because the elements get removed from the dom after they animate away... :sweat_smile:

[2016-02-09 13:52] grdw commented on #1935
I agree also. I'm going to close this issue. :+1:

[2016-02-09 13:52] #1935 closed

[2016-02-09 13:58] grdw commented on #1854
I know why this is. It's because it doesn't scale.

In order to do this nicely and for the other static tables aswell, we could give every [static table](https://github.com/quintel/etmodel/tree/master/app/views/output_elements/tables) an extra `data-attribute` called `scaledown` which determines if it takes part in [scaling down](https://github.com/quintel/etmodel/blob/master/app/assets/javascript

[2016-02-09 14:07] RobTerwel opened #2049 "Import/Export dashboard chart: should heat be there and should we include H2?"
![screen shot 2016-02-09 at 14 53 49](https://cloud.githubusercontent.com/assets/14106387/12918080/5b9974de-cf3d-11e5-843c-7261f3053cb4.png)

In the `net foreign imports` dashboard chart we currently display various carriers including `heat`. Since we do not have an `energy_export_heat` node anymore, is there still a reason for it to be included here?

Secondly, as discussed in https://github.com/

[2016-02-09 14:25] grdw commented on #1854
.. to continue. Also the static tables "don't know" about the units in the headers which is what makes the scaling a little tougher.

[2016-02-09 14:32] dennisschoenmakers commented on #2047
Also I note there is a fundamental difference between for example the [supply chart](http://beta.pro.et-model.com/scenario/supply/electricity/coal-plants) and the new [flexability charts](http://beta.pro.et-model.com/scenario/flexibility/electricity_storage/storage-in-batteries). The latter gets **redrawn** with every slider move, which is super annoying. The former animated between the old state

[2016-02-09 14:39] grdw commented on #2047
Nevermind, I know where this comes from. :sweat_smile: Moment please.

[2016-02-09 14:46] #2047 closed

[2016-02-09 14:47] grdw commented on #2047
@dennisschoenmakers Right know it does happen the first time though but not when you drag a slider.

[2016-02-09 14:53] grdw opened #2051 "Charts look 'broken' when they're empty"
![screen shot 2016-02-09 at 3 50 15 pm](https://cloud.githubusercontent.com/assets/2676542/12919567/fd9f3c30-cf44-11e5-94e6-0fe973a559ca.png)

I think it would be more clear for users if there's an explanation why there's nothing here and display a 0 at the y-axis.

@jorisberkhout should I assign myself? :angel:

[2016-02-09 14:54] jorisberkhout opened #2052 "Add position in flexibility order to the 'Flexibility options' table"
As discussed in https://github.com/quintel/etmodel/issues/2026.

[2016-02-09 14:56] jorisberkhout commented on #2026
@AlexanderWirtz , given the way these tables are generated, I foresee issue when we try to add the position of technologies in the flexibility order to the table. I like the idea very much and have created a separate issue ( #2052 ).

[2016-02-09 15:06] dennisschoenmakers opened #2053 "When I build more batteries, I can store LESS(!) excess electricity?"
I don't get this one:

## 0% batteries: total of 113.8 PJ of excess electricity stored

![image](https://cloud.githubusercontent.com/assets/104830/12919949/b3bd9b1e-cf46-11e5-93bd-d94965180773.png)

## 100% batteries: total of 88.8 PJ of excess electricity stored

![image](https://cloud.githubusercontent.com/assets/104830/12919955/bd55f176-cf46-11e5-9396-af6d03082437.png)

[2016-02-09 15:17] #1966 closed

[2016-02-09 15:18] ChaelKruip commented on #2053
@dennisschoenmakers In your examples, the main contributing categories are Export and Curtailment :smile:

In your first example, 0 PJ is stored, in the second, 1.6247 PJ.

[2016-02-09 15:19] ChaelKruip commented on #2053
I agree, however, that you would expect the total to be the same!

[2016-02-09 15:20] dennisschoenmakers commented on #2053
In the other slides, they do (more or less)

[2016-02-09 17:36] jorisberkhout commented on #2045
Closed with https://github.com/quintel/etsource/commit/6169a65ab0dbdeab06612ce2bdb47a030e1d1545.

[2016-02-09 17:36] #2045 closed

[2016-02-10 08:09] #2026 closed

[2016-02-10 08:19] jorisberkhout commented on #2017
Reopening this. On Beta, the merit order is not switched on for the default scenario for NL. It is for all other datasets.

[2016-02-10 08:35] RobTerwel opened #2055 "BR buildings has max intelligent control light sliders while having 0 final demand for light"
![screen shot 2016-02-10 at 09 28 58](https://cloud.githubusercontent.com/assets/14106387/12942149/f669c0ea-cfd8-11e5-9860-933e1ad32519.png)

I confirmed with the EB that the buildings section has 0 PJ final demand for light. However, the way the lighting shares are defined now this actually sets the intelligent control sliders at their max. value. This is somewhat counterintuitive and I suggest w

[2016-02-10 08:50] jorisberkhout commented on #2017
Never mind, I can't reproduce this and nor can @dennisschoenmakers . Closing this issue :blush:

[2016-02-10 08:50] #2017 closed

[2016-02-10 08:54] jorisberkhout opened #2056 "Make flexibility feature available for all countries"
- [ ] add `- has_electricity_storage = true` to all datasets
- [ ] add a comment to the known issues list, that currently all countries use the Dutch interconnector capacity

[2016-02-10 08:54] antw commented on #2017
I could at the time you posted your comment, but can't now nor can I reproduce it locally. I made a small change to ETEngine anyway, just to be 100% sure that "merit order off" doesn't persist after the graph optimisation step.

[2016-02-10 09:19] ChaelKruip commented on #2049
I think heat is not used for import or export so I'd be open to replacing it with hydrogen in this chart.

[2016-02-10 09:27] jorisberkhout opened #2057 "LOLE dashboard item should take electricity from P2P into account (if available)"
Before we included P2P (batteries and EV) in the ETM, the loss of load expectation (LOLE) was more of a statistical property. The LOLE calculation, of which the result is shown as a dashboard item, would:

1. Take the demand profile, scaled by the actual electricity demand
2. Subtract any electricity production by wind turbines, solar panels and hydro river from it (if available)
3. Compare the re

[2016-02-10 09:37] jorisberkhout opened #2058 "Add a dashboard item to show the number of blackout hours"
As discussed in https://github.com/quintel/merit/issues/133#issuecomment-181413019, limiting the import capacity, could result in a situation where there is simply not enough electricity in the graph to meet the demand. In real life this would result in blackouts. I think this is very valuable information to communicate to the user, as it is much easier to understand blackouts than LOLE (see a.o.

[2016-02-10 09:40] jorisberkhout commented on #1868
Closing this as most item have been implemented. Any remaining actionable items are logged in separate issues.

[2016-02-10 09:40] #1868 closed

[2016-02-10 09:42] jorisberkhout commented on #2049
Agree, could you implement this, @RobTerwel ?

[2016-02-10 09:43] RobTerwel commented on #2049
I'm on it!

[2016-02-10 10:10] #2049 closed

[2016-02-10 10:38] jorisberkhout commented on #2056
Closed with quintel/etsource@c7b545a796542c657ff65493a8bd7bcd5518f89d and quintel/etcentral@1f4794c2bb739635566615aa49681bd8d6a3a165.

[2016-02-10 10:38] #2056 closed

[2016-02-10 10:50] RobTerwel opened #2060 "Having changed dashboard items, scaling a scenario gives back the original items"
If you change which dashboard items are displayed and scale that scenario, the original dashboard items are displayed again (clean NL 2013 scenario).

Dashboard, pre-scaling
![screen shot 2016-02-10 at 11 48 33](https://cloud.githubusercontent.com/assets/14106387/12945230/599acc78-cfec-11e5-81da-b4de937ca4a7.png)

Dashboard post-scaling
![screen shot 2016-02-10 at 11 49 01](https://cloud.githubuse

[2016-02-10 10:55] RobTerwel opened #2061 "When scaling a scenario and excluding sectors, associated charts should not be available"
After scaling a clean NL 2013 scenario and excluding certain sectors, it is still possible to select charts about those sectors.

For instance, when excluding the industry sector in scaling, it shouldn't be possible to afterwards display industry related charts since they should be void:![screen shot 2016-02-10 at 11 51 28](https://cloud.githubusercontent.com/assets/14106387/12945293/d577d9d0-cfec

[2016-02-10 11:00] RobTerwel opened #2062 "Climate slider max_value and step_size should not scale with scenario"
After scaling a clean 2013 NL scenario to 10000 inhabitants, I see the following:

![screen shot 2016-02-10 at 11 57 36](https://cloud.githubusercontent.com/assets/14106387/12945423/8ef9f122-cfed-11e5-8176-f48d8a708f99.png)

The climate slider now has a 0.0001 `step_size` and `max_value` of 0.0067 degrees Celsius. This slider's range and `step_size` shouldn't scale with the scenario.

Re-assign at

[2016-02-10 11:01] jorisberkhout commented on #2055
Well spotted and I agree with you conclusions, @RobTerwel . As it's not broken, let's pick this up after the deploy.

[2016-02-10 11:02] jorisberkhout commented on #2060
@antw , any idea why this is happening?

[2016-02-10 11:03] jorisberkhout commented on #2062
Assigning @antw .

[2016-02-10 11:03] jorisberkhout commented on #2061
Assigning @antw . Not deploy critical, so removing the milestone.

[2016-02-10 11:13] RobTerwel opened #2063 "Domestic aviation UD slider absent in a scaled scenario while DA efficiency slider is present"
As noted by @dennisschoenmakers in https://github.com/quintel/etmodel/issues/2009 as well, the domestic aviation UD slider does not appear in a scaled scenario.

![screen shot 2016-02-10 at 12 05 33](https://cloud.githubusercontent.com/assets/14106387/12945600/dc6186a4-cfee-11e5-925c-6fa165a945e9.png)

The efficiency slider, however, is present:

![screen shot 2016-02-10 at 12 05 41](https://cloud

[2016-02-10 11:19] RobTerwel commented on #2062
@jorisberkhout  and @antw , same holds true for the P2G slider:

![screen shot 2016-02-10 at 12 17 52](https://cloud.githubusercontent.com/assets/14106387/12945843/77347852-cff0-11e5-9b27-ba922c6bc9be.png)

[2016-02-10 11:23] antw commented on #2060
It happens whenever you start a new scenario. Scaling works by creating a new scenario, copied from your current one, and scaling it.

I think the fix should be to preserve the user's choice of dashboard items whenever you start *any* new scenario, not just a scaled one. Would that be acceptable?

[2016-02-10 11:59] #2062 closed

[2016-02-10 12:34] RobTerwel opened #2064 "Scaling a scenario without energy sector should not show associated sidebar items and slides"
Related to https://github.com/quintel/etmodel/issues/2061, if one scales a clean NL 2013 scenario and _excludes_ the energy sector, supply and cost sidebar items of that sector still appear. In addition, sliders all do too, but they are scaled and set to zero. However, since the sector itself has been removed, these sliders don't have any effect:

![screen shot 2016-02-10 at 13 27 33](https://clou

[2016-02-10 12:43] #2060 closed

[2016-02-10 12:46] jorisberkhout commented on #2064
Thanks for this, @RobTerwel . It agree with your suggestion to make an inventory of which sidebar items, slides, sliders and chart do not need to be shown for a scaled scenario. This includes the ones you mentioned in https://github.com/quintel/etmodel/issues/2063 and https://github.com/quintel/etmodel/issues/2061. Let's do this after the deploy.

[2016-02-10 12:46] jorisberkhout commented on #2063
Let's pick this up after the deploy. See also https://github.com/quintel/etmodel/issues/2064.

[2016-02-10 12:58] jorisberkhout opened #2065 "Flexibility order selector gets stuck when you lock a chart"
I noticed that the flexibility order selector gets stuck at times; I suspect this has to do with the fact that I lock a chart. Here's what you need to do to reproduce this:

1. Open a new scenario
2. Lock any chart (e.g. the first one you see `Useful demand in residences`)
3. Go to `Flexibility -> flexibility options`

The flexibility options selector is stuck. This doesn't happen if you skip step

[2016-02-10 13:01] ChaelKruip commented on #2058
I like it!

[2016-02-10 13:02] jorisberkhout commented on #2065
BTW, I'm noticing this on Chrome version 48.0.2564.103 (64-bit).

[2016-02-10 13:09] jorisberkhout opened #2066 "There should be more space underneath the 'Flexibility options' table"
If I add a table underneath the `Flexibility options` table, there is no space between the bottom of the table and the header of the next chart.

<img width="615" alt="screen shot 2016-02-10 at 14 06 55" src="https://cloud.githubusercontent.com/assets/4669028/12948036/d2a577f4-cfff-11e5-876d-a0fe9e7fdb5c.png">

[2016-02-10 13:10] RobTerwel opened #2067 "Targets, once set, cannot be removed (not by resetting slider)"
Once you've set targets, you cannot remove them. Resetting the target sliders will simply change the target to its `start_value`, not remove the target _itself_.

![screen shot 2016-02-10 at 14 06 27](https://cloud.githubusercontent.com/assets/14106387/12948016/c1f9eef8-cfff-11e5-9582-46dbc2a49849.png)

The target sliders in the rectangular red box have been reset and are now seen as targets that

[2016-02-10 13:15] grdw commented on #2066
Has this something to do with resolution?

This is on a 'wide' screen:

![screen shot 2016-02-10 at 2 14 49 pm](https://cloud.githubusercontent.com/assets/2676542/12948174/afa3fe5a-d000-11e5-9e4c-56b8e0714f1c.png)

This is when I make it smaller:

![screen shot 2016-02-10 at 2 14 55 pm](https://cloud.githubusercontent.com/assets/2676542/12948175/afc3f976-d000-11e5-8b98-a3f24e309c84.png)

[2016-02-10 13:20] jorisberkhout commented on #2066
I think it has to do with the custom HTML tables, because I now see the same for e.g. the Investment table. If the custom table becomes larger than a specific size, there is no space between the top and bottom chart. Not deploy critical, let's pick this up as part of https://github.com/quintel/etmodel/issues/2015.

[2016-02-10 13:36] RobTerwel opened #2068 "Total costs of electricity production chart remembers ticked boxes too well"
When selecting which plants are displayed in the total costs of electricity production chart in a NL scenario (MO:on) ánd logged in as a user, the chart remembers which boxes you've ticked in such a way that resetting your scenario or starting a new does does not show you the boxes that were selected in a clean scenario.

To make this a bit more concrete, I made sure I only saw one nuclear power p

[2016-02-10 13:36] jorisberkhout commented on #2068
Not critical for deploy.

[2016-02-10 14:25] RobTerwel opened #2069 "Scaling page (/scaled) should receive Dutch translations"
![screen shot 2016-02-10 at 15 21 19](https://cloud.githubusercontent.com/assets/14106387/12949853/7cec5912-d00a-11e5-8d7c-65265c0dce46.png)

And the `show graph` option in settings as well.

Re-assign at will.

[2016-02-10 14:27] jorisberkhout commented on #2069
Good point, not deploy critical.

[2016-02-10 14:56] dennisschoenmakers commented on #2058
Very good idea!

[2016-02-10 15:09] ChaelKruip opened #2070 "Excess electricity should be conserved independent of the storage options selected"
Starting with a new scenario for NL 2050 and creating excess due to wind turbines (on-shore to 25,499) the flex-charts look as follows:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/12950936/1598f972-d010-11e5-95d5-59ccd92b8d31.png)
All excess is exported and curtailed.

Increasing the storage in

[2016-02-10 15:10] #2065 closed

[2016-02-10 15:11] ChaelKruip commented on #2053
Closing this issue as it is superseded by https://github.com/quintel/etmodel/issues/2070

[2016-02-10 15:11] #2053 closed

[2016-02-10 15:11] antw commented on #2070
It should be, yes. I'll take a look into this (and the Gqueries) and see what's going on.

[2016-02-10 15:16] RobTerwel opened #2071 "Destroying all households does not result in 0 useful demand for households"
![screen shot 2016-02-10 at 16 09 42](https://cloud.githubusercontent.com/assets/14106387/12951139/250817ac-d011-11e5-967f-49db876c05ea.png)

0 households should mean 0 useful demand for households, but that's not the case. This is probably an indication that `lighting`, `applicances`, `hot water` and `cooking` demand don't scale  *at all* with the `number_of_residences`.

Re-assign at will.

[2016-02-10 15:22] ChaelKruip commented on #2071
True. They scale with the population. This is a feature, not a bug :smile:

[2016-02-10 15:22] #2071 closed

[2016-02-10 15:29] RobTerwel commented on #2071
Ah, I see! That explains. :smile:

However, wouldn't it then be a good idea to develop a relation between `number_of_residences` and `number_of_inhabitants`? Because not only does it not make sense to have no houses but still 17 million people, but also does it lead to even more confusing situations like this one.

[2016-02-10 15:35] ChaelKruip commented on #2057
I see the following complication:

Merit currently calculates a production (positive part of the load) curve for P2P *if* Merit is enabled. In this case, the production curve could be subtracted from the demand as with wind, solar etc. to yield the residual demand curve which needs to be compared to the dispatchable capacity at each point.
The current LOLE calculation does not require a full run o

[2016-02-10 16:17] jorisberkhout commented on #2070
I checked if this has to do with the accounting of the losses in the conversion and storage technologies by locally making them all lossless, both for charging and discharging. This did not solve the issue, but made it smaller.

[2016-02-10 16:18] antw commented on #2070
I have fixed some queries locally to prevent double-counting P2P losses (I'll push them shortly) which has gone a long way toward solving the problem but there is still a small difference in my local scenario (~0.3%) between 0% batteries and 100% batteries.

[2016-02-10 16:23] jorisberkhout commented on #2070
@ChaelKruip just had a rather brilliant idea. If you store and/or convert more energy locally, less electricity flows through the HV-net converter to export and curtailment, resulting in lower losses on the HV-net, thus increasing the amount of excess electricity. Could that be the answer to the remaining 0.3% difference?

[2016-02-10 16:39] antw commented on #2070
Interestingly, in my scenario, increasing batteries to 100% reduces the amount of excess electricity by ~1PJ, which is almost the exact same amount by which HV network losses decrease.

I'll push the updated queries, but I'm still tracking down two other (likely unrelated) issues.

[2016-02-10 20:58] #2070 closed

[2016-02-11 09:37] #2048 closed

[2016-02-11 11:21] RobTerwel opened #2073 "Electricity production chart (99) should also display imported electricity"
![screen shot 2016-02-11 at 12 15 41](https://cloud.githubusercontent.com/assets/14106387/12975104/5d06f45e-d0b9-11e5-94a9-f3222ede1622.png)

The electricity production chart displays electricity demand, but does not display imports. The latter are very relevant, however, in scenario's with a significant volatile electricity production.

Re-assign at will.

[2016-02-11 13:05] jorisberkhout commented on #2066
Linked to https://github.com/quintel/etmodel/issues/2015.

[2016-02-11 13:05] jorisberkhout commented on #2052
Linked to https://github.com/quintel/etmodel/issues/2015.

[2016-02-11 16:19] jorisberkhout commented on #2067
Removed milestone.

[2016-02-12 10:51] jorisberkhout commented on #2015
Assigning @grdw (also for all linked issues). This has very low priority though.

[2016-02-12 11:03] jorisberkhout commented on #2069
I would be happy to this, if someone could point out to me where I can add / change these translations. Do you know, @antw or @grdw ?

[2016-02-12 11:03] jorisberkhout commented on #2068
Assigning @grdw. Low priority.

[2016-02-12 11:04] jorisberkhout commented on #2064
Assigning @ChaelKruip as he knows more about scaling. Re-assign if you want me to pick this up.

[2016-02-12 11:04] jorisberkhout commented on #2063
Assigning @ChaelKruip as he knows more about scaling. Re-assign if you want me to pick this up.

[2016-02-12 11:07] grdw commented on #2069
The texts are [here](https://github.com/quintel/etmodel/blob/master/app/views/pages/scaled.html.haml) and [here](https://github.com/quintel/etmodel/blob/master/app/views/pages/_scaled_common.html.haml). I see that some texts are still statically set and others are in the translations files. One moment while I try to find them or would this be enough information?

[2016-02-12 11:07] antw commented on #2069
The scaled scenario translations [are here](https://github.com/quintel/etmodel/blob/bdd700dc220f3bb3f6a3b70846d26c6a7ae74586/config/locales/nl_etm.yml#L115-L120).

The NL "Show graph" translation is missing. It needs to be added to [the nl_etm.yml file, under the `header` section](https://github.com/quintel/etmodel/blob/bdd700dc220f3bb3f6a3b70846d26c6a7ae74586/config/locales/nl_etm.yml#L60).

[cod

[2016-02-12 11:08] jorisberkhout commented on #2051
Yes, good idea!

[2016-02-12 11:08] jorisberkhout commented on #2004
Assigning @RobTerwel .

[2016-02-12 11:10] grdw commented on #2069
I removed mine. It just pointed out in which views to look. I'm guessing your comment makes a bit more sense.

[2016-02-12 11:10] jorisberkhout commented on #2067
Assigning @antw . Low priority.

[2016-02-12 11:12] jorisberkhout commented on #2069
Thanks guys!

[2016-02-12 12:50] #2069 closed

[2016-02-12 13:48] jorisberkhout commented on #2055
I agree wth this. In other words, if a node has two shares of which one is `share` and the other `flexible` and no energy flows through that node the `share` is set to `100 %` and the flexible to `0 %`. It feels to me like we shouldn't want to change this or make an exception just to solve this issue.

I think the better solution would be to have a look the amount of electricity for lighting in bu

[2016-02-22 11:01] AlexanderWirtz opened #2075 "What do 'Load data' and 'Price data' buttons mean on 'Merit order' page?"
I think I know, but these buttons are included without any explanation. Actually I do not know what `Load data` is for. What are we loading?

![image](https://cloud.githubusercontent.com/assets/308563/13216408/daa9e8e4-d95b-11e5-82c5-b27ea14a9d75.png)

I realise I am being difficult. Assigning to @ChaelKruip

[2016-02-24 15:25] dennisschoenmakers commented on #2057
Could we say: "the LOLE calculation is more accurate with respect to P2P when Merit is turned on"?

[2016-02-24 15:33] ChaelKruip commented on #2057
That would be misleading. Currently, the Merit module does not use the effects of P2P on the LOLE whether is is 'on' or 'off'.

[2016-02-24 15:44] dennisschoenmakers commented on #2057
:grinning: Well, not now: I was talking about that hypothetical situation.

[2016-02-25 13:57] ChaelKruip opened #2076 "Merit order prices should not contain 'infinity'"
Downloading prices with standard scenario gives a CSV containing "infinity" on most lines:

![price_282810_csv](https://cloud.githubusercontent.com/assets/1303760/13321554/faa4aef6-dbcf-11e5-8022-696729a78976.png)

[2016-02-26 16:24] AlexanderWirtz opened #2077 "The IABR 2035 scenario shouldn't export solid biomass and waste"
The new and improved primary demand mekko chart has left me a bit confused:
I see export of waste, solid biomass and the like and assume this is because the scenario exports YUUGE amounts of electricity. Somehow that won't make sense to people scrutinizing this scenario, however, as the power exported is wind power, i.e. excess production from wind turbines at times when there is insufficient dema

[2016-02-26 16:25] AlexanderWirtz commented on #2077
p.s. feel the bern

[2016-02-29 09:02] ChaelKruip commented on #2077
You are correct!

I always thought that it was a statistical choice rather than a shortcoming to use the annual national mix to quantify the exported mix.

[2016-03-01 10:15] AlexanderWirtz opened #2078 "Slider cap for P2G should be higher still"
I propose something in the order of 5000 - 10000

1000 is quite a small installed capacity of 740 MW (against planned wind capacity of 10.5 GW in 2023.

@jorisberkhout @ChaelKruip @RobTerwel lemme know what you think

[2016-03-01 10:20] RobTerwel commented on #2078
I fully agree with raising the max. possible installed capacity. If we hold on to the current implementation, 5000 - 10000 units gives a good order of magnitude in terms of output. Alternatively, we could increase the capacity of an individual unit (currently 0.4 MW output, while modules of a few MW already exist).

[2016-03-01 11:07] AlexanderWirtz commented on #2078
As Joris and I were discussing possible things for Joris to pick up, we thought of doing a bit more research on these units and involving Albert v/d Molen and GasUnie. One or two days might be available from the GasUnie budget, which is very much about the coupling of the electricity and gas systems.

[2016-03-01 11:07] AlexanderWirtz commented on #2078
also involving @dennisschoenmakers when he comes back, because this could affect how we spend the GasUnie time

[2016-03-01 13:49] grdw commented on #2076
Looks like there's somewhere in the code where `x > 0 / 0.0` is happening.

In irb:

[code]

[2016-03-07 10:02] jorisberkhout commented on #2078
The slider cap has been increased to `10,000` with https://github.com/quintel/etsource/commit/f0fb6964771f73d50f32e7af436f1114e6bca819. Leaving this issue open as some more research into this slider cap would be good

[2016-03-09 12:24] AlexanderWirtz opened #2079 "Transport demands behaving erratically on Live"
I am trying to make some quick adjustments to the Groningen regional scenarios and am finding the impact of efficiency sliders in the transport section to be somewhat erratic.

For example: http://pro.et-model.com/scenarios/277819

In the transport section I wanted to change the setting of the `transport_useful_demand_ships_efficiency` slider. I noticed it had no impact. Only the first time it is

[2016-03-09 12:41] RobTerwel commented on #2079
I looked into this: everything is fine when it comes to the inputs and calculations, but the problem lies with the gqueries for <a href="https://github.com/quintel/etsource/tree/master/gqueries/output_elements/output_series/bezier_23_use_of_final_demand_in_transport"a>Bezier 23 Use of Final Demand in Transport<a/>.

Efficiency sliders update the final demand of the individual vehicle technologies,

[2016-03-09 12:57] AlexanderWirtz commented on #2079
So @RobTerwel , has this mistake always existed?

[2016-03-09 13:24] RobTerwel commented on #2079
In short, yes, but because it was consistent with another mistake, it wasn't noticed earlier. In
https://github.com/quintel/etsource/pull/1025 we corrected and redefined some efficiency inputs; as a result, this mistake has become (more) noticeable.

[2016-03-09 13:34] AlexanderWirtz commented on #2079
quintel/etsource#1025 we corrected and redefined some efficiency inputs; as a result, this mistake has become (more) noticeable.

So the 'other' mistake will need correcting. Is there an issue for this?

[2016-03-09 13:40] RobTerwel commented on #2079
Sorry, my post might not have been fully clear - the 'first' issue has already been solved in https://github.com/quintel/etsource/pull/1025 . The second and 'other' mistake is the one we are discussing here - incorrect gqueries. Would you like me to create a separate issue for it?

[2016-03-09 15:33] dennisquintel opened #2080 "Slider maximums (and sometimes also minimums) should be more dynamic"
Problems now:
- sometimes slider ranges have been set so wide, that imputing a normal number is just ridiculously difficult
- sometimes slider ranges are too low and do not allow your value

[2016-03-10 10:09] ChaelKruip commented on #2080
One of the ideas I like (courtesy of @dennisschoenmakers) is to allow the user to drag some sliders beyond their current range:
![img_5157_jpg](https://cloud.githubusercontent.com/assets/1303760/13666180/78dec47e-e6b0-11e5-9605-0fb024dca43d.png)

This would provide a lot of flexibility without having to change the look and feel of the current interface.

[2016-03-15 10:18] ChaelKruip commented on #2079
@RobTerwel are you able to pick this up with low-priority as you are already sufficiently on top of this?

[2016-03-15 10:19] RobTerwel commented on #2079
Yes, sir!

[2016-03-15 16:15] #2079 closed

[2016-03-17 16:33] jorisberkhout opened #2081 "Add chart showing the hourly electricity supply and demand"
#### Introduction

In order to give the user of the ETM more insight into the merit order calculation, we want to add a chart showing the hourly electricity supply per technology and hourly demand curve. This would make it possible to study how the electricity production varies over the year and to determine when there is excess electricity. This chart should not show the profiles for the flexibil

[2016-03-17 16:47] jorisberkhout opened #2082 "Add a chart showing the hourly consumption and supply of flexibility technologies"
#### Introduction

As described in more details in https://github.com/quintel/etmodel/issues/2081, we would like to give the user of the ETM more insight into the results of the merit order calculation. The chart proposed in https://github.com/quintel/etmodel/issues/2081 deals with the hourly production and demand of electricity. I think it would be counter-intuitive to als show the consumption an

[2016-03-17 16:51] jorisberkhout opened #2083 "Add a chart showing the hourly price data from merit"
#### Introduction

As described in more detail in #2081, we would like to give the user of the ETM more insight into the results of the merit order calculation. The hourly price curve contains very valuable information and deserves a separate chart.

#### Proposed implementation

- The price curve is readily available in ETEngine.
- It should be possible to switch between a view for the entire yea

[2016-03-17 17:20] jorisberkhout opened #2084 "Add a table with statistical data on number and duration of excess electricity events"
As the charts that are described in #2081 and #2082 are potentially difficult to interpret, we would like to add a table with some key parameters about the number of times there is excess electricity and the duration of the excess events. I would suggest to keep this table very simple to start with the number of events with a minimum duration of 1, 2, 4, and 8 hours.

| minimum duration (h) | # of

[2016-03-21 14:15] jorisberkhout opened #2085 "What should the reset button next to each slider do?"
This issue a continuation of the discussion in https://github.com/quintel/etsource/issues/1092. That issue consisted of two separate issues, one of a technical nature, which has been solved, and a more fundamental one, which is the subject of this issue.

The fundamental question is, what should the reset button next to each slider do? Should it:
1. reset the slider to the value in the relevant da

[2016-03-21 14:22] antw commented on #2085
Both are valid, but I think the second option is what most visitors would expect, especially when using a preset. I have no strong preference either way.

[2016-03-21 15:00] dennisschoenmakers commented on #2085
Agree with @antw!

[2016-03-21 15:04] ChaelKruip commented on #2085
Me too!

[2016-03-21 16:15] jorisberkhout commented on #2085
I believe @AlexanderWirtz agrees with the second option as well.

@antw , when you have some time, could you give an estimate of how much time it would take to implement this? No priority.

[2016-03-21 16:35] jorisberkhout commented on #2021
Good point, @grdw . I now found out that you actually search the ETM Library with this search box. Perhaps the text needs to be changed from `Search` to `Search ETM Library`. What do you think about this change, @dennisschoenmakers , @AlexanderWirtz and @ChaelKruip ?

[2016-03-21 16:39] AlexanderWirtz commented on #2021
Good point. Does it at least point to refman2?

[2016-03-21 21:41] dennisschoenmakers commented on #2021
It used to search in the scope of etmodel **and** refman. I would be in favor of reducing that to *only* etmodel: less is more.

[2016-03-21 21:43] dennisschoenmakers commented on #2085
I've hear about high and low priority before. Now, we have an escape! :smile:

[2016-03-22 08:14] jorisberkhout commented on #2021
Really? If you use the search bar now, you get redirected to refman.energytransitionmodel.com and the term you searched for is copied to the search box in the Refman.

I like that idea. Can I assign this to you @dennisschoenmakers (this issue was assigned to me during the  February deploy). Re-assign at will.

[2016-03-22 12:01] dennisschoenmakers commented on #2021
Now I remember: we had a full text search using ElasticSearch, but since it crashed too often, we got rid of it, and choose the current (poor man's) solution.

[2016-03-31 07:36] dennisschoenmakers opened #2088 "Show graph is not always available in the menu"
When you open a new scenario, the menu item 'show graph' is missing. You only have this when you created a new scenario, not when you loaded an existing scenario, or when you hit refresh after loading a new scenario.

The problem seems to be in the `api_session_id` [not being present] when the page is first loaded on a new scenario:
(https://github.com/quintel/etmodel/blob/master/app/views/layouts

[2016-04-12 15:47] jorisberkhout opened #2089 "Add instructions / how-to to scaling interface"
As noticed by @MarjoleinSchwachofer , the scaling interface lacks instructions on what it is for and how to use it. I agree and think that we should add a short text explaining this and include a link to the ETMoses wiki for those who want to read more.

As suggested by @ChaelKruip , we could you the blank space surrounding the scaling interface for this. I created the following mock-up without wo

[2016-04-12 15:49] jorisberkhout commented on #2089
Part of https://github.com/quintel/etmoses/issues/893.

[2016-04-12 16:09] jorisberkhout opened #2090 "Make it more explicit that a LES created from the ETM opens in ETMoses"
As suggested by @MarjoleinSchwachofer , it could be made more explicit that a LES that is created from the ETM opens in ETMoses.

I would suggest to replace the text in the red box below by `Save and create a local energy solution (opens in ETMoses)`. What do you think @MarjoleinSchwachofer , @dennisschoenmakers , @AlexanderWirtz , @antw and @ChaelKruip ?

<img width="243" alt="screen shot 2016-04