[2017-07-11 07:56] grdw opened #2433 "Rename '#<scenario-id>' to 'Link to scenario' or something a little less technical"
![screen shot 2017-07-11 at 09 41 14](https://user-images.githubusercontent.com/2676542/28056391-1aee7eb6-661d-11e7-8da8-79ef7149f89a.png)

The id in the header looks odd to me. It's something that doesn't really 'add that much' to the report. The link to the scenario does however! Maybe the link could be renamed from '#543543' (or any random id) to 'Link to scenario'?

[2017-07-11 08:13] grdw commented on #2432
Was just about to say this. I don't like them at all, click them away.

![idea](https://user-images.githubusercontent.com/2676542/28057687-096801fe-6621-11e7-9ba7-9f6eb8762594.png)

Can we turn that round red button to a square blue'ish button and move it to the left. I mean, that's where most of the clicking happens anyway. Whenever you change some slider you could light it up a little maybe? At

[2017-07-11 09:46] ChaelKruip opened #2434 "OVERVIEW: Network cost calculation improvements"
# Background

The network impact/cost calculation has been implemented a long time ago and many things have happened that reduce its consistency and accuracy. A short summary:

## Initial implementation
* Based on rules of thumb from TenneT and Alliander for the spare capacity on different parts of the network:
  * HV network
  * HV-MV trafo
  * MV transport network
  * MV distribution network
  *

[2017-07-11 10:21] antw commented on #2433
The intention was for it to be a full link to the scenario (not just the ID) and visible only in the print version. There was also going to be a "Share" option in the header to get a perma-link to the scenario and report. Dropped that due to time. 😞

Perhaps we might add a short "Share this scenario" section underneath "At a glance..."?

[2017-07-11 10:33] antw commented on #2432
Agreed that it should be on the left. I'm not sure the report itself it _so_ useful as to be the top-most item in the sidebar. I expect that people might want to view the report after they've set up their scenario.

I think my personal preference might be for it to be a normal sidebar item / slide:

<img width="687" alt="screen shot 2017-07-11 at 11 30 52" src="https://user-images.githubuserconten

[2017-07-11 11:44] jorisberkhout opened #2435 "Several `final_demand_group` converters not shown in Final energy demand mekko"
I noticed that the following nodes are in the `final_demand_group` converter group, but are not shown in the _Final energy demand_ mekko:

- `energy_power_sector_own_use_electricity`
- `energy_cokesoven_consumption_coal_gas`
- `energy_export_coal_gas`
- `energy_heat_network_unused_steam_hot_water`

This explains the difference between the total of the mekko and the sum of the demands of all nodes

[2017-07-11 17:58] ChaelKruip commented on #2435
Fixed by adding the energy sector to the mekko:
<img width="643" alt="energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_" src="https://user-images.githubusercontent.com/1303760/28082649-59f7eb46-6673-11e7-9018-0c45f30b5487.png">

[2017-07-11 17:58] #2435 closed

[2017-07-11 18:03] ChaelKruip commented on #2433
I think we can pick this up as part of a bigger improvement project. I have all kinds of ideas how take the report even further on the coolness scale 😄

[2017-07-11 18:07] ChaelKruip commented on #2432
I like that as well.

Perhaps we could draw some attention to it by making it 'glow' or add a 'call out' whenever a user has touched > 10 sliders or so. "Hey, you have spend quite some effort making a detailed scenario... would you like to get more feedback/an analysis/a report?"

[2017-07-13 09:01] ChaelKruip commented on #2434
Also see https://github.com/quintel/etsource/pull/1293#issuecomment-314054130

[2017-07-13 12:56] ChaelKruip opened #2436 "Network calculation: discrepancy between distributions and node attributes"
There seems to be inconsistencies between the fraction of the total capacity represented by the node attribute `network_capacity_available_in_mw` and the fraction of available capacity as described by the distributions shown below:
![20170713_distributions_v01](https://user-images.githubusercontent.com/1303760/28167278-5881c71e-67db-11e7-98b8-ef465ee25ec5.png)

The discrepancy is largest for the H

[2017-07-17 14:44] ChaelKruip opened #2437 "Dutch translation of scenario report needs some TLC"
Mostly typos and ugly sentences.

The file lives [here](https://github.com/quintel/etmodel/blob/master/config/reports/main.nl.liquid)

[2017-07-18 10:09] ChaelKruip commented on #2272
@jorisberkhout what do you think would be a good way forward for this issue?

[2017-07-18 12:39] jorisberkhout commented on #2272
See the separate e-mail that I just sent you. Let's discuss that first and then decide how to proceed with this issue.

[2017-07-18 15:37] ChaelKruip opened #2438 "P2H in chemical industry"
Would this be a viable place for a P2H node @antw?

![https___beta-engine_energytransitionmodel_com_data_698278_layout](https://user-images.githubusercontent.com/1303760/28325925-86a46b8a-6bdf-11e7-98df-839c478cdf04.png)

Or should we do something similar to households?

![https___beta-engine_energytransitionmodel_com_data_698278_layout](https://user-images.githubusercontent.com/1303760/28325995-b

[2017-07-19 15:29] antw commented on #2438
Correct me if I'm wrong, but I *think* we need a new node inserted between the left-most useful demand node and the existing producers. Then P2H can be connected to the left-most node with a `dependent` link, and the other new node with a `flexible`; the flexible will "fill-in" for whatever energy isn't provided by P2H.

[code]

... becomes ...

[code]

![screen shot 2017-07-19 at 16 26 15](https:

[2017-07-20 08:26] ChaelKruip opened #2439 "Option to record slider settings relative to base year values for featured scenario's"
When loading Urgenda (100% renewable) it now shows no slider changes...

[2017-07-21 07:53] DorinevanderVlies commented on #2439
This seems to be the case for all saved scenario's. Only the sliders that have been changed since opening a scenario are shown in the report.

IMO it would be more informative to show all sliders that differ from the original dataset.

[2017-07-21 08:13] DorinevanderVlies opened #2441 "Scenario's with no power plants have empty charts in the scenario report"
In some local scenario's and perhaps extreme national scenario's there are no power plants present. ([example](https://beta-pro.energytransitionmodel.com/scenarios/700023))

In the scenario report this results in empty charts in the "Profitability of power plants" and, as there are no plants with marginal costs, the "Merit order and fuel prices" sections.

### Proposal
If no plants with marginal c

[2017-07-21 11:56] ChaelKruip opened #2442 "Hiding/showing goals/targets section doesn't work properly"
The target section does not seem to show up now (even if targets have been set) ...

[2017-07-21 14:56] antw commented on #2442
Well, no. [You can't use GQL in the report template](https://github.com/quintel/etmodel/commit/1b4cb779f531686705eec26ab8be5bac1fc962c8#diff-5eb4a1aefa7cfcb6068d5656b265b8beR289). This needs to be in a Gquery.

[2017-07-21 15:02] ChaelKruip commented on #2442
I was too overwhelmed by all the magic that I didn't realise this 👍

[2017-07-21 15:02] #2442 closed

[2017-07-26 08:37] grdw opened #2443 "missing "en.simple_form.labels.user.company_school" translation"
![screen shot 2017-07-26 at 10 37 07](https://user-images.githubusercontent.com/2676542/28612102-69edb82e-71ee-11e7-87cb-279fc1861265.png)

[2017-07-26 10:26] ChaelKruip commented on #2438
I think you are right @antw

CC: @DorinevanderVlies

[2017-07-26 11:09] DorinevanderVlies commented on #2438
I agree, I propose to implement the following:

![image](https://user-images.githubusercontent.com/19907658/28618157-aa3814be-7203-11e7-91e5-f2730fb30016.png)

[2017-07-26 11:34] DorinevanderVlies commented on #2438
Just discussed this with @ChaelKruip and made a correction to my proposal (see below)

@antw do you mean _after_ p2h for the node to which the technologies are attached?

![image](https://user-images.githubusercontent.com/19907658/28619035-efb2781a-7206-11e7-9b33-7c6efc6bf133.png)

[2017-07-26 12:08] antw commented on #2438
Yes, the diagram has the naming correct; I did indeed mean "after". :smiley:

[2017-07-31 07:40] ChaelKruip opened #2444 "Link to queries available through API points to current page"
Looking at [our API page](https://energytransitionmodel.com/api#area_data), the link
![energy_transition_model](https://user-images.githubusercontent.com/1303760/28767516-4ffbd8a8-75d4-11e7-835e-3b578ab23b03.png) points to the current page.

[2017-07-31 07:43] grdw commented on #2444
Where does this link actually need to point to? To [here](https://github.com/quintel/etsource/tree/master/gqueries)?

[2017-07-31 07:56] ChaelKruip commented on #2444
Perhaps @antw has other ideas but that would be my guess. It would be even better if we had an overview page with a list of queries. Something like
[here](https://beta-engine.energytransitionmodel.com/data/latest/converters) but with some explanations (I realise that last thing is a lot of work)

[2017-08-01 14:08] karimelbana opened #2445 "[OVERVIEW ISSUE] implementation of international aviation"
As discussed in #2146, we want to include the international aviation in ETM model. This issue is a proposal for the changes to the front end and I would like to hear you opinions @AlexanderWirtz @ChaelKruip @BerendSmits @DorinevanderVlies @jorisberkhout

### Objectives
- to give the user of the ETM insight in the energy demand of international aviation
- to give the user of the ETM insight in the

[2017-08-01 14:23] BerendSmits commented on #2445
Looks good! I like the idea of adding this nationally ignored but rather large demand. I'm not sure if it is in the scope of the project right now, but are you guys thinking about adding marine bunkers as well? They should probably be managed much in the same way as aviation fuels (and are four times as large as aviation..)

[2017-08-04 08:02] #2350 closed

[2017-08-23 15:17] DorinevanderVlies opened #2451 "The Final energy demand for heating and hot water in residences currently only shows "heat""
After merging the dynamic-heat changes to beta the final energy demand for heating an hot water in residences only shows "heat", even if a mix of technologies is used.

![image](https://user-images.githubusercontent.com/19907658/29623450-b46fdc44-8826-11e7-86c6-78886f92963b.png)

notifying @ChaelKruip

[2017-08-23 18:51] antw commented on #2451
Good catch; looks like I missed some queries.

This is ultimately down to the insertion of "aggregator" nodes between the heat producer and useful  demand nodes (used to fix deficits). It caused all sorts of problems like this. 😞

[2017-08-24 07:52] DorinevanderVlies opened #2452 "Chart on beta server does not display edges"
Image from: [this scenario](https://beta-engine.energytransitionmodel.com/data/714160/layout)

![image](https://user-images.githubusercontent.com/19907658/29655647-06de4818-88b2-11e7-9e2c-8b90e901f851.png)

notifying @ChaelKruip

[2017-08-24 08:24] DorinevanderVlies opened #2453 "Slider max of buffer and cut-off COP not as set in input-file"
The input files seem to set the min, max and start-value of the sliders correctly. However, the front-end displays a different max.

### Input files

[Input - Buffer size water heating](https://github.com/quintel/etsource/blob/master/inputs/flexibility/households/households_flexibility_water_heating_buffer_size.ad)
[Input - Cut-off HHP space heating](https://github.com/quintel/etsource/blob/master

[2017-08-24 08:29] DorinevanderVlies commented on #2453
Addition:
For The Netherlands this problem does not occur.

It seems to be cause by automatic scaling of the max value of sliders in local datasets.
For different datasets the max value differs.

**Noorderplantsoenbuurt:**
![image](https://user-images.githubusercontent.com/19907658/29657160-17745870-88b7-11e7-9636-6b25ed06224d.png)

**Friesland:**
![image](https://user-images.githubusercontent.com

[2017-08-24 08:51] antw commented on #2453
CoP being scaled makes sense since `#` is a scaled unit. I can add a new unit for those and opt it out of scaling. The same is true of buffer volumes; these are the only two sliders which use `kWh`, so it should be safe to not scale that unit.

[2017-08-24 09:22] DorinevanderVlies opened #2454 "Final demand for gas for HHP is increased after COP(T) implementation, this is unexpected"
COP used to be 3 for HW and 4.5 for SH.

The new COP(T) is generally lower so I would expect the gas use to increase after these implementations.

I made two scenario's, both with 100% HHP for SH and HW, one one [Beta](https://beta-pro.energytransitionmodel.com/scenarios/714174) and one on [Live](https://pro.energytransitionmodel.com/scenarios/333662).

I notice that in the final demand chart the

[2017-08-24 09:53] antw commented on #2454
I'll look into this shortly, but this might be correct behaviour. If demand in any given hour can be satisfied entirely by the electric component, then the gas component will not be used; perhaps that's what's happening here?

[2017-08-24 10:02] DorinevanderVlies commented on #2454
A I see, that's interesting.

I was thinking about ETM-SA behaviour. But it might indeed be that the HHP is using it's elektric part more than was assumed before

[2017-08-24 10:04] #2451 closed

[2017-08-24 13:26] antw commented on #2454
This does appear to be the case. I created an NL scenario using 100% HHPs for space and water heating. For water heating, the minimum output capacity of the electric components is *always* higher than the maximum hourly demand for heat:

* **Water heating**
  Maximum hourly demand: 10,848 kWh
  Minimum electric HHP capacity: 11,674 kW

* **Space heating**
  Maximum hourly demand: 85,982 kWh
  Mini

[2017-08-24 14:26] DorinevanderVlies opened #2455 "Why are the peaks in the demand curve caused by HHP's higher when a cut-off COP is applied?"
@ChaelKruip and me are a bit confused about the behaviour of HHP water heating we're seeing when we set a cut-off COP.

**What we expect**
We would expect the peaks of the demand curve to remain equally high, but less use of the HHP.
However, we sometimes see that the peaks in the electricity demand cause by HHP for water heating increase.

When COP is below the threshold the demand empties the bu

[2017-08-24 14:55] antw commented on #2455
Indeed it is. The buffer is filled only by the electric component.

I can probably make it so that the gas component can also refill the buffer when the electric component lacks sufficient capacity to do so. That is: if a 10kWh buffer is empty and the electric component has only 5kW of available capacity, then the gas component will also run at 5kW to fill the buffer entirely. Is that correct?

[2017-08-24 15:03] ChaelKruip commented on #2455
This would be consistent with the idea that all heat is provided 'through' the buffer (although in real life, the gas-part of the HHP will likely deliver hot water directly). I think I still prefer this option because it will have the general effect of lowering the peaks in the electricity demand which is one of the expected effects of the HHP switching to gas more often...

@DorinevanderVlies @Al

[2017-08-24 15:10] antw commented on #2455
Fortunately it seems this is quite easy to do. 😌

If you're happy with the results, I can push it.

**100% HHPs, CoP cutoff = 1.0**

![screen shot 2017-08-24 at 16 08 19](https://user-images.githubusercontent.com/4383/29673244-8a1e0d74-88e6-11e7-8833-205a67d94dbc.png)

**100% HHPs, space heating CoP cutoff = 6.0**

![screen shot 2017-08-24 at 16 09 36](https://user-images.githubusercontent.com/438

[2017-08-24 15:12] ChaelKruip commented on #2455
👍  as far as I'm concerned. Would like to hear other opinions though :)

[2017-08-24 17:52] #2453 closed

[2017-08-25 06:50] DorinevanderVlies commented on #2455
I think for now this solution will do.
If, at a later stage, we implement strategies into ETM we might add a choice for the user: refill the buffer with gas **and** electricity or just with electricity

[2017-08-25 07:07] DorinevanderVlies commented on #2454
I don't really understand why you state

Maximum hourly demand: 10,848 kWh
Minimum electric HHP capacity: 11,674 kW

On basecamp I read the following:

With this I would say the minimum electric HHP capacity is much lower:
1.2 (COP) * 1.2 (input capcity HP) = 1.44 kW

Even at maximum COP 3.1 the electric part of the HHP only delivers 3.1 * 1.2 = 3.72 kWh

With this it is surprising that the gas fo

[2017-08-25 07:12] ChaelKruip commented on #2454
Could the input capacity be a factor 10 too high in the model?

[2017-08-25 07:19] ChaelKruip opened #2456 "If the threshold COP for hot water HHPs is set to max, all water should be made with gas"
Default NL scenario with 100% HHPs for hot water and threshold-COP = 6.0:

<img width="1091" alt="cursor_and_energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_" src="https://user-images.githubusercontent.com/1303760/29703585-7059877a-8976-11e7-9643-3e420928dbdf.png">

[2017-08-25 07:26] ChaelKruip commented on #2456
Adding a large buffer seems to solve some of the deficit but not all of it:
<img width="1101" alt="cursor_and_energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_" src="https://user-images.githubusercontent.com/1303760/29703801-76c445b8-8977-11e7-97fd-b5a2e75e9ad1.png">

[2017-08-25 07:26] ChaelKruip commented on #2456
Notifying @DorinevanderVlies

[2017-08-25 07:39] ChaelKruip opened #2457 "There should be no decifits for HHPs in the start scenario with 100% HHPs"
<img width="1118" alt="cursor_and_energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_" src="https://user-images.githubusercontent.com/1303760/29704219-2c5e6d62-8979-11e7-975b-8d6cafadb37b.png">

Even if the capacity of the electric part of the HHP is insufficient, the gas-part should be able to save the game right @antw @DorinevanderVlies?

[2017-08-25 08:02] antw commented on #2454
Sorry, I meant **MW** and **MWh**, not kW and kWh. The numbers are for the whole country, not per-heat pump.

1.294498 (kW) × 1.2107 (COP) × 7449298 (number of residences) = 11674 MW

[2017-08-25 08:42] DorinevanderVlies commented on #2456
After this merge (which made the gas part bigger) the same issue is present for space heating

![image](https://user-images.githubusercontent.com/19907658/29706419-17c6b054-8982-11e7-888e-c41b213a980b.png)

![image](https://user-images.githubusercontent.com/19907658/29706337-dedda6bc-8981-11e7-92cf-842a60d9deb2.png)

[2017-08-25 08:57] ChaelKruip commented on #2456
This confuses me as well! Perhaps a valuable clue though...

[2017-08-25 08:59] ChaelKruip commented on #2454
😆 If it's the same for you @antw can we perhaps use 'per heat pump' units? That's what @DorinevanderVlies and myself have more feeling for those 😄

[2017-08-25 09:00] antw commented on #2456
A quick fix is on its way to beta.

[2017-08-25 09:01] antw commented on #2454
Sure, will do. I was taking those numbers directly out of the ETEngine graph, which represents the whole country.

[2017-08-25 09:07] antw commented on #2456
The fix is published. Gas demand is now set correctly. 😊

The culprit was that I avoid changing any of the node demands after running the heat simulation if the demands if there is no deficit; it's a nice easy win to gain a little extra performance.

Unfortunately this is the wrong thing to do for the HHP, because while the demands may not have changed, the share of electricity and gas may have; t

[2017-08-25 09:41] DorinevanderVlies commented on #2456
Looks a lot better now!

Threshold COP =1 and =6 show what I expect to happen.

However, some COP values which are in between (around COP = 2.5) show a large increase in ambient heat which I don't understand.

![image](https://user-images.githubusercontent.com/19907658/29708796-51e8721a-898a-11e7-8713-b01cb790cdbb.png)

[2017-08-25 13:08] antw commented on #2456
Hopefully fixed in quintel/etengine@fb00b155 (already on beta). The ambient heat wasn't increasing: it was a *negative*, which the chart cannot display correctly.

This was because hours when the electric component had a capacity of zero (because of the CoP cutoff) were being treated as if the CoP was 0.0. This made a mess when calculating the electric component annual efficiency.

In the clean-up

[2017-08-25 13:36] DorinevanderVlies opened #2458 "2013 additional infrastructure investments in table not 0 in 2013"
For an empty scenario the **additional** infrastructure investment in the table is not 0 for 2013

![image](https://user-images.githubusercontent.com/19907658/29716287-11bfb830-89ab-11e7-9290-63d4253b690b.png)

[2017-08-25 13:39] DorinevanderVlies opened #2459 "Additional infrastructure investment chart differs from table"
Additional infrastructure investment chart shows **additional** investments.
The table shows something different. I would expect the chart to show the same data as the table. This issue is related to https://github.com/quintel/etmodel/issues/2458 and might be solved by solving that issue.

### screenshots
![image](https://user-images.githubusercontent.com/19907658/29716227-dcdb746a-89aa-11e7-818b-

[2017-08-25 13:52] ChaelKruip commented on #2456
🎉

[2017-08-25 14:24] DorinevanderVlies opened #2460 "Additional infrastructure investment chart shows very high amounts on beta"
Slightly related to https://github.com/quintel/etmodel/issues/2459, but a different issue.

The 2013 investment costs are very different high on beta.
In for example the Urgenda-scenario this leads to big differences between beta and live. The additional investments for this scenario are very small on beta.

I think this might be related to the dynamic heat changes. @antw what do you think?

### S

[2017-08-25 14:26] antw commented on #2460
[(Probably) related Basecamp task](https://3.basecamp.com/3797409/buckets/4288526/todos/601928006).

[2017-08-25 18:19] antw commented on #2457
Was fixed by quintel/etengine@fb00b15.

[2017-08-25 18:19] #2457 closed

[2017-08-28 07:06] ChaelKruip commented on #2454
@DorinevanderVlies what are the actions on this currently?

[2017-08-28 09:21] DorinevanderVlies commented on #2455
I think this solution can be pushed

[2017-08-28 09:50] DorinevanderVlies commented on #2452
Besides the edges some nodes are missing as well.
Nodes related to space and water heating technologies are currently not displayed in the graph

[2017-08-28 10:30] antw commented on #2452
I haven't yet positioned the new heating nodes, could that be the reason for this?

[2017-08-28 10:38] DorinevanderVlies commented on #2452
If it's just the positioning I think that should not be the cause.
ETEngine just puts them on top of each other

[2017-08-28 10:43] DorinevanderVlies opened #2461 "What does the Coefficient of Performance attribute of HHP's display"
The screenshot below show that for the space heating part of the HHP the coefficient of performance is 2.72 in present an 2.17 in the future.

- What does this attribute mean?
- How is it calculated? My guess was input share/ambient heat. However 63.2/18.01=3.5

![image](https://user-images.githubusercontent.com/19907658/29770180-00736cd0-8bee-11e7-9d6f-122f9ff02a70.png)

[2017-08-28 12:20] antw commented on #2461
In this case, ETEngine calculates COP as `1 / (1 - share_of_ambient_heat)`. I don't think it makes any sense in the context of the HHP:

https://github.com/quintel/etengine/blob/1447a70a9774c5cc04e6307fb05e0674137746a6/app/models/qernel/converter_api/capacity_production.rb#L55-L60

[2017-08-28 12:28] ChaelKruip commented on #2461
This is the definition:
[code]
but that is only valid at times when the heat pump is working.

BTW: The above simplifies as follows:
[code]
when you set `input_of_electricity + input_of_ambient_heat = 1`.

[2017-08-28 12:39] DorinevanderVlies opened #2462 "Final energy demand of heating and hot water residences still contains electricity and ambient heat when threshold COP= 6"
In a scenario for the Netherlands with 100% HHP and threshold Cop 6 for both SH and HW the dynamic demand curve shows no electricity for SH and HW.

However the final energy charts do show electricity and ambient heat for SH and HW.
This demand is also shown in the nodes on ETEngine

Below an overview of input shares for the SH HHP node for various COP-thresholds and a screenshot of the final ener

[2017-08-28 12:41] antw commented on #2461
What I mean is that ETE does not respect that the HHP has more than two carriers as inputs; this has always been the case. The COP calculation makes sense if the gas and electric components were separate nodes (as on normal electric heat pumps), but not when the HHP is modelled as a single node.

For what it's worth, there isn't a single reference to the `coefficient_of_performance` attribute in E

[2017-08-28 12:47] antw commented on #2462
This morning's change allowing the HHP gas component to fill the buffer seems to be responsible. I have reverted the change and will revisit that behaviour soon.

![screen shot 2017-08-28 at 13 46 44](https://user-images.githubusercontent.com/4383/29773894-5c3ae026-8bf7-11e7-9165-66a57fe90fd4.png)

[2017-08-28 12:47] #2462 closed

[2017-08-28 12:54] DorinevanderVlies commented on #2461
I think this average COP when the electric part of the HHP is working is an interesting value to display. Especially when the threshold is set in a scenario.

The following equation also holds and will for HHP give the average COP for the HP-part:
[code]
Because:
[code]
---
On the other hand like @antw says:

So we can also not change the equation. In that case I would propose not to display Coeff

[2017-08-28 13:20] DorinevanderVlies opened #2463 "HHP should not be able to use more than 1.2 kW of electricity"
In a 100% HHP-scenario with threshold COP for water on 6, during the coldest week of the year I assume the electric part of the HHP is mostly running at full power to provide space heating.

Number of residences 7500000 * input capacity HHP 1.3 kW ~ 9,700 MW. This corresponds to demand the chart I'm seeing for this situation:

![image](https://user-images.githubusercontent.com/19907658/29774688-ad

[2017-08-28 13:23] DorinevanderVlies commented on #2454
Closing this issue as it is too general.
Will open more detailed issues when relevant

[2017-08-28 13:23] #2454 closed

[2017-08-28 13:27] DorinevanderVlies commented on #2455
Reopening because of:

https://github.com/quintel/etengine/commit/bf24b4ca7be08f5b9c9a0a9905525c54b56e7a39

@antw please close again if this interpretation is incorrect

[2017-08-28 13:43] ChaelKruip commented on #2459
Assigning @antw. I can look into the GQL side of things if needed.

[2017-08-28 13:43] ChaelKruip commented on #2458
@antw can you please have a look?

[2017-08-28 13:46] ChaelKruip commented on #2463
Nice catch @DorinevanderVlies!

[2017-08-28 13:48] antw commented on #2463
Sorry, this was an oversight on my part; these aren't set up to prioritise hot water over space heating, but are instead two separate producers each with their own capacities. I'll fix this.

[2017-08-29 08:25] grdw commented on #2452
I patched the problem locally like this:

[code]

[2017-08-29 08:58] antw commented on #2452
Thanks @grdw; the new nodes don't have a `use` attribute assigned so it makes sense why your change fixes this.

The new household heat nodes should probably be "energetic". @DorinevanderVlies I'll send a pull request your way shortly.

[2017-08-29 09:11] #2452 closed

[2017-08-29 10:40] BerendSmits commented on #2452
Nice work guys, thanks for the fix:thumbsup:

[2017-08-29 11:16] #2463 closed

[2017-08-31 08:38] AlexanderWirtz opened #2465 "When trying to load an existing scenario on beta, I get an error message"
I get this error message, regardless of whether I use the 'Settings >> Load scenario' option or try and load a preset scenario from the home page.

'Settings >> Load scenario'
![image](https://user-images.githubusercontent.com/308563/29914229-0c00a4d6-8e38-11e7-84e1-db72b3c73d49.png)

Home page >> Start and existing scenario:
![image](https://user-images.githubusercontent.com/308563/29914139-ba31e

[2017-08-31 08:39] AlexanderWirtz commented on #2465
Aha, I can in fact load scenarios using incognito mode. Seems like an issue with cookies or sth

[2017-08-31 08:50] grdw commented on #2465
This is really odd behavior. Also Airbrake or the logs aren't raising the error which makes it even weirder. @antw would you recognize what this *could* be purely by looking at it?

[2017-08-31 08:58] AlexanderWirtz commented on #2465
I assume it is something to do with Browsing data, but before I start clearing everything, it may be interesting to figure out what this could be.

[2017-08-31 09:08] antw commented on #2465
There doesn't seem to be anything in the log either. I'm a bit stumped by this; the only the that occurred to me is something like #2322, however that would surely affect everyone and I can load that scenario (423882) just fine.

[2017-08-31 09:17] antw commented on #2465
I'm not sure what log file I was looking at before (😊). This appears to be the error:

[code]

Perhaps @AlexanderWirtz previous scenario was for a dataset which has been removed? (Barendrecht)

[2017-08-31 09:17] AlexanderWirtz commented on #2465
Not the first time something like this happens to me. @dennisschoenmakers seems to have understood what was going on then. I cleared all my Browsing data and that fixed it.

[2017-08-31 11:54] DorinevanderVlies commented on #2460
@antw, any idea whether this is indeed causing this very high 2013-investments?

[2017-08-31 12:30] antw commented on #2460
Haven't had the chance to look yet, sorry.

[2017-09-01 07:44] AlexanderWirtz commented on #2465
Update:
Clearing past 4 weeks browsing data does NOT resolve this. Screenshot was taken after removing browsing data, but same check-boxes checked to show which data I cleared.

![image](https://user-images.githubusercontent.com/308563/29959995-306b2072-8efa-11e7-94de-72352c2c01c4.png)

[2017-09-01 07:46] AlexanderWirtz commented on #2465
This could well be the case, actually. How can I cleanse my digital self from this stain from my past?

[2017-09-01 09:57] antw commented on #2465
@AlexanderWirtz I deployed a possible fix. Can you try it again and see if you're able to get any further?

I'm not too hopeful... clearing your cookies will have separated you from your old scenario; if it *was* a deleted region causing this, removing your cookies should have fixed it.

[2017-09-01 11:53] AlexanderWirtz commented on #2465
Yes! Whatever you did, it is now fixed. Thanks a lot!

[2017-09-01 11:53] #2465 closed

[2017-09-04 06:56] DorinevanderVlies opened #2467 "Heat demand and production chart shows charging of buffers, even though buffer size = 0"
[This scenario](https://beta-pro.energytransitionmodel.com/scenarios/719385) has 100% electric heat pumps voor both space and water heating, the buffer size is set to 0 kWh.

The heat demand and production chart still shows charging of the buffers. This shouldn't be the case.

![image](https://user-images.githubusercontent.com/19907658/30014826-9a3322b0-914e-11e7-9620-7901915525e7.png)

notifying

[2017-09-04 08:53] antw commented on #2467
This is not buffering, but is demand being time-shifted (deferred) into the future when the space heating producers have insufficient capacity to meet demand.

I intend for a future improvement to the chart to show this differently, which should avoid confusion with buffering.

[2017-09-04 08:53] #2467 closed

[2017-09-04 09:25] DorinevanderVlies commented on #2467
thanks for the info!

[2017-09-04 12:07] DorinevanderVlies opened #2468 ""Converted to heat for industry" should be added to the use of flexibility options per hour chart"
Conversion to heat for industry is currenlty not shown in the "use of flexibility options per household" chart.

![image](https://user-images.githubusercontent.com/19907658/30025770-4d774c18-917a-11e7-807c-5177f08e812d.png)

![image](https://user-images.githubusercontent.com/19907658/30025762-3e9ccaba-917a-11e7-8807-11404229c0f7.png)

notifying @ChaelKruip and @antw

[2017-09-04 15:07] DorinevanderVlies opened #2469 "HP ground should not have a temperature dependent COP"
The COP of both the HP ground for water and for space should not be dependent on ambient temperature.

The standard division among ambient_heat and electricity applies at all time:
`- input.ambient_heat = 0.791666666666667`
`- input.electricity = 0.208333333333333`

notifying @ChaelKruip

[2017-09-04 15:09] antw commented on #2469
Removing...

[code]

... from the relevant node files should fix this.

[2017-09-04 15:11] DorinevanderVlies commented on #2469
Will do, will also remove
`- fever.base_cop = 3.25`
`- fever.cop_per_degree = 0.0875`

[2017-09-05 08:36] #2469 closed

[2017-09-06 06:55] ChaelKruip commented on #2438
Closing as this has been done.

[2017-09-06 06:55] #2438 closed

[2017-09-06 06:57] ChaelKruip opened #2475 "The user should be able to look up specs of every technology"
Many technologies have no link in their description that shows the technical and financial specs for power plants for instance.

[2017-09-06 12:07] #2456 closed

[2017-09-06 14:48] antw commented on #2459
The table shows the actual values returned by the Gqueries, while the chart shows the *difference* between the future and present. It has apparently always been this way.

If you wanted the chart to show the actual Gquery value (for the future), editing each series and assigning it to the "future" group should do the trick.

![screen shot 2017-09-06 at 15 46 56](https://user-images.githubuserconte

[2017-09-06 15:17] DorinevanderVlies commented on #2456
nice fix!

[2017-09-06 16:29] antw commented on #2458
I'm not too familiar with the Gqueries used to calculate these costs, but this seemed to become an issue when we added the explicitly-modelled electric technologies (the dynamic electricity curve project).

I think the problem [is this line](https://github.com/quintel/etsource/blob/c9efbe253ecbcf2490b2b0e8558e95096a975b67/gqueries/modules/network/network_impact_calculations/hv_mv_trafo/network_hv_

[2017-09-07 07:56] ChaelKruip commented on #2458
Assigning @DorinevanderVlies to take a look at this as part of https://github.com/quintel/mechanical_turk/issues/97

[2017-09-08 09:07] DorinevanderVlies opened #2477 "Connection between households_useful_demand_for_hot_water_for_houses_with_p2h and households_flexibility_p2h_electricity seems broken ."
Connection between `households_useful_demand_for_hot_water_for_houses_with_p2h` and `households_flexibility_p2h_electricity` seems broken .

**Mechanical turk test**
This issues originates from Mechanical Turk failure:
rspec ./spec/flexibility/flexibility_spec.rb:123 # Flexibility P2H In a scenario increasing the number of P2H units should decrease CO2 emissions

Scenario is made with excess elect

[2017-09-08 10:05] DorinevanderVlies opened #2478 "On beta excess electricity usage is lower than the total excess electricity"
Electricity Conservation fails.
On beta excess electricity usage differs is lower than the total excess electricity.

In a scenario with 10.000 inland windturbines the total excess electricity is 41.56 PJ, the total excess electricity storage sum is 39.612 PJ. On live these numbers are the same: 40.1 PJ.

In a scenario without flexibility options the total excess electricity storage sum consists o

[2017-09-08 11:13] #2437 closed

[2017-09-08 13:10] DorinevanderVlies commented on #2459
I think it will be most clear if the chart and the table show the same values.

I propose to show the **delta** for both. I'll implement this.

However, this wil **not** fix https://github.com/quintel/etmodel/issues/2458.

[2017-09-08 13:40] DorinevanderVlies commented on #2468
Analogue to the way flexibility p2g is implemented in this chart I would like to add a series with the following gquery:

Name: industry_flexibility_p2g_electricity
Query: MERIT_LOAD_CURVES(:flexibility_p2h_electricity)

However this query does not work (yet). @antw, can you help me with this? Does anything have to be changed in merit?

[2017-09-08 15:40] DorinevanderVlies commented on #2458
This issue (with this description) is fixed by https://github.com/quintel/etsource/commit/9ce203b63f090a834c9b8d84ec3265356e485798.

However there are two more issues which I will adress separately
- Initial investment costs very different on beta and on live
- with default settings additional investment costs are non-zero on beta

[2017-09-08 15:40] #2458 closed

[2017-09-08 15:50] DorinevanderVlies opened #2480 "Initial network costs very different on beta and on live"
On beta the 2013 network costs are much higher (5.87 bln euro) than on live (3.26 bln euro).

This seems to be cause by "total investment costs of various levels of the network). For details see table below.

@antw how are the tot investment costs calculated? Is there a difference in calculation for 2013 and 2017?

**Total investment costs on live and beta (2013 and 2050)**
![image](https://user-i

[2017-09-08 15:56] DorinevanderVlies opened #2481 "with default settings additional investment costs are non-zero on beta"
The delta between the total investment costs is non-zero (16 mln) for an empty scenario on beta.

@antw, can this be because we use a different calculation method for the present and the future year?

![image](https://user-images.githubusercontent.com/19907658/30220183-bf79bc82-94be-11e7-9f55-ce5059df8c52.png)

notifying @ChaelKruip

[2017-09-08 16:02] DorinevanderVlies commented on #2461
closing as no priority at all

[2017-09-08 16:56] antw commented on #2480
Duplicate of https://github.com/quintel/etmodel/issues/2460?

I'm reasonably certain that this is indeed caused by the detection of peak loads. A curve which used to represent `electricity` demand now instead shows total `useable_heat` demand. I already started fixing this earlier in the week, but it's complicated by the need to have two completely separate implementations of the same thing (one f

[2017-09-08 17:11] antw commented on #2481
Almost certainly. However, I wouldn't trust the *exact* numbers right now since the detection of peak loads is obviously incorrect. I'll get my fix for that finished soon and then we can see what the costs look like with the correct electricity curves.

[2017-09-08 18:14] antw commented on #2468
[code]

If you want the four industry series' to be combined as one (I'd recommend this as it will reduce the amount of data which must be sent between ETEngine and ETModel) then I'll need to make some additional changes to ETEngine.

[2017-09-08 18:27] antw commented on #2478
This happens even in a blank scenario.

It appears to be caused by the heat pumps; if you set the scenario to 100% combi-boilers the difference between the two queries is zero.

[2017-09-08 19:03] antw commented on #2478
Seems to happen with resistive electric heaters as well, which implies some interaction between Merit and Fever may be to blame. I'm not sure how or why though, because the demands set on the graph are identical between production and beta.

100% resistive water heaters:

Demand on production: 69.28B
Demand on beta: 69.28B

It could be something to do with the `turk_excess_electricity_from_product

[2017-09-08 19:40] ChaelKruip commented on #2478
Just a wild guess from the cigar lounge: losses of the HV network?

Sent from a mobile device.

[2017-09-11 06:45] DorinevanderVlies commented on #2480
I think the two might indeed be correlated. This issue addresses the initial costs, #2460 the change in costs.

Would be nice if that fix solves both issues! Good luck!

[2017-09-11 06:48] DorinevanderVlies commented on #2468
I implemented this change: https://github.com/quintel/etsource/pull/1336/commits/b4d90c5632ea659b97d9de7293c8e9e7157ff57c. The query sums the four arrays, so the combined series is shown in the chart.

Will that do as well? Or would combining the series on ETEngine be cleaner?

[2017-09-11 07:13] #2459 closed

[2017-09-11 07:30] ChaelKruip commented on #2468
It would likely improve performance.

[2017-09-11 07:30] #2468 closed

[2017-09-11 07:32] ChaelKruip commented on #2468
I have merged https://github.com/quintel/etsource/pull/1336 so it all works. If @antw has created a summed series, we can easily change the query to refer to that.

[2017-09-11 13:37] DorinevanderVlies opened #2482 "Why does the dynamic demand curve only display "old houses""
The chart contains series for both old and new houses. However in a scenario with both old an new houses the series demand for space heating new houses is always 0.

![image](https://user-images.githubusercontent.com/19907658/30277050-f3d0e2e0-9706-11e7-890a-f42e1b532cdc.png)

[The demand for new houses](https://beta-engine.energytransitionmodel.com/data/721325/gqueries/merit_new_household_space_h

[2017-09-11 14:16] #2482 closed

[2017-09-12 10:09] DorinevanderVlies commented on #2477
@antw have you had a chance to look at this yet?

[2017-09-12 10:10] #2461 closed

[2017-09-12 11:54] DorinevanderVlies opened #2485 "Changing the origin of LNG and natural gas does not affect dashboard values"
[This scenario](https://beta-pro.energytransitionmodel.com/scenarios/727603) has both natural gas and LNG, FCE is turned on.

Changing the origin of pipeline natural gas or liquefied natural gas should influence the CO2-emission as kg CO2/MJ are different for these different gasses. However, changing these slider does not affect the dashboard.

---

This issue is mentioned in https://github.com/qu

[2017-09-12 13:08] karimelbana opened #2486 "The Percentage of Energy use dashboard is not correct"
The Percentage of Energy use dashboard is not the resultant percentage of dividing the total primary energy use in the future by its counterpart in the present in both beta and pro versions

For the pro version as shown below

![screen shot 2017-09-12 at 2 59 03 pm](https://user-images.githubusercontent.com/29379411/30327055-f4e29772-97ca-11e7-83f3-3a82ba4855a1.png)

(3.32961/3.36326) is -1.001% n

[2017-09-12 14:07] #2477 closed

[2017-09-13 06:59] DorinevanderVlies opened #2487 "Increasing P2H in a scenario with excess electricity should result in lower CO2 and higher renewables share"
Issue https://github.com/quintel/etmodel/issues/2477 did indeed fix the "connection" between households_useful_demand_for_hot_water_for_houses_with_p2h and
 households_flexibility_p2h_electricity.

However, the failed mechanical turk test which brought this bug to light still fails.

Increasing the P2H on live results in less energy use, lower CO2 emissions, less and higher share of renewables.
In

[2017-09-13 08:06] antw commented on #2487
No need; I'm pretty sure I know what the problem is. I'll push a fix today.

[2017-09-13 08:10] DorinevanderVlies commented on #2487
Sounds good :smiley:

[2017-09-13 15:57] #2487 closed

[2017-09-13 16:06] antw commented on #2487
Pushed a fix, but it's curently incomplete. It is still a problem that if you add P2H other hot water technologies will begin to show a deficit, since they're not accounting for heat demand which is being satisfied by P2H. Fixing that *should* be easy, but it's ETEngine we're talking about so of course it's anything but... 😣

I'll update this again once I have a fix for the deficits.

[2017-09-13 17:06] antw commented on #2487
A fix is now in place. The heat chart will still show a deficit when using P2H (quintel/etengine#948) but I'm reasonably confident that there is no _actual_ deficit in the graph. I will resolve this soon.

[2017-09-18 09:05] DorinevanderVlies opened #2488 "number_of_buildings attribute is not updated when slide `number_of_buildings` is set"
When setting the slider `number_of_buildings` the demands change accordingly.
However, the attribute `number_of_buildings` does not change. This results in wrong insulation costs for buildings.

![image](https://user-images.githubusercontent.com/19907658/30534822-2458e968-9c60-11e7-8fd9-3a13dd7c1a19.png)
![image](https://user-images.githubusercontent.com/19907658/30534843-39a91bda-9c60-11e7-9b92-3

[2017-09-18 09:14] ChaelKruip commented on #2488
This also happens on PRODUCTION

[2017-09-18 09:36] #2488 closed

[2017-09-18 16:58] antw commented on #2480
Now on beta:

![screen shot 2017-09-18 at 17 57 49](https://user-images.githubusercontent.com/4383/30554007-f064d1f4-9c9a-11e7-9260-15b38cae737b.png)

[2017-09-18 16:58] #2480 closed

[2017-09-18 17:03] antw commented on #2460
Now on beta:

![screen shot 2017-09-18 at 18 03 28](https://user-images.githubusercontent.com/4383/30554221-b3a35c4e-9c9b-11e7-9137-37eeab77d0e4.png)

[2017-09-18 17:03] #2460 closed

[2017-09-19 10:11] DorinevanderVlies commented on #2460
Nice fix @antw!

Does this fix only influence the network costs? Or are there more changes to the existing scenario's due to this fix?

[2017-09-19 14:12] ChaelKruip commented on #2486
It turns out that the table uses the `primary_demand_caused_by_final_demand` query is used for the table/chart but the `dashboard_energy_demand_primary_of_final_plus_export_losses` is used for the dashboard item.

We now have the choice to do one of the following:
1. use `dashboard_energy_demand_primary_of_final_plus_export_losses` in the table as well (possibly showing losses separately)
2. use `

[2017-09-19 14:21] AlexanderWirtz commented on #2486
Agree that option 1 is best!

[2017-09-19 14:30] DorinevanderVlies commented on #2486
I agree

[2017-09-19 14:35] ChaelKruip commented on #2478
The difference in the present year are expected and completely due to imported electricity which is not counted as 'production'.

The difference in the future year disappears (almost) completely when heating all houses with gas:
![cursor_and_energytransitionmodel](https://user-images.githubusercontent.com/1303760/30597584-afd0bc6c-9d57-11e7-9cb7-2a7895af447c.png)

This suggests that there might be

[2017-09-19 14:45] ChaelKruip commented on #2478
Taking into account both 'import' and the 'shortage node', the differences are reduced to numerical noise:
![cursor_and_energytransitionmodel](https://user-images.githubusercontent.com/1303760/30598443-01d4aba2-9d5a-11e7-958c-3e27915d7edf.png)

[2017-09-19 14:47] ChaelKruip commented on #2478
I propose to use the following query for the mechanical turk test:
[code]

@DorinevanderVlies does this solve your issue or is there other electricity unaccounted for in your opinion?

[2017-09-19 14:49] DorinevanderVlies commented on #2478
I think this 195 PJ is not the issue. It just means that with the current production park 195 PJ is imported when heating all houses with electric heaters. I think that is realistic.

To clarify the issue a bit more:
The excess electricity calculated by looking at the difference between production and demand (https://github.com/quintel/etsource/blob/master/gqueries/mechanical_turk/flexibility/turk

[2017-09-19 14:55] BerendSmits commented on #2486
Jess option 1

[2017-09-20 07:11] DorinevanderVlies opened #2489 "Don't show the empty series the legend of the heat deficit chart"
During the wrap-up of the dynamic heat project we discussed that the legend of the dynamic heat chart is currently very elaborate.

@antw is it possible to just show the non-empty series in the legend?

![image](https://user-images.githubusercontent.com/19907658/30631088-60706d52-9de3-11e7-843c-34e2af842872.png)

notifying @jorisberkhout @AlexanderWirtz @grdw @ChaelKruip @MichielDenHaan @BerendSmi

[2017-09-20 07:15] AlexanderWirtz commented on #2489
In fact, there are a few more charts that qualify for this.

[2017-09-20 07:33] DorinevanderVlies commented on #2489
Good point, I'll make an inventarisation

[2017-09-20 13:11] grdw opened #2490 "Can't load a scenario locally because of redirect"
I'm currently setting up the local machine of @MichielDenHaan but I can't load any scenario because:

[code]

It makes sense stating that he never ever loaded a single scenario and therefor doesn't have a `current_tab` to speak off. 🤔

[2017-09-20 13:14] grdw commented on #2490
FYI: The database of ETModel is completely empty in this local situation

[2017-09-20 13:18] #2490 closed

[2017-09-20 13:18] grdw commented on #2490
Ofcourse Tabs is a database row .... 🙄 whoops

[2017-09-20 14:37] DorinevanderVlies commented on #2489
The heat deficit chart has by far the most legend items (25)

Other charts with many legend items are:
![image](https://user-images.githubusercontent.com/19907658/30649964-faea8294-9e21-11e7-92f8-eee24a3a71c5.png)

[2017-09-20 14:43] AlexanderWirtz commented on #2489
I think GitHub needs an `applaud` button like Basecamp has!

[2017-09-20 18:01] DorinevanderVlies commented on #2481
The current status of this issue is that the required additional investments in infrastructure have become a lot smaller, but they are not zero:

![image](https://user-images.githubusercontent.com/19907658/30659470-2bc9ad6a-9e3e-11e7-8209-f2486a08f73a.png)

I suppose that we are not going to get rid of this difference completely due to the changes implemented in the dynamic heat project. IMO the d

[2017-09-20 18:04] ChaelKruip commented on #2481
I agree. The extra investment costs are due to the fact that we dynamically model electricity in the future year but not for the present. Right @antw?

Closing!

[2017-09-20 18:04] #2481 closed

[2017-09-20 18:25] DorinevanderVlies commented on #2478
Reopening as the implemented gquery acts slightly different as the gquery proposed in this issue.

For a scenario with 10,000 inland wind turbines and 20% hydrogen cars

[code]
gives 40.03740447912173  PJ which is the same as the storage gquery

[code]
gives 39.80154676303226 PJ which is slightly different.

I'll look into this tomorrow

[2017-09-21 06:58] grdw commented on #2489
Can I answer with yes! :) I think [this functionality](https://github.com/quintel/etmodel/blob/master/app/assets/javascripts/d3/merit_order_hourly_supply.coffee#L38-L44) already exists within other charts.

[2017-09-21 07:59] ChaelKruip commented on #2478
Fixed with https://github.com/quintel/etsource/pull/1353

[2017-09-21 08:02] #2478 closed

[2017-09-21 12:30] DorinevanderVlies opened #2491 "dynamic response chart does not load correctly"
This is troublesome as the scenario freezes. The user can set sliders, but they are not saved.

Usually refreshing the browser works. However, not all users are aware of the fact that the scenario has frozen.

Notifying @grdw and @ChaelKruip

[2017-09-22 08:32] grdw commented on #2489
What is seen as a significant value for these charts?

I now picked that a value larger than 10e-6 might actually still be 'somewhat' useful to show in a legend. Anything lower than that is not shown in the legend.

Should this be done for any type of chart? The https://github.com/quintel/etmodel/pull/2492 will only apply to 'vertically stacked bar charts'.

[2017-09-22 08:38] DorinevanderVlies commented on #2489
Nice!

I think 10e-6 is fine

Would be awesome

[2017-09-22 09:04] grdw commented on #2489
I'm going to investigate how long that is going to take me 🤔 moment please.

[2017-09-22 09:24] grdw commented on #2489
These are all the types:

- [ ] bezier
- [ ] time_curve
- [ ] mekko
- [ ] vertical_stacked_bar
- [ ] line
- [ ] waterfall
- [ ] horizontal_stacked_bar
- [ ] grouped_vertical_bar
- [ ] block
- [ ] co2_emissions_biomass
- [ ] html_table
- [ ] scatter
- [ ] sankey
- [ ] refinery
- [ ] target_bar
- [ ] d3
- [ ] storage
- [ ] import_export_cwe
- [ ] import_export_flows
- [ ] import_export_renewables
-

[2017-09-22 09:32] grdw opened #2493 "Final energy demand in industry charts are mostly broken when loading it accompanied by the 'Renewability of final demand' chart"
![screen shot 2017-09-22 at 11 43 40](https://user-images.githubusercontent.com/2676542/30738756-5d171026-9f8b-11e7-8946-a5c35615f455.png)

When loading the 'Renewability of final demand' chart.

You can't add any industry charts with them. You'll get a lot of gquery errors:

Final energy demand in the chemical industry:

![screen shot 2017-09-22 at 11 33 57](https://user-images.githubusercontent.

[2017-09-22 09:37] grdw commented on #2493
@DorinevanderVlies could you maybe point out what went wrong here? Or know who can?

[2017-09-22 09:40] grdw commented on #2493
Hmm.. to make this bug less critical. It's only in Firefox that this crashes. Chrome seems to be fine.

[2017-09-22 10:14] grdw commented on #2491
![screen shot 2017-09-22 at 12 13 07](https://user-images.githubusercontent.com/2676542/30739957-73d76a6e-9f8f-11e7-93aa-79572da1d89e.png)

Might be related. But I was testing with my local ETModel (with the beta engine instead of the local one) and came across this bug. Do you think it might be related @DorinevanderVlies ?

[2017-09-22 13:18] grdw commented on #2491
Ok, ignore my previous comment. I see what is happening.

![screen shot 2017-09-22 at 15 17 13](https://user-images.githubusercontent.com/2676542/30746192-30aa9436-9fa9-11e7-81db-b3700b86add5.png)

If you click faster than the page can load, so 'Flexibility' -> 'Open pane' -> 'Slide the heat slider', all things freeze. I get it 👍 That's why refreshing your browser fixes the problem.

[2017-09-22 13:29] DorinevanderVlies commented on #2491
Is the the cause of the problem that the dynamic heat chart takes a long time to load? Or something else?

[2017-09-22 13:33] grdw commented on #2491
Very well could be. I'm still investigating 🔍 . The problem is that the data that belongs to the chart isn't present the moment that it tries to show the chart.... which is something that changed some time ago. I need to check some stuff 😄 one moment.

[2017-09-22 14:05] DorinevanderVlies opened #2494 "Add (optional) line for 2013 load to dynamic demand curve"
During the wrap-up meeting for dynamic demand curves we got the idea to add the 2013 demand to the demand curve as well. This way it is easier for the user to interpret the impact of the changes of the demand chart.

The idea is to add a (dashed) line representing the total demand for 2013.

If possible it would be nice if the line is optional (can be switched on and of), but that is definitely no

[2017-09-22 14:05] DorinevanderVlies commented on #2494
notifying @ChaelKruip and @antw

[2017-09-22 14:07] DorinevanderVlies opened #2495 "Add interpretation of heat pumps to scenario report"
A warning should be added to the scenario report if a user implements a significant amount of heat pumps (air or ground) without insulating.

@antw I'll try to implement this myself, but might need some help with the statements
notifying @ChaelKruip

[2017-09-22 14:20] grdw commented on #2491
To reproduce this very quickly:

![clickclickclick](http://g.recordit.co/B4dFc6qJ8D.gif)

[2017-09-22 14:22] grdw commented on #2491
I have no clue why this is happening exactly as is. And why specifically for 'yearly load charts'. It's a bit frustrating. The only thing I can think of is the code at [here](https://github.com/quintel/etmodel/blob/master/app/assets/javascripts/lib/models/chart_list.coffee) is a little dodgy, but I wouldn't be able to put my finger on it.

Maybe @antw knows, stating that he edited it the last time

[2017-09-22 14:58] grdw opened #2496 "Remove unused chart types from the output element series + the actual javascript code"
Doesn't exist (never used in the database) 😱 :

- [ ] grouped_vertical_bar
- [ ] block
- [ ] line

[2017-09-22 16:38] DorinevanderVlies commented on #2495
I added two queries (https://github.com/quintel/etsource/commit/65d4e7f6dc9c2edec5680e6e4dc2e5712af63e9e) and a section to the scenario report (https://github.com/quintel/etmodel/commit/62408ea01a6e7e72c94b284c63d56a64d6e61fcc).

However some parts of the code are still incomplete. @antw can you have a look at that? Let me know if anything is unclear!

[2017-09-25 07:37] grdw commented on #2489
I propose the following, we merge the fix at #2492 , the other chart types will have to wait, until there's a valid reason to also apply fixes for those.

[2017-09-25 07:56] DorinevanderVlies commented on #2489
Result from a short discussion with @grdw:
We're also going to tackle "bezier" charts.

That will fix most of the charts with too long legends.

[2017-09-26 08:47] antw commented on #2460
I believe so yes.

[2017-09-26 08:51] antw commented on #2481
Correct. In fact I can be more specific, since I investigated this before the changes were pushed. The investment costs for the future are different mostly because the air heat pump efficiency varies with air temperature.

[2017-09-26 08:57] antw commented on #2494
I don't think this information is currently available in ETEngine, since it retrieves this data from Fever (which is not available for the `present` graph). I'll add myself to the assignees since I'll have to investigate how to create and make available the present heat demand before anything can be done with the chart.

[2017-09-26 09:26] DorinevanderVlies commented on #2481
thanks!

[2017-09-26 15:05] antw commented on #2491
I think this has been an occasional problem since the time-series charts were first introduced. I think that `draw` [is trying to access the data for the chart](https://github.com/quintel/etmodel/blob/1f4c0af949667c388a72e0454f2609d1208615bd/app/assets/javascripts/lib/views/d3_yearly_chart_view.coffee#L15) (via `dataForChart`) when there is no guarantee that data has been fetched from ETEngine yet

[2017-09-27 11:35] grdw commented on #2489
Closing this, as is it fixed with https://github.com/quintel/etmodel/pull/2492

[2017-09-27 11:35] #2489 closed

[2017-09-28 07:09] DorinevanderVlies commented on #2489
Nice work @grdw

[2017-09-28 09:06] ChaelKruip opened #2497 "Should we run hourly calculations for present?"
Following up on the discussion in https://github.com/quintel/etmodel/issues/2481, we are currently in the position where we run Merit and Fever for the future year, but the present is still 'non-dynamic'.

As a result, there are differences (delta's) in the outcomes of the model which are not related to slider settings of the user. I think we should try to minimise these as much as possible.

The

[2017-09-28 09:31] ChaelKruip commented on #2491
Is there a way to 'block' executing the drawing of the chart until the data has arrived?

[2017-09-28 09:57] DorinevanderVlies commented on #2497
When it comes to heat pump behaviour and electricity load I think it would be an improvement if start-year and end year are equal when no sliders are set as long as this does not introduce other inconsistencies.

Something we should also consider is the impact on the analysis for making a new dataset. When all behaviour is fixed calculation from final to useful demand is straightforward. However,

[2017-09-28 10:13] ChaelKruip commented on #2497
Good point! I did not consider that.

Good point as well.

Yes.

Yes. But I'm not sure if you can run Fever without running Merit 😟  @antw what do you think?

[2017-09-28 10:32] antw commented on #2497
On my laptop:

* Today (Time-resolved loads on future graph only): **1.6s-1.8s**
* Time resolved loads on future and present graphs: **2.7s-2.9s**

A large part of ETEngine's response time is due to time-resolved loads; both in calculating Merit and Fever (heat), and the need to compute the graph a second time (requiring the dataset to be cloned again, which is expensive in both CPU time and memor

[2017-09-28 11:39] DorinevanderVlies commented on #2497
Do we need to keep those? My first thought is that we used the present and both statements to initialize local datasets when we didn't have initializer inputs and that they are not used anymore.

[2017-09-28 11:45] grdw commented on #2497
Well yes. But they are *also* in the regular inputs:

[code]

[code]

[2017-09-28 11:47] BerendSmits commented on #2497
It's true these are not used in our current methods for making datasets, they are however used by quite a lot of old 'datasets' (living as scenario's).

For instance:

- IABR
- GEA
- Ameland
- Next Electric
- Zuid-Holland

The nice thing to do would be to make datasets in the proper new manor for each of these areas, but that would take some time.

[2017-09-28 11:52] ChaelKruip opened #2498 "Should we add losses of all export to primary demand?"
As an extension of https://github.com/quintel/etmodel/issues/2486, I was wondering if we shouldn't add all losses (primary_demand - demand) of the export nodes related to refinery products as well to the primary demand dashboard...

My first guess would be 'yes' as these (transformation) losses are accounted for by the producing country right?

[2017-09-28 11:58] BerendSmits commented on #2497
I think the area ones are not attached to sliders, but have the same function as adjust scaling ones. As for employment, targets and co2_biomass, I don't think you need to rerun ETEngine for those.

But this is a lot of 'thinking' on my part, would you agree (or know a trick to find out) @grwd?

[2017-09-28 14:57] MichielDenHaan commented on #2497
That would be a pity, I think its an interesting statistic for end users

[2017-09-29 08:38] AlexanderWirtz commented on #2498
They should be accounted for by the producing country, indeed. Perhaps the extended energy balance provides some clues as to the nature of these losses.

[2017-10-02 12:15] ChaelKruip commented on #2498
@DorinevanderVlies @MichielDenHaan @jorisberkhout do you know this?

[2017-10-02 13:20] ChaelKruip opened #2499 "Hydrogen export should be a negative number in waterfall chart"
Currently, it is not however:
![cursor_and_energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://user-images.githubusercontent.com/1303760/31079231-33886a82-a785-11e7-9d31-68938e51c61e.png)

[2017-10-02 13:48] #2499 closed

[2017-10-02 15:13] #2498 closed

[2017-10-02 15:13] #2486 closed

[2017-10-04 14:09] BerendSmits commented on #2352
Fixed by https://github.com/quintel/etmodel/pull/2427

[2017-10-04 14:09] #2352 closed

[2017-10-05 13:33] grdw opened #2500 "Error when loading batches of scenarios"
[code]

Airbrake doesn't notify this btw.

[2017-10-05 13:41] BerendSmits opened #2501 "Drenthe has hot water final demand change in blank scenario"
When you open a blank Drenthe scenario, the hot water final demand graph shows the following change:

![screen shot 2017-10-05 at 15 39 33](https://user-images.githubusercontent.com/24872776/31230144-6c6cb226-a9e3-11e7-88cf-97495b4b6966.png)

There is a difference between the start and end year, which seems odd. When you disable merit, the change disappears. I could imagine this having something t

[2017-10-05 13:42] BerendSmits commented on #2501
@AlexanderWirtz  says this goes for all local datasets..

[2017-10-05 13:44] AlexanderWirtz commented on #2501
I tested it for Friesland, Groningen and Noorderplantsoen

[2017-10-05 14:09] DorinevanderVlies commented on #2501
I've had a quick look. Some findings:

- When merit is turned off: 2013 = 2050.
- I think the outcome with merit turned on is correct. Changing the shares results in realistic final demand.
- I think the outcome with merit turned off is incorrect. It seems that any technology that is not a combi-boiler has far too small final demand (only exception is the gas water heater).

All country datasets a

[2017-10-05 14:22] antw commented on #2501
Nope; that is not merged yet.

I'm not sure why this would only affect local datasets; I'll take a look.

[2017-10-05 14:25] antw commented on #2500
What error is ETEngine returning?

[I expect this one](https://quintel.airbrake.io/projects/35333/groups/2054418262143293958?tab=overview): Could not find a dataset with the key "barendrecht"

[Here's the ETModel Airbrake notification](https://quintel.airbrake.io/projects/32209/groups/2009305847743453930?tab=overview).

[2017-10-05 14:47] AlexanderWirtz commented on #2501
We found this issue because I wanted to do some quick work for local Drenthe scenarios. The eternal issue of us using beta instead of live for actual client work.

I everyone is very busy. I wonder if you could let me know what you think is required to fix this and how long it would take, so I can let Drenthe know when to expect my output

[2017-10-05 14:51] antw commented on #2501
I'm reasonably certain I know what is causing this; if I'm right it will be fixed within the hour.

[2017-10-05 15:10] #2501 closed

[2017-10-05 15:12] DorinevanderVlies commented on #2501
![image](https://user-images.githubusercontent.com/19907658/31234881-58d8bad6-a9f0-11e7-8566-cceb435e446d.png)

Thanks for the super fast fix @antw

[2017-10-05 15:12] AlexanderWirtz commented on #2501
@antw
Awesome!

[2017-10-05 15:28] grdw commented on #2500
Aha, it's ETEngine that's receiving the error not ETModel. Was looking into the wrong project on Airbrake

[2017-10-05 15:29] grdw commented on #2500
Related: https://github.com/quintel/etengine/issues/951

[2017-10-05 15:30] grdw commented on #2500
@ChaelKruip should we remove the 9 Barendrecht scenarios or? I don't know if they're actually used in any way?

![screen shot 2017-10-05 at 17 29 55](https://user-images.githubusercontent.com/2676542/31235879-ddf0ec5a-a9f2-11e7-9479-889797d8d96b.png)

[2017-10-06 07:24] ChaelKruip commented on #2500
I think this is a question for @AlexanderWirtz and @DorinevanderVlies (I have no idea)

[2017-10-06 08:03] DorinevanderVlies commented on #2500
I do not use them

[2017-10-06 08:36] grdw commented on #2500
I take that as a 'yes'. I'll export the 'scenarios' table first and then I'll delete them. If you feel you need them anytime soon, come ask me 👍

[2017-10-06 08:40] grdw commented on #2500
Closing

[2017-10-06 08:40] #2500 closed

[2017-10-09 09:39] AlexanderWirtz opened #2502 "When merging two scenarios: unexpected slider settings"
I merged two scenarios with equal weight: 741570 and 741572 on the beta server.

This seems to work like a charm except for this slider:
[code]

This resulted in a non-zero slider setting even though both of its parent scenarios have this slider set tot `0.0`

[2017-10-09 09:39] AlexanderWirtz commented on #2502
Re-assign as you see fit

[2017-10-09 10:50] ChaelKruip commented on #2502
I assigned @antw as he knows best how merging of scenario's is done

[2017-10-09 11:38] antw commented on #2502
I've tried this locally and on beta, and in both cases the resulting district heating share is `0.0`. Are you sure those two scenario IDs are the ones you meant?

![screen shot 2017-10-09 at 12 35 06](https://user-images.githubusercontent.com/4383/31336372-8435fd32-acee-11e7-8806-ef66d4879b02.png)

[code]

[2017-10-09 12:26] AlexanderWirtz commented on #2502
I have not been able to reproduce it directly either, but I do have an idea what may have caused this:

The merged scenario's sliders for hot water do not add up to 100%, but to 95.1%:

![image](https://user-images.githubusercontent.com/308563/31337807-3c81329a-acfd-11e7-9f99-db8284c1bf19.png)

If you save this scenario and then load it, normally that scenario will re-set the Condensing combi boil

[2017-10-09 13:04] antw commented on #2502
The first scenario (741570) does not have any values for the hot water sliders, so the defaults are used. The second scenario (741572) *does* have values and they sum up to 90%; which is why the merged scenario – weighting the two starting scenarios equally – ends up with the sliders summing to 95%.

Here are the values for the second scenario:

| Input | Value |
| --- | --: |
| households_water_h

[2017-10-09 13:09] ChaelKruip opened #2503 "Add input and output of ALL() nodes to the datadump"
It would help some of our clients if they had a datadump of all nodes input and output. In terms of GQL:

[code]

This should be accompanied by a waring message that this datadump is only for advanced users 😆

[2017-10-09 13:10] AlexanderWirtz commented on #2502
I suppose I should have checked that. Not the only thing I discovered was wrong with that scenario, after all...

Thanks, Anthony!

[2017-10-09 13:10] #2502 closed

[2017-10-10 09:00] michieldenhaan opened #2504 "Centralized district heating slider is 0% even though local dataset sets it to 99.7%"
In the .yml I set:

[code]
Biogas chp is correctly set to 0.3% but centralized heating district is 0 (see screenshot). Setting biomass, gas, geothermal to non-zero values works fine.
![screen shot 2017-10-10 at 11 07 14](https://user-images.githubusercontent.com/32056448/31378356-46e82ec4-adab-11e7-9541-23c0cab14ad7.png)

Workaround:

[code]

![screen shot 2017-10-10 at 10 57 47](https://user-imag

[2017-10-10 10:56] ChaelKruip commented on #2504
On which branch are you working @MichielDenHaan?

[2017-10-10 11:14] grdw commented on #2504
I actually made this issue together with @MichielDenHaan so all is fine actually 👍 this is a bug. It's either ETModel which can't balance the sliders or it's something in the initializers. What is odd, is that I can remember something similar was happening with the `initializer inputs` (specify all but 1 of a share group).

[2017-10-10 12:23] grdw commented on #2504
![screen shot 2017-10-10 at 14 16 26](https://user-images.githubusercontent.com/2676542/31386011-9e5a63c4-adc5-11e7-82ac-ffb1982ddeb1.png)

The `buildings_heat_network_connection_steam_hot_water-buildings_final_demand_steam_hot_water@steam_hot_water` edge is a 'flexible' edge. Which I think exists as a share which share value are determined like I specified in the above comment:

By actually expli

[2017-10-10 12:47] grdw commented on #2504
Now the real questions:

1. How do we deal with this in the Excel?
2. Should they be explicitly in the yml?
3. Are there any other 'flex' shares which are set, which are causing similar issues?

[2017-10-10 14:30] ChaelKruip commented on #2504
I don't understand why it is relevant how we deal with this in Excel 😟 . This is behaviour which is happening in ETEngine right?

It would be nice for completeness IMO but not essential.

* Households space heating:
![cursor_and_energytransitionmodel](https://user-images.githubusercontent.com/1303760/31391619-5bf0d9de-add7-11e7-81d7-39a4704cb971.png)

* Households hot water:
![cursor_and_energytra

[2017-10-10 14:56] antw commented on #2504
There would almost certainly be some queries to be updated, but I guess so.

However I don't like that as a solution to this problem, because it will happen again someday that someone tries to specify a share for a flexible edge with initializer methods.

I think it should be the responsibility of the initializer method to check the type of the edge and do the correct thing (i.e., in this case, ig

[2017-10-10 15:12] grdw commented on #2504
--

In response to @ChaelKruip :

Yes, but @MichielDenHaan now copy pastes the end-result of that Excel into the Yaml, so it's the source - kind of. And I'm more thinking about the 'documentation' of that number. It could be left out of the Yaml (as the workaround suggests).

--

In response to @antw :

That, or write a new validator that will raise an error whenever somebody whitelists a flexible

[2017-10-10 15:22] MichielDenHaan commented on #2504
This does not seem to be an issue for all flexible shares. I just tested for households hot water by setting:
[code]
Result:
![screen shot 2017-10-10 at 17 17 50](https://user-images.githubusercontent.com/32056448/31394587-f6e195f8-adde-11e7-91aa-8ee69ea22ebb.png)
According to @ChaelKruip's post, the gas water heater share is flexible. However, the share is correct (3.3%) even though it is explici

[2017-10-10 15:25] grdw commented on #2504
So perhaps it's just this (`buildings_heat_network_connection_steam_hot_water-buildings_final_demand_steam_hot_water@steam_hot_water`) single share for some reason 🤔

[2017-10-10 15:27] DorinevanderVlies opened #2505 "Final demand for space heating sky high for nl2015 dataset future"
A first version of the nl2015 dataset has been committed to the `nl_2015_update` branch on ETSource.

Most of it is working fine. However...
The final demand for space heating is very high for the future. The useful demand is constant (as it should be).
Final demand for hot water is fine.

Me and @ChaelKruip had a look. We noticed that:
- Space heater deficits are really high for the future
- The

[2017-10-10 15:51] antw commented on #2505
The heat profiles (`insulated_household.csv` and `non_insulated_household.csv`) are supposed to sum to 1/3600.

Currently:

* `heat/default/insulated_household.csv`: 3838.3
* `heat/default/non_insulated_household.csv`: 12089.1

[2017-10-10 15:53] DorinevanderVlies commented on #2505
Thanks!!! I'll fix this

[2017-10-10 16:30] DorinevanderVlies commented on #2505
:tada:

![image](https://user-images.githubusercontent.com/19907658/31398365-01a72598-ade9-11e7-8bcf-71b07974170d.png)

[2017-10-10 16:30] #2505 closed

[2017-10-11 12:01] MichielDenHaan opened #2506 "Axes of chart does not accomodate present values"
![screen shot 2017-10-11 at 13 59 12](https://user-images.githubusercontent.com/32056448/31439515-b156228e-ae8c-11e7-806c-da8923ff675a.png)

This happens locally for my machine...

[2017-10-11 12:43] MichielDenHaan commented on #2504
When I set:
`:"households_heat_network_connection_steam_hot_water-households_final_demand_steam_hot_water@steam_hot_water": 1` it breaks down as well (all shares are 0)

[2017-10-12 10:58] ChaelKruip commented on #2503
@antw can you give an estimate how much time it would need you to add this? I am manually providing these datadumps several times per week now 😄

[2017-10-12 11:17] ChaelKruip opened #2507 "Should seasonal storage be incorporated in the ETM?"
Storing energy for long periods (weeks to months) is becoming a hot topic in the debate. I think we should start thinking about incorporating it in the ETM.

Some fundamental questions:
* Which carriers can be used to store energy long term? Which conversions are needed?
* Which technologies can be used?
* Where are these technologies located? At the end-user, in the distribution network, at the p

[2017-10-12 14:36] #2503 closed

[2017-10-13 13:41] AlexanderWirtz commented on #2507
Seasonal storage should be included where it makes sense in my opinion.
Here are my 2cts:

- Seasonal storage of hydrogen is in scope of the Gasunie hydrogen project in 2018
- Seasonal storage of natural (or green) gas should be fairly easy if we can pull off hydrogen
- Seasonal storage of heat is feasible and should be included at some point. I hear lots of talk about a project in Denmark where s

[2017-10-16 12:27] grdw opened #2510 "Minor improvement: showing key of the slider on hover"
I was helping out @nairnamratha and found out that people need to know what the key of a slider is. Ofcourse this information is only useful to Quintellers (maybe not? - correct me if I'm wrong) but I thought - since it's such a minor change - that it would be easy to show the key when you hover (for some time) on a slider:

**Like:**

![img](http://g.recordit.co/Fu8eohy9iC.gif)

Now people open u

[2017-10-16 12:33] ChaelKruip commented on #2510
I am not in favour of this as the unknowing user might just hover over a slider and see some cryptic information that means nothing to them...

[2017-10-16 12:38] grdw commented on #2510
Yes, that was what I was thinking 👍. Maybe we could only enable it in development environments?

[2017-10-16 12:57] ChaelKruip commented on #2510
Yes. That's an idea. The way I use this is by copying the key from the console to look up the input in my text-editor. Having a mouse-over bubble doesn't give you convenient copy-paste capabilities though. If this is a development environment thing anyways, would it be more useful to make it a clickable link that opens the input in ETEngine where you can view it?

[2017-10-16 13:18] grdw commented on #2510
Hmmm 🤔 I would then rather put it in the information box:

![screen shot 2017-10-16 at 15 17 03](https://user-images.githubusercontent.com/2676542/31613994-1ad83610-b285-11e7-8ccf-b07f0fec7ed3.png)

And make that link only 'viewable' when:

a) A person is signed in
b) is an admin of ETModel

[2017-10-16 14:42] antw commented on #2510
1. Sign in to your ETModel (admin) account.
2. Go back to your scenario.
3. Open the JS console, then move the slider.
4. The slider key and value will be shown.

[2017-10-16 14:59] grdw commented on #2510
This is something I tried but it didn't work at @nairnamratha laptop.... let me see. Ah! so you need to actually be signed in for this to work 😄 . I still don't really like the idea of opening a JS console for this... but I'll close this for now. If I come up with something smarter then I'll open another issue. Thanks!

[2017-10-16 14:59] #2510 closed

[2017-10-17 07:53] DorinevanderVlies opened #2511 "Add wacc and lifetime to datadummp"
Our client who is using the datadump would like wacc and technical lifetime to be added to the datadump.
@antw is that possible?

Notifying @ChaelKruip and @jorisberkhout

[2017-10-17 08:06] MichielDenHaan commented on #2506
This is caused by the fact that there is -0.2 PJ other heat in the Groningen/Ten Boer industry (for some reason I haven't figured out yet)
![screen shot 2017-10-17 at 10 03 07](https://user-images.githubusercontent.com/32056448/31653431-e01d5a98-b322-11e7-88be-c2681be6811c.png)

[2017-10-17 08:24] DorinevanderVlies opened #2512 "Add flexibility technologies to datadump"
Currently `households_flexibility_p2p_electricity` is not shown in the datadump whilst `households_flexibility_p2h_electricity` is shown in the datadump.

Relevant technologies (as far as I have found them)
- `industry_flexibility_p2g_electricity`
- `households_flexibility_p2p_electricity`
- `energy_flexibility_p2g_electricity`

@jorisberkhout , what would be a good approach to add the flexibility

[2017-10-17 08:42] DorinevanderVlies opened #2513 "Add ev_demand to datadump "loads""
Our client wants to reproduce the dynamic demand chart.

The "loads" export gives 3/5 components of this chart:

In "loads" export: `total_demand`, `fever_hot_water`, `fever_space_heating`
Not in "loads" export: `merit_ev_demand`, `other`

If `merit_ev_demand` (MERIT_DEMAND_COMPONENT(ev_demand)) is also added to the "loads" export a user has all the information to reproduce this chart themselves.

[2017-10-17 10:07] ChaelKruip commented on #2506
Hm, negative energy is the worst!

[2017-10-17 11:51] jorisberkhout commented on #2512
They need to be added to the `application_group` group. I must have missed them when creating that group.

[2017-10-17 12:17] DorinevanderVlies commented on #2512
Thanks! I'll add those nodes

[2017-10-17 15:50] DorinevanderVlies commented on #2512
All nodes which belong to the `electricity_production`, `heat_production` and `cost_other` are part of the "production_parameters"-export.

For further reference the relevant lines:
[https://github.com/quintel/etengine/blob/master/app/controllers/api/v3/scenarios_controller.rb#L198-208](https://github.com/quintel/etengine/blob/master/app/controllers/api/v3/scenarios_controller.rb#L198-208)
[https:

[2017-10-18 09:11] MichielDenHaan commented on #2506
This wasn't just a Groningen/Ten Boer issue. The chart query didn't take into account all industry sectors, which could result in a negative number (see below for an 'extreme' national scenario in which heat is also negative). This is fixed by this commit: https://github.com/quintel/etsource/commit/44c75b665f145c748dba4e9ccd9e5eb892a1e969.
![negativeheat](https://user-images.githubusercontent.com/

[2017-10-18 09:11] #2506 closed

[2017-10-18 09:14] ChaelKruip commented on #2506
Congratulations on closing your first issue @MichielDenHaan! 🎉

[2017-10-18 10:17] #2512 closed

[2017-10-18 10:29] DorinevanderVlies opened #2514 "Data export of demand differs from dynamic demand curve"
Our customer wants to have the raw data of the dyamic demand curve.

The loads export should provide all required data: `transport_car_using_electricity`, `fever_hot_water`, `fever_space_heating` and `total_demand`.

However a plot of these columns does not result in the total demand .

My first thought is that the EV curve of the chart shows the demand of EV and the EV curve of the export shows t

[2017-10-18 10:29] DorinevanderVlies commented on #2513
closing as issue https://github.com/quintel/etmodel/issues/2514 gives a better overview

[2017-10-18 10:29] #2513 closed

[2017-10-18 12:44] antw commented on #2514
That is indeed exactly what's going on. `transport_car_using_electricity` is showing the use of EVs **for buffering**:

<img width="592" alt="screen shot 2017-10-18 at 13 15 23" src="https://user-images.githubusercontent.com/4383/31718116-8fdefe62-b406-11e7-93b9-96f1db9b6560.png">

EV demand is not included in the CSV because it is part of `total_demand`, which is not really *total*: it is total d

[2017-10-18 12:54] ChaelKruip commented on #2514
Why is electricity load due to heating and hot water not included in the total_demand and load due to EV not @antw? They seem very similar to me in the sense that all three are being calculated explicitly and shown as curves in the the dynamic demand curve chart.

[2017-10-18 12:55] DorinevanderVlies commented on #2514
I like that idea and would say it can be pushed directly to beta.

For my understanding: with this change is`total_demand` in the export the white part of the dynamic demand chart and the sum of the 4 components the real total demand?

[2017-10-18 13:13] antw commented on #2514
Because the EV demand curve is constant; it is a function of EV demand and the charging strategy options chosen. The *shape* of the EV curve does not change once we start computing Merit.

This is not so for the space heating and hot water demands, whose shape *does* change depending on energy buffered as heat inside Fever. Therefore, the two Fever curves had to be included as separate consumers i

[2017-10-18 13:21] DorinevanderVlies commented on #2514
Thanks for the clarification and the change!
Maybe "other_demand" would be more appropriate

[2017-10-18 13:24] antw commented on #2514
This is on beta now, so I'll close the issue. Reopen if you experience any difficulties.

[2017-10-18 13:24] #2514 closed

[2017-10-23 11:17] antw commented on #2511
Which datadump CSV? A new one?

[2017-10-23 12:42] ChaelKruip commented on #2511
Electricity and heat production (and cost)

[2017-10-23 12:48] #2511 closed

[2017-10-24 06:27] DorinevanderVlies commented on #2495
@antw i think it would be nice to implement this addition to the scenario report before the deploy. Do you have time to take a look at this this week?

[2017-10-24 07:13] antw commented on #2495
Yes. Would you like some pointers for what needs to be done, or would you prefer I just take care of it?

[2017-10-24 07:26] DorinevanderVlies commented on #2495
Perhaps if you take care of the English text I can take care of the Dutch text and will in the process learn how to do this.

Again, if it's unclear, let me know!

[2017-10-24 12:17] #2485 closed

[2017-10-24 14:44] ChaelKruip commented on #2507
I think it would weird to ask the user *how much* (volume) they want to store. The net storage should be zero over the year (roughly). The capacity (kW) of storage is more useful IMO but perhaps that is what you meant @AlexanderWirtz?

In that case, the logic could be that you store all hydrogen that you don't use instantaneously and store the remainder (if your capacity allows). If you produce mo

[2017-10-25 07:05] jorisberkhout commented on #2402
Moved to October deploy.

[2017-10-25 08:18] ChaelKruip commented on #2497
This is a tricky conundrum...

If we dynamically calculate the present year (and 'freeze the result) by running Fever and Merit, there are no delta's expected between the present and the future results of the ETM with the exception of import/export of primary carriers as a result of time-curves. This will likely result in present-year results that are different from those obtained with the dataset

[2017-10-25 08:29] ChaelKruip commented on #2412
Could this be enforced in the dataset analyses @DorinevanderVlies ?

[2017-10-25 08:52] grdw commented on #2412
That's one step. I think it would also be practical to validate this with a spec in ETsource.

[2017-10-25 09:33] antw commented on #2495
I hit a minor snag with this, in that the "increase in insulation" query had something like this:

[code]

... but the input value is the same in the `present` and `future` because it literally just returns whatever value the user has set, so `QUERY_DELTA` would always return 0.0 (`0.5-  0.5 = 0.0`, `3.0 - 3.0 = 0.0`).  I've worked around this for now by [assuming that the start values are the sam

[2017-10-25 12:50] grdw opened #2516 "Scenario report in Dutch still contains Lorum ipsum-ish values."
![screen shot 2017-10-25 at 14 48 35](https://user-images.githubusercontent.com/2676542/31999485-ade0af90-b993-11e7-98c1-6f72a5c30942.png)

Relevant url: https://pro.energytransitionmodel.com/scenario/reports/main

The deploy will probably get rid of this issue, since beta doesn't experience this. Still want to note this for completeness.

[2017-10-25 14:41] DorinevanderVlies commented on #2497
My feeling is that this would require us to model import and export of electricity based on a price curve for foreign electricity...

Sounds like a nice aim

[2017-10-25 15:14] DorinevanderVlies commented on #2495
@antw thanks!

[2017-10-25 15:14] #2495 closed

[2017-10-26 06:46] DorinevanderVlies commented on #2412
In both the national dataset and the local dataset this is currently enforced by setting total residences and a share of old residences.

So I think this issue can be closed unless we want to

@grdw can you do that?

[2017-10-26 07:50] grdw commented on #2412
Sure! 👍 No problem.

[2017-10-26 08:50] grdw commented on #2412
My validation is working exactly as it should, in fact. It directly finds an error:

[code]

[2017-10-26 10:04] DorinevanderVlies commented on #2412
nice catch

If fix this in:

https://github.com/quintel/etdataset/pull/732/commits/30f0f0adf50033bd113faed39c9e8425642d723c
and
https://github.com/quintel/etsource/pull/1397/commits/7cddc7d06bfd1d16b89106ac0281fb6952cd3453

[2017-10-26 10:40] DorinevanderVlies commented on #2412
Closing

[2017-10-26 10:40] #2412 closed

[2017-10-27 13:50] MichielDenHaan commented on #2402
We decided to changed the graph such that hydrogen production for transport is shown, rather than all hydrogen production (see: https://github.com/quintel/etsource/pull/1399). The rationale behind this is that the chart is shown on the H2O for transport slide, so the chart now (only) shows how this H2O for transport is produced (p2g, methane reforming, methane reforming ccs, local electrolyses). I

[2017-10-27 13:50] #2402 closed

[2017-10-27 13:51] #2272 closed

[2017-10-30 16:10] jorisberkhout commented on #2354
Removing from deploy milestone.

[2017-10-30 16:15] jorisberkhout opened #2519 "Heat efficiency improvement leads to converters with efficiencies > 100%"
As pointed out by @MichielDenHaan, this happens in the refinery and fertilizer industries.

When setting the heat efficiency improvement to 5%/year, the efficiency of the heating converters increase to over 100%. See the image below for an example.

<img width="720" alt="screen shot 2017-10-30 at 17 14 22" src="https://user-images.githubusercontent.com/4669028/32181942-dd7d7516-bd95-11e7-98d2-753b

[2017-10-31 08:39] jorisberkhout commented on #2397
Closed by https://github.com/quintel/etsource/pull/1406, https://github.com/quintel/etmodel/pull/2520 and corresponding database changes.

[2017-10-31 08:39] #2397 closed

[2017-10-31 09:02] jorisberkhout commented on #2257
This is solved by @MichielDenHaan by changing the existing chart for hydrogen in transport and adding a similar graph for hydrogen in the fertilizer industry. See below.

<img width="607" alt="screen shot 2017-10-31 at 10 00 10" src="https://user-images.githubusercontent.com/4669028/32215549-8db3172e-be22-11e7-9e6f-6c6f82568835.png">
<img width="610" alt="screen shot 2017-10-31 at 10 00 45" src="h

[2017-10-31 09:02] #2257 closed

[2017-10-31 09:09] DorinevanderVlies commented on #2257
Nice!
@MichielDenHaan and @jorisberkhout I like this a lot!

[2017-10-31 09:47] jorisberkhout opened #2521 "Make it possible to include only part of the international transport in the energy system"
More detailed background information on this issue can be found on [Basecamp](https://3.basecamp.com/3797409/buckets/4576947/messages/745259588).

As international transport is usually not considered to be part of the national energy system, we would like the user to be able to select what percentage of the sector is included through two sliders, looking roughly like this:

<img width="272" alt="s

[2017-10-31 09:47] jorisberkhout commented on #2521
Is this doable, @antw and could you give an estimate of the time required to implement this and when you can do it?

[2017-10-31 10:46] nairnamratha opened #2522 "Electricity price her hour chart - Pricing mechanism doesn't match with documentation"
Regarding the electricity pricing mechanism for the chart "Electricity price per hour":

The documentation on electricity pricing under the Merit Order states that:

"If no 'more expensive' participant is available, the electricity price is determined by **7.22 * operating cost of the most expensive participant.** This reflects the highest market price that can currently be observed in electricity

[2017-10-31 11:12] nairnamratha opened #2523 "Rapid increase in Gas CHP buildings from 2013 to 2015?"
Comparing the 2013 and 2015 Electricity production per hour graph shows that Gas CHP buildings has popped up in 2015 whereas in 2013 they were negligible/non-existent.

![screen shot 2017-10-31 at 11 58 37](https://user-images.githubusercontent.com/32448293/32220676-e41a1f3a-be32-11e7-8e95-bad205a21fb4.png)

Following this, the district heating sector shows that in buildings the Centralized distri

[2017-10-31 11:16] ChaelKruip commented on #2523
Good questions @nairnamratha!

[2017-10-31 12:13] DorinevanderVlies commented on #2523
I tried to trace where this change originates, however so far I have not been able to find the source in the 2015 dataset analysis. When I compare the 1_chp_source_analysis for 20113 en 2015 CHP in “C&P services” (tab: CHP - Results by machine) is very similar

**1_chp_source_analysis**
2013 en 2015 CHP in “C&P services” (tab: CHP - Results by machine)

**2013:**
![image](https://user-images.githu

[2017-10-31 13:50] antw commented on #2521
Including @ChaelKruip. 😈

You cannot set final demands in ETEngine (unless the nodes to the left are calculated right-to-left, like power plants). One solution to this might be to add an extra "layer" where you split demand for ships and aviation between local (domestic?) and foreign use:

![untitled diagram 9](https://user-images.githubusercontent.com/4383/32226684-248d0f7e-be41-11e7-9b56-2366a22

[2017-10-31 16:36] ChaelKruip commented on #2521
I kinda anticipating this imp to pop up sooner or later 😆

What I think you mean @antw is that we would like to move away from updating the present graph rather than relying on it even more.
At least, that is the direction that ETLocal is moving in: get rid of all inputs and methods that (mis)use ETEngine to manipulate the present graph and do all the initialising before ETEngine comes into the pi

[2017-10-31 17:08] AlexanderWirtz commented on #2523
Well spotted, but not to worry... this is deliberate. I will spare you the arcane arts of CHP and PP analyses. The source analyses do document this change between 2013 and 2015, but you need to know where to look. For good measure, I will tell you:

The final result of the CHP and PP and HP analyses is documenten in the `2_chp_pp_source_analysis.xlsx` file. The sheet `Power Plants and CHPs compare

[2017-10-31 17:15] DorinevanderVlies commented on #2523
Thanks @alexanderwirtz!

[2017-10-31 17:15] #2523 closed

[2017-11-01 08:34] marliekeverweij commented on #2521
Thank you for your nice ideas!

The main reason for this is that the sliders can also fulfil the purpose of the switch. Because when the slider is put on 0% this means that international transportation should not be included in the final demands, so this is the same as toggling the switch to OFF. Also when the slider is given is certain percentage this is similar to toggling the switch to ON.

[2017-11-01 08:57] ChaelKruip commented on #2521
Only if that certain percentage is 100% 😉

To rephrase my question: what is the use case for setting the sliders to 30% for instance? What insight would a user get by using slider settings different from 0% and 100%?

[2017-11-01 09:39] marliekeverweij commented on #2521
Good question. The energy demand of international transportation is a lot and it is questionable whether it should all be allocated to the Netherlands, since for example the bunker fuels are also used for airplanes that transfer here. With the sliders the user could choose to only allocated a part of that energy demand.

Maybe in the description underneath the slider we can give the shares of mari

[2017-11-01 10:47] jorisberkhout opened #2524 "Add link to EV demand response slide from car technology slide"
It would be cool if the text above the different car technologies shows a link to the Demand response - Electric Vehicle slide to draw some more attention to that new cool feature.

<img width="449" alt="screen shot 2017-11-01 at 11 44 49" src="https://user-images.githubusercontent.com/4669028/32271459-3e6ab734-befa-11e7-953b-186ca9e6a052.png">

[2017-11-01 10:48] jorisberkhout opened #2525 "Add link to HP demand response slide from space heating technologies slide"
It would be cool if the text above the different space heating technologies shows a link to the Demand response - Heat pumps slide to draw some more attention to that new cool feature.

<img width="448" alt="screen shot 2017-11-01 at 11 47 33" src="https://user-images.githubusercontent.com/4669028/32271521-8f4f8184-befa-11e7-9ec3-22a9c302f908.png">

[2017-11-01 10:49] jorisberkhout opened #2526 "Add link to HP demand response slide from hot water technologies slide"
It would be cool if the text above the different hot water technologies shows a link to the Demand response - Heat pumps slide to draw some more attention to that new cool feature.

<img width="450" alt="screen shot 2017-11-01 at 11 47 46" src="https://user-images.githubusercontent.com/4669028/32271546-b77877ba-befa-11e7-9d57-61bee1f2ca92.png">

[2017-11-01 11:00] jorisberkhout opened #2527 "Should we add heat delivered by P2H in industry to the respective final demand charts?"
I've created a scenario with a lot of excess electricity and converted most of it to heat in industry, but haven't done anything about the industrial sectors themselves. This leads to the changes in the final demand of the sector shown below. Although the calculation is entirely correct, the chart feels counterintuitive. So the question is if we should show the electricity used for P2H like we do

[2017-11-01 11:01] jorisberkhout opened #2528 "Should we add heat delivered by P2H for to the final demand for hot water?"
Similar issue as https://github.com/quintel/etmodel/issues/2527.

[2017-11-01 15:56] MichielDenHaan opened #2529 "Chart "Supply and demand of the central heat network" showing 20 items even if value 0"
![etmchart](https://user-images.githubusercontent.com/32056448/32283716-702434c8-bf25-11e7-9d47-34f1124e0dee.png)

[2017-11-01 15:57] nairnamratha opened #2530 "Can't find 'annual infrastructure costs' chart"
The chart info for _Required additional infrastructure investments_ (found in section Infrastructure Costs) says that there is a possibility to switch to another chart which displays annual infrastructure costs.
![screen shot 2017-11-01 at 16 40 53](https://user-images.githubusercontent.com/32448293/32283109-c704e19a-bf23-11e7-800e-387c69eed348.png)

The missing chart is supposed to show the chang

[2017-11-01 16:02] DorinevanderVlies commented on #2527
That is indeed why we did not add the electricity used for P2H to this chart.

Although it can also be argued that the electricity does reach the industries and is used there, so in some way it can be considered as final demand.

[2017-11-01 16:03] DorinevanderVlies commented on #2525
Great idea, I'll implement this

[2017-11-01 20:09] AlexanderWirtz commented on #2527
If the electricity is used to create heat, how is that not final demand? Or is this heat fed into a heat network? The chart seems to show both a decrease in gas use (which would imply final demand) and in heat use (which is itself final demand, but the electricity used to produce it is not.

My point is that electric heaters in homes are final demand, so why is this not the case in industry. Sorry

[2017-11-02 10:37] michieldenhaan opened #2532 "Adding slider history feature"
At a workshop on Tuesday a few participants said they missed the following features in the front end:

- see the last X changes made to a scenario

- quickly save/bookmark a certain 'stage' (i.e. all changes up to a certain point) to which the user can easily go back.

The motivation behind this was that they wanted to try out different routes for 'finetuning' a scenario and quickly go back to a s

[2017-11-03 12:29] ChaelKruip commented on #2532
I like it a lot! We would have to come up with a nice way to visualise the history-of-clicks though and think of a place in the ETM where to put this...

[2017-11-06 08:26] jorisberkhout commented on #2530
@nairnamratha , could you please assign someone to look into an issue? You can do that on the top right of the issue page.

Regarding the issue itself, the chart you're looking for is only available for The Netherlands and not for other countries as we do not support a network calculation for these countries. The chart is called `Required additional infrastructure investments` and can be found und

[2017-11-06 08:37] nairnamratha commented on #2530
Noted! @jorisberkhout

Thanks!

[2017-11-06 13:16] antw commented on #2522
Good catch.

The maximum price is €146 which happens to be the price of the import interconnect. This participant isn't included on the "Merit order capacities and marginal costs" chart. I will look into that and see if I can add it with any other missing participants.

The second issue is that the interconnect is considered "price-setting" even though demand vastly exceeds supply. This is because

[2017-11-07 17:19] DorinevanderVlies commented on #2526
![image](https://user-images.githubusercontent.com/19907658/32507582-1b5831f2-c3e8-11e7-87cf-9b0884c7ed50.png)

[2017-11-07 17:19] #2526 closed

[2017-11-07 17:19] DorinevanderVlies commented on #2525
![image](https://user-images.githubusercontent.com/19907658/32507550-081c6fea-c3e8-11e7-9119-16322e2fe161.png)

[2017-11-07 17:19] #2525 closed

[2017-11-07 17:24] DorinevanderVlies commented on #2527
A similar issue runs for electric heaters in households that are powered with excess electricity options: https://github.com/quintel/etmodel/issues/2528. They are currently not counted as final demand. Is that correct @ChaelKruip ?

I remember @ChaelKruip and me had a discussion about this chart and that we decided that energy used by P2H technologies should not be shown in this chart as it is not

[2017-11-08 13:29] nairnamratha opened #2534 "France- Missing food and paper sectors in the front-end but non-zero values in the back-end"
When the France dataset is used in the ETM model, the sub-sectors "Food" and "Paper" are not shown in the front end.
![screen shot 2017-11-08 at 14 24 47](https://user-images.githubusercontent.com/32448293/32551394-ab56c572-c490-11e7-8fb2-e423cefd370a.png)

However, the energy graph shows these sectors to have useful demand values which are non-zero.

![screen shot 2017-11-08 at 14 25 04](https://

[2017-11-08 14:18] antw commented on #2534
Those sectors are only shown when the region `has_detailed_other_industry ` is set to `true`. [This is not the case for France](https://github.com/quintel/etsource/blob/master/datasets/fr/fr.full.ad#L25-L28) which uses a simplified version of those sectors.

I don't know if it's correct for those nodes to have a demand when the detailed model is turned off, but I *assume* that it is. @Dorinevander

[2017-11-08 14:44] #2529 closed

[2017-11-08 14:50] nairnamratha commented on #2534
Thanks @antw ! Hadn't noticed the has_detailed_other_industry earlier.

[2017-11-08 15:18] DorinevanderVlies commented on #2534
I am not sure either. I assume this decision was made for all dataset when industry was split in different sectors. Is that correct @jorisberkhout

I would propose to set `has_detailed_other_industry` to `true` for all datasets in which this detailed industry has a value. So for France that would imply that this setting is changed. What do you think @jorisberkhout?

[2017-11-08 15:39] RobTerwel commented on #2534
Yes

This doesn't work without some additional research. Let me try to clarify 😄

If `has_detailed_other_industry` is set to `false`, all electricity consumption of the paper or food sector (as follows straight from the EB) is assigned to the electricity UD of that sector. If `has_detailed_other_industry` is set to `true`, however, one has to specify *what part of the electricity use of the subsec

[2017-11-08 15:56] DorinevanderVlies commented on #2534
Thanks for the clarification @jorisberkhout and @RobTerwel

[2017-11-09 16:27] ChaelKruip opened #2535 "Remove WATT NU?! presets"
I would like to remove these preset scenario's as they are outdated and clutter the start-screen. Moreover, it will take time to migrate them to the latest additions.

Anyone disagrees? @AlexanderWirtz @jorisberkhout?

[2017-11-10 06:31] AlexanderWirtz commented on #2535
👍  let's also remove the links to these scenarios from our website.

[2017-11-10 10:53] jorisberkhout commented on #2535
No objections from my side either.

[2017-11-10 12:22] ChaelKruip commented on #2535
Assigning @grdw to execute the clean up as I don't completely oversee where all the links reside.

[2017-11-10 12:45] grdw commented on #2535
Removing the presets from ETSource removes them from the front-page of ETModel (start an existing scenario):

<img width="206" alt="screen shot 2017-11-10 at 13 44 59" src="https://user-images.githubusercontent.com/2676542/32659109-5e1c9f78-c61d-11e7-9504-618c43d3940a.png">

[2017-11-13 08:50] michieldenhaan opened #2536 "Solar heat tab refers to solar panels"
The solar heat tab refers to the solar panels section of households and buildings. I think it would be helpful if the text makes clear this is about solar thermal. Secondly, for buildings solar thermal is in the space heating tab, not solar panel tab.
![issue1 solar panels heat](https://user-images.githubusercontent.com/32056448/32723673-a2bd839c-c86e-11e7-81b0-8d77ab55befc.png)

[2017-11-13 08:53] michieldenhaan opened #2537 "Waste heat is in the fossil tab, electricity is in renewable tab"
I suggest moving central waste fired heaters to the renewable heat tab. Agree @AlexanderWirtz ?
![issue2_waste_heat](https://user-images.githubusercontent.com/32056448/32717082-ae520fcc-c858-11e7-81c0-8917e891d155.png)
![issue2_renewable_waste](https://user-images.githubusercontent.com/32056448/32717084-b11fb344-c858-11e7-8c2c-6899124e44b7.png)

[2017-11-13 14:20] marliekeverweij commented on #2521
Update on this issue:

We solved this issue by using `update_period = both` for the two sliders mentioned above. So the .gql-file of both inputs look like this:

![screen shot 2017-11-13 at 14 58 51](https://user-images.githubusercontent.com/32833996/32729183-37e5b6c4-c883-11e7-9db5-61d62c7042df.png)

This works fine, EXCEPT there is still one issue left.... When a new scenario is loaded, the fina

[2017-11-13 16:26] antw commented on #2521
Both of these options require that we can calculate the useful demand *before* calculating the graph (basically, as described at [the end of my previous post](https://github.com/quintel/etmodel/issues/2521#issuecomment-340767945)). Is that likely to be possible? If so, I'm guessing either option would work.

The second might prove to be better since it will avoid any possibility of the "foreign" n

[2017-11-14 08:39] marliekeverweij commented on #2521
Yes, that is exactly what we would like to do.

I like your idea @antw since this seems to be the most well-ordered option, where least can go wrong. I am going to implement that and see how it works! If you think of a simpler option, let me know.

[2017-11-14 11:04] MartLubben opened #2538 "Area of solar plants are not calculated and shown like it does with wind"
In the target you can set de max size of wind, but not the max size of solar. The area of solar plants are 'uberhaupt' not measured. However, they are very interesting and desired by governmental bodies.

[2017-11-14 12:46] marliekeverweij commented on #2521
I have implemented the new nodes (`bunkers_total_useful_demand_ships` & `bunkers_total_useful_demand_planes`) and did not connect them to the rest of the graph like you proposed (so no edges with shares). This is de code of these nodes:

![screen shot 2017-11-14 at 13 43 30](https://user-images.githubusercontent.com/32833996/32780525-dc6e2258-c941-11e7-81d7-a5e288097077.png)

Additionally, I have

[2017-11-14 15:57] antw commented on #2521
Have these changes been pushed to GitHub? I can take a look into it.

One thing I'm noticing is that my above query for the input is incorrect. It should be:

[code]

Also make sure that the "total_useful_demand" node belongs to the "preset_demand" group, otherwise it won't have a demand attribute that ETEngine can read.

[code]

[2017-11-15 10:28] MartLubben opened #2539 "80PJ of Industry_locally_available_refinery_gas_for_chemical is not an input in any process and not an export"
![screen shot 2017-11-15 at 11 31 59](https://user-images.githubusercontent.com/33415156/32831455-aefb2138-c9f8-11e7-9ea6-a2d782faff5a.png)

[2017-11-15 14:07] grdw opened #2541 "Zeeland and Baarland and the dataset selector"
<img width="228" alt="screen shot 2017-11-15 at 15 04 42" src="https://user-images.githubusercontent.com/2676542/32839922-54d81dc8-ca16-11e7-9472-9b758eb2f6d8.png">

See above screenshot. "Zeeland" and "Baarland" are both datasets which are used for 'demo'-ing and aren't up-to-par with Quintel standard so to speak. Should we move them to another sector or specify behind the title that it regards a

[2017-11-15 15:23] ChaelKruip commented on #2539
@jorisberkhout @AlexanderWirtz is this refinery_gas actually used for heat in industry? Should we add it to own use (and therefore to the final_demand_group?)

[2017-11-15 15:34] AlexanderWirtz commented on #2539
@ChaelKruip I haven't a clue. Refinery gas is typically sent right back to be fired for extra heat production, but I am too unfamiliar with the way refineries are modeled to be able to say what this is.

[2017-11-15 18:18] DorinevanderVlies opened #2542 "Local dataset do not load on Beta-server"
I get errors on Beta when trying to load a local dataset.

Perhaps this has to do with the implementation of international aviation.

Notifying @jorisberkhout, @marliekeverweij @ChaelKruip
@antw please reassign when appropriate

![image](https://user-images.githubusercontent.com/19907658/32852851-8d84707c-ca39-11e7-8b63-8aee986c3d09.png)

[2017-11-15 19:02] antw commented on #2542
I think this is because [dashboard_reduction_of_co2_emissions_versus_1990 ](https://github.com/quintel/etsource/blob/7dac27c83afe183823ba88e7dc7923dd85072ce1/gqueries/output_elements/dashboard/dashboard_reduction_of_co2_emissions_versus_1990.gql) references `AREA(co2_emission_1990_marine_bunkers)` and `AREA(co2_emission_1990_aviation_bunkers)`, and these attributes are not set on the local dataset

[2017-11-16 08:47] #2542 closed

[2017-11-16 10:54] grdw opened #2543 "Remove 'share_group' column from input_elements -> redundancy with ETSource"
Investigate what the fallout is when removed.

[2017-11-16 14:14] grdw opened #2545 "Clean up remote branches"
[code]

Please remove old branches which are yours.

[2017-11-16 14:47] MartLubben opened #2547 "Aviation growth %/year is maxed at 5%, however according to CBS growth is 5.5%/year"
Could this slider be increased?

For air transport of goods it is:
https://www.cbs.nl/nl-nl/nieuws/2016/26/luchtvracht-neemt-gestaag-toe

For persons it is even higher than 5.5%: https://www.cbs.nl/nl-nl/achtergrond/2016/26/kwartaalmonitor-luchtvaart-eerste-kwartaal-2016

@MichielDenHaan I added you because I do not know who is working on aviation.

[2017-11-17 07:07] AlexanderWirtz commented on #2541
@grdw It looks like we really need a solution to sort datasets better than the one we have now. @jorisberkhout and @ChaelKruip do you agree?

[2017-11-17 10:30] jorisberkhout opened #2551 "Add synthetic kerosene production to investment table"

[2017-11-17 10:32] jorisberkhout opened #2552 "Add kerosene demand to transport chart similar to hydrogen demand for cars"
Due to the recent changes, the transport chart shows only the remaining kerosene demand after P2L. In line with the hydrogen demand for cars, I would like it to show the full kerosene demand and add a separate chart to show how this kerosene is produced.

[2017-11-17 10:34] jorisberkhout opened #2553 "Add chart to show how kerosene is produced"
Something similar to the hydrogen production chart would be great

<img width="613" alt="screen shot 2017-11-17 at 11 33 27" src="https://user-images.githubusercontent.com/4669028/32943033-276c5f72-cb8b-11e7-9c03-8ec18625be5b.png">

[2017-11-17 15:16] #2547 closed

[2017-11-17 15:49] MartLubben opened #2555 "Should we revise/update 'Employment' in preparation of Energieakkoord 2.0?"
According to @MichielDenHaan the difference between the 'Nationale Energie Verkenning' (NEV) and the ETM is huge. The ETM calculates 50.000 jobs while the NEV calculated 150.000 for a comparable scenario.

Next to this it would be very interesting in the class of jobs could be show, like higher educated jobs, middle, and low.

@AlexanderWirtz is this valuable enough to invest time in?

[2017-11-20 08:41] ChaelKruip commented on #2555
Only a factor three! 😆

What did you use for 'economic multiplier'? (That is a setting for the secondary, tertiary etc. effect of job creation.) And what does PBL do?

On a related note: I am not sure how useful the employment module of the ETM is as it is very limited in scope (no industrial jobs etc.). I would be open to removing it entirely.

[2017-11-20 15:42] MartLubben commented on #2521
@jorisberkhout , Is this issue solved and could you close it?

[2017-11-20 16:10] jorisberkhout commented on #2521
Yes and done.

[2017-11-20 16:10] #2521 closed

[2017-11-20 19:40] AlexanderWirtz commented on #2555
I am kind of in favor of removing it. The only one who likes it is John. We could ask his arguments against removing it. It feels not quantitative enough to me.

[2017-11-21 09:35] marliekeverweij commented on #2553
So I have now created this chart:
![screen shot 2017-11-21 at 10 21 01](https://user-images.githubusercontent.com/32833996/33064407-d97e24e4-cea5-11e7-876e-47f9bd444fa3.png)
This shows what is happening in the distribution nodes of kerosene and bio-kerosene.

But this was not what your intention was with this graph! Shall I also make one (or replace this one) with the final demands of biokerosene,

[2017-11-21 10:14] marliekeverweij opened #2556 "Add CO2-allocation sliders to synthetic kerosene"
From the meeting yesterday with all clients involved in the synthetic kerosene project the idea arose to create sliders to allocate the CO2-profits to either the industry or the aviation. Ewald Breunesse from Shell proposed to make the default setting 50/50. I propose to put the sliders underneath the carbon sources for synthetic kerosene. What do you think, @jorisberkhout ?

![screen shot 2017-11

[2017-11-21 10:30] marliekeverweij opened #2557 "Add costs-sliders for PtL (and also PtG and PtH?)"
From the meeting from yesterday the idea arose to make a cost-slider for PtL. Shall we put it here:

![screen shot 2017-11-21 at 11 26 33](https://user-images.githubusercontent.com/32833996/33067670-281faa2e-ceaf-11e7-9d0a-7f6febf06c49.png)

We can make a separate slide with the name 'Synthetic fuel' and also place hydrogen there. (And when were are going to add methanol it can also be placed here

[2017-11-21 12:32] marliekeverweij commented on #2553
I have created the two extra gqueries (for bio-kerosene and fossil kerosene) that are necessary for the new chart on the 'chart209'- branch. I am a bit hesitant to merge it with beta, since it would probably mess up with the charts of public transport. So I thought I could better add these gqueries when public transport is merged!

[2017-11-21 12:37] marliekeverweij commented on #2552
Do you mean this chart? :
![screen shot 2017-11-21 at 13 34 58](https://user-images.githubusercontent.com/32833996/33072692-cf0c4584-cec0-11e7-857c-2ea756bb10a7.png)

We have deleted this chart when we were adding public transport. But I think the problem will also occur with the new transport charts we have added. So I will leave this issue open!

[2017-11-21 12:59] marliekeverweij opened #2558 "Same label for output_element_serie but shows up two times in legend of chart"
For the CO2 emissions chart (#46) I have added the CO2 emissions of bunkers in 1990 and also for the present and future. These are the series of this chart:

![screen shot 2017-11-21 at 13 52 20](https://user-images.githubusercontent.com/32833996/33073578-9ed290a0-cec3-11e7-924c-805376f11552.png)

I have given the CO2 emissions of bunkers in 1990 and also for the present/future the same label `gro

[2017-11-21 13:29] marliekeverweij opened #2559 "Add synthetic kerosene to final energy demand of bunkers chart (#198)"
At the moment when synthetic kerosene is produced the final energy demand in chart #198 goes down. So I want to add a serie for synthetic kerosene to this chart!

[2017-11-21 13:36] ChaelKruip commented on #2558
You mean the duplication of "International transport" in the legend?

I think this is the result of you adding it for both 1990 and for the future. Alternatively, you could add the 1990 value directly to the total (grey) bar. This would be consistent with how we show the other sectors now.

[2017-11-21 15:30] marliekeverweij commented on #2558
Yes

Yes that would be consistent. However, I think it is better to keep international transport apart from the rest of the emissions of 1990, since it is never included in the statistics. What do you think, @jorisberkhout ?

I can also change it back to how it was with a separate legend 'CO2 emissions international transport 1990':

![screen shot 2017-11-21 at 16 28 22](https://user-images.github

[2017-11-21 15:50] MichielDenHaan commented on #2555
Creating 15.000 additional jobs is often named as one of the four 'cornerstones' of the SER Energieakkoord (alongside % renewability and 2 energy saving goals). So if we want to get involved in the new Energieakkoord, it might be a nice feature to have. On the other hand, if the calculation diverges a lot from other estimates like the NEV it can also be seen as a weakness (and cast doubts on other

[2017-11-22 08:52] marliekeverweij commented on #2558
I have discussed with Chael that I am going to give the CO2 emissions international transport 1990 another colour to make the distinction.

[2017-11-22 08:52] #2558 closed

[2017-11-22 11:10] jorisberkhout commented on #2557
I would prefer to create a new sidebar item under the `Costs` tab called `Flexibility`. This sidebar item could then contain a slide for synthetic kerosene production, where the cost slider for PtL can be placed (BTW this slider should influence the _investment_ costs of the Ptl plant, the costs of the kerosene produced will also (and mainly) depend on the costs of the electricity needed to produc

[2017-11-22 11:17] jorisberkhout commented on #2556
I agree that this is best place for now. Let's see how to deal with these type of sliders when we add more!

[2017-11-22 11:17] #2559 closed

[2017-11-22 11:21] jorisberkhout commented on #2237
Assigning @marliekeverweij .

[2017-11-22 16:27] marliekeverweij opened #2561 "Change order of sub-sidebar items of transport"
I was trying to change the order of the sub-sidebar items of international/passenger/freight transport on beta, but encountered that that is not possible in the admin of ETmodel. There is a field to fill in the 'position' of the sub-sidebar item (see image below), but this does not seem to work! Do you know how to change this, @grdw or @antw ?

![screen shot 2017-11-22 at 17 23 42](https://user-im

[2017-11-22 16:54] marliekeverweij opened #2562 "Change legends of all charts"
As discussed during the last public-transport-pressure-cooker-meeting the order of the legend items should change for all charts. Now it is like this:
![screen shot 2017-11-22 at 17 30 30](https://user-images.githubusercontent.com/32833996/33139449-98bcee1e-cfad-11e7-8846-fafc635b658f.png)
There are two things that need to be changed:

1.  Now the legend items are ordered from left to right, which

[2017-11-22 17:02] marliekeverweij opened #2563 "Hide the sub-sidebar items when user is not in transport section"
Now that public transport is also merged into beta, there are three sub-sidebar items in the sidebar shown when 'Demand' is opened. It would be really nice to hide the sub-sidebar-items when transport is not used!

@antw & @grdw , could you help us out?

[2017-11-23 07:08] grdw commented on #2563
How can you tell if transport is not used?

[2017-11-23 07:31] grdw commented on #2562
<img width="580" alt="screen shot 2017-11-23 at 08 29 59" src="https://user-images.githubusercontent.com/2676542/33162211-8dc57b9a-d028-11e7-88d6-19d8a1130106.png">

This is it reversed, L &rarr; R.

Moving the direction from top to bottom does require some more changes. Give me a moment though.

[2017-11-23 08:21] marliekeverweij commented on #2563
Okay, sorry that was a bad explanation. I mean that the sub-sidebaritems should hide when the user is not in the transport-section. For example now the three sub-sidebaritems should hide, when the user is in the households-section:

![screen shot 2017-11-23 at 09 18 42](https://user-images.githubusercontent.com/32833996/33163565-6cb4839a-d02f-11e7-85a2-f1c0be208e60.png)

[2017-11-23 08:38] marliekeverweij opened #2564 "Include text in transport slides"
There is text lacking in the following slides of passenger and freight transport:
- bus technology
- bicycle technology
- motorcycle technology
- freight transport applications
- freight train technology

[2017-11-23 09:19] grdw commented on #2562
<img width="624" alt="screen shot 2017-11-23 at 09 49 09" src="https://user-images.githubusercontent.com/2676542/33165593-b057b376-d037-11e7-8c53-6fa9f23f39f3.png">

This is it from Up &rarr; Down (reversed).

[2017-11-23 09:35] marliekeverweij commented on #2562
Nice! I like it.

[2017-11-23 10:12] marliekeverweij commented on #2553
I have a question for @jorisberkhout :

When more synthetic kerosene is produced than the kerosene demand, that the excess of synthetic kerosene is exported. Shall I show this in the chart? That I distinguish between synthetic kerosene that is used nationally and synthetic kerosene that is exported?

[2017-11-23 12:41] marliekeverweij commented on #2553
Okay, Joris and I discussed to replace the previous chart with a new chart #200 showing the shares of bio-kerosene, fossil kerosene and synthetic kerosene!

[2017-11-23 12:41] #2553 closed

[2017-11-23 13:48] grdw opened #2566 "Delete button admin interface not working?"
![humanpoweredbicycles](https://user-images.githubusercontent.com/2676542/33175851-514dcae8-d05d-11e7-9f49-89b662a5d2f0.png)

Appearantly the delete button from the admin interface doesn't respond according to @MichielDenHaan

[2017-11-23 13:56] jorisberkhout commented on #2552
Thanks for the clarification @marliekeverweij . I just wanted to make sure that the production of synthetic kerosene reduces the kerosene demand, as it was doing in the now deleted transport chart. I think you are correctly implementing this in the new international transportation chart, so will close this issue.

[2017-11-23 13:56] #2552 closed

[2017-11-23 18:03] DorinevanderVlies opened #2568 "NL-translations of transport are in English"
Some transport-translations in "nl" are in English

- Sidebar
- Slides
- Sliders
- Legends

![image](https://user-images.githubusercontent.com/19907658/33185120-c6ae7cce-d080-11e7-8e70-496763bbf5f6.png)

notifying @AlexanderWirtz because he noticed this as well

[2017-11-24 08:20] marliekeverweij commented on #2568
Yes I have only included the english translations, I will work on that today!

[2017-11-24 10:46] marliekeverweij commented on #2557
Done!

![screen shot 2017-11-24 at 11 45 43](https://user-images.githubusercontent.com/32833996/33207199-16f375ae-d10d-11e7-807b-5ba543d628e7.png)

[2017-11-24 10:48] marliekeverweij commented on #2568
Mart is going to fix this issue!

[2017-11-24 10:49] #2557 closed

[2017-11-24 11:06] marliekeverweij commented on #2568
@MartLubben, also the names of the charts need to be translated in Dutch

[2017-11-24 14:10] #2562 closed

[2017-11-24 15:22] ChaelKruip commented on #2527
I think there were several reasons (some of which already mentioned above):
- We don't show electricity for P2H in households (but we could I suppose)
- I don't know if the heat for Industry will be made 'inside the sector' so if we should count the heat or the electricity used to create the heat as final demand
- Technically, it is a bit tricky because the P2H nodes have no electricity demand (th

[2017-11-24 15:26] ChaelKruip opened #2573 "Weird characters in slider texts"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://user-images.githubusercontent.com/1303760/33216448-2ffdddce-d134-11e7-9b63-ae760a2077e5.png)

[2017-11-24 15:29] ChaelKruip opened #2574 "Clicking on international transport sidebar item should not redirect to households"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://user-images.githubusercontent.com/1303760/33216571-a559265a-d134-11e7-95fa-dc6f8d1c7030.png)

As seen on BETA

[2017-11-27 10:57] marliekeverweij commented on #2561
Is this possible, @antw and @grdw ? :wink:

The preferred order would be:
1. Passenger transport
2. Freight transport
3. International transport

[2017-11-27 13:30] #2561 closed

[2017-11-27 15:46] DorinevanderVlies opened #2577 "Technology shares of motorcycles of migrated scenario's do not add to 100%"
For example for scenario 593967:

![image](https://user-images.githubusercontent.com/19907658/33274950-c7b4413a-d391-11e7-83b9-2e3f972c93dd.png)

Suggestion:
Make `electric motorcycles` equal to `electric cars` and `gasoline motorcycles` equal to `1-(electric cars)`

notifying @ChaelKruip

[2017-11-28 14:10] MartLubben opened #2586 "Add this icon for Costs: Flexibility"
![flexibility](https://user-images.githubusercontent.com/33415156/33323898-2e305d60-d44e-11e7-96b9-3dc40360a239.png)

[2017-11-28 14:20] grdw commented on #2586
What do you think about this icon for Flexibility @antw  @ChaelKruip @AlexanderWirtz?

[2017-11-28 14:27] antw commented on #2586
Who created it / what's the license?

The idea seems fine, but I expect it's going to look thin and out-of-place when scaled down to fit the sidebar (18x18px max).

[2017-11-28 15:40] grdw commented on #2586
@MartLubben's very own super-special-licence, since he created it himself. 😅

[2017-11-28 16:02] marliekeverweij commented on #2573
Okay it is fixed :)

[2017-11-28 16:02] #2573 closed

[2017-11-28 16:03] marliekeverweij commented on #2568
All translations are included :)

[2017-11-28 16:03] #2568 closed

[2017-11-29 08:43] michieldenhaan commented on #2586
![flexibility](https://user-images.githubusercontent.com/32056448/33365832-c48af93c-d4e9-11e7-815c-5355db0e711e.jpg)

[2017-11-30 10:07] MartLubben commented on #2586
![image](https://user-images.githubusercontent.com/33415156/33425300-9bf949a8-d5be-11e7-8d99-118ba3075914.png)

[2017-11-30 10:09] MartLubben commented on #2586
The new one is a bit thicker when scaled down. @antw Does this help? Or should I look for something else?

[2017-11-30 10:38] grdw commented on #2577
I think something went wrong in the migration. I'll take a look! 👍

[2017-11-30 11:26] #2577 closed

[2017-12-01 08:07] MartLubben commented on #2586
@antw I like it. The last one is better. Who's super-special-license is it now? :)

[2017-12-01 08:41] marliekeverweij opened #2588 "Hiding series with zero energy in waterfall-chart"
Would it be possible to hide series in a waterfall-chart when they have zero energy? I think this will make the chart more accessible. For example hydrogen has 0 EJ. Additionally, uranium only has 0.003 EJ, but maybe it is still good to show it in the graph.

![screen shot 2017-12-01 at 09 29 28](https://user-images.githubusercontent.com/32833996/33474498-2ba959b4-d67b-11e7-87ec-1fc7d511274d.png)

[2017-12-01 12:11] #2566 closed

[2017-12-01 12:30] MartLubben commented on #2586
@antw Flexibility is also added in the costs section. It should get the same icon. At this moment Costs > Flexibility feels naked and lonely, see:

![screen shot 2017-12-01 at 13 28 40](https://user-images.githubusercontent.com/33415156/33482976-d8d42342-d69b-11e7-886d-3c22c7d001ed.png)

[2017-12-01 12:44] grdw commented on #2541
It was brought to my attention again last sprint meeting of ETLocal. I however don't see it as 'that terrible', yet. It's not nice, but it's not horrible. I'll draw up some ideas though and post them on basecamp to see what sticks and what doesn't.

[2017-12-04 09:37] DorinevanderVlies opened #2590 "Shall we add number of units for trucks?"
I client contacted me because he is confused that in his scenario various types of trucks are present, but number_of_units are just given for electric trucks.

I had a look and found that for all car technologies and for electric trucks number of units are supplied in datasets and scenario's.

In fact just the number of units for electric cars are relevant because that is used for this gquery: htt

[2017-12-04 11:44] antw commented on #2590
Where is this found?

I know that we specify [number of units for cars](https://github.com/quintel/etsource/blob/0d44e16fbc004d2baf22d6e9c81f1cc76034990d/nodes/transport/transport_useful_demand_cars.demand.ad#L8) and then ETEngine is able to figure out the number of units for each individual type of car by [assigning those nodes to the `inheritable_nou` group](https://github.com/quintel/etsource/b

[2017-12-04 12:57] grdw opened #2591 "Is https://beta-pro.energytransitionmodel.com/choose the predecessor of ETCentral?"
I was looking around for something in ETModel while I stumbeled upon this potential relic.

I think this can be removed probably? 😅

[2017-12-04 13:09] antw commented on #2591
I think so too.

[2017-12-04 14:47] #2591 closed

[2017-12-05 11:31] ChaelKruip commented on #2590
I agree. This is probably (hastily) copied from electric vehicles and never removed by me.

[2017-12-05 12:52] michieldenhaan opened #2593 "Fuel prices"
The fuel price sliders currently allow users to set the % change of prices. The resulting absolute prices are displayed on the left side of the slider:
![fuelprices1](https://user-images.githubusercontent.com/32056448/33607738-590bde82-d9c2-11e7-801f-4362682c285b.png)

When updating the ETM base prices, scenario's that explicitly set prices are affected (simply because a 50% increase of a 10 euro

[2017-12-05 12:59] marliekeverweij commented on #2593
I agree that absolute-price-sliders are more intuitive than the current percentage-sliders, I would go for that.

Furthermore, doubt if it is necessary to show the percentage change in price on the left side of the slider. What is the added value?

[2017-12-05 13:03] marliekeverweij opened #2594 "Legend order of chart #188 CO2 biomass"
I find the legend order of chart #188 (co2 biomass) a little funny, it looks a bit random (see figure below). @DorinevanderVlies , am I right that you have created this chart? Maybe you know why it's like this?

![screen shot 2017-12-05 at 13 53 41](https://user-images.githubusercontent.com/32833996/33608440-cd22821a-d9c4-11e7-9cbd-a0c36eeb7192.png)

![screen shot 2017-12-05 at 13 54 02](https://u

[2017-12-05 13:07] ChaelKruip commented on #2593
Although I agree that absolute price is more intuitive for most people I can also imagine a user (me for instance) thinking:

"I don't know exactly what oil will do in the future (or what it currently costs) but I think it will be twice as expensive in the future."

If this is the way they think about the fuel prices, it makes sense to use % sliders and refrain from migrating scenario's *even if w

[2017-12-05 13:08] ChaelKruip commented on #2594
Perhaps we should hide all zero/small series *and* their legends?

[2017-12-05 13:20] michieldenhaan commented on #2593
True, except that the prices users set are not relative to the dataset year but relative to the moment Quintel did a price update (which makes it extra confusing). That is, if you set a 50% price increase, it is not a 50% increase compared to 2015 prices but compared to the prices as they were at the moment Quintel updated them. So it only makes sense to think that 'it will be twice as expensive i

[2017-12-05 15:20] jorisberkhout opened #2595 "Add 1990 column to `CO2 of international transportation` chart"
This can be easily done by adding a `is 1990` series in the admin section. The result should look something like this, but nicer.

<img width="615" alt="screen shot 2017-12-05 at 16 18 53" src="https://user-images.githubusercontent.com/4669028/33614615-21855680-d9d8-11e7-973a-8571eabee4f4.png">

[2017-12-05 15:24] jorisberkhout opened #2596 "Remove custom chart type for `CO2 of biomass` chart"
I noticed that the vertical stacked bar chart has been updated with the possibility to include a column for the year `1990` which is relevant for the CO2 charts. The main CO2 chart has been updated accordingly, but the CO2 of biomass (chart 188) still uses a custom coffeescript format (`co2_emissions_biomass.coffee`). Let's get rid of this custom format by making it a vertical stacked bar making u

[2017-12-07 13:25] marliekeverweij opened #2597 "Sustainability_share of industry_flexibility_p2g_electricity"
At the moment I am modelling a new hydrogen plant for the production of power-to-kerosene. I am using most attribute-values from the node `industry_flexibility_p2g_electricity` for this new node. In `industry_flexibility_p2g_electricity` I see a sustainability_share of 0.0. This surprises me since this hydrogen is produced from excess electricity. Hydrogen for transport which is produced in `energ

[2017-12-07 13:28] ChaelKruip commented on #2597
I think so yes. @DorinevanderVlies do you agree?

[2017-12-07 14:49] DorinevanderVlies commented on #2590
As `number_of_units` is more difficult to say for trucks (trucks and vans etc) than it is for cars **and** it is not used for anything I propose to remove anything to do with `number_of_units` for trucks.

@antw I do not see inheritable_nou group for [transport_truck_using_electricity](https://github.com/quintel/etsource/blob/0d44e16fbc004d2baf22d6e9c81f1cc76034990d/nodes/transport/transport_truck

[2017-12-07 14:53] DorinevanderVlies commented on #2593
I agree with this. However, IMO the arguments @michieldenhaan make convince me to change to absolute values

[2017-12-07 14:57] DorinevanderVlies commented on #2594
I think me and @jorisberkhout crated this chart together.

It becomes more clear when there is a significant amount of biomass in a scenario **and** the CO2 for biomass sliders are set:

![image](https://user-images.githubusercontent.com/19907658/33721403-37350efe-db67-11e7-880c-ed01a6c3ec58.png)

Great idea, maybe @grdw can help with this

[2017-12-07 14:58] jorisberkhout commented on #2594
Please have a look at https://github.com/quintel/etmodel/issues/2596 before making any changes to this chart.

[2017-12-07 14:59] DorinevanderVlies commented on #2597
Yes I agree!

[2017-12-07 15:10] marliekeverweij commented on #2597
Okay we will do that, thanks for answering so quickly :)

[2017-12-07 15:10] #2597 closed

[2017-12-13 12:44] AlexanderWirtz commented on #2593
I agree with @michieldenhaan 's proposal.

[2017-12-14 15:28] DorinevanderVlies opened #2600 "Exces of imported electricity in yearly view and not in weekly view"
In [this scenario ](https://beta-pro.energytransitionmodel.com/scenarios/772630) the whole year of electricity production differs from a weekly view. The yearly view shows excess of imported electricity. This exces is also shown in the primary energy use chart.

@antw do you know why there is a difference between the weekly and the yearly view?
Is it correct that imported electricity is exported?

[2017-12-14 15:34] #2354 closed

[2017-12-14 17:30] antw commented on #2600
The weekly view is accurate. The annual view downsamples the hourly data to show the average energy produced by each producer throughout the day and then stacks them on top of one another. This creates the (misleading) impression that electricity is being imported during periods when demand is being met.

[2017-12-14 17:40] DorinevanderVlies commented on #2600
Thanks @antw!
Can you also explain why the primary energy use chart shows an export of imported electricity?

[2017-12-18 15:17] ChaelKruip commented on #2600
I think that at moments of excess electricity, the year-averaged electricity mix is exported. This may include imported electricity. Import and export do not coincide.

Closing. Re-open if this doesn't answer your question.

[2017-12-18 15:17] #2600 closed

[2017-12-19 19:22] antw commented on #2600
Exactly right. This wasn't a problem in the past since ETEngine would never calculate that there would be import *and* export present in the same scenario. As import is now handled by Merit, it is possible to have both.

Since Merit only permits importing to meet demand (it never imports more than is needed), there might be a case for hardcoding the value in this query to always return zero.

[cod

[2017-12-20 10:44] michieldenhaan opened #2606 "Scenario report not loading on beta"
Page is stuck on:
![scenrep](https://user-images.githubusercontent.com/32056448/34203333-028c5180-e57b-11e7-9656-ae99cdb96309.png)

[2017-12-20 10:46] marliekeverweij opened #2607 "Images for slides in transport section"
I like the images that are currently used on the slides!
![screen shot 2017-12-20 at 11 40 43](https://user-images.githubusercontent.com/32833996/34203233-a0a3b120-e57a-11e7-99a2-0a4700d10e87.png)

I think it is nice to also have images for trains, planes, bicycles, busses, trams/metros, motorcycles, ships etc.... Who made these images? And how are they made?

It is really a 'nice-to-have', but st

[2017-12-20 12:41] #2606 closed

[2017-12-20 13:02] marliekeverweij commented on #2595
This issue is still relevant right? Then I will fix it tomorrow or the day after

[2017-12-20 13:03] marliekeverweij commented on #2556
The sliders are implemented and they work!!

[2017-12-20 13:03] #2556 closed

[2017-12-20 13:03] marliekeverweij commented on #2551
Done

[2017-12-20 13:03] #2551 closed

[2017-12-20 13:15] marliekeverweij opened #2608 "Expectations in Dutch version of ETM"
In the Dutch version of the ETM there are expectations by certain people displayed next to the sliders. In the transport section a lot has changed recently, so now these expectations do not really match with the sliders. For example in the image below s a growth-percentage per year is given in the expectation, but the truck slider is now a share-percentage.

![screen shot 2017-12-20 at 13 55 36](h

[2017-12-20 13:16] ChaelKruip opened #2609 "Should Power-to-Kerosene work for non NL scenario's?"
For Belgium (with lost of wind and P2K) for instance, the charts show no production:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://user-images.githubusercontent.com/1303760/34208881-58aeddfc-e590-11e7-9710-240e8098dae4.png)

[2017-12-20 13:18] marliekeverweij opened #2610 "Remove chart #210 co2_emissions_incl_ccus"
By accident I made chart #210 on beta instead of on a local branch.
Could you please remove it? It is not working and really ugly :wink:

[2017-12-20 13:20] ChaelKruip opened #2611 "Use direct air capture as source for CO/CO2 if other sources are insufficient"
Currently, the user can build a scenario with P2Kerosine where a part of the CO/CO2 is not accounted for:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://user-images.githubusercontent.com/1303760/34208908-74389798-e590-11e7-9694-ea7d7fab6ec6.png)
More CO is used than the steel industry actually produces.

I think it would be nice if direct a

[2017-12-20 13:23] marliekeverweij commented on #2609
Yes it should and it does my belgium scenario:

![screen shot 2017-12-20 at 14 22 24](https://user-images.githubusercontent.com/32833996/34209128-3e06e94e-e591-11e7-9f36-eb93d5b075aa.png)

I see you have not built any power-to-kerosene units, maybe that is the problem?

[2017-12-20 13:32] ChaelKruip commented on #2609
😊  Closing.

[2017-12-20 13:32] #2609 closed

[2017-12-20 13:33] marliekeverweij opened #2612 "Ordering charts"
I sometimes have a hard time finding the right chart. They are now ordered in certain categories (Overview, Supply, Demand etc.). Are they furthermore ordered within the categories? Would it be an idea to also order them alphabetically within the categories? Or are there better ideas?

![screen shot 2017-12-20 at 14 26 32](https://user-images.githubusercontent.com/32833996/34209308-e3c4511e-e591-1

[2017-12-20 13:38] michieldenhaan commented on #2608
I'm in favour of removing it all together for all sectors.
Notifying @jorisberkhout, @AlexanderWirtz , @MartLubben in case they have an opinion

[2017-12-20 13:47] michieldenhaan commented on #2612
Sorting them alphabetically is a good idea. Maybe we can also change the category order (overview, then demand, then supply, then merit). And a search function would be nice.
How do you people feel about removing the preview pictures and replace the 3 column interface by a simple, compact list?

[2017-12-20 13:58] nairnamratha commented on #2612
Also like the sorting alphabetically idea and changing the 3 column interface. But the preview thumbnails should stay in my opinion ( since they show the type of chart, without adding any extra text to the title).

[2017-12-20 14:05] #2564 closed

[2017-12-20 14:07] AlexanderWirtz commented on #2612
I use the 'Add a chart' fucntionality a lot in workshops. I disagree with the order @michieldenhaan suggests.

In practice we mostly end up using the Overview, Merit order and Flexibility and Costs charts in workshops. Sometimes Supply and basically never anything from Demand. One reason for this is that is is virtually impossible to find the right demand chart visually (same/similar thumbnail and

[2017-12-20 14:08] AlexanderWirtz commented on #2608
R E M O V E ! !

[2017-12-20 14:13] marliekeverweij commented on #2595
Okay done!

![screen shot 2017-12-20 at 15 12 52](https://user-images.githubusercontent.com/32833996/34211077-48ab34fc-e598-11e7-8c20-b356b1f70cad.png)

[2017-12-20 14:13] #2595 closed

[2017-12-20 14:28] marliekeverweij commented on #2611
This is a nice idea! I am not sure how to implement it though. Let me think....

The table is also not automatically shown when you are on the power-to-kerosene slide, I think that should be adjusted (I will do that now). However, the kerosene production chart (that is now connected to the slide) is also interesting to see....

[2017-12-20 15:18] grdw commented on #2612
I guess, no.

I think that would be nice. It would cause the charts to sort the same for beta and production (I think those two are now, not ordered in the same fashion, at least for the demand category they aren't).

I do know that there's already a `sub_group` column to split the groups into sub groups - which I implemented some time ago:

<img width="931" alt="screen shot 2017-12-20 at 16 11 55

[2017-12-20 16:02] AlexanderWirtz opened #2613 "Idea: include option for 'Dunkelflaute' similar to the 'Cold snap' option"
I have often been told that the electricity system needs to be robust enough to provide security of supply even during a so-called _Dunkelflaute_. This German term describes a once-in-so-many-years event in which there is little sunshine an no wind in a country or area (of Europe).

I think the ETM can be improved by including an option for this, just like the current option for 'Cold snap' includ

[2017-12-20 16:04] AlexanderWirtz commented on #2613
I happen to know that Ecofys and CIEP have published on this topic or have expertise in this matter

[2017-12-21 10:29] ChaelKruip opened #2615 "Technologies should be shown individually in "Household heat demand and production" chart"
<img width="624" alt="energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_" src="https://user-images.githubusercontent.com/1303760/34251874-c69a3c9c-e641-11e7-8d5c-2ae2ca16f495.png">

* Gas-part and Electricity-part of HHP should be shown separately
* Buffering and postponing should be shown separately

[2017-12-21 10:51] ChaelKruip commented on #2600
But not in the same hour right?

I don't understand this @antw...  The current behaviour is expected right? Namely:
* If there is excess (which is not converted and stored), electricity is exported (with the current national mix)
* If there is not enough production capacity, electricity is imported with the current national mix
* Over the year, these two effects don't have to cancel out so they ca

[2017-12-21 11:03] MartLubben commented on #2612
I was also quite lost the first times when I was looking for a graph. For me the images helped a lot, so I am not pro a list. (maybe an option to choose between list and images, but this should not make it more complicated.)

My proposal:
1. ONLY use the 10 most used charts in 'Overview', so less experienced users can easily find some interesting charts. At this moment 'Overview' includes 27 chart

[2017-12-21 13:45] antw commented on #2600
Correct.

Yes, ETEngine is behaving correctly in that it only deals with the *total* supply and demand for electricity during the entire year; it doesn't know about the complexities of Merit. For example, in this simplified graph ...

![1 graph](https://user-images.githubusercontent.com/4383/34258188-c39f4902-e654-11e7-9e51-489a843b85e5.png)

... ETEngine will tell you that if import is 20% of the

[2017-12-21 14:46] michieldenhaan commented on #2608
![giphy-downsized](https://user-images.githubusercontent.com/32056448/34260408-2371e4aa-e666-11e7-851c-4abfe39b91f1.gif)

[2017-12-22 10:54] ChaelKruip opened #2616 "Could we incorporate car sharing into the ETM?"
I think it would be interesting to add a slider for the amount of sharing of (autonomous) EV will happen in the future.

@jorisberkhout @DorinevanderVlies @michieldenhaan @marliekeverweij @MartLubben I am curious about your thoughts!

[2017-12-22 12:16] #2594 closed

[2017-12-22 12:16] #2596 closed

[2017-12-22 12:48] grdw commented on #2023
Closing due to limited support IE9

[2017-12-22 12:48] #2023 closed

[2017-12-22 12:53] grdw commented on #2331
This seems more like a discussion that needs to be held on basecamp. Still not 100% happy with Docker - this is mainly due to technical annoyances that keep popping up (I'll spare the details).

I'll close this issue and revisit the whole containerization debate on Basecamp once time permits.

[2017-12-22 12:53] #2331 closed

[2017-12-22 13:10] michieldenhaan opened #2618 "Hide sector/subsector if demand is 0 PJ"
The final demand charts currently show all sectors/subsectors regardless whether these sectors have an energy demand (see picture e.g. international transport, refineries, fertilizers). This makes the charts harder to read. Is it possible to hide these sectors? (Another option would be to sort the chart sectors from large to small so 0 PJ sectors are all on the right)
![0pjchart](https://user-imag

[2017-12-22 13:25] #2235 closed

[2017-12-22 13:49] michieldenhaan opened #2619 "Local datasets have a # of units minimum of 1 even when area available is 0"
See picture below (coastal wind). When coast line (or any other land availability property) is set to 0, it is still possible to build 1 power plant unit.

![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://user-images.githubusercontent.com/32056448/34299200-f5e716c4-e721-11e7-8c09-9e8b21388625.png)

[2017-12-22 14:36] grdw commented on #2619
This has to do with the [max_value_gql](https://github.com/quintel/etsource/blob/master/inputs/supply/number_of/number_of_energy_power_wind_turbine_coastal.ad#L7) property of the input

[2017-12-22 14:44] michieldenhaan commented on #2619
Is there a reason for this? I would say the minimum should be 0.
Notifying @ChaelKruip

[2017-12-22 14:52] grdw commented on #2619
I would suggest to hide this slider if the coast line is 0.

[2017-12-22 14:53] ChaelKruip commented on #2619
Everything has a reason @michieldenhaan! Perhaps we use the number of windturbines in the denominator of a fraction?

[2018-01-02 09:55] marliekeverweij commented on #2574
This is fixed right? At least it hasn't happened to me.

[2018-01-02 09:55] #2574 closed

[2018-01-02 09:58] marliekeverweij commented on #2563
How is it actually going with this issue? I am looking forward to the moment when this works :smile:

[2018-01-02 10:01] marliekeverweij commented on #2608
Okay I will remove them this week!

[2018-01-02 10:42] DorinevanderVlies commented on #2600
I get that part. However, I don't really understand the following figure. Why is local production 78+8=96 PJ?

![image](https://user-images.githubusercontent.com/19907658/34481302-af1429ec-efb1-11e7-8268-f469d718b18f.png)

Would it be possible it import the year-averaged electricity mix excluding export?

[2018-01-02 10:46] DorinevanderVlies commented on #2616
I agree that it is important to take (the share of) autonomous vehicles into account in scenario's. However, there are a lot of different thoughts about the effects of autonomous vehicles.
- How much will the number of cars decrease?
- How will this affect the steel section?
- How will this affect the total passenger kms of cars (and other applications)?

Do you have any ideas of what this slider

[2018-01-02 11:24] ChaelKruip commented on #2616
The effects that @DorinevanderVlies mentions are second order and therefore the responsibility of the user IMO. Right now, you can also use public transport instead of cars but leave the steel industry and refinery as is for instance...

In the same category:

* How will this affect the amount of storage capacity available for flexibility that we attribute to EV?

The question I am more worried ab

[2018-01-02 12:33] ChaelKruip commented on #2600
I think @antw meant to write "72 PJ" instead of "78 PJ" for the amount of local production that goes to local consumption.

[2018-01-02 13:27] jorisberkhout commented on #2611
Good suggestion to change the way this part of the model works, @ChaelKruip . As discussed in person this morning, I would propose to implement a slightly modified version of your proposal, which would be as follows:

- Keep two sliders: one for point source CO and one for point source CO2
- Make the slider caps of these sliders `0%`and `100%`and remove them from the slider group they are in
- The

[2018-01-02 13:50] jorisberkhout commented on #2237
@marliekeverweij , what is the status of this? I noticed that part of this is on the Beta server, but not all of it.

[2018-01-02 13:58] jorisberkhout commented on #2445
Everything described is on the Beta server, so closing!

[2018-01-02 13:58] #2445 closed

[2018-01-02 14:10] marliekeverweij commented on #2237
I have added power-to-kerosene to the costs section. I have also made the sliders work that were already made by Rob but still hided in the admin (household batteries, power-to-heat industry and power-to-gas transport).

But I have not done more! Should cost-sliders for **all** flexibility technologies be made?
(Also text and tooltips should be added still...)

[2018-01-02 14:16] marliekeverweij commented on #2618
This falls into the same category as issue #2588

[2018-01-02 15:59] jorisberkhout commented on #2593
I like @michieldenhaan 's proposal a lot!

[2018-01-02 16:00] jorisberkhout commented on #2593
BTW, I assigned @michieldenhaan as this issue had no assignee.

[2018-01-02 16:12] jorisberkhout commented on #2616
I like the idea of adding a slider for car sharing as this is often debated as a solution (including in our own Industry report). I agree with @ChaelKruip on what the slider should and that it is up to the user to worry about the secondary effects on the steel and industry sector.

I would be happy to discuss the effects on charging profiles and flexibility available.

[2018-01-02 16:31] jorisberkhout commented on #2539
Good find, @MartLubben . As @AlexanderWirtz , in real life, the refinery gas is fed right back into the burners to produce part of the heat required for the refinery gas. We couldn't model it in the same way as this would introduce a circularity (i.e. part output of the refinery determines part of the input of the refinery).

The amount of refinery gas that is burned to provide additional heat can

[2018-01-03 08:19] marliekeverweij commented on #2616
I also think this would be a really nice added feature! And I think that it is possible to find data about the impact of car-sharing on the technical performance and O&M costs of EV.

[2018-01-03 08:24] grdw commented on #2618
Unfortunately, no. These are two separate issues due to the two different types of charts.

[2018-01-03 08:57] grdw opened #2621 "International transport is missing from the primary energy use table:"
![screen shot 2018-01-03 at 09 56 26](https://user-images.githubusercontent.com/2676542/34514188-61ea1c60-f06c-11e7-8947-61a1c104417f.png)

I was testing things for https://github.com/quintel/etmodel/issues/2618

In a random scenario I increased the "International aviation" slider to about 40%. This caused the graph to expand, however this isn't reflected in the table:

![screen shot 2018-01-03 at

[2018-01-03 09:11] marliekeverweij commented on #2621
It is called 'oil - bunkers', but indeed it is not clear, because nowhere else in the ETM the term 'bunkers' is used. So I will change it to 'international transport'.

[2018-01-03 09:38] jorisberkhout commented on #2146
Closing as this is now available on the Beta server.

[2018-01-03 09:38] #2146 closed

[2018-01-03 09:51] nairnamratha commented on #2443
This is fixed now.

[2018-01-03 09:51] #2443 closed

[2018-01-03 10:07] jorisberkhout commented on #2145
This has been implemented, right @grdw? If so, could you close this issue?

[2018-01-03 10:15] marliekeverweij commented on #2610
Little reminder :) Then we can close this issue 🎉

[2018-01-03 10:17] #2145 closed

[2018-01-03 10:22] #2563 closed

[2018-01-03 10:24] grdw commented on #2145
Relevant issue: https://github.com/quintel/etmodel/issues/2562

[2018-01-03 11:18] nairnamratha opened #2622 "Fuel Prices - Percentage change cannot be displayed on the slider's LHS"
As part of the fuel price update issue  [#2593](https://github.com/quintel/etmodel/issues/2593) , the left-hand side of the sliders should show the percentage change between the original cost of the fuel and user-defined cost of the fuel (as a result of the slider changes made by the user).

This, however, seems to require in-depth changes to be made to the the ET Engine, as the unit is preset as

[2018-01-03 13:30] marliekeverweij commented on #2621
It seems like the table directly uses the group name ('bunkers') and does not apply any translation from ETModel ('International transport'). Therefore, 'export_and_curtailment' is also not translated to 'Export and curtailment'. Could it maybe be realized that the translations are used instead of directly the group name, @grdw?

[2018-01-03 13:32] antw commented on #2618
@grdw has created a pull request (#2623), but I'm not entirely sure I agree with the premise of this issue (or #2588). There *is* value in showing that something is zero; that it makes no contribution – positive or negative – to the outcome of the scenario. When it is hidden, it's not clear whether the value is zero or if it is an explicit choice (it may be non-zero but we've decided to hide the s

[2018-01-03 13:34] grdw commented on #2621
Yes, I'll take a look into it

[2018-01-03 16:26] marliekeverweij commented on #2607
I have talked about this with Chael and since this is a really 'nice-to-have' we will leave this for now :)

[2018-01-03 16:26] #2607 closed

[2018-01-03 16:31] ChaelKruip commented on #2618
I agree!

For the Mekko's I think it is not a good idea to hide subsectors except those that are explicitly not modelled/available in the region as @antw mentions in his side-note.

[2018-01-03 16:38] michieldenhaan commented on #2618
How about option 2: sort the sectors from large to small so the zeroes are all at the right of the chart?

[2018-01-04 08:20] marliekeverweij commented on #2618
I like this idea! Then still all sectors are shown, but in an organised way

[2018-01-04 08:50] grdw commented on #2618
You'd still *see* all the zeros. So I think sorting is nice, but it's a different issue. Can we for clearification purposes, close this issue and create a new one about mekko-sorting?

[2018-01-04 09:34] grdw opened #2626 "Add password reset feature for authlogic gem"
ETModel uses authlogic instead of devise for it's authentication. For this gem it's also possible to add a password reset feature: as described [here](https://github.com/rejeep/authlogic-password-reset-tutorial). I do like to add, that the tutorial link is rather old, but will hopefully still work 🤞 .

[2018-01-04 10:58] #2621 closed

[2018-01-05 08:45] grdw commented on #1923
Superseded by https://github.com/quintel/etmodel/issues/2612

[2018-01-05 08:45] #1923 closed

[2018-01-05 14:25] grdw commented on #2339
Just figured out they are actually used in the footer of ETmodel, closing this issue.

[2018-01-05 14:25] #2339 closed

[2018-01-05 14:26] grdw commented on #2618
Actually there already is one: https://github.com/quintel/etmodel/issues/2223

[2018-01-05 14:26] #2618 closed

[2018-01-09 13:22] marliekeverweij commented on #2611
I am trying to implement what Joris suggested in the previous post, but I am facing a problem. I have already consulted @grdw  and @antw , but they advised to ask @jorisberkhout, @ChaelKruip and @AlexanderWirtz since it is a modelling-question.

What I have done so far is:

1.  Create two input statements (for point source CO and CO2) that runs from 0-100%. In the input statement this percentage i

[2018-01-09 15:21] marliekeverweij commented on #2611
@ChaelKruip and I just discussed about it, but we couldn't figure it out yet. We agreed that it would be better if the available CO/CO2 from industries would be calculated in the graph and not in queries. But HOW we do not know yet!

- Only for the available CO it would be possible to take a share of the `coal_gas` coming from `energy_steel_blastfurnace_current_transformation_cokes` + `energy_stee

[2018-01-09 16:05] marliekeverweij commented on #2608
One more question. Do we want to be able to use the prediction-functionality in the future or can I **delete all files** related to these predictions?

[2018-01-09 16:13] ChaelKruip opened #2632 "How do nodes get their full load hours assigned?"
The full load hours for `households_solar_pv_solar_radiation` for instance are listed in the [central_producers.csv](https://github.com/quintel/etsource/blob/master/datasets/nl/central_producers.csv#L36) which is part of every dataset.

For some nodes, their full_load_hours are taken from this CSV file by [a query in the node.ad file](https://github.com/quintel/etsource/blob/master/nodes/household

[2018-01-09 16:14] ChaelKruip commented on #2632
Including @DorinevanderVlies @michieldenhaan

[2018-01-09 16:15] ChaelKruip commented on #2608
Delete them. The beautiful thing about Github is that nothing is really lost ever (at least theoretically)!

[2018-01-09 16:26] antw commented on #2632
That node is a central producer. [The queries for central producers are implicit](https://github.com/quintel/atlas/blob/85f7746e988df1eff00f4c15db32a48291082dda/lib/atlas/node/central_producer.rb#L8-L11).

With the benefit of hindsight, I'm not sure how to feel about the implicit queries for these nodes. The goal was to simplify things (set the node as a central producer and just add the values to

[2018-01-10 08:53] ChaelKruip commented on #2632
At least for me, this is indeed confusing. I would be happier with explicit queries for all producers. Is that as easy as reverting a commit @antw ?

[2018-01-10 11:02] marliekeverweij commented on #2611
I have just talked with Joris and we would like to carry out the last idea:

This is also done in the plant profitability table:

![screen shot 2018-01-10 at 11 58 28](https://user-images.githubusercontent.com/32833996/34769274-9edf91cc-f5fd-11e7-80c1-d93d1a76068b.png)

@antw, could this be implemented before Friday morning? Since then we have a meeting where we would like to show this feature! So

[2018-01-10 12:19] ChaelKruip commented on #2632
I'm not sure to be honest...

Perhaps @jorisberkhout can give additional insights/opinions here? It might become relevant for the network calculation project to re-evaluate the status of the producers as the households solar PV for instance might become a read de-central producer!

[2018-01-11 07:43] DorinevanderVlies opened #2634 "Insulation level old houses influences heat demand even though there are no old houses in Reitdiep"
![image](https://user-images.githubusercontent.com/19907658/34813754-735108c0-f6ab-11e7-9203-f388757ef323.png)

[2018-01-11 09:15] DorinevanderVlies commented on #2634
fixed with https://github.com/quintel/etsource/pull/1519

[2018-01-11 09:15] #2634 closed

[2018-01-11 12:21] ChaelKruip opened #2635 "Shall we try to communicate EUR/kg CO_2-reduction to the user?"
There are many routes toward a CO2-reduction but which are the cheapest?

A route to a given reduction of CO2-emissions usually consists of several steps/measures. To assess which measures should be taken is often expressed as a maximum abatement cost plot such as this one:

![maximum_abatement_cost_plot_-_google_search](https://user-images.githubusercontent.com/1303760/34825402-a3da7446-f6d2-11e7

[2018-01-11 13:50] marliekeverweij commented on #2611
Thanks @antw for fixing this!
![screen shot 2018-01-11 at 14 46 23](https://user-images.githubusercontent.com/32833996/34828546-3a60e516-f6de-11e7-89d4-0cd22b860c30.png)

Shall I leave this issue open @jorisberkhout, since we haven't fixed it like we wanted to?

[2018-01-11 14:04] jorisberkhout commented on #2611
Let's leave this issue open for now.

[2018-01-11 14:14] marliekeverweij commented on #2611
https://github.com/quintel/etsource/tree/changing-carbon-sliders

This is btw the branch in which I have tried to fix this issue. Then we know where the work is saved!

[2018-01-11 16:11] MartLubben commented on #2635
First and short reaction:

Pro:
- The graph would give a quick overview of (one of) the most important KPI's of the energy transition. At this moment it is not so clear how to save costs.
- It fits to the quest of minister Wiebes to 'hunt' for the cheapest Mtons.

Neutral:
- The scope of the costs vs. complexity could get a thing. For example, more wind could mean cheaper hydrogen, more electric c

[2018-01-12 07:58] AlexanderWirtz commented on #2635
I am mildly sceptical about this as I have never quite understood how such quantifications can work or be meaningful _per measure_. I see how one might quantify the costs of CO2 mitigation for the total package, but how do you assign costs to individual measures and if you do so straightforwardly (i.e. only taking first order effects into account) how do you communicate the essential insight that

[2018-01-15 10:43] antw commented on #2608
Note that this is of course only true for things which are kept in the repository (on GitHub). Information stored in the database – such as the predictions and other data they use – cannot be restored with a simple `git revert`.

We have daily backups of course, but these are not retained forever.

[2018-01-16 07:07] #2309 closed

[2018-01-16 07:35] #2626 closed

[2018-01-16 08:37] ChaelKruip commented on #2635
I don't think you are either 😄
One idea that I had which is not very practical but uses the fact that the ETM 'knows' all these possibly complex interdependencies:

For each measure that you want to evaluate (in the context of the scenario that you are in), move the slider for that measure a tiny step up/down and register the change in total costs and the CO2 reduction. To build a chart with 10 me

[2018-01-18 09:46] ChaelKruip commented on #2539
Yep. Closing.

[2018-01-18 09:46] #2539 closed

[2018-01-18 13:32] ChaelKruip opened #2643 "Shall we try to show the energy neutrality to user?"
Regardless if it is a good idea or not, more and more people are talking about making their region 'energy neutral'. There are two flavours:

* year averaged: the region produces as many PJ's as it consumes over the whole year
* instantaneous: the region produces as many PJ's as it consumes every hour

How could we inform the user about how energy neutral his/her scenario is?

Some ideas:

For the

[2018-01-18 16:00] nairnamratha commented on #2643
I think it's a very nice idea to include the "energy neutrality" concept to the ETM!

I personally think that the hourly version you suggested is very insightful and would give users a  clearer perception about the scenario.

Really like this! This will give users a better understanding of how to make the scenario energy neutral.

However, it may be nice to have the year-averaged version on the da

[2018-01-19 12:08] #2248 closed

[2018-01-23 08:09] DorinevanderVlies opened #2650 "New technologies for public transport and kerosene should be added to datadump"
Assigning @marliekeverweij, I am happy to help you to get started!

Notifying @ChaelKruip

[2018-01-23 08:09] DorinevanderVlies opened #2651 "New technologies for public transport and kerosene should be added to scenario report"
Assigning @marliekeverweij , I am happy to help you to get started!

notifying @ChaelKruip

[2018-01-23 17:58] DorinevanderVlies commented on #2651
co-assigning @martlubben.

This can be changed and tested on your local machine

Relevant folders:
https://github.com/quintel/etmodel/tree/master/config/reports
https://github.com/quintel/etsource/tree/master/gqueries/modules/scenario_report

Some previous issues regarding the scenario report:
https://github.com/quintel/etmodel/issues/2495
and this search:
https://github.com/quintel/etmodel/issues

[2018-01-24 07:40] marliekeverweij commented on #2651
I can do this next week 🙂

[2018-01-24 09:15] MartLubben commented on #2651
I will play with it today and will co-do it next week with you @marliekeverweij

[2018-01-25 15:16] nairnamratha opened #2652 "Hidden unit names"
Units for the sliders under Fuel Prices are currently hidden by the tool tips icon.

![screen shot 2018-01-25 at 16 13 18](https://user-images.githubusercontent.com/32448293/35395504-d2fbc2a2-01ea-11e8-891b-0815a251e03f.png)

Can we move the tool tips more to the right so that the entire unit is visible?

[2018-01-25 16:03] antw commented on #2652
IMO it makes more sense to set the step value for these sliders to `1` instead of `0.01` since the decimal places don't convey much useful information. That will also conveniently fit into the available space:

![screen shot 2018-01-25 at 16 01 01](https://user-images.githubusercontent.com/4383/35398121-1ababb0e-01e9-11e8-8ea7-2432fcb6c7ed.png)

[2018-01-25 18:33] DorinevanderVlies commented on #2475
Closing. Added a converter to all energy and heat related sliders

[2018-01-25 18:33] #2475 closed

[2018-01-26 14:58] grdw opened #2653 "Google analytics"
- [x] Track page views / Track nagivation slides
- [x]  Track which sliders are touched
- [ ] Track which dashboard items are switched
- [x] Track which charts are loaded / added
- [ ] Track all options in settings:

![screen shot 2018-01-26 at 15 57 28](https://user-images.githubusercontent.com/2676542/35445360-a7f2ba12-02b1-11e8-876f-c8401cca4c0c.png)

**Already visible within the database:**

-

[2018-01-29 10:23] marliekeverweij commented on #2651
We actually found out that the scenario report does not have to be adjusted because of the changes in public transport and kerosene 😉  the new sector 'international transport' is already displayed in all relevant charts.

So I will close this issue 🙂

[2018-01-29 10:23] #2651 closed

[2018-01-29 10:27] nairnamratha commented on #2652
@michieldenhaan pointed out that reducing the number of significant figures could affect the total cost results on the dashboard.

I just checked this out and it does make a significant difference to the costs, especially as the fuel prices increase. The ETengine takes the number of significant figures shown in the UI into account in related calculations.

So it would be good to keep those signifi

[2018-01-29 11:10] ChaelKruip commented on #2652
What does 'significant' mean here? 1%? 10%?

I disagree. I think that fuel prices are very uncertain and any changes due to rounding are fake accuracy anyways.

[2018-01-29 14:48] grdw commented on #2239
Closing issue as it is no longer relevant

[2018-01-29 14:48] #2239 closed

[2018-01-31 12:56] nairnamratha commented on #2652
Thanks a lot for pointing this out.  My bad here!

(I went back and checked again, and realised that I had previously checked this on my local server where I didn't take some unrelated changes into consideration.)

Anyway, it's right that reducing the sig. figs doesn't affect the final costs. So, I will change the step value to 1 for these sliders, hence no other changes are required .

[2018-01-31 12:56] #2652 closed

[2018-02-02 09:00] michieldenhaan opened #2656 "Password reset not working"
When I click the reset link in the email, I am redirected to the ETM start page.

![energy_transition_model_password_reset_-_michiel_denhaan_quintel_com_-_quintel_intelligence_mail](https://user-images.githubusercontent.com/32056448/35724938-c6dd60a0-07ff-11e8-8f99-37afd8d116d2.png)

--> Click link --->

![energy_transiti2on_model_-_your_free__independent__comprehensive__fact-based_scenario_builde

[2018-02-02 15:09] #2610 closed

[2018-02-02 15:35] marliekeverweij opened #2657 "test"
- [ ] test 1
- [ ] test 2
- [ ] test 3

[2018-02-02 15:35] #2657 closed

[2018-02-02 15:40] grdw commented on #2657
Finally, I can sleep safely tonight now that this issue is closed.

[2018-02-02 16:09] marliekeverweij commented on #2612
Just found this issue again and it is Friday afternoon 🙂
I like Marts idea of only showing around 10 most used charts in 'Overview' and put the rest in other categories. But which ones are the most used? Please check below the charts that you use most! I hope this works like this, otherwise just post your favourite charts in a comment. Also charts from other categories can be added to 'Overview'!

[2018-02-04 21:00] ChaelKruip commented on #2612
@grdw can you use Analytics to track which charts are actually picked most by people using the ETM? This way we could use actual user statistics to guide us in this issue.

[2018-02-05 15:42] nairnamratha opened #2659 "Improving renewable electricity chart"
I think that this chart, "Renewable electricity", which currently only shows the percentage share of renewable electricity available could do with some improvements:

![screen shot 2018-02-05 at 16 12 13](https://user-images.githubusercontent.com/32448293/35812038-378f611c-0a90-11e8-86f9-f15ed1011874.png)

We could possibly paint a clearer and bigger picture if we could add more info to the chart,

[2018-02-06 09:39] michieldenhaan commented on #2659
Very good idea!

[2018-02-06 16:30] grdw opened #2660 "Sanegeest does not appear in the partners while it's clearly in the partners.json"
Here is [Sanegeest](https://beta.energytransitionmodel.com/partners.json) (at the bottom). However I don't see it appear on the beta et-model. 🤔

I cleared the cache and restarted puma but it didn't quiet work...

@antw do you know what might be the cause?

[2018-02-07 14:26] antw commented on #2660
[Closed with an updated config](https://github.com/quintel/ansible/commit/ce52dcd29810ca3f332cdfcd745adf040f702578).

[2018-02-07 14:26] #2660 closed

[2018-02-09 12:10] #2656 closed

[2018-02-12 08:50] DorinevanderVlies commented on #2612
@grdw can you use Analytics to track which charts are actually picked most by people using the ETM?

@grdw I assume your "thumbs up" means that this is possible, nice!

I added the "primary demand mekko" and the "electricity production" chart to the ticks.

We could also include some charts to which we want to draw attention to the "overview". For example CO<sub>2</sub>-emissions of international

[2018-02-14 08:33] michieldenhaan commented on #2593
Closing, this is implemented by https://github.com/quintel/etsource/pull/1509

[2018-02-14 08:33] #2593 closed

[2018-02-16 08:34] ChaelKruip opened #2662 "Flex-order should be first slide"
Now you get this less useful slide:
![image](https://user-images.githubusercontent.com/1303760/36299276-8c1323e4-12fc-11e8-9faa-e0c383ec804d.png)

[2018-02-16 08:53] ChaelKruip opened #2663 "Only show non-zero producers in time-resolved electricity production chart"
Now the legend is too cluttered:
![image](https://user-images.githubusercontent.com/1303760/36299869-3aee5e4a-12ff-11e8-859b-71f82d6f9261.png)

[2018-02-19 10:14] marliekeverweij commented on #2662
Okay! Shall I delete the first slide and integrate the text of both slides into one slide (the flex-order slide)?

[2018-02-19 10:25] ChaelKruip commented on #2662
I think that would be great!

[2018-02-20 11:29] michieldenhaan opened #2665 "Table view not showing all series"
When adding additional charts, the table view is truncated in some cases. E.g. final energy demand:

![final_demand_chart](https://user-images.githubusercontent.com/32056448/36421469-d5dba4c6-1638-11e8-877b-c1100de3a142.png)

Here, hydrogen - other, hydrogen - national transport, hydrogen - energy, hydrogen - international transport and the total sum are missing.

When I add another chart below it

[2018-02-21 10:42] MartLubben commented on #2586
Hey @antw

Could you add the flexibility icon to the costs? Also I have just finished the imported electricity. This also needs an icon. I have created a first idea.

![screen shot 2018-02-21 at 11 33 30](https://user-images.githubusercontent.com/33415156/36475502-2aa9fd14-16fb-11e8-8ea4-91f257ecfd1b.png)

![icon imported electricity](https://user-images.githubusercontent.com/33415156/36475818-385

[2018-02-21 14:02] antw commented on #2586
How's this?

![screen shot 2018-02-21 at 14 01 49](https://user-images.githubusercontent.com/4383/36484025-d533d598-170f-11e8-95b4-e54c262c7d99.png)

[2018-02-21 14:05] MartLubben commented on #2586
This is also a nice snd FREE one: https://www.flaticon.com/free-icon/login-button_16036

[2018-02-21 14:07] MartLubben commented on #2586
@antw What do you think. You've got the best feeling for this ;-)

[2018-02-22 09:20] DorinevanderVlies opened #2667 "Downloadlink of industry report is broken"
The link to [https://quintel.com/publications/industry](https://quintel.com/publications/industry) still works, however pressing the download button which redirects to [https://quintel.com/publications/industry/download](https://quintel.com/publications/industry/download) gives:

![image](https://user-images.githubusercontent.com/19907658/36529856-df043702-17b9-11e8-86ac-dfcfe03ae310.png)

[2018-02-22 16:02] #2586 closed

[2018-02-22 17:06] MartLubben commented on #2586
@antw I am happy. It looks great. Thanks  :)

[2018-02-23 10:31] grdw commented on #2667
Fixed it with https://github.com/quintel/quintel.com/commit/5246e8f2e6aa630e7ecf5cd44e718c82c282cd55

[2018-02-23 10:31] #2667 closed

[2018-02-23 10:48] MartLubben commented on #1907
Hey all,
In line with this discussion I encountered a similar confusion. During my start with the ETM I mistakenly 'learned' that cooking and lighting were minor energy users in households, due to the useful demand in households chart:
![screen shot 2018-02-23 at 11 39 38](https://user-images.githubusercontent.com/33415156/36590321-945a95cc-188e-11e8-9f8a-f56c1fa1d521.png)

However when you look a

[2018-02-23 10:52] MartLubben opened #2668 "Micro-CHP can only be up to 55% while all other technologies can be 100%"
Is this what we desire?
If so, shouldn't we mention the why in the '?' ?

![screen shot 2018-02-23 at 09 36 50](https://user-images.githubusercontent.com/33415156/36590742-f8cc6138-188f-11e8-98f0-d53d448b4029.png)

[2018-02-23 12:27] MartLubben opened #2669 "Hydrogen has different color in different places"
Hydrogen has different colors in different places in the transport section. It would be nice if there is some consistency possible. However sometimes the hydrogen blue color is used for different types of electricity.

[2018-02-23 13:28] MartLubben opened #2670 "Verkeer & Vervoer, Mobiliteit en Transport"
Should we rename Transport to 'Mobility & Transport, because the definition of 'transport' only includes freight and passenger transport is called 'mobility'.

Especially now the transport and mobility has improved a lot we should use the same language as the users.

[2018-02-23 15:40] MartLubben opened #2671 "Create an overview chart of costs in transport"

[2018-02-23 16:59] michieldenhaan opened #2672 "Order technologies space heating/hot water not the same"
![heatingwatertechs](https://user-images.githubusercontent.com/32056448/36606135-0a9b970c-18c3-11e8-8c31-e8faec56f59f.png)

[2018-02-23 17:19] michieldenhaan commented on #2665
This also happens sometimes in chart view btw:

[2018-02-24 16:49] ChaelKruip opened #2673 "Translations seem to be missing on LIVE"
![image](https://user-images.githubusercontent.com/1303760/36632768-13b2face-198b-11e8-8af7-9bfc8e96cb83.png)

[2018-02-24 16:51] ChaelKruip opened #2674 "Totals of Mekko in table view are hidden behind dashboard"
This is maximally scrolled down:
![image](https://user-images.githubusercontent.com/1303760/36632780-4e9485e0-198b-11e8-8069-19aec187534f.png)

[2018-02-24 17:17] ChaelKruip opened #2675 "Wrong translation used for hydrogen production in flex chart"
![image](https://user-images.githubusercontent.com/1303760/36633051-e3fa7cfe-198e-11e8-85c6-1651f46087c2.png)

[2018-02-26 08:02] michieldenhaan commented on #2674
Already made an issue about this: https://github.com/quintel/etmodel/issues/2665

[2018-02-26 08:02] #2674 closed

[2018-02-26 08:19] michieldenhaan commented on #2670
I'm not sure whether the average user knows the difference between mobility and transport (feels a bit artificial). Anyway, what do we think?

![energietransitiemodel - je eigen onafhankelijke volledige en op feiten gebaseerde energiescenario httpsbeta-pro energytr 2018-02-23 20-27-15](https://user-images.githubusercontent.com/32056448/36659715-a9bae70c-1ad5-11e8-9366-e10a1e5f7843.png)

For consis

[2018-02-26 08:26] michieldenhaan commented on #1907
A final demand chart sounds like a good idea @MartLubben, the useful demand chart isn't very easy to understand. Since it's the first chart people see when opening the ETM, it better be good

[2018-02-26 08:42] MartLubben commented on #2672
Now ordered alphabetically.
OK?

![screen shot 2018-02-26 at 09 41 31](https://user-images.githubusercontent.com/33415156/36660666-46d70838-1ad9-11e8-83aa-8a893651e6dc.png)
![screen shot 2018-02-26 at 09 41 38](https://user-images.githubusercontent.com/33415156/36660667-46f0140e-1ad9-11e8-9c03-ea640804ee7c.png)

[2018-02-26 08:42] #2672 closed

[2018-02-26 08:44] MartLubben commented on #2670
Or we call it 'Vervoer' in dutch, because that contains both 'goederenvervoer' and 'personenvervoer'

[2018-02-26 09:01] marliekeverweij commented on #2675
Done!
I have also updated other legend names to more understandable ones:
- converted to gas > converted to **hydrogen**
- converted to heat > converted to heat **for households**
- stored in batteries > stored in **household** batteries

![flexibility legend](https://user-images.githubusercontent.com/32833996/36661550-d4369430-1adb-11e8-93ed-55b30bf596a3.jpg)

[2018-02-26 09:01] #2675 closed

[2018-02-26 09:24] DorinevanderVlies opened #2678 "Add units to data export tables"
On a regular basis I get clarification requests for the data export tables.
I think it would be a good improvement if we add units to the data export tables.

Either in the names of the attributes or in an extra row below the column titles.

[2018-02-26 09:31] MartLubben commented on #2622
@nairnamratha can this be closed?

[2018-02-26 09:43] MartLubben opened #2679 "Add some information about the new features in the LIVE."
@antw I heard you had some ideas to show the new features somewhere in the frontend.

I have an ugly proposal, just as an idea:
![screen shot 2018-02-26 at 10 40 56](https://user-images.githubusercontent.com/33415156/36663413-c94bfa28-1ae1-11e8-9a0a-f0319c81a991.png)

[2018-02-26 10:35] #2665 closed

[2018-02-26 10:59] marliekeverweij commented on #2662
I have changed the flexibility slides, this is the result:

![screen shot 2018-02-26 at 11 54 27](https://user-images.githubusercontent.com/32833996/36666738-d59d7da6-1aeb-11e8-9543-c48bfd0e4396.png)

One question: which chart do we want to be displayed on the right? In the text I now explain the table that is currently shown. But personally I like this one:

![screen shot 2018-02-26 at 11 58 15](

[2018-02-26 13:14] marliekeverweij commented on #2669
Solved! All hydrogen now has the color `skyblue`

[2018-02-26 13:14] #2669 closed

[2018-02-26 13:23] marliekeverweij commented on #2612
Maybe this issue would also be nice to fix before the deploy next week! Does anybody have time to tackle this?! (I do not...)

[2018-02-26 13:59] antw commented on #2608
@marliekeverweij What's not working currently? I can see the missing slider labels (I can fix that) and I need to remove some database tables, but a quick glance suggests that everything is otherwise working fine. Is there anything else I might need to fix before merging this?

[2018-02-26 14:16] MartLubben commented on #2612
Another quick fix option is to not change the overview, but add an extra group on top with: 'Most used',

This should include the 10 most used according to analytics. @grdw Is this easy to get? Do you already have it? And does this contain enough data or is it just too little to represent the 'average' ETM user?

[2018-02-26 15:10] marliekeverweij commented on #2608
You are right! I am indeed only missing all slider labels. Furthermore, it is working :)

[2018-02-26 16:05] grdw commented on #2612
Yes, in time...

No, unfortunately not.  The only way you can easily say something - as of right now - about the 10 most used charts, is by asking everybody within Quintel what the most used charts are. Which actually might be representative as we are probably the most active user-group. Google analytics is not yet in the ETM, this still needs to be finished.

[2018-02-26 17:23] antw commented on #2608
Since we both tested it, I merged this without bothering with a pull request. I also squashed it down to a single commit since one commit per deleted file was a bit much 😄. @marliekeverweij: Thanks for taking care of this!

[2018-02-27 12:08] ChaelKruip opened #2682 "Every central heater should have a slider in the front-end"
There are seven heaters:
![image](https://user-images.githubusercontent.com/1303760/36727577-10e5394e-1bbe-11e8-8da3-bf34365d2b54.png)
But only 5 have a slider:
![image](https://user-images.githubusercontent.com/1303760/36727620-3c5f8e12-1bbe-11e8-876a-351121128158.png)

As far as I can see there is a slider for:
* Coal
* Oil
* Waste
* Gas
* Biomass (in renewable heat section)

For lignite, I thin

[2018-02-27 12:09] ChaelKruip opened #2683 "Coal CHP should not be displayed in heat mekko as central heater"
I removed all coal heater but still see heat from coal:
![image](https://user-images.githubusercontent.com/1303760/36727974-713b089a-1bbf-11e8-883d-af0af9493c4d.png)
Either the label or the query is wrong...

[2018-02-27 14:58] marliekeverweij opened #2684 "Final demand of international aviation in mekko is incorrectly calculated"
I am making screenshots for in my presentation tomorrow and now I bump into an issue! The final demand of international aviation seems to be doubled in the final demand mekko:

![screen shot 2018-02-27 at 15 44 57](https://user-images.githubusercontent.com/32833996/36735185-d77e8e68-1bd5-11e8-981d-0e62855d5cf6.png)

The final demand is 158 PJ and not 0.32 EJ!

Somehow the kerosene demand is double

[2018-02-27 15:00] marliekeverweij opened #2685 "Final demand international aviation is incorrectly calculated in final demand mekko"
I am making screenshots for in my presentation tomorrow and now I bump into an issue! The final demand of international aviation seems to be doubled in the final demand mekko:

![screen shot 2018-02-27 at 15 44 57](https://user-images.githubusercontent.com/32833996/36735185-d77e8e68-1bd5-11e8-981d-0e62855d5cf6.png)

The final demand is 158 PJ and not 0.32 EJ!

Somehow the kerosene demand is double

[2018-02-27 15:13] marliekeverweij commented on #2685
Aha! Apparently an edge has the group final demand, but should not have it! Therefore, the final demand of international aviation is doubled! I am going to delete that group from that edge.

![issue_int_aviation_final_demand](https://user-images.githubusercontent.com/32833996/36736343-a90fb1ee-1bd8-11e8-9c6b-2edb469f18ce.jpg)

![screen shot 2018-02-27 at 16 09 37](https://user-images.githubusercon

[2018-02-27 15:21] marliekeverweij commented on #2685
This is better:

![screen shot 2018-02-27 at 16 21 03](https://user-images.githubusercontent.com/32833996/36736984-3b978b8a-1bda-11e8-84de-f1a69ea213ba.png)

[2018-02-28 08:15] #2622 closed

[2018-02-28 08:43] grdw commented on #2684
I just did this - out of curiosity:

[code]

Which returned:

[code]

Which makes me think that `lpg?`, `gasoline?` and `diesel?` don't return any graph edges.

[2018-02-28 12:29] ChaelKruip commented on #2684
True.

Yes 😄

[2018-02-28 12:38] ChaelKruip commented on #2662
I like it but I also think there is (way) too much text now. If you have a small screen, you need to scroll down to reach the 'merit order'. Perhaps we can reduce this text? I can help 😄

me too!

[2018-03-01 08:59] grdw commented on #2673
They aren't gone on https://beta-pro.energytransitionmodel.com. This is already solved  with https://github.com/quintel/etmodel/commit/29e9d0457b53329c358e64466445e282d05f3515

[2018-03-01 08:59] #2673 closed

[2018-03-01 10:20] grdw commented on #2673
https://pro.energytransitionmodel.com/scenario/demand/transport/truck-technology it got deployed to production.

[2018-03-01 10:37] #2685 closed

[2018-03-01 12:07] grdw opened #2686 "Browser support header needs to be parsed as HTML"
![screen shot 2018-03-01 at 13 07 08](https://user-images.githubusercontent.com/2676542/36844071-7a025fda-1d51-11e8-9884-c80e2061bed2.png)

[2018-03-01 12:22] grdw opened #2687 "IE10 (Windows), Safari 5.1 (Windows) - Layout of local vs global spans full width of the screen"
What it looks like on Windows - IE10, Windows - Safari 5.1:

![screen shot 2018-03-01 at 13 20 23](https://user-images.githubusercontent.com/2676542/36844522-6526a844-1d53-11e8-9805-77cd49820317.png)

What it looks like on Firefox:

![screen shot 2018-03-01 at 13 21 28](https://user-images.githubusercontent.com/2676542/36844564-86d0b908-1d53-11e8-865d-d2b30366cb3f.png)

[2018-03-01 12:53] marliekeverweij commented on #2683
I think I found the problem!
In the queries of this mekko the coal chps and heaters are switched:

![issue_2683](https://user-images.githubusercontent.com/32833996/36845615-c2af0750-1d57-11e8-9753-f069b8ec09d6.jpg)

Do you agree?

Btw: both the lignite chps and heaters are switched off by default, so indeed the other issue (#2682) could wait until after the deploy!

[2018-03-01 12:54] ChaelKruip commented on #2683
Great catch! Yes please switch them back 😄

[2018-03-01 12:56] ChaelKruip commented on #2683
@marliekeverweij please also check that the queries themselves refer to the correct nodes as well. Thanks!

[2018-03-01 13:02] antw commented on #2687
Closed by f5da2815a

[2018-03-01 13:02] #2687 closed

[2018-03-01 13:12] marliekeverweij commented on #2662
I have deleted some text! Maybe more can be deleted, but I could not figure out which part

![screen shot 2018-03-01 at 14 11 09](https://user-images.githubusercontent.com/32833996/36846307-72d876e6-1d5a-11e8-85a5-dfd1a2ea9265.png)

[2018-03-01 13:19] antw commented on #2686
Hmm, this message is quite annoying; because it's a flash message it keeps reappearing after you close it. It also overwrites any other flash messages such as "you have been logged out".

I reckon we'd be better putting this as a separate message on the home (root) page only. What do you think @grdw?

[2018-03-01 13:41] marliekeverweij commented on #2683
Done. And I checked if it works locally and it does; now the queries correspond to the correct energy flows.

[2018-03-01 13:52] grdw commented on #2619
Is this still relevant? I just created a dataset with the area of 'Reitdiep' and saw that the sliders start at 0 and move up to 1.

![screen shot 2018-03-01 at 14 50 53](https://user-images.githubusercontent.com/2676542/36847896-f78e4820-1d5f-11e8-973e-099b9bd4ce13.png)
![screen shot 2018-03-01 at 14 50 56](https://user-images.githubusercontent.com/2676542/36847897-f7aa22a2-1d5f-11e8-8733-e14565fe

[2018-03-01 13:52] grdw commented on #2612
Related: #2653

[2018-03-01 13:56] michieldenhaan commented on #2619
Still relevant, would be nice if you can hide the onshore coast slider if coast_line = 0

[2018-03-01 13:57] grdw commented on #2686
Yes. That would make the most sense. Although I would like to argue that it would also be practical to have it on a scenario's page. I can see people going directly to a single scenario and not entering from the front-page. However, I can't say that for sure because #2653 hasn't been implemented yet 😅

[2018-03-01 13:58] grdw commented on #2619
Just to be clear: it only has to affect *onshore*, not offshore?

[2018-03-01 15:01] grdw commented on #2619
I'm a bit at unease about how to solve this properly. I see multiple routes

### 1. Adding a `visibility_gql` attribute to `Input` in `Atlas`

This way you can add an attribute per input as such:

[code]

ETModel has to figure out the rest.

---

#### 2. Use a separate Gquery in the front-end of ETModel

Add a `visibility_gquery` column to the `input_elements` table. This `visibility_gquery` value

[2018-03-01 15:50] ChaelKruip commented on #2662
Thanks! I removed one more sentence and am closing this now.

[2018-03-01 15:50] #2662 closed

[2018-03-02 10:48] antw commented on #2619
1. In the dataset, set `has_coastline = false`.
2. For the slider, in ETModel add an area dependency on `has_coastline`:
  ![screen shot 2018-03-02 at 10 29 25](https://user-images.githubusercontent.com/4383/36895265-3dd5d054-1e06-11e8-8fdc-e48644bfef08.png)

This dependency is already in place for the coastal and offshore turbines – so I don't think this needs to be changed – it's just that no-on

[2018-03-02 12:32] grdw commented on #2619
I added the switch, thanks @antw ! That's way easier 👍

@michieldenhaan can I leave it up to you to figure out which local dataset have a coastline and which doesn't?

[2018-03-02 13:41] michieldenhaan commented on #2619
yup, thanks guys

[2018-03-02 13:41] #2619 closed

[2018-03-02 14:42] michieldenhaan commented on #2536
Fixed:
![energy transition model - your free independent comprehensive fact-based scenario builder httpsbeta-pro energytransiti 2018-03-02 15-41-40](https://user-images.githubusercontent.com/32056448/36904175-4293a560-1e30-11e8-84ad-2e9fba988757.png)

[2018-03-02 14:42] #2536 closed

[2018-03-02 15:49] MartLubben commented on #1907
Will this final demand of households be an improvement as a start chart? See second chart. What do you think?
@michieldenhaan @DorinevanderVlies @ChaelKruip @jorisberkhout @AlexanderWirtz @nairnamratha @marliekeverweij

![screen shot 2018-03-02 at 16 48 52](https://user-images.githubusercontent.com/33415156/36907751-aa11b048-1e39-11e8-96f9-599cff5092b8.png)

[2018-03-02 15:51] ChaelKruip commented on #1907
I like it a lot!

[2018-03-02 16:07] DorinevanderVlies commented on #1907
A huge improvement!

[2018-03-05 09:28] MartLubben commented on #1907
Ok the chart is changed. @marliekeverweij , @michieldenhaan and I also agreed to change the color of cooking from pink to light orange.
If I get no (negative) reactions I wil close this issue.

See: https://beta-pro.energytransitionmodel.com/scenario/demand/households/prosperity

![screen shot 2018-03-05 at 10 24 23](https://user-images.githubusercontent.com/33415156/36967221-707876aa-205f-11e8-8c

[2018-03-05 10:16] MartLubben commented on #1907
Last remark:
@michieldenhaan found out that all solar thermal is going to the node `households_final_demand_for_hot_water_solar_thermal`, and no share is given to the final demand heating. While around half of the energy flow will be part of heating the household. To reflect this in the chart the gqueries for got water and space heating are a bit changed, see:
https://github.com/quintel/etsource/c

[2018-03-05 11:02] ChaelKruip commented on #1907
👍

[2018-03-05 12:56] AlexanderWirtz commented on #2670
I don't see the need to be honest. Also to be honest, this is too close to the deploy. I removed the Milestone

[2018-03-05 12:57] AlexanderWirtz commented on #2668
This is something I need time to look at. Removing milestone.

[2018-03-05 15:45] nairnamratha opened #2693 "Merit Order Capacities Chart doesn't scale properly"
The chart doesn't scale properly when there are no oil and diesel plants present. As shown below
![screen shot 2018-03-05 at 16 40 05](https://user-images.githubusercontent.com/32448293/36984067-4334b9e4-2094-11e8-8101-3464c3fc9103.png)
However, when oil-fired power plants /diesel generators are added, then the chart works fine:
![screen shot 2018-03-05 at 16 39 52](https://user-images.githubuserc

[2018-03-05 16:13] grdw commented on #2693
Seems a little odd to this within the February deploy. Will pick this up, but if it's not of high priority I'm going to do this tomorrow.

[2018-03-06 08:26] MartLubben opened #2696 "Chart: Supply and demand of the central heat network. The sum of the table is always 0."
@antw Can I fix this myself?

![screen shot 2018-03-05 at 17 37 17](https://user-images.githubusercontent.com/33415156/37021514-1db7a4b0-2120-11e8-8691-9254b000e380.png)

[2018-03-06 08:26] #2545 closed

[2018-03-06 13:34] #2693 closed

[2018-03-06 14:52] marliekeverweij opened #2698 "CO2 emissions BETA vs LIVE are different; what is the reason for that?"
The CO2 emissions in the dashboard of BETA vs LIVE differ:
- BETA = + 9.9%
- LIVE = + 8.7%

![beta_co2](https://user-images.githubusercontent.com/32833996/37038722-daaf51a0-2155-11e8-9d2b-246504611e87.jpg)

![live_co2](https://user-images.githubusercontent.com/32833996/37038753-f1b1bd20-2155-11e8-921b-821351232617.jpg)

@michieldenhaan suggested that it could be the import of biogenic waste that h

[2018-03-06 15:00] ChaelKruip commented on #2698
Perhaps the "Primary CO2 Mekko chart" in table view can give you some insight?

[2018-03-06 15:16] michieldenhaan commented on #2698
I was referring to: https://github.com/quintel/etsource/commit/6c6b55cbefbcb5099a7caa09adf208f0563c43d5. I.e. the carrier ``non_biogenic waste`` has a non-zero ``co2_conversion_per_mj`` on beta.
This results in 1.8197 MT extra CO2 in 2015.

[2018-03-06 15:21] marliekeverweij commented on #2698
This difference is only in the electricity and hot water consumption. @michieldenhaan says this has to do with the factor for the import of biogenic waste.

![beta_primary_co2](https://user-images.githubusercontent.com/32833996/37040473-3871ac94-215a-11e8-9db0-573e121375ea.jpg)

![live_primary_co2](https://user-images.githubusercontent.com/32833996/37040477-3a0d9892-215a-11e8-9701-5bc3ac63650d.jpg

[2018-03-06 15:39] ChaelKruip commented on #2698
Making a scenario on BETA and LIVE without non_biogenic waste should give you the same result! Can you show that this is the case @marliekeverweij @michieldenhaan?

[2018-03-06 15:42] DorinevanderVlies opened #2699 "Saved scenario list should exclude scenarios for nonexistent datasets"
![image](https://user-images.githubusercontent.com/19907658/37041794-5090b04c-215d-11e8-91c7-e6d8682e33f2.png)

[2018-03-06 15:43] DorinevanderVlies commented on #2699
@antw and @grdw please re-assign if appropriate.
Can this be an effect of recent imports or is something else going on?

[2018-03-06 15:43] DorinevanderVlies commented on #2699
notifying @michieldenhaan

[2018-03-06 15:46] antw commented on #2699
This is because `rivierenland` was renamed to `om_rivierenland`. I have updated the affected scenarios to fix the immediate problem, but will leave this issue open because it's not right for a deleted dataset to be able break this page.

[2018-03-06 16:05] marliekeverweij commented on #2698
Yes this is the case! There is only a minor difference of 0.00326 MT

![live](https://user-images.githubusercontent.com/32833996/37043139-3260cb9a-2160-11e8-8c02-63ea12a9de54.jpg)
![beta](https://user-images.githubusercontent.com/32833996/37043140-32613788-2160-11e8-9cd0-ab20ab7e166f.jpg)

[2018-03-06 16:08] ChaelKruip commented on #2698
Great work! Closing this.

[2018-03-06 16:08] #2698 closed

[2018-03-07 09:57] jorisberkhout opened #2700 "Slide texts are missing for both flexibility cost slides"
![screen shot 2018-03-07 at 10 55 34](https://user-images.githubusercontent.com/4669028/37085770-32fd9d12-21f6-11e8-818c-b35b547e2953.png)

[2018-03-07 09:57] jorisberkhout commented on #2700
And so are the tooltips.

![screen shot 2018-03-07 at 10 57 18](https://user-images.githubusercontent.com/4669028/37085831-5b4c4250-21f6-11e8-80fb-9b0cf26733d8.png)

[2018-03-07 09:58] jorisberkhout commented on #2700
Assigning @marliekeverweij . Reassign at will.

[2018-03-07 10:00] jorisberkhout opened #2701 "Interconnector capacity chart is cut off"
See red annotated part below.

![screen shot 2018-03-07 at 10 59 09](https://user-images.githubusercontent.com/4669028/37085936-a6ff9bf2-21f6-11e8-8406-cfdcbf65eb29.png)

Assigning @grdw . Reassign at will.

[2018-03-07 10:02] jorisberkhout opened #2702 "Dutch translations are missing for renewable electricity chart"
![screen shot 2018-03-07 at 11 01 34](https://user-images.githubusercontent.com/4669028/37086101-0a716a6c-21f7-11e8-8d95-8a77399bb054.png)

![screen shot 2018-03-07 at 11 02 00](https://user-images.githubusercontent.com/4669028/37086105-0d624a0c-21f7-11e8-8a7d-0c32aa90cc76.png)

[2018-03-07 10:03] jorisberkhout commented on #2702
Assigning @nairnamratha . Reassign at will.

[2018-03-07 10:23] jorisberkhout opened #2703 "Future natural gas production is read from production curve and overwrites dataset assumption"
For most local datasets, we set the extraction of natural gas and other carriers to zero in the dataset. For the future, however, the extraction is read from a scaled production curve for that carrier, resulting in a non-zero extraction of natural gas in the future. See the screenshot below for an example.

![screen shot 2018-03-07 at 11 20 19](https://user-images.githubusercontent.com/4669028/370

[2018-03-07 13:22] DorinevanderVlies opened #2704 "Not possible to create an account with two "." behind "@" of e-mailadres"
A user tried to create an account with the e-mailadres with the following syntax: xx.xx@yy.yy.com. However he received the message that the e-mailadres is not valid.

My assumption is that the double "." behind the "@" gives an error.

Notifying @grdw and @ChaelKruip

[2018-03-07 13:48] antw commented on #2704
I can register an account with `xx.xx@yy.yy.com` as the e-mail address without any problem. Is there any chance you know the exact message that was shown?

[2018-03-07 13:49] DorinevanderVlies commented on #2704
Closing as it turns out to be false alarm by this user.

[2018-03-07 13:49] #2704 closed

[2018-03-07 13:49] ChaelKruip opened #2705 "How do we deal with the circularity of electricity use for carbon capture?"
@marliekeverweij and I had the following question:

Power-to-kerosene uses excess electricity. The amount of carbon needed, therefore depends on the amount of excess.
At the same time, extracting carbon uses electricity:

![image](https://user-images.githubusercontent.com/1303760/37083309-6bb9f45e-21ef-11e8-9467-56ff4813ce1a.png)

This extra electricity demand could (severely?) reduce the excess u

[2018-03-07 14:02] AlexanderWirtz opened #2706 "Domestic planes use no energy for local datasets"
When testing for the deploy I found this bug: the energy demand for passenger transport goes to 0 when all passenger transport is by domestic plane. This only happens for local datasets.
![image](https://user-images.githubusercontent.com/308563/37096234-4d18b688-2218-11e8-9889-e436d17cf1d5.png)

The cause is the fact that the slider group for Domestic aviation technology does not add up to 100% or

[2018-03-07 14:44] michieldenhaan commented on #2706
Nice catch! Probably because all air plane carriers are zero in 2015:
![energytransitionmodel httpsengine energytransitionmodel com 2018-03-07 15-34-46](https://user-images.githubusercontent.com/32056448/37098074-4279e54e-221d-11e8-8414-c05f6cf19758.png)

Not sure what's the proper way to fix this tho.. @antw, @grdw any ideas?

[2018-03-07 15:16] antw commented on #2706
The common practice – when not providing default shares for the edges in ETSource – is to set one of them to `type=flexible` instead of `type=share`. That way, when all the other edges have a share of 0% the flexible edge will automatically be 100%.

[2018-03-07 15:34] antw commented on #2705
Isn't this just a conversion? The amount of "excess" electricity wouldn't change, what would change is how it is used. For example, if 40% of the excess is used to extract carbon and 60% to convert to kerosene:

[code]

[2018-03-07 15:51] michieldenhaan commented on #2706
Thanks! See: https://github.com/quintel/etsource/pull/1597
![energy transition model - your free independent comprehensive fact-based scenario builder httpetmodel test 2018-03-07 16-50-05](https://user-images.githubusercontent.com/32056448/37102211-a2306dbe-2227-11e8-8acd-dba587f4a2e5.png)