[2016-09-13 14:57] grdw opened #2240 "Duplicate chart-name 'Primary energy use'"
![screen shot 2016-09-13 at 16 56 52](https://cloud.githubusercontent.com/assets/2676542/18478859/18de676c-79d3-11e6-8555-67d60adf7e5c.png)

[2016-09-13 14:59] dennisschoenmakers commented on #2235
Could you also refer to the commit that implements this technique here please?

[2016-09-13 15:00] ChaelKruip commented on #2239
Do you suggest that this 'locking' only applies to when the same page is refreshed? Locking charts automatically would be really annoying in the normal ETM work-flow: I open the model, go to another section, and another.... WOW! I have a lot of charts in my window! 😄

[2016-09-13 15:03] ChaelKruip opened #2241 "Four decimal digits is too much for the flexibility table"
<img width="623" alt="energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_" src="https://cloud.githubusercontent.com/assets/1303760/18479106/ff72405e-79d3-11e6-90f6-cb7458827870.png">

I think one would be more than enough... @jorisberkhout do you agree?

[2016-09-13 15:06] dennisschoenmakers opened #2243 "How can there be fewer 'excess events' when demand is reduced?"
1. I build 100.000 offshore wind mills

![image](https://cloud.githubusercontent.com/assets/104830/18479022/b70bb732-79d3-11e6-90bc-c14b78a417e4.png)

2. I reduce energy demand by a) cut population in half, b) demolish all old houses, and reduce new houses to 0.1 million.

![image](https://cloud.githubusercontent.com/assets/104830/18479121/168d4892-79d4-11e6-962e-d144568c12ee.png)

[2016-09-13 15:11] ChaelKruip commented on #2243
I think the answer to that question is that peaks in the wind profile that earlier where counted as multiple events are now part of a longer single event.

[2016-09-13 15:17] grdw commented on #2235
This sounds a little troubling. That is, if someone makes a really really long one-word label somebody can totally destroy the layout of a mekko chart. For now I increased the label space with 5 extra pixels so the word 'Households' can just fit. Ofcourse this is a little patchy, but I think restraining the labels for becoming to large is actually good.

We could ofcourse also split upon a certain

[2016-09-13 15:20] grdw commented on #2239
Switching section does not append a new chart or does it? Or does it append a new one once a chart is locked?

[2016-09-13 15:21] jorisberkhout commented on #2241
The problem is that the number formatting in the table is static. If numbers are small (like for the Energieakkoord 2020 scenario as shown below), you lose information if you restrict the number of decimals to 1 or 2.

The real solution is to make the number formatting in the table more dynamic, which is included in [this overview issue](https://github.com/quintel/etmodel/issues/2015). I suggest t

[2016-09-13 15:21] #2241 closed

[2016-09-13 15:58] jorisberkhout commented on #2214
Closed by https://github.com/quintel/etengine/commit/51b74a319db3a1656d95177ea8ca2100e4b722db. I turns out that we were counting the losses in P2G twice, once in Merit and once again in the graph. This is now fixed.

One note, electricity export and curtailment are connected to the HV net. If all your excess electricity goes to export and/or curtailment, there is transport losses associated with t

[2016-09-13 15:58] #2214 closed

[2016-09-13 16:04] jorisberkhout opened #2244 "'Bookkeeping' of flexibility charts needs to be improved"
As discussed in https://github.com/quintel/etmodel/issues/2214, the numbers in the flexibility charts do not always add up to the same value. The total value varies by about +/- 5%, which needs to be fixed. Potential causes for this issue are:
- [ ] losses in the HV network
- [ ] ...

[2016-09-13 16:46] jorisberkhout commented on #2243
I fully agree with @ChaelKruip . This is supported by the fact that the dashboard item showing the **total** number of excess hours does increase.

Closing this issue. Re-open if you disagree with the explanation.

[2016-09-13 16:46] #2243 closed

[2016-09-13 16:51] ChaelKruip commented on #2244
Would it be an idea to add the loss on the HV network tot the 'loss' category in the table?

[2016-09-13 17:08] jorisberkhout commented on #2217
Nice catch @DorinevanderVlies . This is a tricky issue. I did exactly as you did (i.e. open the Urgenda scenario, install all flexibility options and play around with the order). Like you I was expecting no excess electricity to be left.

I did one more thing. I put `Storage in batteries` on top and downloaded the merit order load curves and performed some analysis on these load curves.
- I looked

[2016-09-13 19:33] #2217 closed

[2016-09-14 08:06] grdw commented on #2219
Turns out it was possible with Gimp. 👍 I just didn't really know how until now. Also @jorisberkhout pointed out that the other countries are one shade of blue and one shade of grey. I assumed that - since the borders of the Beglium country had a different shade of blue / grey that these borders would have to be colored aswell. Which was not the case.

[2016-09-14 08:10] ChaelKruip opened #2246 "Duration of excess events chart is hard to interpret"
After discussions with @dennisschoenmakers I believe we could improve the readability of the chart which currently shows number of events vertically and minimum duration horizontally:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/18503048/25bf757e-7a5b-11e6-9d89-9a3d4164e9f5.png)

The main issue i

[2016-09-14 08:37] grdw commented on #2238
I'm currently trying to reproduce this aswell. I'm dragging all the sliders from top to bottom. What clearly doesn't trigger it:

- Clicking on any slider randomly a lot (it just queues all the requests quiet nicely and nothing odd happens)
- Dragging multiple sliders randomly doesn't trigger anything for me.

Dragging multiple sliders over a slower connection does however cause the 'washed out' i

[2016-09-14 08:38] ChaelKruip commented on #2239
You can answer all these questions by using the [Energy Transition Model](https://pro.energytransitionmodel.com/). It's free! 😜

More seriously: No, it does not append a new chart indeed but it will not show any other chart either. So, after you lock the first one, that would be the only chart you see.

[2016-09-14 08:52] AlexanderWirtz commented on #2246
I do not see how this would work with binning. How do we bin the events on the x-axis meaningfully?

If we keep the x-axis the same, I agree that distinct binning would be easier. Still, histograms are quite hard for most people to interpret.

[2016-09-14 08:52] jorisberkhout commented on #2238
Thanks, @grdw . If it's just a delay, I would say that this is not deploy critical, so removing it from the milestone. I will leave this issue open though.

[2016-09-14 09:14] #2219 closed

[2016-09-14 09:14] jorisberkhout commented on #2219
Closed by #2245 .

[2016-09-14 09:56] grdw opened #2247 "Mekko charts III: The Return Of The Overlap - Browser compatability"
One thing to test: browser compatibility...

*Chrome/Safari* 😄
![screen shot 2016-09-14 at 11 40 06](https://cloud.githubusercontent.com/assets/2676542/18507606/54a08e80-7a71-11e6-94a1-4b81f566c576.png)

*Firefox 48.0.1* 😢
![screen shot 2016-09-14 at 11 41 25](https://cloud.githubusercontent.com/assets/2676542/18507608/54c2a7f4-7a71-11e6-8e7c-2899b70df1d3.png)

~~I think the Firefox thing has to d

[2016-09-14 09:57] ChaelKruip opened #2248 "Multiple charts do not use space optimally"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/18507859/5cc2ec38-7a72-11e6-9222-1ca7bbe9e677.png)

[2016-09-14 10:07] jorisberkhout commented on #2247
Hmm, this is deploy-critical as the ETM freezes on IE9 when you open a mekko. @grdw is looking into this. Do you have any ideas, @antw ?

[2016-09-14 10:08] grdw commented on #2247
I managed to fix Firefox problems 👍

IE9 is up next.

[2016-09-14 10:11] grdw commented on #2247
I'm close though. The problem is in the `fitHeightToLabels()` method. I'm sort of commenting out lines and adding them back in again to see what causes the `D3` error.

[2016-09-14 10:12] antw commented on #2247
IE11 and Edge both look fine on my Windows machine.

I don't have IE9 available. I can get it, but probably not soon enough to be any help. 😬

[2016-09-14 10:13] antw commented on #2247
Perhaps `fitHeightToLabels: ->` needs to be `fitHeightToLabels: =>` (fat arrow) for IE9?

[2016-09-14 10:14] grdw commented on #2247
No, it's specificly in this [line](https://github.com/quintel/etmodel/blob/master/app/assets/javascripts/d3/mekko.coffee#L295) that it breaks ... now I need to figure out the details 😅

[2016-09-14 10:22] grdw commented on #2247
I see why. Appereantly IE9 doesn't know how to select a `[object SVGSVGElement]`. Which causes an argument error on the side of D3. I think that's what [somebody at D#](https://github.com/d3/d3/issues/851) already found out.

So I guess we would have to this with `setAttribute` (it fixes the problem):

[code]

[2016-09-14 10:23] antw commented on #2247
That's probably better anyway. :+1:

[2016-09-14 10:25] grdw commented on #2247
![screen shot 2016-09-14 at 12 23 16](https://cloud.githubusercontent.com/assets/2676542/18508811/0dbc0d64-7a76-11e6-9af7-bb2b180de83f.png)

It does suck at wrapping the labels though... but it fits.

[2016-09-14 10:47] #2247 closed

[2016-09-14 12:39] ChaelKruip opened #2250 "It should be possible to not produce any biodiesel"
Currently, about 60 PJ of biodiesel is alway produced in Dutch scenarios's. If you don't use it, it is exported. Because biodiesel has an (unrealistically see https://github.com/quintel/etdataset/issues/681) large In many cases, this dominates the bio-footprint:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/asse

[2016-09-14 12:52] AlexanderWirtz opened #2251 "IABR scaled scenario has new industry sectors. How does this work?"
The [IABR 2035 scenario](https://pro.energytransitionmodel.com/scenarios/291793) for north-eastern Groningen has changed quite a bit post-deploy. Admittedly, I hadn't tested in on beta (as I was too lazy to migrate it there from the live server). I probably should have, but decided to open this issue regardless to raise some questions as to what has actually happened.

The image below shows that t

[2016-09-14 13:20] RobTerwel commented on #2251
Correct.

The totals should still be the same. The old sector slider settings were migrated to subsector slider settings, as follows

``
other -> refineries, food, paper
``
``
chemical -> other_chemical, fertilizers
``

E.g., if the old slider setting of the demand growth of the chemical industry was set to 2%/year, that number was converted to a relative size (for a 2050 scenario 1.02^(2050-2013)

[2016-09-14 13:45] AlexanderWirtz commented on #2251
@RobTerwel thanks for the quick reply. It helps a lot. Some of the more obvious answers I had figured out meanwhile, but it is reassuring to know you gave this some though.

Still, I wonder why dashboard values are so different if the total demands are still the same. the IABR 2035 scenario went from -95.0% CO2 emissions to -98.2% and from 88% renewable to 92%.  I had initially figured this had so

[2016-09-14 13:49] AlexanderWirtz commented on #2250
I think we should re-think the bio-footprint. The biodiesel production is the by-product of necessary crop rotation to re-fertilize soil. So it uses land, but does not compete with food production, in fact it keeps arable land productive.

[2016-09-14 14:00] RobTerwel commented on #2251
This could also very well have to do with the efficiency of the refinery, which is higher in the new industry than in the old industry. The refinery in an NL-based scenario now has the 'Dutch efficiency' rather than the 'European efficiency', which is quite a bit lower.

[2016-09-14 14:35] AlexanderWirtz commented on #2251
Meaning the sum of the `Other` industry sector and refinery sector has effectively become smaller and hence the total in the scaled scenario as well? Makes sense.

[2016-09-15 08:24] dennisschoenmakers commented on #2246
I think plotting the (sum of the) number of hours vertically rather
than the number of events would be much more informative yes!

I am not so sure about cummulative or not horizontally. Perhaps we
want to try both and see how that works out?

[2016-09-15 14:12] AlexanderWirtz commented on #2251
UPDATE:

After comparing the IABR 2035 scenario on the production branch and the old production branch (thanks for that @ChaelKruip) I have concluded that fixing this scenario is not straightforward.

The reason is that we used to have sliders to set the useful demand growth of `electricity`, `heat`, `oil and oil products (non energetic)`, `network gas (non energetic) `, `other carriers (non energ

[2016-09-15 14:52] AlexanderWirtz commented on #2251
@dennisschoenmakers

[2016-09-15 15:43] jorisberkhout commented on #2215
I have made the interconnector capacity country-dependent with the following commits by updating:

- the area analysis to include an attribute `interconnector_capacity` in https://github.com/quintel/etdataset/commit/49f0ac613bf16210de062205ca28aa8149069e01 and https://github.com/quintel/etdataset/commit/3e8f3a1758c184fe4eba0a39b848c9c487276d4c
- Atlas to recognize this new attribute in https://git

[2016-09-15 15:43] #2215 closed

[2016-09-15 16:59] RobTerwel commented on #2251
This is something we can enable again.

That need not be the case. Perhaps the following is a workable solution:

Replace the `adjust_scaling` inputs that used to set the total demand of the subsector with `adjust_scaling` inputs that set the individual carrier demand for that subsector.

In this way, we don't have two inputs acting upon the same demand *at the same time* (the `adjust_scaling` inp

[2016-09-16 10:05] AlexanderWirtz commented on #2251
@RobTerwel I like this very much and this was indeed what I was angling for.

To be more explicit:

1. In the `adjust_scaling` folder we (re)create inputs that set the demand for individual carriers for the relevant subsectors. These are statements that pertain to `both` graphs. These statements **replace** the `both` input statements for the total subsector demand.
2. This impacts the scenario mi

[2016-09-16 16:53] RobTerwel commented on #2251
Point 1: exactly!

Point 2: this is a bit more subtle.

This migration led to an aggregation in the sense that several slider values were compressed into one: the average of the sliders for the demand per carrier within a subsector determined the value of that subsector's demand slider. The original slider values per carrier can therefore not simply be retrieved - that is reverse engineering.

How

[2016-09-19 07:48] AlexanderWirtz commented on #2251
@RobTerwel

Yes, I understand that. 😄

Is it not easier to rely on the fact that we have backed up our scenario's and the original slider values still exist? @antw what is your opinion on what would be easiest. I am a little afraid that the documentation could be flawed or not up to date here and there.

[2016-09-19 08:05] ChaelKruip commented on #2251
Yes.

[2016-09-19 08:36] antw commented on #2251
We have a complete backup of the production database from immediately prior to the recent deploy. It would be quite easy to get the original input values of these scenarios from that backup.

[2016-09-19 08:49] antw commented on #2251
Here are the original input values IABR scenario mentioned in the first post: **https://gist.github.com/antw/f4a9ca5ad7f67a15fbb8cefce91b0ef8**

[2016-09-19 21:29] RobTerwel commented on #2251
I was unaware of this, great we have it though! This once more shows the importance of backups. 😉

[2016-09-20 18:34] AlexanderWirtz commented on #2251
@antw and @RobTerwel I guess that means we can do as I suggested:

### Step 1. Generate the input statements for individual carriers and `both` graphs.
@RobTerwel does this list cover things in your opinion?

Need-to-haves non-energetic use:
- [ ] `industry_useful_demand_for_chemical_other_coal_non_energetic_both` (used to be set with 'other carriers' slider)
- [ ] `industry_useful_demand_for_chem

[2016-09-21 09:03] RobTerwel commented on #2251
The first and second list in step 1 are correct and complete when it comes to the chemical industry (refineries, fertilizers, other chemical) provided that there are no refineries and fertilizers industry in any of these scenario's (which I believe there aren't).

The inputs included in the third and fourth list we don't need; the *sum* of the energetic use of coal, wood pellets, crude oil and net

[2016-09-21 11:03] AlexanderWirtz commented on #2251
@RobTerwel Thanks for you reply. I have 'striken through' the statements we do not need and have added the other need-to-haves.

As you will notice I have included in the first two lists, the input statements for the `aggregated` industry. The food and paper industry are likely to be very similar everywhere, so I do not expect large local variation from the national average.

Good to know. Added t

[2016-09-23 12:05] ChaelKruip opened #2253 "WANTED: support for CO2 emission units in Sankey"
Now it tries to express my 'tonne' unit in Joules:
![screen shot 2016-09-23 at 14 05 16](https://cloud.githubusercontent.com/assets/1303760/18785142/ce7e2902-8196-11e6-8080-95e8ac9d6060.png)

[2016-09-23 12:06] ChaelKruip commented on #2253
In the DB:
![_mysql_5_6_26__etmodel_dev_etmodel_dev_output_elements](https://cloud.githubusercontent.com/assets/1303760/18785189/fa13d90e-8196-11e6-9caf-a85a926d3706.png)

[2016-09-23 12:27] AlexanderWirtz commented on #2251
@antw For the GEA scenario values from before the deploy, I need a backup of `etengine_staging` that is somewhat recent but from before the migration and (obviously) from before the deploy. I had a relevant backup for the IABR scenario, but did not make one in this particular period.

Question 1: Can you help me with this?
Question 2: I can tell August 11 was a day all these scenario were updated.

[2016-09-23 13:02] antw commented on #2251
**[Here you go!](https://gist.github.com/antw/4e88d72f3e874371c88be644e8380390)**

If you need it, you can find the full database backup on DropBox at `Quintel` → `Development` → `Deploys` → `Misc DB Backups` → `etengine_staging-11-08-2016-09-58-before-chem-split.sql.bz2`

Indeed, 11th August was the migration date for the staging server.

| Scenario | Last modified |
| --- | --- |
| GEA QI Nulmet

[2016-09-23 13:15] #2253 closed

[2016-09-23 13:25] AlexanderWirtz commented on #2251
@RobTerwel as I started creating these input statements I found out that

### Energetic demand
The `industry_useful_demand_for_other_aggregated_industry_nl_both.ad` input statement also contains a lot of energetic use input statements for the various sub-subsectors, other than the `useable_heat` and `electricity` we need for GEA. If we replace this sector-wide input statement, I suppose that impli

[2016-09-23 13:46] AlexanderWirtz commented on #2251
Thanks!

[2016-09-25 20:12] RobTerwel commented on #2251
In creating the subsectors listed in the `aggregated_other` inputs, we did two things:
- not add any burner/heater technologies to these subsectors, as we chose not to model previously unexposed subsectors in detail.
- direct all non-energetic demand  to the `other_non_specified` subsector, as it can not be extracted from the EB to which subsector this non-energetic demand for the **old** `other`

[2016-09-26 07:43] ChaelKruip opened #2254 "Opacity of Sankey should be the same as the first time it loads"
First time:
![energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_](https://cloud.githubusercontent.com/assets/1303760/18826414/96873faa-83cd-11e6-8bf8-7f50251866c2.png)
After mouse-over:
![energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_](https://cloud.githubusercontent.com/assets/1303760/18826447/b7

[2016-09-26 08:03] ChaelKruip opened #2255 "Should primary CO2 include distribution losses?"
This is a bit of a philosophical question: "Why would you also take oil spilling into the sea, gas leaking from the pipes and coal dropping from the conveyor belt into account when calculating CO2 emissions (as we currently do)?"

Is this convention?

[2016-09-26 12:10] AlexanderWirtz commented on #2255
It is not convention (I believe), but just how our CO2 calculation works. IF we decide to change this, and account for CO2 emissions of actual energetic use, we would need to first map out how large the discrepancy is and if we can reproduce official numbers.

One issue might be that for compiling official usage statistics, losses are not always known precisely and it is simply assumed or reported

[2016-09-26 13:38] dennisschoenmakers opened #2256 "Network costs seem to have disappeared from the costs chart in the dashboard"
As witnessed during presentation with ECN today

[2016-09-27 08:32] ChaelKruip commented on #2256
For scaled scenario's it seems that the network cost calculation is missing from the chart indeed although some extra (network?) costs are taken into account in the dashboard item itself:
![energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_](https://cloud.githubusercontent.com/assets/1303760/18865860/acc32074-849d-11e6-8d7e-685e728ddd70.png)

[2016-09-27 08:36] ChaelKruip commented on #2256
@antw could it be that the `use_network_calculations` attribute is set to `false` for scaled scenario's?

[2016-09-27 08:56] antw commented on #2256
[Yes](https://github.com/quintel/etmodel/blob/9b2b00ae8320d226d33735f100359bc3cdc23484/app/models/api/scaled_area.rb#L6). That was done in order to prevent the "Infrastructure" section from appearing in scaled scenarios (edd5400).

[2016-09-27 11:57] DorinevanderVlies opened #2257 "It is unclear whether the P2G units produce for domestic use or for export."
### Problem description

When I use the P2G flexibility options to reduce my excess electricity my aim is to supply the hydrogen demand, but not to overproduce hydrogen (which results in export).

For example the Urgenda scenario does not contain hydrogen technologies in the transport sector. So, implementing P2G for transport directly results in export of hydrogen.

Hydrogen is used non-energetic

[2016-09-28 11:14] ChaelKruip commented on #2256
Makes sense. What is weird though is that the costs for infra are excluded from the chart but not from the dashboard item. When I check the value of the `use_network_calculations` attribute in the sand-box for a scaled scenario, I get `true` which is surprising to me:
![energytransitionmodel](https://cloud.githubusercontent.com/assets/1303760/18911462/83dc6f0e-857d-11e6-9292-5dcb8caf1df6.png)

[2016-09-28 11:15] ChaelKruip commented on #2256
Co-assigning @antw

[2016-09-28 11:54] ChaelKruip commented on #2255
Thanks for your answer @AlexanderWirtz!

I checked for the Dutch dataset and we currently assume lossless transportation and distribution for the major carriers (gas, coal, oil, biomass).

Also in the refinery sector, the losses of non-energetic oil are zero.

Closing this as I don't think this is worth pursuing anytime soon.

[2016-09-28 11:54] #2255 closed

[2016-09-28 12:11] ChaelKruip opened #2259 "Maintainability of scaled scenario's needs to be improved"
Because the scaling of the `present` dataset (as a fraction of the national dataset) is often insufficiently representative of the local situation, elaborate update statements are used to scale both `present` and `future` data.

[2016-09-28 12:59] antw commented on #2256
The attribute is disabled in ETModel (the front-end) only.

The intention of edd5400 was to hide the infrastructure sidebar item and "Required additional infrastructure investments" chart – not to turn off `use_network_calculations` for the scenario in ETEngine. This was the simplest way of achieving that since ETModel permits only one area-dependency, and the sidebar item and chart were already s

[2016-09-28 13:10] ChaelKruip commented on #2256
I think it would make sense because the network calculation is not built to work for small regions and the Stakeholder Analysis module typically will override the calculation with more accurate local data.

[2016-09-28 13:58] ChaelKruip opened #2260 "Scenario stacks: modeling energy situations at different scales"
# Background

We are making more and more local/regional/scaled scenario's with the ETM (and the Stakeholder Analysis module). Currently we start with the national dataset, scale\* everything down to the local size and use that.
I anticipate that local/scaled scenario's and the relation they have to each other and their encompassing (national) scenario will become increasingly important in the com

[2016-09-28 14:17] ChaelKruip opened #2261 "WANTED: bar-chart with negative series"
I'd like to make a chart which show the user how much CO2 emission is reduced between the start- and end-year similar to:
<img width="818" alt="20160804_gasunie_co2_v02_key" src="https://cloud.githubusercontent.com/assets/1303760/18917004/bf4a010a-8596-11e6-8bb1-76ee1cda32e9.png">

Although I think that for the ETM it would be more logical to flip the horizontal and vertical axis (putting the labe

[2016-09-28 17:20] dennisschoenmakers opened #2262 "User should be able to choose the base year for the CO2 comparison in the dashboard"
For national scenario's it is very clear that this need to be 1990, but for local municipalities they rather like to compare it to the present year.

[2016-09-28 17:33] dennisschoenmakers opened #2263 "User should be able to distinguish between local and non-local mobility use"
Right now a lot of discussion happens on which part of mobility use should be attributed to a particular region, e.g.:
- which part of a ferry service between an island and the mainland should be attributed to the island or the mainland, especially when the a big component is tourism?
- how should car transportation of a region be divided between home areas and working areas?
- should passing thro

[2016-09-28 17:37] dennisschoenmakers opened #2264 "User should also be able to analyze energy use per function"
Akin to the Energy Rapport:
* power and lighting
* transport and mobility
* low temperature in heating our houses and buildings
* high temperature in industry

[2016-09-28 18:09] dennisschoenmakers opened #2265 "How to deal with tourism for localities"
Some regions/municipalities have an aim to transition their own local community. But tourism crosses different sectors:
- buildings:
  - touristy: hotels, holiday parts
  - not touristy: public utility, like libraries, municipality buildings
  - partially touristy: shops, restaurants, swimming pools
- transportation

[2016-09-29 09:27] ChaelKruip commented on #2265
* Buildings: if tourism is important for a scenario, you can capture the effect in the ETM by increasing the relevant demands in the sector such as 'electricity per building' 'heating per building' etc.
On a more detailed level (ETM-SA) you could create profiles that take into account the timing of tourism (as we did for Ameland).
* Transport: the demand would increase in case of tourism as well.

[2016-09-29 09:34] ChaelKruip commented on #2264
Closing as this is a duplicate of https://github.com/quintel/etmodel/issues/1986

[2016-09-29 09:34] #2264 closed

[2016-09-29 09:47] ChaelKruip commented on #2262
It would be relatively easy to add a dashboard item to the list:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/18948858/0f8c6430-8639-11e6-803b-efca72141c06.png)
and a query of the form:
[code]

[2016-09-29 09:47] ChaelKruip commented on #2262
If more people like this idea, I can make this happen in little time.

[2016-09-29 09:55] ChaelKruip commented on #2263
Ok, but does IEA make any distinction like that @jorisberkhout @AlexanderWirtz? If we can't find good data on this, it would not be worth it to make this distinction in the ETM.

[2016-09-29 12:32] dennisschoenmakers commented on #2265
Good points @ChaelKruip, but what I mean is that the outcome, all the charts, the dashboard etc. has a breakdown which is confusing, or does not align properly, with the mind of a local actor.

[2016-09-29 12:32] dennisschoenmakers commented on #2262
:+1:

[2016-09-29 15:41] #2262 closed

[2016-09-29 15:42] jorisberkhout opened #2267 ""Import + production" and "export + demand" for oil_products are not always the same"
In a blank Belgian scenario, excess production of oil products is not exported.

<img width="614" alt="screen shot 2016-09-29 at 17 30 21" src="https://cloud.githubusercontent.com/assets/4669028/18960864/71f2833e-866b-11e6-9da7-b288bb3b4f31.png">

In a blank Dutch scenario with the chemical sector increased to `169%` the shortage of oil products is not imported.

<img width="616" alt="screen shot

[2016-09-29 19:42] dennisschoenmakers commented on #2262
Thanks! :+1:

[2016-09-30 07:51] AlexanderWirtz commented on #2263
Nope, it doesn't. The [Klimaatmonitor](https://klimaatmonitor.databank.nl/) numbers that we often use to tweak local energy demands (down to municipality, not further) does distinguish between fuel use for highway-bound vehicles and the rest. This isn't quite what @dennisschoenmakers is referring to, of course, as a lot of traffic on the A10 in Amsterdam could be local traffic, for example.

I am

[2016-09-30 07:57] AlexanderWirtz commented on #2265
@dennisschoenmakers I think your point:

is valid, but I would create a more high-level issue that discusses how the front end (mostly charts) might address this issue. From a data point of view it is quite hard to know what part of energy consumption tourism represents. [Klimaatmonitor](https://klimaatmonitor.databank.nl/) does list Commercial services >> lodging as a separate category, but this

[2016-09-30 08:09] AlexanderWirtz commented on #1986
I am not sure I agree. I would start by creating extra charts that show/map functionalities. I do not like adding extra slides as that would be confusing (not MECE anymore). Perhaps we should create a toggle that transforms the one into the other in charts and dashboards? This is complex, but perhaps worth it.

**Easy option**
The easiest way to map to these functionalities is by adding one area a

[2016-09-30 08:12] AlexanderWirtz commented on #2259
@ChaelKruip this issue needs clarification. @jorisberkhout was chosen to be in charge of creating vision of the future by the way

[2016-09-30 08:21] dennisschoenmakers commented on #2265
True, sometimes you need. Perhaps an 'edit your dataset' function where the user or dataset owner can adjust these type of divisions is worth investigating. A local actor usually knows a lot more about the local situation. Of course, this is a bit a 'out of the box' for the ETM for obvious reasons.

[2016-09-30 14:52] ChaelKruip commented on #1986
OR we could take the new industrial subsectors and try and figure out whether they represent HT or LT heat demand. Food is likely to be LT for example, as is paper, construction (?) etc. Metals, refineries etc are HT.

My preference as well 👍

[2016-10-02 17:49] RobTerwel commented on #1986
<a href="http://www.ce.nl/art/uploads/file/Denktank/Notities/CE_Delft_3F13_Denktank_Energiemarkt_Industriele_Warmtemarkt_DEF.pdf">This publication of CE Delft on the industrial heat demand<a/> is probably going to be quite helpful for that. I've used it myself to determine which industrial subsectors could have all their heat demand met by electric boilers.

[2016-10-02 17:57] RobTerwel commented on #2267
Previously this did not occur when we converted the `oil_products` to `crude_oil` in the no longer existent node `energy_production_oil_products`, which resulted in one carrier flowing into the `industry_locally_available_crude_oil_non_energetic_for_chemical` node (as opposed to now).

This should either partially or fully explain the observed absence of import. I'd also recommend looking at the e

[2016-10-03 08:47] AlexanderWirtz commented on #1986
Curious what @jorisberkhout thinks of this

[2016-10-03 08:49] AlexanderWirtz commented on #2251
@jorisberkhout is there any chance you could look at this and create the remaining input statements? I guess you and I need to have a chat on how to go about the migration. @antw has already found all the  old values in the relevant scenarios.

[2016-10-03 11:02] dennisschoenmakers opened #2268 "Step value for solar pv parks is extremely small"
One click on plus increases the amount of solar pv parks from 0.3000 to with 0.3001, and I would like to go to 0.6. 😒

![image](https://cloud.githubusercontent.com/assets/104830/19035345/4ba99e14-8969-11e6-841d-cc80391ea262.png)

Perhaps a good idea to rethink the slider caps, and steps for scaled scenarios as a whole? 😃

[2016-10-03 12:40] antw commented on #2261
I think this would take a couple of days, but I'm not very familiar with the D3 library used for the charts. @grdw probably has a better idea of how much effort this would take.

The existing bar charts are not suitable; the `target_bar` charts have hard-coded Gquery names, and the CO2 charts are special-cased to also include 1990 values. This seems like a good opportunity to add a proper bar char

[2016-10-03 13:04] grdw commented on #2261
I think about 2-3 days including manual testing if this needs to be a new class.

[2016-10-03 13:11] #2268 closed

[2016-10-03 13:16] antw commented on #2268
I made it so that the (-) and (+) buttons move the slider by at least 1% of its value each time they're clicked. You can always click the slider value at set the value manually if you have something specific in mind.

:+1:

I'm not a fan of the very small numbers we often see for inputs in scaled scenarios, but I'm not sure what the alternative is... New ideas are welcome!

[2016-10-03 14:41] DorinevanderVlies opened #2269 "P2P currently has a sustainability share of 0.0"
The  `sustainability_share` of the  `households_flexibility_p2p_electricity` converter is currently 0.

This influences the renewability of `households_locally_available_electricity` and also the total renewability of the scenario.

@ChaelKruip and I discussed this, we think a sustainability share of 1 would be realistic as excess electricity is stored usually originates from renewable sources.

@

[2016-10-03 15:10] antw commented on #2269
I believe there are two possible solutions:

1. Add a new `sustainability_share` attribute in Atlas so that we might set a custom value [for the converter](https://github.com/quintel/etsource/blob/2b20e080396f55c9b3e47f60c7ac44aad9e04ec4/nodes/households/households_flexibility_p2p_electricity.converter.ad). I don't think this would change `demand_of_sustainable`... is that a problem?

2. Add a new

[2016-10-03 15:14] ChaelKruip commented on #2269
I don't think so. I'm leaning towards solution 1.

[2016-10-03 15:25] grdw commented on #2115
I manage to find a way:

[code]

*I do know that you can also do: `Api::Scenario.find(<scenario_id>)`, however I can't set the `display_group` attribute, that's why I'm creating new scenario Objects and fake the scenario id.

With these two helpers I am able to create custom links for scaled scenarios in the ETModel interface. Maybe we could wrap it in a `*.yml` configuration file? Also in order t

[2016-10-04 09:46] ChaelKruip commented on #2268
Perhaps we can make the step-size relative to the range? So, if a slider ranges from 0 to 2, a step-size of 100 would imply steps of 0.02. This might be more robust to scaled scenario's.

[2016-10-04 10:07] grdw commented on #2115
@dennisschoenmakers @antw does this sound like an ok solution?

[2016-10-04 10:48] antw commented on #2115
I think so.

I'll take a look at etengine#842 to see how easy it would be; it would be a pity to implement this temporary fix if that issue turns out to be simple. I'll get back to your ASAP.

[2016-10-04 16:41] antw commented on #2115
The code is pushed and I have the two presets made and ready-to-go. However, the scenarios have the following validations errors:

* **ameland_2020_obv_2013_v9**
  * contains inputs belonging to the `district_heating_buildings_present` share group, but the values sum to 0.0, not 100
  * contains inputs belonging to the `district_heating_buildings` share group, but the values sum to 0.0, not 100

*

[2016-10-04 16:45] dennisschoenmakers commented on #2115
On Ameland: ping @DorinevdVlies

[2016-10-04 16:46] dennisschoenmakers commented on #2115
I meant @DorinevanderVlies

[2016-10-10 15:10] ChaelKruip commented on #2267
I'm running into some trouble with non-NL datasets here. The weird thing is that the there seems to be a mismatch between the production of heat from the `industry_useful_demand_for_chemical_refineries_useable_heat` node and the input of heat into the `industry_refinery_transformation_crude_oil` node.

Could it be that the same carrier cannot be simultaneously used as input and output of a node @a

[2016-10-10 17:51] antw commented on #2267
I highly doubt it.

Comparing the calculation order of NL and UK datasets for the "useful demand" and "transformation" nodes, the order of each node and edge being calculated is identical, and the exact same strategies are used for each one.

Essentially, the error message is complaining that the demand of the "useful demand" node (which appears to be calculated by summing the demands of its input

[2016-10-10 18:24] antw commented on #2267
Debug output of related nodes for the UK dataset:

| Step | Action performed |
| :---: | --- |
| 1036 | ![01036](https://cloud.githubusercontent.com/assets/4383/19246476/76bae724-8f1e-11e6-8bd1-78b1c0673cb5.png) |
| 1199 | ![01199](https://cloud.githubusercontent.com/assets/4383/19246477/76bb6078-8f1e-11e6-9358-354feb1d45ed.png) |
| 1208 | ![01208](https://cloud.githubusercontent.com/assets/4383/1

[2016-10-10 18:35] antw commented on #2267
... and again for NL. They're basically the same, except that for NL the output of the useful demand node matches the demand of the outgoing edge (which comes from the transformation node).

| Step | Action taken |
| :---: | --- |
| 1033 | ![01033](https://cloud.githubusercontent.com/assets/4383/19246836/34994a0a-8f20-11e6-8f89-56321390c9c3.png) |
| 1195 | ![01195](https://cloud.githubusercontent.

[2016-10-11 08:44] antw commented on #2267
The error comes from Refinery, where calculations are bi-directional. If it knows the demand of a node, the output conversion (efficiency) and the (parent) share of an output edge, it can compute the demand the edge from right-to-left.

I checked out one of the heaters: industry_chemicals_refineries_burner_crude_oil

1. The demand originates in `industry_final_demand_crude_oil`, [which comes from

[2016-10-11 12:35] TessColijn commented on #2094
I took a look at the second part of this issue. To my understanding the user lacks the information about availability and might therefore get confused by the differences between installed and available. I suggest three different possible solutions:

1) add a column with availability or available capacity in the merit order table
2) change the merit order table to include available capacity instead

[2016-10-11 12:49] ChaelKruip commented on #2094
I think I would opt for solution 2 but rename to "available capacity" because I think that 'installed' is implied and the labels will become too long otherwise.

Increasing number of columns is not a good option as it will make these tables even more intimidating to the average user IMO.

[2016-10-11 13:03] AlexanderWirtz commented on #2094
I lean towards maximum transparency at the cost of clarity and opt for option 1. As horrible as that table already is, it provides a lot of detailed information. Simply replacing installed capacity with available capacity will make it more confusing as people who know a certain national power market will no longer recognize some of the installed capacities. It would at least add as many questions

[2016-10-11 13:10] jorisberkhout commented on #2094
I couldn't have said it any better and fully agree with @AlexanderWirtz .

Perhaps we can leave the `Full load hours, present` column out and replace it by an `Availability` column?

[2016-10-11 13:13] ChaelKruip commented on #2094
I think that those columns are quite essential. That is the main place in the model where the actual output of the Merit calculation is quantified right?

[2016-10-11 13:19] jorisberkhout commented on #2094
I thought that the `Full load hours, present` column shows the FLH as they come out of the dataset? Merit only runs on the future graph, right?

[2016-10-11 13:21] ChaelKruip commented on #2094
Yes sorry. I misread your comment! Still I think the present values are important to see whether the future FLHs changed, and by how much.

[2016-10-11 13:26] AlexanderWirtz commented on #2094
I agree with @ChaelKruip that the `present` and `future` values are both informative and add value in this table. It's just that the merit order is not an easy concept and this table is already not too inviting to a non-initiate. Hence my careful suggestion to add a chart rather than a table. Who would have thunk that I would one day advocate the use of pictures over words.

[2016-10-11 14:02] TessColijn commented on #2094
From the discussion i understand that all the information currently in the merit table is essential for clarity and understanding for the table. More information that relates available capacity and installed capacity can contribute to this clarity and understanding. Although adding more columns might make the table "uglier" it does help to provide all the information.

An additional chart to help

[2016-10-11 14:14] antw commented on #2267
There is a difference in the calculation order between this branch and master. On this branch the "locally available" node now has only one input slot (crude_oil) and Refinery is able to determine sooner in the calculation what the demand of its inputs are:

![01276](https://cloud.githubusercontent.com/assets/4383/19273345/1b3d7f50-8fc4-11e6-9375-eae382a25001.png)

Refinery knows that the "locally

[2016-10-11 16:50] jorisberkhout commented on #2267
Thanks for the insights @antw and @ChaelKruip . I have looked into the ETDataset side of things and I get the suspicion that the 'bookkeeping' in the dataset generation is not right. One first observation is that the NL dataset (both 2012 and 2013) is the only dataset where the refineries do not produce enough 'oil products' to feed the chemical industry. Hence crude oil is imported to overcome th

[2016-10-12 07:46] TessColijn opened #2270 "Error with Specs in etmodel"
I have come across 3 failures while running rspec for the etmodel repository:

![image](https://cloud.githubusercontent.com/assets/22587085/19301534/512eece2-9060-11e6-8fa8-45b3a894bf50.png)

What approach should be taken to correct these?

[2016-10-12 08:37] #2270 closed

[2016-10-12 09:54] TessColijn commented on #2094
I have updated the Merit Order Table. It now looks like this:

![image](https://cloud.githubusercontent.com/assets/22587085/19305705/7f0e0bae-9072-11e6-8868-4602801de32c.png)

Is this good enough?

@AlexanderWirtz @ChaelKruip @jorisberkhout

[2016-10-12 09:57] AlexanderWirtz commented on #2094
Looks good! We might want to explain what the availability means in de table documentation (the text you see when you click the "?" symbol)

The chart already exists. My suggestion was to make this the default thing to show on this slide, rather than the table. Do you agree @TessColijn @ChaelKruip and @jorisberkhout ?

[2016-10-12 13:04] TessColijn commented on #2094
I have also updated the profitability table to included installed capacity and availability:

![image](https://cloud.githubusercontent.com/assets/22587085/19311020/0006bb56-908d-11e6-875f-1a08633c54a3.png)

[2016-10-13 07:23] TessColijn commented on #2094
Together with Chael we also checked the first part of the issue and the two co-firing plants should now appear in the profitability table.

@AlexanderWirtz do you mean this chart?

![image](https://cloud.githubusercontent.com/assets/22587085/19339943/ab2204ac-9126-11e6-8a14-5adef35e475d.png)

[2016-10-13 07:57] TessColijn commented on #2104
@AlexanderWirtz  has Albert Bloem been asked? Or is there any update on wether waste incinerators are must-runs or dispatchables?

[2016-10-13 08:06] AlexanderWirtz commented on #2104
Funny, I think @jorisberkhout was the last one to talk to Albert Bloem about this.

[2016-10-13 08:09] AlexanderWirtz commented on #2094
👍

Infatti!

[2016-10-13 15:04] jorisberkhout commented on #2240
Assigning @TessColijn .

[2016-10-13 15:14] TessColijn commented on #2240
@jorisberkhout would "Primary energy allocation by source" be an appropriate title for the following chart:

![image](https://cloud.githubusercontent.com/assets/22587085/19354811/57fe34ac-9168-11e6-9a9d-e052baeab094.png)

[2016-10-14 08:53] jorisberkhout opened #2272 "Heat efficiency improvement in fertilizers subsector should not affect the non-energetic input of network gas"
See title.

[2016-10-14 09:24] jorisberkhout commented on #1936
Closed by https://github.com/quintel/etsource/pull/1172/commits/b0222d292bb1ef936bf748c353fd3cdd5adb7278. Let's keep an eye out for any major changes to the model as a result of these changes. Pinging @AlexanderWirtz , @ChaelKruip and @TessColijn .

[2016-10-14 09:24] #1936 closed

[2016-10-14 09:45] TessColijn commented on #2272
I looked through the input queries and come up with this:

[2016-10-14 09:56] TessColijn commented on #2272
I have looked through the inputs and found the following:

![image](https://cloud.githubusercontent.com/assets/22587085/19383519/092481a4-9205-11e6-8bd7-b84ff48e3958.png)

@jorisberkhout  are these the correct queries related to the issue?

![image](https://cloud.githubusercontent.com/assets/22587085/19383480/d2c70dde-9204-11e6-9c82-f8c25ba39355.png)

[2016-10-14 10:19] jorisberkhout commented on #2240
Looking at these charts made me realise that there is a discrepancy between the total primary energy use for both charts. I did a quick check and found that this discrepancy is explained completely by the fact that export and curtailment are taken into account differently in the primary energy use bar chart. I see two options to resolve this, but would like to hear @ChaelKruip on this as well as h

[2016-10-14 11:20] TessColijn commented on #2094
@AlexanderWirtz I have added the chart as the default instead of the table. Can we close this issue?

[2016-10-14 12:13] AlexanderWirtz commented on #2094
let's close it. Then. Excellent work.

[2016-10-14 12:13] #2094 closed

[2016-10-17 09:18] ChaelKruip commented on #2240
I like this option. We then use the mekko as the default right?

[2016-10-17 09:40] TessColijn commented on #2240
I just checked on the beta model and neither of the two charts is used as a default on any of the slides. I will remove the bar chart. @jorisberkhout do you still want to rename the mekko?

[2016-10-17 10:23] ChaelKruip commented on #2240
But the bar chart is the default pop-up for the energy use dashboard item. We changed that to be the Mekko on Beta BTW.

[2016-10-17 10:33] TessColijn commented on #2240
I have hidden the bar chart and Chael has changed the default chart for the Energy Use dashboard to the mekko. @jorisberkhout can we close this issue?

[2016-10-18 07:55] jorisberkhout commented on #2240
Yes, nice work guys. Closing.

[2016-10-18 07:55] #2240 closed

[2016-10-18 15:22] ChaelKruip opened #2273 "Total costs of electricity production scatterplot should appear in chart picker"
It currently doesn't...

<img width="640" alt="energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_" src="https://cloud.githubusercontent.com/assets/1303760/19484288/5f4bd3ac-9557-11e6-8825-5e5b8e15189a.png">

[2016-10-19 11:20] ChaelKruip opened #2274 "Wanted: scatterplot chart-type"
Currently, the cost of electricity production chart is the only chart which plots two variables in a plane:
<img width="646" alt="energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_" src="https://cloud.githubusercontent.com/assets/1303760/19516804/1da9f74c-95fe-11e6-8e3e-87d1458baf9d.png">

Unfortunately, it is a highly customised chart and cannot be easil

[2016-10-19 15:07] ChaelKruip opened #2275 "OVERVIEW TICKET: Merging ETMoses functionality into the ETM"
This ticket gives an overview of the various aspects of The Big Merge (TBM) which we will embark upon in the coming year.
# Background

We currently have a somewhat artificial separation between scenario's pertaining to the 'national' or the 'local' geographical scope. It would be more natural and less confusing if users can use the same model/interface for creating energy scenario's on all geogra

[2016-10-20 08:56] TessColijn opened #2276 "Modelling Agriculture CHPs"
Please find a description of the steps to solve the issues related to agriculture CHPs (https://github.com/quintel/etsource/issues/1174).

The solution discussed will involve 3 changes to the model which all incorporate further questions and issues:
1. Make agriculture CHPs dispatchable
2. Develop a heat demand and supply balance
3. Provide User feedpack

**1. Make agriculture CHPs dispatchable:**

[2016-10-20 09:22] TessColijn opened #2277 "Shortage of Heat in Agriculture sector"
How will shortages be solved?

Once CHPs are dispatchable there will be two reasons for a shortage:
1. Electricity price is low and CHPs are too expensive to run. Hence CHPs are available but not active or not running on full capacity. If this is the case the shortage might also arise depending on technology. If woodpellets CHP is too expensive then greenhouses with woodpellets CHP are not heated

[2016-10-20 09:28] TessColijn opened #2278 "DIfferent Technologies for Heat in agriculture"
How will different technologies be implemented?

Currently user can determine percentage shares of heat produced for each technology:

![image](https://cloud.githubusercontent.com/assets/22587085/19553343/2474c118-96b4-11e6-84ba-baf3df14255d.png)

Furthermore user can also determine number of units of CHPs:

![image](https://cloud.githubusercontent.com/assets/22587085/19553367/489ecb92-96b4-11e6-8

[2016-10-20 09:34] TessColijn commented on #2277
@AlexanderWirtz @jorisberkhout @ChaelKruip do you have some thoughts/ideas about the questions above?

[2016-10-20 09:38] TessColijn opened #2279 "Feedback on agriculture CHPs for user"
What information is provided to user about agriculture CHPs and in which form?

**User wants to know:**
- Shortage/Surplus of heat and where this shortage/surplus occurs
- Number of units of each technology installed
- FLH of each technology
- Electricity price

Merit Order can provide:
- Electricity Prices
- FLHs of the 3 different agriculture CHPs

A heat demand balance could provide:
- Shortage

[2016-10-20 10:17] AlexanderWirtz commented on #2277
@ **1**

Not desirable. Data will not be available and making assumptions is too complicated IMO.

The ETM cannot deal with imbalance, so something will always have to be done to fill this shortage. We could add a new carrier called `heat_shortage`, or we could just have gas-fired heaters jump in. I prefer the latter option, as this is likely to be closest to the truth. biomass heaters will not be

[2016-10-20 11:31] TessColijn opened #2280 "Heat Demand Curve in Agriculture"
How will the heat demand curve be modelled?

What are the factors that this demand depends on:
- size of greenhouses
- Outside temperature
- Temperature that greenhouse needs to be
- Wind speeds
- Solar influence on greenhouse

[2016-10-20 11:44] TessColijn commented on #2277
@AlexanderWirtz

In this case we make an assumption that every greenhouse has a gas boiler that could supply all the heat needed. And we could label these boilers "backup_boilers". And if i understand correctly this is the current scenario in the dutch agriculture sector and would be a realistic assumption. But i am still not sure how these gas-fired boilers would relate to the percentage share of

[2016-10-20 11:46] TessColijn commented on #2278
@AlexanderWirtz linking this to your comments within issue #2277

Do we need users to determine the number of units of CHPs?
Would it be an option to combine the two inputs pictured above and also give each CHP type a percentage share?

[2016-10-20 12:23] ChaelKruip commented on #2276
I think that issue deals primarily with the 'energy' CHPs which typically have a heat contract. As we are talking about agricultural CHPs (which can't sell their heat nor adjust their efficiency for making electricity), the issue of what their marginal costs should in the electricity merit order is a bit more subtle:
* If no heat is needed: marginal costs should include fuel costs for both electri

[2016-10-20 12:27] ChaelKruip commented on #2277
The user can also decrease the total heat demand to solve this shortage.

Wouldn't it make more sense to give the user sliders for the installed capacity (number of units) for all heating options rather than this complex two-step approach of first setting shares and later number of units (only for CHPs)?

[2016-10-20 12:39] ChaelKruip commented on #2277
This would mean that the greenhouse did not dimension its heat production properly. I think that this might occur in reality but is perhaps not very useful to model explicitly.

@AlexanderWirtz I'm curious about your thoughts on this as well!

[2016-10-20 12:39] TessColijn commented on #2277
@ChaelKruip

Would we then assume that all installed capacities run their FLHs? Doesn't the percentage shares try to match the output of heat to the demand for heat and how would this work if user only choses units?

Also see issue https://github.com/quintel/etmodel/issues/2278 about distribution of heat between technologies.

[2016-10-20 13:21] TessColijn commented on #2277
@AlexanderWirtz @jorisberkhout
From a discussion with Chael we have come to the following conclusions:

1. If we make Agriculture_CHPs dispatchable we have to disregard the fixed FLHs and allow them to be flexible. In that case to determine Energy output: ``E = FLH * Cap/unit * NoU`` number of units need to be determined and this could be in the form of a user input slider as is the case now. This

[2016-10-20 13:32] TessColijn opened #2281 "Marginal Costs of Agriculture CHPs"
How will marginal costs be determined for electricity production to enable a fair representation in merit order? Please also refer to issue quintel/etsource#236

[2016-10-20 13:33] TessColijn commented on #2281
From Chael's previous comment:

I think that issue deals primarily with the 'energy' CHPs which typically have a heat contract. As we are talking about agricultural CHPs (which can't sell their heat nor adjust their efficiency for making electricity), the issue of what their marginal costs should in the electricity merit order is a bit more subtle:

If no heat is needed: marginal costs should incl

[2016-10-20 13:38] TessColijn commented on #2276
@ChaelKruip @AlexanderWirtz @jorisberkhout  Please find here an overview of the issues related to the steps to be taken for agriculture CHPs.

[2016-10-20 14:27] ChaelKruip commented on #2269
@antw how much time do you think this would take? It would be nice to pick this up with some priority IMO.

[2016-10-20 14:49] TessColijn opened #2282 "Surplus in heat balance for agriculture"
What happens in the case of a surplus of heat produced by agriculture CHPs?

Is it sufficient to say that heat is lost and just indicate the heat produced as a surplus?
Or would user be encouraged to decrease share of heat produced by other technologies? Can we expect user to make this conclusion himself?

[2016-10-21 12:44] TessColijn commented on #2277
@ChaelKruip  if we make the agriculture CHPs dispatchable. Wouldn't it also make more sense to relocate the slider for the number of units to the Supply section of the model, together with all the other electricity production?

[2016-10-24 10:31] antw commented on #2269
This is done, and deployed to beta. Looks fine to me, but could you check it out and see if things are as you expected? If so, this issue can then be closed.

[2016-10-24 12:22] ChaelKruip commented on #2282
I think that is the least we can do yes.

I don't think so. When there is an imbalance in the electricity production, the user is not warned explicitly either.

[2016-10-24 12:41] ChaelKruip commented on #2269
Nice work @antw 👍

[2016-10-24 12:42] ChaelKruip commented on #2269
@DorinevanderVlies can you check if this change has the desired effect on the Urgenda scenario?

[2016-10-24 13:02] dennisschoenmakers opened #2283 "Pop-up chart CO2 could be a lot more interesting."
The current pop-up chart for CO2 (when you click the dashboard) is rather _flat_:

![image](https://cloud.githubusercontent.com/assets/104830/19646601/76940abe-99fa-11e6-8f3d-cd06a6f6a025.png)

We already have a more in-dept analysis of the CO2-emissions per sector:

![image](https://cloud.githubusercontent.com/assets/104830/19646612/7f9d9fee-99fa-11e6-85ae-3dc464c49594.png)

The pop-up chart woul

[2016-10-24 13:27] ChaelKruip commented on #2283
I am in favour of this 👍
The three-bar chart is a bit custom, I think @jorisberkhout or @antw know how to do this best. With some help I could also pick this up.

[2016-10-24 15:15] AlexanderWirtz opened #2284 "Removing all heat supply to heat network causes scenario not to load"
I discovered this issue while tweaking a scaled scenario for Paddepoel in Groningen. This area has no heat network currently, so I wanted to remove all demand and supply of heat on the central heat network. As expected, I had no problems getting rid of heat demand from the heating grid for either `present` or `future` As soon as I remove the final converter supplying heat to the heat network, howe

[2016-10-25 06:44] jorisberkhout commented on #2283
I like the idea of integrating those charts!

[2016-10-25 12:52] jorisberkhout opened #2285 "Demand and supply of electricity are not the same in the start year for most datasets"
As observed in the following chart for a fresh NL scenario.

<img width="610" alt="screen shot 2016-10-25 at 14 49 33" src="https://cloud.githubusercontent.com/assets/4669028/19686663/7edd73d6-9ac2-11e6-8097-51e3b7cf686f.png">

This happens for all datasets except `uk` and `br`, which seems to suggest that something is wrong in the dataset. I'll look into this soon.

[2016-10-25 14:24] antw commented on #2284
Looking at `energy_heat_network_steam_hot_water`, when all of the suppliers have no demand the dependent and inversed_flexible links don't get a `share` calculated:

![screen shot 2016-10-25 at 15 08 40](https://cloud.githubusercontent.com/assets/4383/19689335/f412cfd2-9ac4-11e6-88de-b35bc57db3da.png)

This is because [only "constant" links are automatically assigned a share of 0.0](https://github

[2016-10-25 15:34] ChaelKruip commented on #2284
Can this work if all energy flows are zero? Would that mean that all shares are zero and therefore don't add up to 1.0 anymore?

Is this easy to do? If so, can you push a branch with that change so we can assess possible fall-out?

Would this also happen if the "unused local production" has energy flowing through it in the future year?

[My scenario](https://beta-pro.energytransitionmodel.com/scen

[2016-10-25 16:25] antw commented on #2284
If you follow the links to the right, one has a share of zero which prevents recursive factor from looping back to `energy_heat_network_steam_hot_water`:

**`agriculture_locally_available_steam_hot_water`:**

![screen shot 2016-10-25 at 17 21 45](https://cloud.githubusercontent.com/assets/4383/19694537/a91c6106-9ad7-11e6-8341-560b810b137d.png)

[2016-10-26 07:56] ChaelKruip commented on #2285
This issue seems to be related to the final demand groups. Since https://github.com/quintel/etsource/commit/b66736b917ef389bacf40d8b803345476ae39d27, this seems to be resolved. I don't fully understand how and why though. Closing nevertheless.

[2016-10-26 07:56] #2285 closed

[2016-10-26 07:56] TessColijn commented on #2278
After further discussions i have come to the following standpoint:

It seems a bit counterintuitive to let user chose percentages to fill the heat demand and only as a second stage determine number of units. In this way the user is enabled to chose a percentage share of heat demand for CHPs that the CHPs might not be able to fulfill and thus the user is confronted with an inevitable shortage which

[2016-10-26 08:20] TessColijn commented on #2281
If we make assumptions about the heat demand per location of CHP, we know how much of the heat produced by a CHP is useable. And this will have to be evaluated per hour. At every hour the inputs used for the production of the useable heat will need to be evaluated and a distinction need to be made.

The equation mention in quintel/etsource#236:

`fuel_used_for_heat = total_fuel_input * (heat_effic

[2016-10-26 08:41] ChaelKruip commented on #2284
Do you mean that if there is no energy flow through the heat network, both shares are 1.0, and the calculator goes into a loop?

Right.

I think this works in all situations where there is non-zero flow through the heat network because there is either a surplus in the agricultural sector (the share of `energy_heat_network_steam_hot_water` is zero) or there is a deficit and the share of `agricultur

[2016-10-26 09:18] antw commented on #2284
:+1:

I'll create an experimental branch so that we might test: "change the way link shares are calculated so that dependent and inversed_flexible links are also assigned a share of 0.0 when their share is blank."

[2016-10-26 09:38] antw commented on #2284
Pushed to [quintel/etengine@set-link-nil-shares](https://github.com/quintel/etengine/tree/set-link-nil-shares).

[2016-10-26 16:10] ChaelKruip opened #2286 "Import does not show up on LIVE after deploy"
LIVE:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/19734331/7c2ff8e4-9ba7-11e6-92ab-1b47f40c2105.png)
BETA:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/19734350/8a8ba10e-9ba7-11e6-87d9-ec29d4c2

[2016-10-26 16:42] antw commented on #2286
Seems to be true for NL too. Probably all regions.

**`energy_interconnector_imported_electricity`:**

| [Beta](https://beta-engine.energytransitionmodel.com/data/593582/converters/energy_interconnector_imported_electricity) | [Production](https://engine.energytransitionmodel.com/data/304325/converters/energy_interconnector_imported_electricity) |
| --- | --- |
| ![screen shot 2016-10-26 at 17 30

[2016-10-26 17:27] antw commented on #2286
I believe this is because production ETEngine is sorting the `energy_power_hv_network_electricity` input links differently. Beta and my local copy show `imported_electricity` before the `hv_network_shortage` link; production has them the other way around.

This is not unexpected, there's no guarantee as to the other in which edges will appear. Since neither edge has a priority, production is assig

[2016-10-27 10:33] antw commented on #2286
This is now fixed. A priority has been assigned to the "interconector" edge to ensure that it gets preference over the "shortage" edge. Refinery (rightly) complained because `priority` requires that you also specify a `max_demand` on the supplier node.

Long story short, you may now use `~ max_demand = infinity` in Node documents in order to circumvent this restriction.

<img width="604" alt="scre

[2016-10-27 10:33] #2286 closed

[2016-10-27 14:00] ChaelKruip commented on #2286
@antw do you have any clue why this has not happened before?

[2016-10-27 16:40] antw commented on #2286
Luck? I'm not sure really. Without an explicit priority assigned to the edges, I'm guessing it's determined by the order in which Atlas loaded the .ad files. Since Atlas has no opinion about this, it's probably down to the operating or file system.

[2016-11-01 16:05] jorisberkhout commented on #2267
I finally found time to have a look at this issue. I found the following / took the following actions:
- The fix by @ChaelKruip (on branch `oil-products`) worked fine for the Netherlands, where the refineries do not make enough "oil products" to fulfil the demand in the petrochemical industry
- In all other countries that we model, the refineries produce **more** than their chemical industries nee

[2016-11-01 16:21] #2267 closed

[2016-11-01 16:26] jorisberkhout opened #2287 "[Overview issue] Review the way we model non-energetic use of carriers"
While looking into https://github.com/quintel/etmodel/issues/2267, I realised that the way we model non-energetic use of carriers could be improved. Below is a non-exhaustive list of the issue based on what I found so far. I will look into this in more detail later.
- Non energy use from the energy balance is aggregated into ETM carriers differently between different sectors in the ETM
- It is imp

[2016-11-02 09:37] dennisschoenmakers opened #2288 "Co2 is wrongly formatted in change menu"
Witnessed in Dutch

[2016-11-02 15:12] ChaelKruip commented on #2269
@DorinevanderVlies can you check if this change has the desired effect on the Urgenda scenario?

[2016-11-03 08:57] grdw opened #2289 "Spec failing - scenarios controller compare"
[code]

First question. Is comparing even used nowadays?
Second question: how to properly fix this? Executing ruby code from the Haml is a bit .. ancient 😆

[2016-11-03 08:58] grdw commented on #2288
What is the 'change menu exactly'?

[2016-11-03 08:59] dennisschoenmakers commented on #2288
![image](https://cloud.githubusercontent.com/assets/104830/19960291/35d65086-a1ac-11e6-9199-19c06445926c.png)

[2016-11-03 09:01] dennisschoenmakers commented on #2288
Perhaps something @ploh can have a go at?

[2016-11-03 09:07] grdw commented on #2288
I think so 👍 maybe to get a bit of a feel for ETModel.

[2016-11-03 09:27] ploh opened #2290 "Spec failing without local ete server - OutputElementsController#index"
[code]

1. Only happens if I do not have a local etengine server running.

2. Interestingly, it even happens if the etmodel api_url is set to beta-engine.

[2016-11-03 09:52] antw commented on #2289
This passes for me. The error suggests that `@default_values` is nil, but when I run the test it looks like: `{}`. `@default_values` is set in the controller:

[code]

That line doesn't raise an error, so try to figure out why it returns nil instead of an empty hash.

I guess that `@scenarios` will be returning an array of scenarios, `first` gives you just one, and that both of those are working c

[2016-11-03 09:53] grdw opened #2291 "Expand select box with local datasets"
![screen shot 2016-11-03 at 10 32 12](https://cloud.githubusercontent.com/assets/2676542/19961069/d47d6270-a1b0-11e6-8dfa-fde4f1bab844.png)

[2016-11-03 10:05] antw commented on #2290
I can't reproduce this, either by running the whole test suite or just that one test. The simplest solution would be to change:

[code]

... to ...

[code]

You may have to [change this option](https://github.com/quintel/etmodel/blob/83f153f34bca1fa40ac2c3e8a10483b3df60a3b6/spec/spec_helper.rb#L38-L42) in order for the VCR library to record the request.

However I'm confused that the test would be

[2016-11-04 10:22] #2288 closed

[2016-11-04 14:26] ploh commented on #2291
1. Or should there be an alternative selection list for local datasets?
2. Or should it be hierarchical, i.e. you can select local datasets as sub-entries of the entry for the country they are based on?

[2016-11-04 14:35] grdw commented on #2291
This. I'd prefer if it looked like:

[code]

It should be possible to create `local_datasets` from `local_datasets` I can imagine.

[2016-11-07 08:42] grdw commented on #2289
I checked out `master` again and synchronized with the recent changes. Now the error has become:

[code]

It's weird, because in my previous example I decided to mock `user_values` for this spec but than I got the previous error. Hmm. 🤔 It's also weird that you don't seem to have this problem but I do.

[2016-11-08 11:22] AlexanderWirtz opened #2296 "Availability slider for storage in electric vehicles causing erratic behavior"
The slider for availability of electric vehicles for storage of electricity surpluses is not having the impact I expect it to have. It seems as if the calculation is not performed/updated for a certain range of settings for this slider. I have notices that the precise range over which the slider does nothing depends on the number of electric cars in the scenario.

## Background
I am creating some

[2016-11-08 16:55] #2296 closed

[2016-11-11 14:00] dennisschoenmakers commented on #2283
@ploh could you pick this up?

[2016-11-11 15:40] dennisschoenmakers opened #2299 "New dashboard item: sustainability percentage for the household sector."
For Ameland, people want to see in the dashboard that the household sector is (e.g.) 100% sustainable rather than 40% of the *whole* energy system.

We would need to add a dashboard item that can be selected from the [**change menu**](https://cloud.githubusercontent.com/assets/104830/20217645/14f76adc-a821-11e6-8971-40cc57f67962.png).

In the change menu, a third item would be be added under *rene

[2016-11-14 11:05] dennisschoenmakers opened #2300 "It should be possible to have a dataset with 0 new or old household"
Apparently, currently, the ETM crashes when this is the case, e.g. for Paddepoel.

[2016-11-14 11:32] dennisschoenmakers opened #2301 "THOUGHT: Scaling of scenario from the user's perspective"
With regards to the local datasets: in this stage, I think It's worthwhile thinking about an approach that starts from the (current) user's perspective.

What if the user can input all the necessary data to set the present for a local dataset through the [user's interface](https://pro.energytransitionmodel.com/scaled)?

### Prefiled database
Since this is all based on real Dutch provinces, municip

[2016-11-15 08:18] #2290 closed

[2016-11-15 09:35] ploh commented on #2291
I agree!

I do not understand this sentence.

[2016-11-15 09:37] grdw commented on #2301
We're currently documenting our ideas and thought in [here](https://github.com/quintel/internal/tree/local-datasets/planning/projects/local-datasets). This idea hasn't occurred to us.

I'm currently thinking that that's not where you want the user to do this in all honesty. I already proposed an idea in the documentation to create a completely seperate application which can take numbers [? vague s

[2016-11-15 10:34] ploh commented on #2301
1. A _prefilled database_ would definitely be nice, but it is probably more of a second version than an initial version. So I suggest we should keep it in mind but design something now that also works without it.
2. For whom are we designing this? For our own research about provinces, municipalities etc in order to generate etm data for them analogous to national data? Or for users to easily scale

[2016-11-15 14:33] grdw commented on #2291
Well, as far as my imagination goes. Wouldn't the workflow be something like:

I need a scenario for a *street* in Groningen.
However, somebody in the past already created a local dataset for the *city* of Groningen.
It would than be nice to scale from Groningen as a starting point instead of taking the whole of the Netherlands again.

[2016-11-15 15:08] ploh commented on #2299
you wrote "Household share of renewable energy" as title for the new _constraint_. i would rather suggest "Share of renewable energy in the household sector" because otherwise it could mean the share of the renewable energy that is used in households compared to renewable energy in all sectors

[2016-11-15 15:15] dennisschoenmakers commented on #2299
A gquery that can compute the renewability share **in** the household sector:

[code]

[2016-11-15 15:16] dennisschoenmakers commented on #2299
We by the way can easily compute renewability shares **in** other sector by varying the SECTOR(parameter):

[code]

[2016-11-16 11:38] ploh commented on #2299
@jorisberkhout Comparing your gquery for the new sustainability share in households
https://github.com/quintel/etsource/compare/sustainability_in_households
with the existing sustainability share of total final demand
https://github.com/quintel/etsource/blob/master/gqueries/general/shares/renewability.gql
I have two questions:
1. Should the `USE(energetic)` also occur in the new gquery? In the sam

[2016-11-17 13:41] jorisberkhout opened #2303 "Should the slider for wind turbines show installed capacity rather than number of wind turbines?"
As suggested by John, we are often calculating the installed capacities from the slider setting which indicates the number of wind turbines. Why not make the slider display the installed capacity instead?

Alternatively, we could leave the slider the way it is and display the installed capacity to the left of it like we do for the fuel prizes.

What do you think @AlexanderWirtz , @dennisschoenmake

[2016-11-17 13:44] DorinevanderVlies commented on #2303
I agree that installed capacity is indeed a better slider than number of wind turbines.

Currently I often find myself calculation from installed capacity back to number of turbines to set the slider.

[2016-11-17 15:37] AlexanderWirtz commented on #2303
hallelujah! Hopefully we can finally get rid of the odd 'number_of' sliders and just show installed capacity for all large scale power producers, including wind turbines.

[2016-11-17 15:52] jorisberkhout commented on #2303
Really, I didn't know that you were leaning towards that solution. I'm all in favour!

[2016-11-17 16:10] dennisschoenmakers commented on #2303
Yes yes yes!!!!

[2016-11-17 16:44] antw commented on #2303
This would require a bit of work, but I like this a lot. If you prefer, we could still use capacity as the base unit and number of units as the label to the left of the slider. Currently those labels work only with inputs whose unit is `%`, but I doubt it would be too hard to make it more flexible.

Neither strike me as *ideal* – I have no idea what 1GW of wind energy means, nor whether 100 wind t

[2016-11-18 09:14] DorinevanderVlies commented on #2303
Spoken like a true programmer. :wink:

The other way round could be an option as well. Slider for total capacity with conversion to # of units next to it. I'm not hugely in favour of this as it rises the same issues with the slightly arbitrary individual capacity.

[2016-11-18 10:43] #2178 closed

[2016-11-18 11:33] ploh commented on #2283
My current implementation draft looks like this (I know that the scaling is off. Will fix it):
![picture3](https://cloud.githubusercontent.com/assets/768025/20428744/f5f0d97e-ad8a-11e6-8fe0-0b2516e1a812.png)

[2016-11-18 11:48] ploh commented on #2283
@jorisberkhout @dennisschoenmakers I compared the gqueries of the old 3 bar chart and the new (resp. the old 2 bar chart).
The old computes the domestic co2 as `V(G(final_demand_group),primary_co2_emission).sum`
The new does `SUM(V(INTERSECTION(G(final_demand_group),SECTOR(households)), primary_co2_emission))` and stacks that for the 7 sectors shown above.

Is that guaranteed to be equal or could

[2016-11-18 15:21] dennisschoenmakers opened #2304 "%/year appears twice"
I guess this is not intended, right? Now it says %/year in grey in the group, and also as the unit behind the slider:

![image](https://cloud.githubusercontent.com/assets/104830/20435077/ef93b4a0-adaa-11e6-912a-cef5bd845f8e.png)

[2016-11-18 15:23] jorisberkhout commented on #2304
I believe this is a result of the discussion in https://github.com/quintel/etmodel/issues/2207, but I agree with @dennisschoenmakers that this should look different. I will look into this.

[2016-11-21 15:10] DorinevanderVlies commented on #2269
Looking at the effect on the Urgenda scenario has raised two questions.

1. Why does the renewability decrease when the amount of household batteries increases?
2. Why does storage in batteries influence the scenario in a different way than storage in electric vehicles? The renewability is not influenced by storage in electric vehicles.

I will try to find the answer to the questions.

### Details

[2016-11-22 14:33] grdw opened #2305 "Three JS and the possible use and inspiration of 3D in ETModel"
I was sort of overlooking some meetings of other people within Quintel and saw (while walking for tea) that some (or it was just one) of them were presenting a 3D representation of a certain area with 3D windmills and houses.

I was just looking at [ThreeJS](https://threejs.org/) which uses OpenGL to create interactive 3D objects and animations inside of the browser. I don't know where we might us

[2016-11-23 11:08] dennisschoenmakers opened #2306 "BUG: You cannot select text under an information button"
![image](https://cloud.githubusercontent.com/assets/104830/20559552/60bffaa8-b175-11e6-822f-fe02f19ea55a.png)

This is super annoying when you want to copy paste some information.

[2016-11-23 16:19] dennisschoenmakers opened #2307 "Where does the 19.8 kWh come from?"
It seems a bit large to me, as the new Tesla Powerwall is 14 kWh.

[2016-11-24 15:26] DorinevanderVlies commented on #2307
This is indeed a large battery. It was discussed in issue #2189 (part of which is quoted below).

For calculations regaring the battery see: households_flexibility_p2p_electricity.converter.xlsx in ETDataset - Node source analyses - households.

20 kWh is a large battery as the average electricity consumption of a household is 10 kWh. Implementing a bigger battery will be unrealistic. If more batt

[2016-11-29 14:15] dennisschoenmakers commented on #2305
Cool. This reminds me of a long holiday I once took.

[2016-12-01 13:13] #2306 closed

[2016-12-02 12:58] grdw opened #2309 "Edit account directs to a 'Sign up' screen"
![screen shot 2016-12-02 at 13 56 44](https://cloud.githubusercontent.com/assets/2676542/20834827/8d015480-b897-11e6-84ce-b5bb8ce482e0.png)

I have no intention of signing up but I do want to 'edit my account'. 😅 It's a bit confusing to me if I can update my account details in here or if I'm signing up again.

[2016-12-05 11:31] DorinevanderVlies opened #2311 "The title and explanation of `heat and cold production` chart are unclear."
The title and explanation of `heat and cold production` chart are unclear. The chart shows primary use and nog production.

[Issue mentioning this](https://github.com/quintel/etmoses/issues/1578#issuecomment-264822180)

[2016-12-14 14:06] DorinevanderVlies commented on #2246
Using a non cumulative chart might also work.

Instead of "minimum duration" the x-axis will be "duration".
The x-axis runs from 0 to longest duration with steps of, for example, one hour.
On the y-axis the total events with that duration will be plotted.

[2016-12-14 15:37] DorinevanderVlies opened #2314 "Electricity demand is lower than production, but there is no import and there are no blackout hours"
An external user drew our attending to some issues in this [scenario](https://pro.energytransitionmodel.com/scenarios/306211).

The total demand for electricity is lower than the electricity production.

However, there is no import of electricity and there are 0 blackout hours. There is some export of electricity.

Adding a gas plant (for example Gas CCGT) does not result in extra electricity prod

[2016-12-15 11:40] antw commented on #2314
I went through each week in the "Electricity production per hour" chart, and can't find any period where supply fails to meet (or exceed) demand, so as far as Merit is concerned there are indeed no blackout hours. The HV network node [has the same amount of energy entering as leaving](https://engine.energytransitionmodel.com/data/308597/converters/energy_power_hv_network_electricity). Is there evi

[2016-12-15 11:51] DorinevanderVlies commented on #2314
I've not yet looked into ETEngine. So as far as I know it's just in the ETModel front-end.

I'll look into this

[2016-12-15 12:10] antw commented on #2314
Merit is told that total electricity demand is 30.729 PJ, and Merit meets or exceeds demand at all times (total production of all Merit order participants is 37.754 PJ). The chart shows output of *under* 30PJ.

![screen shot 2016-12-15 at 12 07 19](https://cloud.githubusercontent.com/assets/4383/21223458/2221d77a-c2bf-11e6-98e7-ac280acbcc19.png)

That's not to say it's *definitely* a chart or quer

[2016-12-15 16:01] jorisberkhout commented on #2314
You're probably right, @antw . I have attached an Excel-file to this issue that shows the production of all converters in this scenario ([loads.308620.xlsx](https://github.com/quintel/etmodel/files/655127/loads.308620.xlsx), see Sheet 2). Would you have time to analyse this, @DorinevanderVlies . Maybe you can figure out which production is missing form the chart.

[2016-12-15 16:50] DorinevanderVlies commented on #2314
I found that `agriculture_chp_engine_network_gas` and `industry_chp_combined_cycle_gas_power_fuelmix` seem to be missing from the chart.

There is also something with biomass being coal being 0.467 PJ higher in the excel file than in the chart. Solid biomass on the other hand is 0.467 lower. The weird thing is that I cannot find coal attributes that can make up 0.467.

Furthermore green gas is 0.0

[2016-12-15 17:34] jorisberkhout commented on #2314
Good observations, @DorinevanderVlies ! I looked into this a bit more and found that not only are `agriculture_chp_engine_network_gas` and `industry_chp_combined_cycle_gas_power_fuelmix` missing from this chart, but if you query their electricity production in this specific scenario this returns `0` in both cases. My suspicion is that merit takes these converters into account, but afterwards their

[2016-12-15 17:37] jorisberkhout commented on #2314
The other two observations are easier explained, @DorinevanderVlies .

In you Excel-analysis you labelled two `cofiring` converters as using just coal. These converters do, however, use 50% coal input and 50% solid biomass input. This explains why you see to little solid biomass consumption and to much coal consumption.

The green gas is a result of the fact that most gas-fired electricity produce

[2016-12-15 20:10] antw commented on #2314
100% correct. Good catch.

For producers in the *energy* sector we'd set number of units to zero. This prevented their used in Merit. I've widened this to producers in all sectors:

![screen shot 2016-12-15 at 20 06 49](https://cloud.githubusercontent.com/assets/4383/21240188/0d5e9a4c-c302-11e6-92d3-7a49775e275c.png)

[The fix is now on beta](https://beta-pro.energytransitionmodel.com/scenarios/61

[2016-12-16 07:38] jorisberkhout commented on #2314
Thanks for fixing this @antw !

I can imagine that there will be changes to the merit order results for some scaled scenario's now that electricity producers in the agriculture and industry sector are taken into account correctly. I do not know if this will cause any issues. I guess @DorinevanderVlies knows more about scaled scenario's. Could you decide whether this can be applied to production or

[2016-12-16 08:43] DorinevanderVlies commented on #2314
Clever thinking @jorisberkhout. And good fix @antw.

Yes I will look into this. I'll try to do it today, but it will probably be after the weekend.

[2016-12-17 10:13] ploh commented on #2299
Reopened because of [open question](#issuecomment-260925027)

[2016-12-19 10:07] ploh commented on #2283
Reopened because of [open question](#issuecomment-261514118)

[2016-12-22 10:21] ChaelKruip opened #2316 "Scaling of FCE charts cuts off some series"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/21422600/aeb708a8-c838-11e6-82a1-a475cd898edb.png)

Related: https://github.com/quintel/etmodel/issues/2225

[2016-12-22 12:56] ChaelKruip opened #2317 "Electricity production of operational CHP should not be zero"
![energytransitionmodel](https://cloud.githubusercontent.com/assets/1303760/21426286/5b44bd08-c84e-11e6-8b9b-5eefc083093b.png)

As observed in [this scenario]()https://pro.energytransitionmodel.com/scenarios/308870

[2016-12-22 12:58] ChaelKruip opened #2318 "Electricity demand and supply do not match"
![energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_](https://cloud.githubusercontent.com/assets/1303760/21426334/a7390d04-c84e-11e6-96ba-a6ed6b269923.png)

Observed in [this scenario](https://pro.energytransitionmodel.com/scenarios/308870)

[2016-12-22 13:01] DorinevanderVlies commented on #2318
is related to #2314

[2016-12-22 13:08] ChaelKruip commented on #2314
Let's do this first thing in January @antw! Our external user would like to use the current results on production for the coming week.

[2016-12-22 13:08] ChaelKruip commented on #2318
Closing because duplicate

[2016-12-22 13:08] #2318 closed

[2016-12-22 13:10] DorinevanderVlies commented on #2314
I looked into previously made local scenario's on the beta server and found no issues in them.
So, I think this fix can be applied to production.

[2016-12-22 14:12] antw commented on #2317
I think this is a duplicate of #2314. It's an agriculture CHP and should be disabled by the scaling settings. Here's what the same scenario looks like locally (and on beta):

![screen shot 2016-12-22 at 14 10 43](https://cloud.githubusercontent.com/assets/4383/21428174/a0cfc636-c850-11e6-9c8e-571c2aed4909.png)

[2016-12-22 14:12] #2317 closed

[2016-12-30 13:28] ChaelKruip commented on #2251
@RobTerwel has done this already in https://github.com/quintel/etsource/commit/c43d2f28abb46a2d835dc09fc20368e5f0258dd7

[2017-01-03 08:50] #2301 closed

[2017-01-04 08:04] ploh commented on #2299
@ChaelKruip Could you please have a look at the [open question](#issuecomment-260925027) above

[2017-01-04 08:04] ploh commented on #2283
@ChaelKruip Could you please have a look at the (probably very easy) [open question](#issuecomment-261514118) above

[2017-01-04 08:53] ChaelKruip commented on #2299
1. Yes. Non-energetic demand (think of use of oil as a lubricant) is normally excluded from this calculation and will be small in households.
2. Yes. I think we should make one new query to be included in both numerator and denominator (analogous to the national query) which quantify the use of ambient heat in heat pumps in this sector.

The query:
[code]

[2017-01-04 09:31] ChaelKruip commented on #2283
I think this is guaranteed. You can easily check this yourself by using:
[code]

In the sandbox.

[2017-01-04 09:31] #2283 closed

[2017-01-06 15:46] jorisberkhout commented on #2307
I hope this answers your question, @dennisschoenmakers . Closing this issue. Re-open if you disagree.

[2017-01-06 15:46] #2307 closed

[2017-01-06 15:47] dennisschoenmakers commented on #2307
Thanks

Sent from my iPhone

On 6 Jan 2017, at 16:46, Joris Berkhout <notifications@github.com> wrote:

I hope this answers your question, @dennisschoenmakers
<https://github.com/dennisschoenmakers> . Closing this issue. Re-open if
you disagree.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/quintel/etmodel/issues/2307#issu

[2017-01-10 08:57] ChaelKruip opened #2319 "Migrate existing local scenarios to derived datasets"
@AlexanderWirtz can you identify and list the important local scenario's in this issue please?

@grdw @ploh please reserve some time in your project to migrate the relevant local scenario's to be based on their own datasets rather than rely on the national one.

[2017-01-11 12:46] AlexanderWirtz commented on #2319
@ChaelKruip I will do my best to track these down asap.

I am curious as to how this 'migration' will work or what you mean by them. Please have a look at these question below.

1. How will said migrated scenario refer to the 'dataset'? Will this be a local dataset or just an `NL_2013`
dataset
1. Will all input statements that were used to 'tweak' things (all `present` and `both` input statements

[2017-01-11 13:55] grdw commented on #2319
The area code for those scenarios can hopefully be set to the local dataset; however, this might depend on how custom all these local scenario's have become. If there's a single 'best' 'Groningen' or a single 'best' 'Ameland' than that will be great.

Can be both set from inside etsource or through the `user_values`. Preferably they would be put in the `.ad` file that accompanies a local dataset.

[2017-01-11 15:12] ploh commented on #2319
Yes, they will! From a scenario's perspective a local/derived dataset is not different from a full dataset. Especially, it hast to be created in ETSource (at least for stage 0), i.e. there will not be too many of them and they will not automatically be created when a scenario is created.

[2017-01-16 09:52] grdw opened #2321 "Scenario with dervied dataset shouldn't save a scaler"
There's a bit of a crease in the current implementation of the scaling in relation to local datasets. When I create a scenario with a derived dataset, there's an extra scaler object stored with the scenario. This should not be the case since that would imply that the scenario is scaled through the normal interface.

Now I'm trying to find out where the scenario is saved (so when `Api::Scenario.sav

[2017-01-16 09:56] grdw opened #2322 "unitialized constant Api::Area::Scaling"
![screen shot 2017-01-16 at 10 55 37](https://cloud.githubusercontent.com/assets/2676542/21978305/5611699a-dbda-11e6-81c9-92f8e3cb8119.png)

When loading ETModel locally there's a problem with an unknown constant being present in the codebase. This is only fixable when removing the ETModel cookie and refreshing the page.

@ploh didn't you know how to fix this?

[2017-01-16 10:07] ploh commented on #2322
Already fixed in quintel/atlas@84c542e3fda389 a couple days ago

[2017-01-16 10:07] #2322 closed

[2017-01-16 10:34] antw commented on #2321
In [javascripts/lib/app.coffee](https://github.com/quintel/etmodel/blob/2c9b4514e42a793611e38830dc51d9f4a0fbe641/app/assets/javascripts/lib/app.coffee#L17-L33), via [ETPlugin](https://github.com/quintel/etplugin/blob/c668ad44d6db6eba2f9b8ec0c0b0f7a1a0ffaa6c/vendor/assets/javascripts/jquery.etmodel.coffee#L261-L293) (an old JS library for communicating with ETE).

[2017-01-16 11:40] ChaelKruip opened #2323 "Applying (national) scenario slider settings on local scenario's"
We will soon be having two ways to make local scenario's:

* Currently, local (scaled) scenario's can be constructed with the [scaling interface](https://pro.energytransitionmodel.com/scaled) resulting in a local scenario which takes into account the sliders already set in the parent scenario. This is very useful if you want to see what the implications of a certain national scenario could be on y

[2017-01-16 11:40] ChaelKruip commented on #2323
Including @AlexanderWirtz @jorisberkhout @DorinevanderVlies @dennisschoenmakers

[2017-01-16 12:55] ChaelKruip opened #2324 "Updat statements for BOTH don't (always?) work with shares and share groups"
@AlexanderWirtz told me that setting shares for the `space_heating` share-group in households using update statements which apply to "both" results in a scenario where the sliders become unresponsive.

@ploh you can test this by using the update statements like [this one](https://github.com/quintel/etsource/blob/master/inputs/adjust_scaling/households/households_space_heater_coal_share_both.ad). N

[2017-01-16 13:00] AlexanderWirtz commented on #2324
It is tricky. Something does happen, but not what you want. setting the `space_heating` shares separately for `present` and `future` on the other hand, works just like you want it to.

[2017-01-16 13:33] BerendSmits opened #2325 "Electric bikes in the ETM: transport or households?"
Currently, electric bikes are not a part of the ETM. Their electricity use is now under 'other' in the appliances section of households.
We might want to add it to the transport sector, they could be a future replacement for short distances car rides.
There are now about 2.7 million electric bikes in the Netherlands (http://www.fietsplatform.nl/fietsrecreatiemonitor/cijfers), a (very) rough calcul

[2017-01-16 15:18] ploh commented on #2319
Thinks to keep in mind:
* Be aware of `%y` type inputs: Since they depend on the end year, they _must not_ occur in init. inputs

[2017-01-16 16:36] ploh commented on #2324
@ChaelKruip You mentioned an old issue/discussion about this. Have you found that?
@antw Do you happen to know which old issue that is?

[2017-01-16 16:43] ChaelKruip commented on #2324
No 😢 . I think @AlexanderWirtz had some Skype conversations with @antw with this but did not make tickets.

[2017-01-16 16:56] grdw commented on #2324
![screen shot 2017-01-16 at 17 52 51](https://cloud.githubusercontent.com/assets/2676542/21991877/9df03c8e-dc14-11e6-88d6-9197dd58e084.png)

These are the values from initially loading the shares. These are my initializer inputs:

![screen shot 2017-01-16 at 17 53 35](https://cloud.githubusercontent.com/assets/2676542/21991910/bd6db42e-dc14-11e6-8e2c-fa3668c89a6f.png)

That corresponds I guess.

I

[2017-01-16 16:59] grdw commented on #2324
@AlexanderWirtz dragging a slider doesn't cause any weird behavior as far as I can see.

![screen shot 2017-01-16 at 17 58 13](https://cloud.githubusercontent.com/assets/2676542/21992094/60d2a5b6-dc15-11e6-9146-b181911bdafe.png)

[2017-01-16 17:28] antw commented on #2324
We haven't had a Skype call since 2014! 😱  Maybe we discussed this in person at some point, but I have no memory of this at all. Sorry, I know that isn't helpful...

Perhaps this issue is referring to quintel/etengine#808? This was because inputs which updated the `present` graph were (wrongly) assigned to a group of inputs which updated `future`, and so the group didn't add up to 100%. It goes wi

[2017-01-16 21:48] ploh commented on #2324
Yes, that is it. Thank you. That confirms my suspicions I had earlier about the `share_group`s causing problems when I was looking at the `ScenarioUpdater` :+1:

[2017-01-17 07:13] ChaelKruip commented on #2324
@grdw did you manage to update a slider group yet (using the right share_group)? If so, we could close this right?

[2017-01-17 08:30] AlexanderWirtz commented on #2324
@grdw I can't tell from your screenshot as I would like to see the chart. As I remember, when the scenario is loaded it looks fine (i.e. `present` and `future` are the same). Then when you touch a slider and another one, the chart goes haywire.

@antw that was a separate issue. As you can see the existing update statements for `both` for tech shares have their own `both` share group. Nonetheless,

[2017-01-17 13:42] #2321 closed

[2017-01-17 13:43] grdw commented on #2321
Closed with https://github.com/quintel/etengine/pull/900

[2017-01-17 14:24] grdw opened #2326 "Synchronize seeds.rb file with the beta environment database rows"
The `seeds.rb` file and the staging database should be in synch. I know a lot of people use `bundle exec cap staging db2local` but that doesn't work if your SSH key is not installed on the server. Unfortunately because I have multiple laptops, I have multiple SSH keys. I should probably copy my keys over from my Mac but somehow I feel that someone without 'server access' should also be able to syn

[2017-01-17 14:28] ploh commented on #2324
@AlexanderWirtz I tried to use some of these existing `both` updates (namely those for the `heating_households_both` group), i.e. I modified scenario 507792 (one of the GEA scenarios) locally to use the both statements instead of future + present statements. Then I got (one of) the described behaviour: Moving the sliders had no effect on the chart (or the dashboard).
After some debugging I found o

[2017-01-17 14:32] ChaelKruip commented on #2326
@grdw can you please give short descriptions/context of your issues (even if you are the only one assigned). This will help our future selves to solve problems that occurred before.

Is this about the database? Why are these files no longer synchronised?

[2017-01-17 14:37] #2324 closed

[2017-01-18 08:26] grdw commented on #2324
How did you manage to do this?

I still see this though (the initializer inputs do reflect in the chart but not in the sliders):

![screen shot 2017-01-18 at 09 21 52](https://cloud.githubusercontent.com/assets/2676542/22056343/fd98bdea-dd5f-11e6-8c6a-bdb107fad9c1.png)

[2017-01-18 08:49] grdw commented on #2324
To add to that:

![screen shot 2017-01-18 at 09 33 31](https://cloud.githubusercontent.com/assets/2676542/22056698/a54e4edc-dd61-11e6-8c98-51b442257bf1.png)

Adding 1% to Heat pump (air) causes the chart to break like the image above.

[2017-01-18 08:51] grdw commented on #2324
However, I managed to get the sliders correctly:

![screen shot 2017-01-18 at 09 48 52](https://cloud.githubusercontent.com/assets/2676542/22057074/678a9432-dd63-11e6-8940-cf60cdaf7eae.png)

I did that by removing the `update_period` from the initializer inputs and changing the `share_group` from `heating_households_both` to `heating_households`. However, now my `user_values` are not reflected in

[2017-01-18 08:55] ploh commented on #2324
With this change to ETEngine - but I could have manually changed the relevant etsource files instead.

[code]

[2017-01-18 09:00] ploh commented on #2324
@grdw Does Atlas not raise an error if a key is not unique?

[2017-01-18 09:02] grdw commented on #2324
Yes. It's what I currently did. It should not have to do with the priority at all for initializer inputs and slider settings would be my guess (side note: it's a bit annoying that talking about `user_values` causes me to think about initializer inputs *and* slider settings). I'm now going to test if removing the priority from the initializer inputs is going to work or just setting them to a really

[2017-01-18 09:03] ploh commented on #2324
The priority is irrelevant: We first apply the init. inputs and then the user_values

[2017-01-18 09:04] ploh commented on #2324
@grdw It is all working for you now, right? Or did I misinterpret your last posted chart?

[2017-01-18 09:05] grdw commented on #2324
@grdw It is all working for you now, right? Or did I misinterpret your last posted chart?

Yes it is! 👍

[2017-01-18 09:13] grdw commented on #2324
@AlexanderWirtz did a test that did break the chart, namely: "hitting the rest button next to a slider".

That broke the chart again:

Load intializer inputs:
![screen shot 2017-01-18 at 10 11 49](https://cloud.githubusercontent.com/assets/2676542/22057803/a1606e7c-dd66-11e6-8b1b-8e847e82c702.png)

Update user value:
![screen shot 2017-01-18 at 10 11 56](https://cloud.githubusercontent.com/assets/

[2017-01-18 09:25] ploh commented on #2324
OK, thx for testing. I will investigate when I am thus far in the migration

[2017-01-18 09:27] grdw opened #2327 "Resetting the sliders with initializer inputs causes the total share group to be twice that."
[code]

Related discussion [here](https://github.com/quintel/etmodel/issues/2324#issuecomment-273422283)

---

Steps to reproduce:

1. Create a derived dataset
2. Add the following initializers to related `.ad`-file:

[code]

3. Create a scenario with the derived dataset
4. Drag one of the specified sliders
5. Hit reset

---

At step 4 there's something odd going on though:

Inside the `balanced_v

[2017-01-18 10:14] antw commented on #2324
[code]

This looks like you have a whole second set of inputs (`test_*`) assigned to the "heating_households" group? I assume these are inputs you have created, but what is their purpose?

[2017-01-18 10:50] AlexanderWirtz commented on #2324
Indeed, @grdw [states above](https://github.com/quintel/etmodel/issues/2324#issuecomment-273417616) that the initializer inputs were added to the `heating_households` share group

[2017-01-18 11:07] grdw commented on #2324
I'm guessing that the fix is to just use a different `share_group`. The only thing I changed was prefixing the `share_group` with `test_` so it becomes: `test_heating_households`. That fixes it but I don't agree with it being a nice way to solve this problem. How come that these values even enter the database? They should be initializer inputs and should (in my mind) therefor only live inside of t

[2017-01-18 11:12] ploh commented on #2324
If they have the same share_group as other inputs, then they will be written to the database together with these - because they are balanced together.

Does this still happen when you assign them their own share_group?

Also, I think it would be even better to have no share_group at all for init. inputs.

[2017-01-18 11:20] ploh commented on #2327
@grdw So, in regard of [this related comment](https://github.com/quintel/etmodel/issues/2324#issuecomment-273447844), can we close this issue?

[2017-01-18 12:14] antw commented on #2324
Thanks, I missed that. :blush:

That does explain why they are appearing. @ploh is therefore correct that [Balancer](https://github.com/quintel/etengine/blob/master/app/models/balancer.rb) will be including them when trying to auto-balance the group.

With this said, I thought initializer inputs [were to be an entirely separate class from Input](https://github.com/quintel/internal/blob/master/plan

[2017-01-18 12:16] grdw commented on #2327
Yes 👍

[2017-01-18 12:16] #2327 closed

[2017-01-18 12:22] ploh commented on #2324
Yes, that was the plan. We kind of dropped it for the moment - quietly indeed, very sorry about that! - in order for the migration to be easier. But... I am now thinking that the migration might even be easier if we invented a new class and then auto-created documents for that on-the-fly during migration where necessary.

[2017-01-18 14:17] antw commented on #2324
Several issues suddenly make a lot more sense to me. 😆

Personally, I do think keeping `Input` and `InitializerInput` separate will avoid the potential for pain later (no risk of assigning to share groups, creating duplicate input names, etc). On the other hand, if there is a lot of cross-over between normal inputs and init. inputs I can see why you'd go in the direction you have.

A compromise mi

[2017-01-18 15:22] grdw opened #2328 "How to scale scenarios with a derived dataset."
#### Should this really be supported?

As @ChaelKruip stated [here](https://github.com/quintel/etengine/pull/900#discussion_r96601564) it should.

#### I'm trying this out currently and am stumbling against a very big hurdle which I'll explain:

Assume 3 scenarios:

1. A scenario NL with residences = 1.000.000
2. A scenario with a derived dataset Lutjebroek with residences = 1.000
3. A scenario wi

[2017-01-18 15:22] grdw commented on #2328
Including @ChaelKruip @antw @ploh

[2017-01-18 15:33] grdw commented on #2328
I could set the correct `base_value` though when a scaler is created. 🤔

[2017-01-18 15:45] ploh commented on #2328
I think this would be a useful feature, as Chael already pointed out. But it is definitely not something that is mission-critical for the derived datasets.
So I suggest to put this on hold for now.

[2017-01-18 15:56] grdw commented on #2328
But even if we aren't going to support it.  It's either: yes we are going to build it. Or no: we're going to prevent the user from scaling a scenario with a derived dataset. Right now it's possible and it will give you a really buggy scenario.

So what's it going to be 😅

[2017-01-18 15:59] ploh commented on #2328
You are right, of course, that we should not keep it at like that :smirk:

So, please prevent this for now.

[2017-01-18 16:00] grdw commented on #2328
We could for example check if a user is using a derived dataset in his or her scenario and disable this button in the front-end:

![screen shot 2017-01-18 at 17 00 00](https://cloud.githubusercontent.com/assets/2676542/22071473/92139820-dd9f-11e6-86fa-1ba508ecc0c6.png)

And redirect to his scenario when he visits the `scaled_path (/scaled)`

[2017-01-18 16:03] antw commented on #2328
I do think this should be supported. Otherwise it's a very inconsistent user experience to allow scaling of scenarios belonging to one region but not another; it's not obvious why an "nl" scenario can be scaled, but an "ameland" one cannot.

I agree this is not critical, but it would be nice to aim to do this before everything is merged into master and deployed.

Does it work correctly if you do t

[2017-01-18 16:13] ploh commented on #2328
Side note: The problem with further scaling of a derived dataset lies probably only in the _input_ handling. The graph and gqueries should be fine.

[2017-01-18 16:14] grdw commented on #2328
Currently: no.

The population slider is freezing up..

Before scaling:
![screen shot 2017-01-18 at 17 09 09](https://cloud.githubusercontent.com/assets/2676542/22071884/e07b05d8-dda0-11e6-9921-6bce86c3d270.png)

After scaling:
![screen shot 2017-01-18 at 17 10 48](https://cloud.githubusercontent.com/assets/2676542/22071962/14c7876c-dda1-11e6-8033-dc6f313fd6de.png)

This is with the old settings t

[2017-01-18 16:17] grdw commented on #2328
It could be that the wrong `Input` object is cached though - which causes this behavior - because either `scaled` and `derived` both point to the same `Input.cache` object.

[2017-01-18 16:29] grdw commented on #2328
Okay, this is a really bad idea because the population will be incorrectly determined.

Namely because it will multiply the scaling factor (500 / 7449300) against the `number_of_residences` of the parent scenario:

![screen shot 2017-01-18 at 17 25 13](https://cloud.githubusercontent.com/assets/2676542/22072587/19e7e91a-dda3-11e6-9691-1dce020256dd.png)

0.2 people does look a bit odd 😆

[2017-01-18 16:35] antw commented on #2328
Could this be because both the derived area and the scenario have a `scaling` setting, and ETModel only uses one of them? Or are the input values being scaled incorrectly in ETEngine?

[2017-01-19 08:57] grdw commented on #2328
Value for slider `households_number_of_inhabitants`:

[code]

Values for `households_number_of_inhabitants` scaled:

[code]

So as far as I can see the `step` is incorrect. It should be `0.01 * 1.0e-05 = 1.0e-07`.

[2017-01-19 10:59] grdw opened #2329 "Throw nicer error when etengine is not running"
Currently there's a bit of an ambigious error thrown that says that the api call to `/areas` is not succesfull however, researchers who are working locally probably won't understand much of that unless you know that that means that ETEngine is not running.

It would be nicer if ETModel throws the error and were to say `"<%= link_to Settings.api_url Settings.api_url %> is currently not running."` O

[2017-01-19 16:40] grdw commented on #2328
I've corrected the step like this:

[code]

However, this feels really really really hacky. What if I were to scale this scenario again? I'd probably have to check the `scenario.parent.parent` etc. This is going to suck. What I also can't seem to understand is that the `min_value` and `max_value` etc. are correctly scaled. Because if I do this:

[code]

Everything is destroyed but the `step`.

Als

[2017-01-20 08:51] #2328 closed

[2017-01-20 11:09] antw commented on #2328
Presumably because inputs tested get their start/min/max values from `_gql` attributes which query the (scaled down) graph. These are not scaled by `value * multiplier`.

Try testing with an input which uses a scaleable `unit` and hard-coded start/min/max values and I expect you'll find that the `step_value` problem is also true of hard-coded start/min/max. For example: [number_of_energy_flexibili

[2017-01-20 11:15] ploh commented on #2328
So maybe it is now time to rethink the approach of re-using the "scaled-scenario" input range scaling and instead to the "right thing" and improve/repair the automatic setting of input ranges, i.e. set the input range (and possibly the displayed unit) automatically depending on the current value - even if the current value is orders of magnitude different from what you once expected!?

[2017-01-20 11:57] AlexanderWirtz opened #2330 "Does the amount of gas used by CHP for heat networks include gas use for electricity production?"
This chart seems to suggest a lot of gas is used by CHPs for the local heat network. alsmost as much as  geothermal heat, even though the slider settings say 70% geothermal and 30% gas CHP:

![image](https://cloud.githubusercontent.com/assets/308563/22148687/d997c6d2-df0f-11e6-8717-f57279b91cfa.png)

This caused me to wonder: is the gas use for electricity production accidentally included?

Assign

[2017-01-20 12:28] ChaelKruip commented on #2330
Yes, incorrectly so I'm afraid 😞
[code]
Correcting this would need need some tricky queries though. They would have to become technology dependent and take the output conversions of the CHPs into account:
[code]

[2017-01-20 14:14] grdw commented on #2328
I'm not sure I understand this. Could you maybe expand it a little?

As far as I know though this partially happens in the front-end of ETModel. To elaborate: each input inside of ETSource doesn't need to correspond to a slider. To create a slider you'll need to create an `InputElement` inside of ETModel. The `InputElement` has a default `unit`. From that `unit` in combination with the value from

[2017-01-20 15:05] antw commented on #2328
They do need to be scaled in ETEngine since it validates that `min_value` <= `user_value` <= `max_value`. And I think it makes no sense for inputs.json for a derived region to return unscaled values for the full-size region; API users would expect the values to be consistent with the size of the region.

I've posted an ETSource issue which might help us get around this problem: quintel/etsource#12

[2017-01-24 13:27] ChaelKruip opened #2331 "How to secure that researchers have a smooth workflow?"
There are several aspects to this question:
* What if the local installation of ETE, ETM, Atlas etc. does not work on a researchers computer?
* How to link data-analyses on ETDataset and commits on ETSource?
* How do you ensure that data-commits and functionality-commits are kept separated?

[2017-01-24 14:18] AlexanderWirtz commented on #2251
Reopening this until the scenarios in question have been fixed

[2017-01-24 14:27] ploh commented on #2331
Alex said that this should not be a problem for the moment. Maybe the "rapid-prototyping" is gonna be needed in the future, but for now it is fine to modify etsource and test locally.

Are those problems not the same for local datasets as for national datasets? How are they handled there? Can it be done in the same way for local datasets?

[2017-01-24 14:39] ChaelKruip commented on #2331
Sorry for not being clear. @AlexanderWirtz and myself are worried that by relying on 'running the model locally' will introduce a lot of ad-hoc requests for assistance from @antw and @grdw. Although discouraged for many reasons, the rapid prototyping using the database has as a big advantage that you can do it without having a local setup of the ETM universe running properly. In other words: perha

[2017-01-24 14:46] ChaelKruip opened #2332 "How can the ETM better quantify energy neutrality?"
What are the current questions from our clients and local initiatives which we cannot answer easily with the ETM?

[2017-01-24 14:54] ploh commented on #2331
So, how do we proceed in this matter now? My suggestion: We continue with making the InitializerInputs disjoint from the Inputs, i.e. the former may only be used in derived datasets whereas the latter may only be used in user_values. If we later see that we need some more convenient way for prototyping a new derived dataset, we introduce some mechanism to add initializer inputs to a scenario at ru

[2017-01-24 14:56] dennisschoenmakers commented on #2332
Good question. The ambition that many have to be 'energy neutral' is also broader then the scope of the ETM, think in products that we buy, the food that we import. Sometimes people just say 'energy neutral' without having thought it through. I actually think the term is so vague that we really should not adopt it ourselves. :grin:

[2017-01-24 14:57] antw commented on #2331
[This is on our radar](https://github.com/quintel/internal/issues/8). No ETA, but I think we're all quite keen on investigating this further.

[2017-01-24 15:15] grdw commented on #2331
Well, last week when the power was out in Amsterdam I already started at 8:00 in the morning. So I took the last hour of the day (my free time) to investigate it a little bit. It's not really done or anything but I read some articles + tutorials how to do this properly for a rails application.

[2017-01-25 14:58] AlexanderWirtz commented on #2330
@ChaelKruip I understand it is tricky, but surely it is not beyond the mighty modellers of the ETM to correctly calculate the amount of gas used for CHP heat production? Does this merit creating a method?

notifying @jorisberkhout @dennisschoenmakers @antw

[2017-01-26 12:21] grdw opened #2335 "Merging all local datasets branches"
This is an overview issue to make sure that all the `local-dataset` branches are merged with `master`. Don't start merging until all the relevant PR are made.

- [ ] Atlas
  - [ ] PR: ?
- [ ] ETSource
  - [ ] PR: ?
- [ ] ETEngine
  - [ ] PR: ?
- [ ] ETModel
  - [ ] PR: https://github.com/quintel/etmodel/pull/2334

[2017-01-26 12:35] #2335 closed

[2017-01-26 12:35] grdw commented on #2335
Duplicate: https://github.com/quintel/internal/issues/7

[2017-01-26 13:48] ploh commented on #2319
From @AlexanderWirtz:
These are teh scenarios on etengine staging that I would like to have migrated (for Paddepoel):
607975
607980
607984
607505

[2017-01-26 14:33] ploh commented on #2319
Talked to @ChaelKruip about making the older scaled scenarios (IABR, GEA, Ameland) independent of the `nl` dataset: We can create a `nl2013` dataset. No objections :smile:

[2017-01-26 14:51] jorisberkhout commented on #2319
My minor objection to creating an `nl2013` dataset is that there is a flaw in the dataflow going from ETDataset to ETSource. This has to do with the fact that each `nl` dataset on ETDataset (i.e. the one for 2011, 2012 and 2013) contains a file attribute called `nl.ad` (obviously). Exporting one of the older datasets is not automated. Currently you have to export an older dataset to ETSource, rena

[2017-01-26 15:42] grdw commented on #2319
If I can throw in my 2 cents. Can't we solve this with [git tags](https://git-scm.com/book/en/v2/Git-Basics-Tagging)? This will obviously take some changes for ETEngine. I.e. if you select a different start year for NL the correct `git tag` needs to correspond to the correct packed datafile 🤔 but it might a cool project todo though.

The reason I'm suggesting this is because all the files for an `

[2017-01-26 16:29] antw commented on #2319
This sounds confusing to me. If the structure of the graph were to change, what would the workflow look like to update the NL2012 dataset?

[2017-01-26 16:46] grdw commented on #2319
Good question. Isn't it now an issue that the graph 'does' change? If it should change than it's going to be annoying. Not impossible though, but annoying (checking out branch with tag, updating graph, moving tag.. ).

In Joris's setup you don't have that problem.

[2017-01-27 13:26] antw commented on #2319
I quite like this, provided it is applied consistently to all datasets. i.e. the directory structure for datasets becomes: `:dataset_key/:analysis_year`. I imagine it is fairly easy to support this in the VBA scripts?

[code]

In an ideal world, ETEngine's API would not differentiate between "nl" and "nl2012", but would instead take an area code an optional start/analysis year, and would map that

[2017-01-27 13:42] jorisberkhout commented on #2319
I think no changes to the VBA scripts are required. On ETDataset, the very same directory structure already exists. The only thing that needs to be changed is the `rake import` task, which currently only exports those defined in [datasets.yml](https://github.com/quintel/etsource/blob/master/datasets.yml)

Love it! All in favour of this.

[2017-01-27 14:23] grdw commented on #2319
I have one question; what if for example the `onshore_suitable_for_wind` is going to change for the nl dataset for all start years? Would you than need to update all the files individually? Not that that is of my concern at all, but I'm just wondering how that would be achieved. Would that be a VBA script from an Excel just replacing all those values in all the loose `.ad` files in each start year

[2017-01-27 14:54] jorisberkhout commented on #2319
This would never happen. As said before, we never update any data for old datasets (`onshore_suitable_for_wind` is data), but only maintain them to be in line with changes to the graph. To do this ETDataset, or more specifically, the `analysis_manager.xlsm` has some nice features to make the users life easier.

[2017-01-30 08:10] ChaelKruip commented on #2330
I see what you did there @AlexanderWirtz! Although I'm very susceptible to flattery I think we should not rush into a hacky solution for this.

@antw do you think that something like:
[code]
could be incorporated in ETEngine?

[2017-01-30 08:20] AlexanderWirtz commented on #2330
@antw and @ChaelKruip creating a method would also help us in finally tackling the issue where CHP marginal costs are calculated based on all fuel input, rather than just the fuel input for power production. Granted, that would be the inverse query (or is it obverse?)

[2017-01-30 15:27] BerendSmits opened #2336 "Multiple input statements working on same useful demand (for 'old style' local datasets)"
The current set of input statements on etsource/inputs/adjust_scaling/industry contains some statements that work on the same demand.

These inputs work on entire sectors and should not be used in the Netherlands:
- industry_useful_demand_for_chemical_aggregated_industry_both.ad
- industry_useful_demand_for_other_aggregated_industry_other_both.ad

The following inputs can be optionally used for ex

[2017-01-31 08:17] grdw opened #2337 "Replace logo CGI"
There's a new logo for CGI that needs to be replaced

[2017-02-01 09:26] grdw opened #2339 "Why are there still logo's inside the app/assets/images/partners folder when all the images are on amazon?"
Are they used as a back-up in case Amazon S3 goes down?

[2017-02-01 09:42] #2337 closed

[2017-02-01 09:46] BerendSmits opened #2340 "'Show graph' option does not show on new scenario"
In the settings menu, often the 'Show graph' option is not available. It does appear when you hit refresh.

[2017-02-01 10:01] ChaelKruip commented on #2340
@BerendSmits why am I assigned to this ticket? Assigned @antw instead.

[2017-02-01 11:30] ploh commented on #2319
Note to self:
- [ ] Remember the problems figured out when [trial-migrating Gea](https://github.com/quintel/etengine/issues/904#issuecomment-275199374)

[2017-02-01 13:48] grdw commented on #2340
I can't seem to reproduce this in Firefox 51.0.1.

**Steps:**

1. Start a new scenario
2. Check settings
3. See 'Show graph'

I tried signing in and see if that makes a difference but it doesn't. It can be, that while your scenario is still loading, that the Show graph button is not visible yet. But I'm not sure if that's the same thing you're experiencing.

[2017-02-01 15:43] antw commented on #2339
I've no idea. :thinking:

The images are served up by S3 via ETCentral's [Partners API](https://github.com/quintel/etcentral/blob/3fbee998695e55bf7aa061cf048b485eabe2d0fb/app/controllers/partners_controller.rb). There hasn't been a new image added to the ETM directory in more than four years, so perhaps they simply weren't removed when the system changed.

[2017-02-01 16:13] grdw commented on #2339
I guess they can be removed than 👍

[2017-02-01 16:37] #2340 closed

[2017-02-02 08:24] ChaelKruip commented on #2319
@ploh what is the status here?

[2017-02-02 08:44] ploh commented on #2319
Yesterday, I tried re-running my Gea trial-migration from last week - now that we have made the initializer inputs separate from the normal inputs. I ran into some trouble with non-existing init. inputs. I will try the same for a Paddepoel scenario next and see how hard it is to fix the potential problems there.

[2017-02-02 14:53] ChaelKruip opened #2342 "Web-interface to improve and share local datasets"
This tickets summarises ideas from @dennisschoenmakers and @grdw to make first steps to opening up our local datasets.

# Background

We are creating more and more local datasets (Ameland, Groningen, Drenthe etc.) which live on the ETDataset repository. We will not be able to maintain and create such a dataset for each municipality (390 in our country) or neighbourhood (11000) ourselves. It will b

[2017-02-02 15:59] grdw commented on #2342
I'd like to add that this is purely a technical gateway to a solution. It's not really 'the solution'. I can imagine for example; that the structure of the dataset would be fixed and no newly named files can be added for they won't hold any significance (and to prevent people from misusing this application as their personal dropbox).

Would that be a dump of `etsource/datasets/<name-of-dataset>` o

[2017-02-03 11:12] ploh opened #2343 "Possible bug in new local datasets scaling / persistence"
When trying to [migrate a Paddepoel scenario](https://github.com/quintel/etmodel/issues/2319#issuecomment-275391938) (ID 607984), the new scenario based on a new derived dataset leads to lots of differences in gquery results compared to the old one - even without moving any of the `user_values` to init. inputs.

I will post the differences and instructions for reproducing my results shortly.

cc @

[2017-02-03 12:02] ploh commented on #2343
I have uploaded a [csv file](https://gist.github.com/ploh/56a7f4604e9c6f2a2a863f3c78731aea) with the 528 differences in gquery results.

If you want to reproduce that locally, checkout branch [local-datasets-migration_framework](https://github.com/quintel/etengine/tree/local-datasets-migration_framework) of etengine and run
[code]
there (the task assumes you have etsource checked out at `../etsour

[2017-02-04 09:34] ploh commented on #2343
After some more testing I found that the differences almost disappear (apart from the `number_of_cars` not being scaled in the derived dataset based scenario), if I change the old scenario's scaling to _not_ disable `agriculture` and `industry` sectors.

Although the `has_industry` and `has_agriculture` flags are set to `false` in the derived dataset, these sectors are not disabled in the new scen

[2017-02-04 09:43] ploh commented on #2343
Correction: For this I also removed all the `user_values` from the old as well as the new scenario. If I leave them in and only enable agriculture and industry, I still get 277 differences.

[2017-02-04 09:52] ploh commented on #2343
[csv with differences](https://gist.github.com/ploh/682d2743dbf157ee0bb17f035daa38b7)

That is with: identical user_values old vs new, _no_ init. inputs, agriculture/industry enabled in old and new

[2017-02-04 09:58] ploh commented on #2319
Update: Even before trying to migrate user_values to init. inputs, I encountered problems when trying to base Paddepoel scenario 607984 on a new derived dataset (without ETE scenario scaling) instead of on `nl` (with ETE scenario scaling): #2343

[2017-02-04 10:54] ploh commented on #2343
As an example I removed all user_values except `residences_roof_surface_available_for_pv: 0.00466567345892605` from old and new. Then the gquery `etflex_households_solar_pv_installed` returns 2.9150015478022 in the old scenario and 1.81109924970021 in the new scenario - the results are equal without the residences_roof... user_value.  I do not yet know how this is caused...

[2017-02-04 12:13] ploh commented on #2343
OK, after some (or actually quite a lot) more investigating, I found a bug in the input caching that is causing this. I filed it as quintel/etengine#910

[2017-02-04 19:32] ploh commented on #2343
@ChaelKruip @grdw @antw After the bugs (quintel/atlas#90, quintel/etengine#910) are fixed, the [above procedure](https://github.com/quintel/etmodel/issues/2343#issuecomment-277231556) should be re-tried and it should be checked that there are no gquery result differences remaining - that is, before moving any user_values to init. inputs. Only if this works, work on [migrating Paddepoel](https://gi

[2017-02-04 19:39] ploh commented on #2319
Like I described in https://github.com/quintel/etmodel/issues/2343#issuecomment-277469216, there are some issues that should probably be addressed before the Paddepoel migration is continued.

@AlexanderWirtz @grdw @ChaelKruip Alternatively, you could just try to execute the [migration rake task](https://github.com/quintel/etengine/blob/local-datasets-migration_framework/lib/tasks/scaling.rake) an

[2017-02-06 10:46] grdw commented on #2342
I'm creating a bit of a larger overview [here](https://gist.github.com/grdw/a2c85e57c2b12110d6c8faa1a68470de). This is work in progress still.

[2017-02-06 12:57] antw commented on #2342
* How do we allow third-parties to edit datasets when the energy balance is proprietary, licensed to QI, and we are not permitted to redistribute it?

Are these "full" datasets with a complete analysis (like NL, DE, etc)? Is it suggested that third-parties should be able to edit any of the XLS files in ETDataset and see the changes reflected in their custom region in ETEngine? To put it another wa

[2017-02-06 13:08] ChaelKruip commented on #2342
This is for local (derived) datasets only. The user edits numbers in an Excel (the ETDataset point of the flow). For now, the rest of the work-flow is not altered.

🤣

[2017-02-06 13:46] grdw commented on #2342
Just to be clear, this is a *single* xls file? If so, than I managed to create a supersimple dummy app that version controls a single xls upload through papertrail 👍  However, you can't really do that much with it 😆

[2017-02-06 15:27] grdw commented on #2342
I'll call the project [etcabinet](https://github.com/quintel/etcabinet) for now.

[2017-02-06 15:57] ChaelKruip commented on #2342
One xls file *per* region. So Ameland.xls, Drenthe.xls, Paddepoel.xls etc.

Not that big of a deal but I think 'ETCabinet' is not a very sexy name. What about "ETPortal", or "ETLocal"?

[2017-02-07 08:46] grdw opened #2344 "Generating a report of a scenario"
For a scenario (or a set of scenarios) it must become possible to generate a report containing an overview / analysis of the scenario(s). The format of this document will be a web-page which can also be downloaded (as PDF) and printed by the end user.

The report contains a combination of text and graphical images (i.e. graphs) explaining what a user has changed and done in a scenario. If this doc

[2017-02-08 09:54] grdw opened #2345 "Scenario report 'kassabon' status issue"
I pushed the very first beginnings of the scenario report (also known as the 'kassabon') on to the [scenario-report](https://github.com/quintel/etmodel/tree/scenario-report) branch.

When starting ETModel locally a static report can be generated with:

[code]

The PDF is generated with [`wicked_pdf`](https://github.com/mileszs/wicked_pdf) which leans on [wkhtmltopdf](http://wkhtmltopdf.org/) (to i

[2017-02-09 09:18] #2256 closed

[2017-02-09 09:46] BerendSmits opened #2346 "Local dataset on beta server"
The Drenthe dataset is now available on the beta server, but when you open a scenario, the sliders and demands don't load.
Chrome gives this error:
scenarios
{errors: {area_code: ["is not included in the list"]}}
errors
:
{area_code: ["is not included in the list"]}

[2017-02-09 09:52] antw commented on #2346
This should now be fixed.

[2017-02-09 09:52] #2346 closed

[2017-02-10 13:32] grdw commented on #1836
Duplicate of https://github.com/quintel/etcentral/issues/113

[2017-02-10 13:32] #1836 closed

[2017-02-10 14:08] grdw commented on #2115
@ChaelKruip re-assign at will. I think somebody needs to look at those presets but I think that might already be done though.

[2017-02-10 15:23] grdw opened #2348 "Turn dashboard items (constraints) into horizontally scrollable bar"
![screen shot 2017-02-10 at 16 20 31](https://cloud.githubusercontent.com/assets/2676542/22832089/f0c93f4a-efac-11e6-8d8a-cc960153aa50.png)

So, to be a bit more clear. Instead of having to press 'change' it would be nice if you could animate from left to right to see 'all' the dashboard items (so, i.e. create two buttons left and right with which you can animate through the dashboard items). Righ

[2017-02-10 15:44] ChaelKruip commented on #2115
I think @AlexanderWirtz and myself should have a look before we publish these presets.

[2017-02-10 20:12] #2112 closed

[2017-02-20 13:07] ChaelKruip commented on #2342
Closing this as it has been superseded by a Trello board.

[2017-02-20 13:07] #2342 closed

[2017-02-21 15:22] grdw opened #2350 "When the area of a scenario is renamed the area in the settings is `nil`"
How would we approach this?

Specify

[2017-02-22 11:26] jorisberkhout commented on #2235
John pointed out that this issue still occurs. This is what you need to do to let this happen:
1. Open the `Primary energy use` mekko
2. Zoom in
3. Close the zoom view

The labels will be cut off as before.

Could you look into this, @grdw ?

[2017-02-27 07:34] dennisschoenmakers opened #2351 "Who you call a G?"
![image](https://cloud.githubusercontent.com/assets/104830/23352421/530c8578-fcc7-11e6-8b08-23f493de40fb.png)

Reproduce:
1. https://beta-pro.energytransitionmodel.com/scenarios/641277
2. Go to https://beta-pro.energytransitionmodel.com/scenario/demand/households/construction-and-insulation
3. Click the number
4. Enter 1
5. Witness 👀

[2017-02-27 08:37] BerendSmits opened #2352 "Menu for local datasets"
The collection of local datasets is growing nicely, there are four now. They are all still listed as countries, if the list continues to grow this might start looking a bit messy.
Can we create a nicer looking menu for local datasets, perhaps also at different levels (province-municipality-neighbourhood or something)?

[2017-02-27 12:10] #2351 closed

[2017-02-27 14:41] grdw commented on #2352
Yes we can. I would want a google maps map to be used as a menu. Where you can zoom and hover over certain regions - click a region and than create a scenario. A select box with a name of a region is a bit to basic and can get quiet messy.

Obviously my 'google maps menu' is going to  be a project worth a good 4-5 days (especially drawing the svg points for the regions). Simply adding categories i

[2017-02-27 15:54] antw commented on #2352
@dennisschoenmakers has already created some early mock-ups of his ideas. Given that this is quite an important page I think we should explore as many options as possible.

A maps-based approach has some merit provided it's also paired with a search field or list of available datasets. However I think we'll need very good coverage before it makes sense to do so, otherwise most of the map will be e

[2017-03-02 15:18] jorisberkhout opened #2354 "Energetic use should of fertilisers industry should not be affected by using hydrogen from flexibility"
It is possible to replace the hydrogen produced in steam reforming by hydrogen produced by electrolysis (power-to-gas). This should not affect the energetic use of the fertiliser industry.

[2017-03-10 10:51] ChaelKruip opened #2355 "Number formatting in scenario report should be improved"
A couple of things:

* If a value returns "0.0" it is not rendered:
![energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_](https://cloud.githubusercontent.com/assets/1303760/23792342/d5d7583a-0586-11e7-96df-005eb6b62a7b.png)

* It would be great if rounding could be done in the text. For example:
[code]

[2017-03-10 12:21] ChaelKruip opened #2356 "Dashboard stays greyed out for some scenario's"
I'm not sure, but it seems to happen after loading the flexibility chart:
![energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_](https://cloud.githubusercontent.com/assets/1303760/23795193/81a2a162-0594-11e7-9968-2427e84df0a4.png)

[2017-03-10 12:30] grdw commented on #2356
How do you *exactly* reproduce this?

I loaded it just fine by adding the chart, locking it and adding a ton of windmills.

[2017-03-10 13:09] antw commented on #2355
This is related to the Rails 5 upgrade (or rather: a JS library which was updated at the same time) since [it also affects formatting in charts](https://trello.com/c/IDuuZGpK/15-improve-chart-formatting).

Thanks for the suggestion; [tracking that here](https://trello.com/c/GvQ0CKTu/17-custom-formatting-for-numbers).

[2017-03-10 13:09] #2355 closed

[2017-03-10 13:09] ChaelKruip opened #2357 "Costs of flexibility should be added to cost chart"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/23796386/eb87c5d4-059a-11e7-97b6-de4a8d078e4d.png)

Now the total in the dashboard differs from the table totals

[2017-03-10 13:10] grdw commented on #2356
I have no idea how this is caused. It almost looks as though the cart already starts 'updating' before the first ajax request is finished from ETEngine (which causes the values to be blank).

[2017-03-10 13:27] antw commented on #2356
Do you have a scenario ID? It would also be useful to have the "Network" tab open when this happens again, since that will give away if the ETEngine request failed (it will appear in red), or if this is something in the ETM front-end.

We're you able to reproduce it? If so, how? 😆

[2017-03-10 14:02] grdw commented on #2356
@ChaelKruip showed me. Appearantly if you load the flexibility chart and than *refresh* the page, the chart fails. I was only able to reproduce it with the ["100% duurzaam"](https://beta-pro.energytransitionmodel.com/scenarios/155680) scenario.

[2017-03-13 12:11] ChaelKruip opened #2358 "Possibility to link to a pop-up chart in a text"
I would like to be able to open a chart in a pop-up window from a link in text.

Specifically, I think it would be great to show the CO2-Sankey to users which click a link in the text of the current dashboard pop-up chart:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/23853789/842b98ba-07ee-11e7-8

[2017-03-13 12:11] ChaelKruip commented on #2358
Is this difficult you think @antw?

[2017-03-15 14:34] #2357 closed

[2017-03-17 11:02] DorinevanderVlies opened #2360 "Overview of problems and questions regarding EV's (partly in local datasets)"
There are some problems with and questions regarding electric vehicles.
Some of them are already mentioned in previous issues. As they are related I made this issue to bundle them.

I can solve number 4. For the others I think I need the expertise of @grdw or @antw.

- [x] 1. number_of_cars in a local dataset should not be defined by transport_useful_demand_car_kms
Related issue: https://github.co

[2017-03-20 09:44] antw commented on #2360
I can't actually reproduce this myself: I added an excess of wind energy, removed all EVs, but set EV availability (for storage) to 100%. All the excess was curtailed, with none stored in EVs. Any chance you have a scenario where I can explore this? Your explanation *does* make sense though: if the `number_of_units` were non-zero, Merit might think there were EVs available for storing energy.

Tha

[2017-03-20 10:01] DorinevanderVlies commented on #2360
https://beta-pro.energytransitionmodel.com/scenarios/651391

Will do

My first thoughts are that this seems a neat solution.

[2017-03-20 11:34] ChaelKruip commented on #2360
I like this as well. 👍

Do you feel differently about `number_of_cars` than `number_of_residences` for instance?

[2017-03-21 09:01] ChaelKruip commented on #2356
Any luck reproducing this @antw?

[2017-03-21 09:02] ChaelKruip opened #2361 "Charts look squashed in report"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/24139717/88e78eba-0e1d-11e7-92dc-21b5a477042a.png)

[2017-03-21 19:20] antw commented on #2356
Yes. The ETM front-end seems to be sending multiple requests to ETEngine to fetch chart data; it should not be doing this. I'll look into it in more depth shortly.

[2017-03-21 19:37] antw commented on #2360
That's a good point, but I think the two are different. To my knowledge, we don't explicitly model "household" nodes – rather the two types of household are separated by purpose ('new houses demand for cooling", "old houses demand for heating", etc) – so it seems to make sense that it would remain an area attribute.

If we had a `transport_cars` node it might make it easier to compute the number o

[2017-03-22 10:58] ChaelKruip opened #2362 "Net import chart does not take exported oil products into account"
The [query for oil](https://github.com/quintel/etsource/blob/master/gqueries/output_elements/output_series/waterfall_76_future_energy_imports/oil_in_future_energy_imports.gql) in the import chart only considers crude_oil. With the refinery remodelling, oil products can be exported by the ETM. I think the chart should take these energy flows into account.

@AlexanderWirtz @jorisberkhout (@robterwel

[2017-03-23 14:32] ChaelKruip opened #2363 "Legend for CO2 of biomass chart is not visible in report"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/24252496/e57b7d28-0fdd-11e7-9fb2-9520844f2ee9.png)

[2017-03-27 14:26] antw commented on #2356
I'm fairly optimistic this has been resolved by cc4dc0b and c4fcd1e on the report-liquid branch. I will leave this open for now; it will close automatically when that branch is merged with master.

[2017-03-27 16:39] RobTerwel commented on #2362
This possible `oil_products` excess should probably be visualised indeed.

The reason behind the existence of this carrier is that most refineries burn the lightest fractions of their output to supply heat to their own processes. This would create a loop in the ETM, so in the current modelling the `crude_oil` carrier, rather than the `oil_products` carrier, feeds into the oil burner. We could ther

[2017-03-28 13:16] antw commented on #2363
This does not appear to be the case for me. It's curious that your chart does not have a breakdown of sectors; it suggests that your DB is old and lacking the latest chart settings. You might want to try grabbing a fresh DB dump from staging.

<img width="653" alt="screen shot 2017-03-28 at 14 14 54" src="https://cloud.githubusercontent.com/assets/4383/24406787/f8e31600-13c0-11e7-957b-3053b20e2629

[2017-03-28 13:23] antw commented on #2363
I beg your pardon, I was looking at the wrong chart. Nonetheless, the legend does now display on the biomass CO2 chart for me:

<img width="653" alt="screen shot 2017-03-28 at 14 22 54" src="https://cloud.githubusercontent.com/assets/4383/24407163/20125b22-13c2-11e7-8067-51c395e54ed1.png">

[2017-03-29 09:38] ChaelKruip opened #2364 "Legends should be aligned left (not centred)"
I think this looks really messy:

![energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_](https://cloud.githubusercontent.com/assets/1303760/24448359/32c8ece2-1474-11e7-9d53-bcc0fc9735ef.png)

[2017-03-29 10:09] ChaelKruip commented on #2362
Thanks for this @robterwel. I was actually referring to all products of the refinery, however like diesel, gasoline etc. These carriers could not be exported previously as their production was driven by national demand only. Now that has changed and I think they should be incorporated in the oil column or in a new 'oil derivatives' column.

@alexanderwirtz @jorisberkhout what do you think?

[2017-03-29 11:11] ChaelKruip commented on #2362
A separate column would look like this:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/24451936/3aaaf074-1481-11e7-8288-ec98d78cebfb.png)

[2017-03-30 08:55] ChaelKruip commented on #2360
Do you mean that the left-to-right share of car type determines how the number_of_units of the different types of cars is derived from the `transport_cars` node?

Sounds like a good plan!

[2017-03-31 10:07] ChaelKruip opened #2365 "EJ unit is not displayed"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/24546215/8a66ba00-160a-11e7-9af5-c8cc9601b80e.png)

[2017-03-31 10:08] ChaelKruip commented on #2365
The code used:

[code]

with this query:

[code]

[2017-03-31 11:42] antw commented on #2365
You're missing a `:` after `autoscale`:

[code]

Also, here's (IMO) a more readable version of the query:

[code]

[2017-03-31 11:42] #2365 closed

[2017-03-31 12:14] ChaelKruip commented on #2365
Thanks!

Thanks but the issue is that I also want to show the name of the sector:
[code]
(not the zero in the `last[0]`). So, in fact, I'm sorting a hash and want access to both the name and the value.

[2017-03-31 14:12] ChaelKruip opened #2366 "Rounding does not work as expected in report"
I'm using
[code]
And expect to have only one figure behind the decimal but instead I get two:

![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/24554155/e2555cae-162c-11e7-9090-4b676f79bd39.png)

[2017-03-31 15:03] antw commented on #2366
This is because the query returns a value in MJ (e.g. 1343332946570.8057). `round: 1` rounds this to "1343332946570.8" then `autoscale` converts it to EJ ("1.34 EJ"). I'll see what I can do to give you more control over number formatting.

In the interim you can do this:

[code]

[2017-04-03 12:02] BerendSmits opened #2367 "Maximum amount of solar PV plants"
I think the maximum amount of solar PV plants that can be built is too low. For instance: in the NL 2013 dataset (in the ad file), land_available_for_solar = 18475.714
The land use of a solar PV plant is 0.113 km2, so you should be able to build 163,496 plants. However, when you set the slider all the way tot the right, it only goes to 5,817. Still quite a lot, but shouldn't you be able to utilise

[2017-04-04 13:50] ChaelKruip opened #2368 "When 'jumping' to a section, the title is hidden behind the banner"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/24659934/78ab572a-194e-11e7-8690-d190fea66193.png)

[2017-04-04 15:03] ChaelKruip opened #2369 "Query for the profitability percentage of power plants"
The dashboard query [https://github.com/quintel/etsource/blob/master/gqueries/output_elements/dashboard/dashboard_profitability.gql](https://github.com/quintel/etsource/blob/master/gqueries/output_elements/dashboard/dashboard_profitability.gql) returns a whole array of things and I don't know how to extract the percentage TBH.

[2017-04-05 09:24] antw commented on #2369
I'm not sure why we have that complex query for the dashboard. It is also used to build the merit order table, but the dashboard doesn't need all the converter data so it's a bit wasteful for ETE to send it. I think we should plan to rename it to something like "merit_order_table", and add a new `dashboard_profitability` with a simple numerical result.

Since that doesn't help you *right now*, her

[2017-04-05 09:34] ChaelKruip commented on #2369
Thanks!

[2017-04-05 09:34] #2369 closed

[2017-04-05 13:53] ChaelKruip opened #2370 "'Case' structure produces spurious comma's in the text"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/24708699/f4c4fa2c-1a17-11e7-82f7-13ccf1791499.png)

[2017-04-05 14:14] ChaelKruip opened #2371 "km2 should be written with superscript"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/24709664/f2ca8a68-1a1a-11e7-8239-fd8e0188461e.png)

[2017-04-06 06:59] ChaelKruip opened #2372 "Optionally hide legend of charts in scenario report"
Sometimes, the legend is not very useful (as you can see all info with mouse-over).
A case in point:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/24741682/4e08bc4c-1aa7-11e7-9433-e52c51616609.png)

[2017-04-06 07:08] ChaelKruip commented on #2372
Thinking about the possible implications: in a PDF version we should either
* Always show the legend (poor man's solution)
* Make mouse-over possible in the PDF ([I think this should be possible but not sure](http://khkonsulting.com/2014/07/floating-text-pdf-documents/))

[2017-04-06 07:10] ChaelKruip opened #2373 "Hide legend items if associated series is zero"
Now users are often confused to see a color in the legend which does not appear in the chart.

[2017-04-06 12:16] ChaelKruip opened #2374 "Chart 23 looks pretty crazy in report"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/24753709/a119ddea-1ad3-11e7-9a89-428afc1da76f.png)

[2017-04-06 12:36] ChaelKruip opened #2375 "m2 should become km2 for biofootprint charts"
Can you show me how to accomplish this @antw ?

[2017-04-06 16:20] #2356 closed

[2017-04-06 16:20] #2361 closed

[2017-04-06 18:29] ChaelKruip opened #2377 "Sliders that have not significantly changed from the default should not be shown"
Using the 100% renewable (Urgenda) scenario:

<img width="645" alt="energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_" src="https://cloud.githubusercontent.com/assets/1303760/24769720/c2c60d22-1b07-11e7-9430-c71c232d13eb.png">

[2017-04-07 08:55] AlexanderWirtz commented on #2367
@BerendSmits please enlighten me.

- Where is this parameter currently set and how was it determined?
- What do you suggest we do to fix this?

Your argument sounds convincing enough, but I wonder if there was some reason for using the other maximum number.

[2017-04-07 14:51] antw commented on #2375
In a default scenario, I can't see this happening. Were you using a massively scaled-down scenario by any chance?

In its default state, [the chart shows values in Mm<sup>2</sup>](https://cloud.githubusercontent.com/assets/4383/24805521/ff2b7ffc-1ba9-11e7-9d8a-eb7a050f21e2.png) and it's not possible to disable auto-scaling of units on a chart-by-chart basis. What we can do, however, is prevent sca

[2017-04-07 15:02] ChaelKruip commented on #2375
Perfect!

[2017-04-07 15:19] #2368 closed

[2017-04-07 15:19] #2370 closed

[2017-04-07 15:19] #2371 closed

[2017-04-07 15:19] #2377 closed

[2017-04-07 15:55] antw commented on #2375
I have prevented the scaling of m<sup>2</sup> any higher than km<sup>2</sup> (so full-size scenarios will now use km<sup>2</sup> instead of Mm<sup>2</sup>) but scaling down to m<sup>2</sup> is (for now) still permitted.

Forcing it to use km<sup>2</sup> currently results in useless values in tooltips; for example "0 km<sup>2</sup>" instead of "40 m<sup>2</sup>". An NL region has to be scaled down

[2017-04-10 12:44] jorisberkhout commented on #2367
Well spotted, @BerendSmits . I can answer @AlexanderWirtz' first question for you. In https://github.com/quintel/etsource/commit/e992463e3c51489594407bf8f853d479385d8d99#diff-fadc5ee5840b4efbacbb15285feac51f, the maximum value of this slider was made dependent on a query that takes, amongst others, the total electricity production into account. Simply changing that query to something that takes th

[2017-04-10 12:50] jorisberkhout opened #2378 "Energy imports pop-up looks weird"
When clicking on the `Energy imports` dashboard item on the Beta, this is what I get. This does not happen on the Live server. Assigning @grdw as I think this is a technical issue. If not, re-assign at will.

<img width="742" alt="screen shot 2017-04-10 at 14 46 07" src="https://cloud.githubusercontent.com/assets/4669028/24862364/9e3239e8-1dfc-11e7-90d2-163de076277b.png">

[2017-04-10 13:06] antw commented on #2372
You can now do this like so:

[code]

I rather doubt tooltips will be possible in PDFs since the converter is simply reading the HTML version and producing a PDF representation with the print stylesheet. The more advanced features of Adobe Acrobat (which require you to hand-make each document) aren't available to us. It's my opinion that the "interactive" version of the report should be on our web

[2017-04-10 13:06] #2372 closed

[2017-04-10 14:18] #2374 closed

[2017-04-11 09:29] BerendSmits commented on #2367
Thanks @jorisberkhout! I had no idea where max slider values were set..
I've changed it to using the full land available in the branch: https://github.com/quintel/etsource/tree/solar_max_value

The land available for solar is equal to the areable land for the NL dataset (and for a few other datasets as well I think), so the max amount changed quite a bit, from 5,800 to 138,000 solar plants. Settin

[2017-04-11 15:12] ChaelKruip commented on #2372
Great idea!

[2017-04-12 11:08] #2364 closed

[2017-04-12 11:24] AlexanderWirtz commented on #2367
new way, i.e. total available land!

[2017-04-12 13:58] jorisberkhout commented on #2367
I like the new way better too!

The branch [`solar_max_value`](https://github.com/quintel/etsource/tree/solar_max_value) contains a commit (https://github.com/quintel/etsource/commit/2e1ff945ab4a6e703cb9b3e58e82d457e9981f6c) that I guess does not belong there. If you could fix this, @BerendSmits , I can review and merge the resulting pull request.

[2017-04-13 14:11] jorisberkhout commented on #2367
Closed by https://github.com/quintel/etsource/pull/1269/commits/5d340cbdbc6cdfc89005bf14ad9950538e7fdd71.

[2017-04-13 14:12] #2367 closed

[2017-04-19 09:20] dennisschoenmakers opened #2381 "Current local scenarios cannot be exported to etmoses"
Rather, the only option is to scale the scenario:

![image](https://cloud.githubusercontent.com/assets/104830/25172656/034c4bd8-24f2-11e7-862a-d686bf009a5b.png)

[2017-04-19 09:54] ChaelKruip commented on #2381
@grdw can you pick this up with some priority

[2017-04-24 12:39] grdw commented on #2378
In which browser was this?

**Chrome Version 57.0.2987.133 (64-bit)**

![screen shot 2017-04-24 at 14 36 11](https://cloud.githubusercontent.com/assets/2676542/25337260/73de529e-28fb-11e7-9fc9-aab38dc1797b.png)

**Firefox 53.0 (64-bits)  (I know the screenshot is localhost but it's not any different from beta)**

![screen shot 2017-04-24 at 14 36 18](https://cloud.githubusercontent.com/assets/2676

[2017-04-25 09:20] #2381 closed

[2017-04-25 11:48] dennisquintel opened #2383 "ETModel requires base_value from ETEngine scenario scaling"
Reproduce:
1. Go to energytransitiemodel.com
2. Load the SER 2023 scenario (preset)
3. Click on 'scale this scenario'
4. Enter 400.000
5. "Are you sure?" -> OK
6. 500 Error! :(

![image](https://cloud.githubusercontent.com/assets/104830/25383702/84a2f932-29bd-11e7-923f-e2bea66a4748.png)

[2017-04-25 12:01] grdw commented on #2383
![screen shot 2017-04-25 at 13 56 16](https://cloud.githubusercontent.com/assets/2676542/25384146/79b1265a-29bf-11e7-89c8-efd66669c916.png)

[code]

By debugging my guess is that is has something to do with the latest commit: https://github.com/quintel/etmodel/commit/4a5d46727c81fef8302117a6765a2a4dd51fc387 Stating that `default` is `nil`. 🤔

[2017-04-25 12:03] antw commented on #2383
I've pushed a (hot)-fix out already. `base_value` seems to be available when you *already* have a scaled scenario, but not if you start a new one... :confused:

[2017-04-25 12:03] dennisschoenmakers commented on #2383
Great, can we deploy to staging *and* production? :)

[2017-04-25 12:04] antw commented on #2383
Already done.

[2017-04-25 12:05] grdw commented on #2383
The nice fix is probably to add `base_value` to [these lines](https://github.com/quintel/etmodel/blob/master/app/models/api/scenario.rb#L76-L80) or?

[2017-04-25 13:09] antw commented on #2383
Isn't that method used only to translate values from the scaling form into attributes to send to ETEngine? The scaling form does not have a `base_value` attribute (it is computed by ETEngine when the scenario is created).

What I've learned is:

* If you load an already-scaled scenario (e.g. /scenarios/665945 → Load) the `base_value` is set ([because it comes from ETEngine](https://github.com/quin

[2017-04-25 14:02] antw commented on #2383
I've changed the title to describe the intent of the offending commit. @jorisberkhout noticed earlier today (with input from a client) that the scaling summary in the settings menu showed a value which was different from that observed in the graph.

The settings menu said the scaled scenario was 0.94% of the original size, when in fact the graph was scaled to 0.82%. This is because the settings me

[2017-04-25 14:21] jorisberkhout commented on #2383
Not urgent at all! Thanks.

[2017-04-28 08:47] DorinevanderVlies opened #2384 "Costs of dashboard item differs from sum of costs table"
I suppose the query of the table is incomplete. I'll check this soon.

### Example
In the [Urgenda 2.0 -scenario](https://pro.energytransitionmodel.com/scenarios/311918) the dashboard shows 49.6 bln/year, the 45.44 bln/year.

![image](https://cloud.githubusercontent.com/assets/19907658/25521433/ca2d225e-2bff-11e7-9c4e-92757f31b805.png)

Notifying @antw @jorisberkhout

[2017-04-28 08:57] ChaelKruip commented on #2384
I think I fixen this earlier (on beta?) by adding cost of flexibility.

[2017-04-28 09:00] DorinevanderVlies commented on #2384
Thanks! I didn't check beta. It is indeed fixed on beta.

[2017-04-28 09:00] #2384 closed

[2017-05-05 08:49] grdw opened #2385 "Data for loose parts of the dynamic demand curve for EV profile"
I'm currently trying to fetch the data for the EV profile.

The query that belongs to this is `gqueries/general/merit/merit_ev_demand.gql` in ETsource. However I also need 3 other queries for the lose parts. Now I know that I can get the ev profile values by doing:

[code]

.. in the sandbox. However, I have no idea how to turn this into a profile? Can I just assume that that value is repeated all

[2017-05-05 09:13] antw commented on #2385
@ChaelKruip and I discussed this briefly yesterday, and for the moment we think it best to proceed without the individual parts of the curve (part 1, 2, 3 for EVs, insulated vs. non-insulated for space heating). Showing the total EV demand curve, old and new space heating, and hot water curves is enough.

[2017-05-05 11:49] grdw commented on #2385
![screen shot 2017-05-05 at 13 44 50](https://cloud.githubusercontent.com/assets/2676542/25744242/07d20644-3199-11e7-91ae-1d79e6e814f1.png)

Quick preview.

Few things:

1. I don't know how to let the EV be shown. Even if I put the EV technology slider up to 100% it doesn't work and I'm a bit out of options? Should there be sliders for those ev constants?
2. The "rest-area" (the now empty white sp

[2017-05-05 11:50] grdw commented on #2385
Including @ChaelKruip @jorisberkhout @antw

[2017-05-05 12:04] antw commented on #2385
You're right, the curve is full of zeros. I renamed some Merit groups recently; perhaps I mis-spelled something. I'll look into it.

[2017-05-05 12:12] antw commented on #2385
Please pull the latest ETEngine branch; the EV curves had a different name than expected. When no curves can be found, it falls back to the old behaviour.

I think it would be nice to fill this in – with a light colour – as if it was another series: "Other demand".

[2017-05-08 12:47] grdw commented on #2385
![screen shot 2017-05-08 at 14 43 15](https://cloud.githubusercontent.com/assets/2676542/25804580/b2e23472-33fc-11e7-8cbe-fb4e54e163e6.png)
![screen shot 2017-05-08 at 14 43 19](https://cloud.githubusercontent.com/assets/2676542/25804581/b2e49c80-33fc-11e7-8d0b-c84e11bf10dc.png)

I have the most annoying of D3 / JS bugs. Namely that for one random series in the chart can't toggle off or on. Google

[2017-05-08 12:48] grdw opened #2386 "Toggle doesn't work for chart"
![screen shot 2017-05-08 at 14 43 15](https://cloud.githubusercontent.com/assets/2676542/25804580/b2e23472-33fc-11e7-8cbe-fb4e54e163e6.png)
![screen shot 2017-05-08 at 14 43 19](https://cloud.githubusercontent.com/assets/2676542/25804581/b2e49c80-33fc-11e7-8d0b-c84e11bf10dc.png)

I have the most annoying of D3 / JS bugs. Namely that for one random series in the chart can't toggle off or on. Google

[2017-05-08 12:48] grdw commented on #2385
Moved to issue https://github.com/quintel/etmodel/issues/2386

[2017-05-08 12:48] #2385 closed

[2017-05-08 12:50] grdw commented on #2386
Some more information: the data is actually correct, the stacking is correct, d3 only displays the data completely the wrong way.

[2017-05-08 12:55] grdw commented on #2386
Possible fixes:

- [ ] Bump D3 library and actually fix the drawing (takes lots and lots of time)
- [ ] Ignore the toggling (takes no time at all)
- [ ] Partial toggling (takes a bit more time)
- [ ] Actually fix the bug (takes a lot of time)

[2017-05-08 12:57] ChaelKruip commented on #2385
I think that is sufficient for now.

[2017-05-08 12:58] ChaelKruip commented on #2386
👍  fine for now.

[2017-05-08 13:24] grdw opened #2387 "Bump D3 library"
Currently everything runs on D3 v2. The current version of D3 is v4. It would be great if we could upgrade to the most recent version. The syntax is considerably different which probably will cause some bugs.

Todo:

- [ ] Estimate how long it will take

[2017-05-08 15:41] grdw commented on #2386
Fixed by only toggling the demand curve. Actually it would be great if we can upgrade the D3 version as described here: https://github.com/quintel/etmodel/issues/2387

Closing this

[2017-05-08 15:41] #2386 closed

[2017-05-11 11:16] ChaelKruip opened #2389 "Chart should change when switching to other parts of the ETM when second chart is locked"
As noticed by @AlexanderWirtz (and checked by me)

To reproduce:

1. add second chart
2. lock *second* chart
3. navigate to other slide

Expected behaviour: the (unlocked) chart on the left should change to the default chart for the slide you navigate to.

Observed behaviour: the (unlocked) chart is not replaced (as if it was locked)

![energy_transition_model_-_your_free__independent__comprehensi

[2017-05-11 11:54] DorinevanderVlies opened #2390 "Add additional costs for trucks using hydrogen and electricity"
Currently no additional costs are calculated for trucks using electricity.

Scenario's like the Urgenda-scenario have up to 75% electric trucks and we will soon implement trucks using hydrogen in ETModel. I think this is a good improvement to also add costs for trucks using electricity and hydrogen.

Notifying @jorisberkhout

[2017-05-11 11:54] DorinevanderVlies opened #2391 "Overview of implementation trucks_using_hydrogen"
In a project with Urgenda we will add the technology trucks_using_hydrogen to the ETM.

### Overview of actions
- [x] Adjust graph
- [x] Adjust front end of ETModel (charts, slider, queries)
- [x] Add trucks using hydrogen to flexibility calculstions

### Side tracks
- [x] Do we need to change the compressor efficiency? We must find out if trucks require higher pressure and if higher pressure lead

[2017-05-11 14:00] grdw opened #2392 "Chart doesn't go full screen when other chart is locked"
Steps to reproduce:

1. Load a random chart
2. Lock that chart
3. Add a chart
4. Full screen the chart you just added

Nothing:

![screen shot 2017-05-11 at 16 00 33](https://cloud.githubusercontent.com/assets/2676542/25953219/fd29bfa6-3662-11e7-955c-07e6c4f8ef0f.png)

[2017-05-11 14:07] grdw opened #2393 "Order of spikiness - by the looks of it - probably incorrect."
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/2676542/25953520/ebe44ad0-3663-11e7-901f-0b2ac65b7968.png)

Related lines:

- Determining of spikiness for a serie of values: [here](https://github.com/quintel/etmodel/blob/master/app/assets/javascripts/d3/merit_order_hourly_supply.coffee#L38-L41)
- Sorting: [

[2017-05-11 14:52] ChaelKruip opened #2394 "Import/export chart should show oil products for present and future and formatting is off"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://cloud.githubusercontent.com/assets/1303760/25955688/37e31834-366a-11e7-8bee-60839cea0fb6.png)

[2017-05-11 14:54] ChaelKruip commented on #2394
Perhaps related to https://github.com/quintel/etmodel/issues/2362 (and a fix for that which I pushed)

[2017-05-12 13:59] grdw commented on #2343
@ChaelKruip can this be closed?

[2017-05-12 13:59] #2344 closed

[2017-05-12 13:59] #2345 closed

[2017-05-12 14:01] grdw commented on #2373
This is only the case for perticular charts *not* for all charts. I know that the d3 merit chart [has this  feature](https://github.com/quintel/etmodel/blob/master/app/assets/javascripts/d3/merit_order_hourly_supply.coffee#L43-L49) already.

[2017-05-12 14:03] #2343 closed

[2017-05-12 17:13] antw commented on #2392
Just so I'm clear...

0. Start a new scenario.
1. Change the default chart to something else
2. Add a second chart
3. Zoom/full-screen the second chart.

Is that correct? I ask only because with those steps the full-screen chart opens just fine for me.

[2017-05-12 18:20] ChaelKruip commented on #2392
Not sure but didn't locking one of the charts have to do with it @grdw?

In Chrome I had some issues

Sent from a mobile device.

[2017-05-15 07:00] grdw commented on #2392
I forgot that. Yes, it had to do with locking the chart. Updated the steps in the original comment so:

[2017-05-15 08:39] #2392 closed

[2017-05-15 13:04] AlexanderWirtz commented on #2389
I also noticed (only on beta!) that if an additional chart is locked, some dashboard charts no longer load:

![image](https://cloud.githubusercontent.com/assets/308563/26058743/8062d4ba-397f-11e7-85e7-f47847bafcea.png)

Notice how both `Chart view` and `Table view` buttons appear. Clicking them produces this error in the console:
![image](https://cloud.githubusercontent.com/assets/308563/26058789/

[2017-05-15 13:11] ChaelKruip opened #2397 "Fertiliser chart should show hydrogen if P2G for industry is used"
I think I replaced all natural gas for fertilisers with hydrogen by building a lot of wind and P2H for industry. The chart does not show the hydrogen (but shows reduced use of natural gas):
![energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_](https://cloud.githubusercontent.com/assets/1303760/26059090/bfe89c22-3980-11e7-8d61-280185d4bcc8.png)

[2017-05-15 13:15] jorisberkhout commented on #2397
Let's make this part of the upcoming deploy.

[2017-05-15 13:34] antw commented on #2389
@ChaelKruip @AlexanderWirtz Thanks for the reports. Both work fine in production so I would guess this is my fault and related to changes I made during the scenario report project. I'll try to look into this within the next day or two.

[2017-05-18 09:06] DorinevanderVlies commented on #2390
I see three options to implement the costs for electric/hydrogen trucks:
1. Same costs as defined for electric cars
2. Specific costs for trucks
3. Don't implement them

I'm in favour of option 2. This will require an extra slider and queries to implement these costs in charts/dashboard items.

@ChaelKruip what's your opinion about this?

[2017-05-18 09:15] ChaelKruip commented on #2390
@DorinevanderVlies do you mean the 'extra investment'? I agree that this would require an extra slider.

[2017-05-18 09:16] DorinevanderVlies commented on #2390
I do indeed

[2017-05-18 09:20] ChaelKruip commented on #2390
Do we have a reliable `number_of_units` for trucks? I think that this is still an issue with electric cars as well and before we solve that I don't think it is feasible to add a similar slider for trucks.

[2017-05-18 09:27] DorinevanderVlies commented on #2360
I like this approach!
Would it include another slider for number of cars (to set number of units)? Of would this number of units be part of the dataset?

@antw, can you implement this?

[2017-05-18 09:35] DorinevanderVlies commented on #2390
[CBS](http://statline.cbs.nl/Statweb/publication/?VW=T&DM=SLNL&PA=82044NED&D1=5-6&D2=0&D3=a&HD=151014-1243&HDR=G2&STB=G1,T&CHARTTYPE=1) gives pretty accurate data on this

[2017-05-18 09:40] DorinevanderVlies commented on #2360
As mentioned in https://github.com/quintel/etmodel/issues/2390#issuecomment-302349657 in order to calculate the extra investment costs correctly `number_of_units` for trucks needs to be modelled the same way as `number_of_units` for cars

[2017-05-18 12:03] ChaelKruip opened #2400 "Network cost calculation results in lower investments after dynamic curve implementation"
The reason that the network costs are (significantly) lower after we improved the modelling of electricity load by modelling the shape of the electricity profile for space heaters, water heaters and EV is that *the old method used simultaneousness multipliers larger than unity*.

This overview shows which values were used:
![screenshot_18_05_2017__14_00](https://cloud.githubusercontent.com/assets/

[2017-05-18 12:11] ChaelKruip commented on #2400
Including @AlexanderWirtz @DorinevanderVlies

[2017-05-18 16:53] #2393 closed

[2017-05-22 11:58] dennisschoenmakers opened #2401 "Merit order chart renders prior to ETEngine response"
When going to quickly(?) for the `batteries in households` slider, the interface hangs:

### console

![image](https://cloud.githubusercontent.com/assets/104830/26307729/56014c02-3ef6-11e7-8391-9af81f20ea60.png)

@ChaelKruip remembered you, @antw already fixed this? But we couldn't find the old issue, so might be redundant.

[2017-05-22 12:58] antw commented on #2401
#2356 is what you're thinking of. I do believe this has been fixed, but as I'm intending to do [some work on chart loading](https://github.com/quintel/etmodel/issues/2389) in the next day or two, I will keep this open to remind me to double-check.

[2017-05-22 13:45] dennisschoenmakers commented on #2401
Thanks @antw closing this in favor of #2356

[2017-05-23 10:07] DorinevanderVlies opened #2402 "The chart "hydrogen production for transport" should not respond to adding power to gas for industry"
Right now, adding power to gas for industry influences the "Hydrogen production for transport" chart.

The [p2g_in_hydrogen_production gquery](https://github.com/quintel/etsource/blob/master/gqueries/output_elements/output_series/vertical_stacked_bar_169_hydrogen_production/p2g_in_hydrogen_production.gql
) seems to include all P2G conversion, not just P2G for transport.

I think we should either c

[2017-05-23 10:26] DorinevanderVlies opened #2403 "Implementing power to gas for transport results in fossil hydrogen"
IMO this should be 100% renewable as excess electricity (usually wind/solar) is used for P2G.

This issue is similar to https://github.com/quintel/etmodel/issues/2269

![image](https://cloud.githubusercontent.com/assets/19907658/26350391/4cb4af32-3fb3-11e7-97e5-dd40cc977cbb.png)

Including @antw @ChaelKruip @jorisberkhout

[2017-05-23 11:47] DorinevanderVlies commented on #2400
Just to check. The new costs are the correct costs?

[2017-05-23 11:55] DorinevanderVlies commented on #2269
This is still the case. I'm have not been able to find out why this occurs

[2017-05-23 12:42] ChaelKruip commented on #2400
I don't know... @jorisberkhout might know

Sent from a mobile device.

[2017-05-23 14:34] ChaelKruip commented on #2269
@antw could you have a look at this issue as well?

[2017-05-23 14:56] antw commented on #2269
Already am. :smiley: I suspect that the recursive sustainability share isn't being calculated correctly. I'll get back to you both once I have more info.

[2017-05-24 11:19] DorinevanderVlies commented on #2403
This might have to do with the sustainability share being 0.0 for `energy_flexibility_p2g_electricity `

[2017-05-24 13:03] ChaelKruip commented on #2402
Sounds like the way to go!

[2017-05-24 14:25] antw commented on #2269
Closed by quintel/etengine@697a5c5.

[2017-05-24 14:25] #2269 closed

[2017-05-24 14:31] ChaelKruip commented on #2269
Great work @antw!

[2017-05-24 14:32] DorinevanderVlies commented on #2269
nice!

[2017-05-24 14:57] #2403 closed

[2017-05-24 15:30] ChaelKruip commented on #2402
I just found out that all queries for this chart are actually more general then transportation. Perhaps we should think a bit more about what we actually want to show.

[2017-05-24 17:13] antw commented on #2401
Reopening because I've encountered this several times today on beta.

[2017-05-30 15:12] antw commented on #2389
Fixed by 27992a7.

[2017-05-30 15:12] #2389 closed

[2017-05-30 15:13] antw commented on #2401
... and now I can't reproduce it. I was also using production on the same day I (supposedly) encountered it on beta; perhaps I got my tabs mixed up. 😖

I'll close this; please reopen if it occurs again.

[2017-05-30 15:13] #2401 closed

[2017-05-31 09:46] ChaelKruip opened #2405 "The user should be able to choose the imbalance price for electricity"
If there are no more dispatchable plants left in the merit order calculation, the model imports electricity and assumes a price of 140 EUR/MWh. I remember this price being based on historic values or something like that or a multiplier of the most expensive plant.

This is not very transparent to the user and I think we should turn this into a slider of some sort.

Happy to hear your ideas!

[2017-06-01 14:20] #2394 closed

[2017-06-02 08:56] ChaelKruip opened #2406 "Colours of power plant types should be made consistent throughout the front-end"
This chart for example:
![energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_](https://cloud.githubusercontent.com/assets/1303760/26718606/da8dde84-4781-11e7-8456-c3aada211f35.png)
Is not consistent with this one:
![energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_](https://cloud.githubusercontent.com

[2017-06-06 13:04] #2358 closed

[2017-06-06 13:13] antw commented on #2358
This is now available on beta. [The commit](https://github.com/quintel/etmodel/commit/3944995c8101948304453e7eaee33e02d5da3caf) contains some instructions, and I added an example to the *English* text for the CO<sub>2</sub> dashboard item:

[code]

[2017-06-06 14:07] ChaelKruip commented on #2358
Nice!

[2017-06-06 14:20] DorinevanderVlies commented on #2360
@antw am I right in assuming your proposal would enable the following?
@antw would this effect the current local datasets?
@antw would this effect the method of creating local datasets?

**A data analysis which has output:**
- Number of cars
- Total useful demand of cars (kilometers)
- Shares

This output is used to set the current graph

**For first implementation we can just allow adjustment of:

[2017-06-07 14:07] dennisschoenmakers commented on #1043
@ChaelKruip is this already part of the new dynamic load curve? And if not, is this planned?

[2017-06-07 14:26] antw commented on #1043
This does sound a lot like the new ["Demand response"](https://beta-pro.energytransitionmodel.com/scenario/flexibility/electricity_storage/demand-response) sliders.

[2017-06-07 14:39] dennisschoenmakers commented on #1043
Thanks! Closing this issue.

[2017-06-07 14:39] #1043 closed

[2017-06-07 14:41] dennisschoenmakers opened #2408 "Missing information on Demand Response sliders?"
On all three sliders in the [demand response slide](https://beta-pro.energytransitionmodel.com/scenario/flexibility/electricity_storage/demand-response) there's just an empty grey box when you click the `i`:

![image](https://user-images.githubusercontent.com/104830/26884396-faefa0e6-4b9f-11e7-9955-26aa7448752f.png)

[2017-06-07 16:02] antw commented on #2360
[My proposed solution above](https://github.com/quintel/etmodel/issues/2360#issuecomment-288194206) has been implemented and pull requests have been created (but are waiting on a little more testing before merging).

* ETSource: https://github.com/quintel/etsource/pull/1283
* ETEngine: https://github.com/quintel/etengine/pull/926

This is indeed possible. The ETSource pull request still uses the s

[2017-06-08 07:45] dennisschoenmakers commented on #2408
It would be interesting to see what the underlying/assumed profiles are for the different sliders.

[2017-06-08 09:31] ChaelKruip commented on #2408
Done.

[2017-06-08 09:31] #2408 closed

[2017-06-09 07:02] ChaelKruip opened #2409 "Merit hourly chart shows wrong mouse-over SOMETIMES"
The mouse is hovering over the imported electricity part of the curve but solar panels for buildings show up:
<img width="612" alt="screen shot 2017-06-09 at 09 00 10" src="https://user-images.githubusercontent.com/1303760/26964528-31dbaeb2-4cf2-11e7-8893-f1536676406f.png">

[2017-06-09 07:09] ChaelKruip opened #2410 "Flex chart should allow mouse-over info"
![image](https://user-images.githubusercontent.com/1303760/26964773-604a43ca-4cf3-11e7-8d18-a2b846b9ac03.png)

[2017-06-09 12:17] #2311 closed

[2017-06-09 12:28] DorinevanderVlies commented on #2390
Closing after discussion with
@jorisberkhout and @ChaelKruip

As long as batteries of electric trucks are not used for flexibility purposes additional costs should not be taken into account

[2017-06-09 12:28] #2390 closed

[2017-06-09 12:29] #2391 closed

[2017-06-09 12:40] DorinevanderVlies commented on #2405
Agreed

How about:
-  an extra sidebar item "Electricity import" in the costs tab
- the slider sets an absolute value for the costs of imported electricity
- a chart (bar) shows for both present and future (average or max) costs of nationally produced and imported electricity. The future costs are set using a slider, default is present costs. The costs of nationally produced electricity can be use

[2017-06-09 12:46] ChaelKruip commented on #2362
Closing this as it has been fixed.

[2017-06-09 12:46] #2362 closed

[2017-06-09 13:01] ChaelKruip commented on #2405
do we have information regarding present costs of imported electricity?

I like it!

Perhaps we can show an extra line in this chart?
<img width="619" alt="energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_" src="https://user-images.githubusercontent.com/1303760/26976410-fc422b6e-4d23-11e7-9dff-f2ff6bb5341d.png">

Also, I now realise that I made a m

[2017-06-09 13:23] antw commented on #2405
Correct. The price is the most expensive plant which is running. If demand exceeds supply, the price is [the most expensive plant × 7.22](https://github.com/quintel/merit/issues/66#issuecomment-12317794).

[2017-06-12 10:34] #2410 closed

[2017-06-13 08:50] antw commented on #2378
This was closed by 3e8a9ec.

[2017-06-13 08:50] #2378 closed

[2017-06-13 09:28] DorinevanderVlies commented on #2360
Closing this issue

In discussion with @jorisberkhout and @ChaelKruip it was decided not (yet) to implement a number of cars slider. In the future we can reconsider implementing this slider. In that case we have to keep in mind (among other things):

- How to prevent impossible sider settings like too little cars for the total demand (in kms)
- Do we have to implement a flexible demand curve which

[2017-06-13 09:28] #2360 closed

[2017-06-13 14:12] DorinevanderVlies commented on #2300
I cannot reproduce this

I tested this locally for the "Noorderplantsoen" dataset.
Setting either 0 old 0 new houses results in a working dataset

### Screenshots
**0 old houses, 2161 new houses**
![image](https://user-images.githubusercontent.com/19907658/27086562-dc26f882-5052-11e7-83b3-32b620456d00.png)
**2161 old houses, 0 new houses**
![image](https://user-images.githubusercontent.com/1990765

[2017-06-13 14:12] DorinevanderVlies commented on #2300
@dennisschoenmakers can we close this issue?

[2017-06-13 14:37] #2299 closed

[2017-06-13 15:36] DorinevanderVlies commented on #2402
Reconsidering I think that this chart originates from the time that in thet ETM hydrogen was just used for transport.

I think there are two things "wrong" with the queries in combination with the current chart title
1. The chart name is "Hydrogen production for **transport**", but the queries consider all hydrogen production
2. The chart name is "Hydrogen "**production** for transport", but the [

[2017-06-13 15:40] jorisberkhout commented on #2402
Assigning myself as well and adding deploy milestone. I am going to work on related issues (quintel/etmodel#2397, quintel/etmodel#2354, quintel/etmodel#2272 and quintel/etmodel#2257) tomorrow morning and will look into this one as well.

[2017-06-14 07:41] DorinevanderVlies commented on #2332
"Climate neutrality" is also used (by us and others). I think the same considerations @dennisschoenmakers mentions regarding "energy neutrality" apply to this term.

However, I do understand the desire to have a name for a goal.
imo, the terms can be used, as long as is is always made clear how it is defined in that particular case.

Due to the vagueness of the terms I'm not a huge fan of quantify

[2017-06-14 08:17] DorinevanderVlies commented on #2300
Closing, please reopen if it occurs again

[2017-06-14 08:17] #2300 closed

[2017-06-14 08:32] ChaelKruip opened #2411 "Put Berenschot in column of partners that financially support the ETM"

[2017-06-14 08:33] DorinevanderVlies opened #2412 "In a dataset the sum of old and new residences can differ from total number of residences"
Currently it is possible to define a dataset in which `number_of_old_residences` and `number_of_old_residences` do not add up to n`number_of_old_residences`.

A fix could be to define 2 out of 3 and let the graph calculate the third.
For example
`number_of_residences=100`
`number_of_old_residences=30`
From which is calculated
`number_of_new_residences=70`

including @jorisberkhout, @BerendSmits, @

[2017-06-14 08:41] dennisschoenmakers commented on #2411
Left columns here: ![image](https://user-images.githubusercontent.com/104830/27123349-dcb80a34-50ed-11e7-88cd-50cab5a212b2.png)

[2017-06-14 08:54] dennisschoenmakers commented on #2411
PR that will fix this: quintel/etcentral#157

[2017-06-14 09:17] dennisschoenmakers commented on #2411
Fixed and deployed to staging and production.

[2017-06-14 09:17] #2411 closed

[2017-06-14 09:37] ChaelKruip commented on #2254
@antw this is minor but do you have a clue how to fix this?

[2017-06-14 10:28] ChaelKruip commented on #2199
Closing.

[2017-06-14 10:28] #2199 closed

[2017-06-14 10:47] #2254 closed

[2017-06-14 11:02] ChaelKruip commented on #2088
Assigning @antw as well.

[2017-06-14 12:44] ChaelKruip commented on #1585
I think this is not worth the effort at the moment. Closing. Please re-open if still needed.

[2017-06-14 12:44] #1585 closed

[2017-06-14 13:58] BerendSmits commented on #2325
I discussed this with @ChaelKruip, the implications would be too large, it would influence electricity usage in the household sector and a non-existent 'passenger kilometers' quantity in the transport sector. Might be interesting for a later project if we want to make train, car and bikerides interchangeble, for now I'm closing this issue.

[2017-06-14 13:58] #2325 closed

[2017-06-14 14:19] BerendSmits commented on #2336
Superseded by #1280. Closing

[2017-06-14 14:19] #2336 closed

[2017-06-14 14:36] jorisberkhout commented on #2354
Removing from milestone as this is more complicated to solve than I anticipated.

[2017-06-14 14:37] jorisberkhout commented on #2272
Removing from milestone as this is more complicated to solve than I anticipated.

[2017-06-14 14:37] jorisberkhout commented on #2257
Removing from milestone as this is more complicated to solve than I anticipated.

[2017-06-15 08:02] #2332 closed

[2017-06-15 08:04] AlexanderWirtz commented on #2319
THis issue is now purely technical and has moved beyond its original scope. I cannot tell if it should remain open. unassigning myself

[2017-06-15 08:09] AlexanderWirtz commented on #2305
unassigning myself

[2017-06-15 08:13] AlexanderWirtz commented on #2265
shall we close this issue?

[2017-06-15 08:16] AlexanderWirtz commented on #2263
I suggest reminding any user who creates/edits a local dataset and good documentation. One reason transport is often left out of local targets and statistics is that this break-down is hard. We include it mostly to show that electrification / hydrogenification of previously fossil-fueled transportation has local impacts.

Shall we close this issue?

[2017-06-15 08:17] AlexanderWirtz commented on #2259
I suggest closing this issue as it is way out of date. Let's create a more current one to address any remaining issues.

[2017-06-15 08:17] #2259 closed

[2017-06-15 08:18] AlexanderWirtz commented on #2251
@jorisberkhout I am quite sure this has been fixed/addressed. Can I close this?

[2017-06-15 08:20] AlexanderWirtz commented on #2147
This should be included on quintel.com as an interesting topic for energy interns. I should be doable now, what with newly available data from RVO on the availability of heat and geothermal potential. That leaves digging for information on the extent to which geothermal heat can supply part of industry's heat demand: supplying heat to an industrial heat pump which then upgrades it further, for exa

[2017-06-15 08:30] AlexanderWirtz commented on #2146
Is this one we could give to Rene Benders to pass on to students? At least the research part?

[2017-06-15 08:30] AlexanderWirtz commented on #2115
What is the status of this? Close?

[2017-06-15 09:54] #2319 closed

[2017-06-15 09:55] ChaelKruip commented on #2305
Closing as this is not very actionable.

[2017-06-15 09:55] #2305 closed

[2017-06-15 09:56] #2265 closed

[2017-06-15 09:57] #2263 closed

[2017-06-15 09:59] ChaelKruip commented on #2146
Good idea! I'll make a short description of possible projects for him.

[2017-06-15 10:30] ChaelKruip commented on #2115
@AlexanderWirtz this is the moment to put this live. It looks as if only the points mentioned in https://github.com/quintel/etmodel/issues/2115#issuecomment-251443332 are keeping this from being deployed. Right @antw?

[2017-06-15 11:30] DorinevanderVlies commented on #2115
For Ameland the heat network is geothermal. So the input will be:

[code]
- district_heating_buildings_present

[code]

[2017-06-15 13:37] ChaelKruip commented on #2409
@antw can you have a look?

[2017-06-15 14:11] #2409 closed

[2017-06-15 14:36] antw commented on #2115
Thanks @DorinevanderVlies.

I suspect the Ameland preset I created may be out-of-date. It came from production and was labelled as "v9", but production also has one labelled "1.0". Beta has versions of Ameland which are newer than the one on production:

<img width="762" alt="screen shot 2017-06-15 at 15 31 50" src="https://user-images.githubusercontent.com/4383/27186292-c7cd5942-51df-11e7-84fb-27

[2017-06-15 15:32] DorinevanderVlies commented on #2115
I think there are some things we should discuss here.

This Ameland project ran before we were able to make local dataset. So, there is no local dataset for Ameland.
We made a "scenario" that serves as a local dataset with end-year 2020.
We used that as a starting point to make 4 scenario's in total.

@dennisschoenmakers, what to which scenario do we want to link this preset? The current link is t

[2017-06-16 08:50] antw commented on #2088
Was fixed by c412c87.

[2017-06-16 08:50] #2088 closed

[2017-06-19 12:47] grdw opened #2413 "IE11: Object doesn't support property or method 'find'"
This bug causes the merit charts to not load. This is for Internet explorer only

[2017-06-19 13:25] grdw opened #2415 "IE9: Can't load a new scenario"
Starting a new scenario responds as though Etengine is offline.

Debug info:

[code]

---

Starting an existing scenario responds partially (sliders load, charts don't show).

[2017-06-19 13:28] grdw commented on #2415
Starting a new scenario responds as though Etengine is offline. Starting an existing scenario responds partially.

[2017-06-19 14:05] antw commented on #2415
Deploy was ongoing. You probably caught it in the minute or two while the maintenance page wasn't up.

Seems fine now.

[2017-06-19 14:11] grdw commented on #2415
I'm still seeing the same error on the console on the `beta-pro` server though.  I'm using IE9 (Windows 7) in VirtualBox.

[2017-06-19 14:12] grdw commented on #2415
![screen shot 2017-06-19 at 16 12 35](https://user-images.githubusercontent.com/2676542/27289411-2486ee3c-550a-11e7-8923-1d8bd5e22849.png)

[2017-06-19 14:19] antw commented on #2415
[It's this Airbrake error](https://quintel.airbrake.io/projects/32209/groups/1976140994971507083?tab=notice-detail). Seems to only affect IE<=9.

[2017-06-19 14:20] #2413 closed

[2017-06-19 14:37] DorinevanderVlies opened #2416 "Scenario "crashes" by changing slider settings"
[This scenario](
https://beta-pro.energytransitionmodel.com/scenarios/678923) is fine when it is opened:

![image](https://user-images.githubusercontent.com/19907658/27290383-53168d7c-550d-11e7-9446-8cf4fa83b293.png)

However when two sliders are changed, or a slider is changed the scenario changes and the dashboard shows:

![image](https://user-images.githubusercontent.com/19907658/27290299-10ef0

[2017-06-19 14:42] grdw commented on #2415
Okay, I managed to squash this bug only to find lots of others 😢 . I'll create tickets for those bugs and hold those off  until further notice. I do not know how many IE9 users we have for the ETM but if it's worthwhile I'll try and fix them as soon as possible.

Including @ChaelKruip

[2017-06-19 14:49] grdw opened #2418 "IE9: display problems"
Bugs are visible after applying the fix from issues/#2415

![screen shot 2017-06-19 at 16 46 49](https://user-images.githubusercontent.com/2676542/27290960-1371a01a-550f-11e7-845f-0ff4c29f9972.png)

The main problems are:

- the constraints aren't visible
- the charts don't load (only the texts, axis and legends).

---

My guess would be that this is due to unsupported javascript syntax (methods l

[2017-06-19 14:50] #2415 closed

[2017-06-19 15:00] antw commented on #2418
You can emulate IE9 with IE11: Open "F12 Developer Tools" -> Emulation tab -> Document mode: 9

In this case, it seems IE9 is sending requests to ETEngine without asking for any Gqueries!

[code]

[2017-06-19 15:11] antw commented on #2418
Swapping `to_json` for `to_hash` in ApiProxyController fixes the problem. Next problem: Support for `to_hash` is going to be removed in Rails 5.1. 😆

[2017-06-19 15:13] antw commented on #2418
I think we can do:

[code]

This seems to do the trick and doesn't trigger any deprecation warnings.

[2017-06-19 15:20] grdw commented on #2418
Looks good to me 👍

[2017-06-19 15:23] #2418 closed

[2017-06-19 17:02] #2416 closed

[2017-06-20 09:14] grdw opened #2420 "Semantics: a local dataset is not a country"
![screen shot 2017-06-20 at 11 12 28](https://user-images.githubusercontent.com/2676542/27325658-6c656702-55a9-11e7-8acd-565f9799390c.png)

Select country is wrong in this situation. It should probably say "select region".

The same issue is on the regions pages:

![screen shot 2017-06-20 at 11 13 37](https://user-images.githubusercontent.com/2676542/27325703-8e723906-55a9-11e7-87c3-3ed71c7c6db9.p

[2017-06-20 09:15] grdw commented on #2420
@ChaelKruip re-assign at will

[2017-06-20 09:31] ChaelKruip commented on #2420
Assigning @DorinevanderVlies

[2017-06-20 12:08] ChaelKruip opened #2421 "100% renewable (Urgenda) scenario has slight differences in primary demand between BETA and PRODUCTION"
BETA
![image](https://user-images.githubusercontent.com/1303760/27332365-deb01236-55c1-11e7-8797-bc9123e75ebd.png)
 and PRODUCTION:
![image](https://user-images.githubusercontent.com/1303760/27332368-e8332ef6-55c1-11e7-807f-0da88605f49a.png)

[2017-06-20 12:09] ChaelKruip commented on #2421
I opened both from the preset menu.

[2017-06-20 12:14] ChaelKruip opened #2422 "Scaling preset Urgenda never opens a new scenario"
It just keeps telling you that the internet connection seems slow...

[2017-06-20 12:15] ChaelKruip commented on #2422
It works with a new NL scenario though...

[2017-06-20 14:15] #2422 closed

[2017-06-20 15:00] antw commented on #2421
My local copy agrees with beta. Yet both beta and production are running identical ETEngine and ETSource versions. :confused:

[2017-06-20 15:08] ChaelKruip commented on #2421
Same Merit?

[2017-06-20 16:51] antw commented on #2421
I found out why: we have many scenarios on beta which have been converted to presets, but the scenarios have not been removed from the database as they are on production.

The result is that beta is using the scenario instead of the preset. We _should_ delete these – as we do on production – but I'm not sure if they're still being used in some way? If so, we need to duplicate those that are and as

[2017-06-21 07:42] ChaelKruip commented on #2421
This feels like a fall-back option that we could remove right? I think it's a bit weird to open a database scenario when the preset fails (or is that not what happens).

[2017-06-21 08:06] ChaelKruip commented on #2421
@antw @DorinevanderVlies does this affect the stability of the Urgenda scenario? Today is the launch of their booklet which refers to the scenario 😟

[2017-06-21 08:20] antw commented on #2421
I was incorrect about this, it's not using the database scenario over the Preset. I'm still investigating why the two servers differ; I'll get back to you ASAP.

[2017-06-21 08:47] DorinevanderVlies commented on #2421
To make things more confusing (or more clear): I also notice slight differences between the outcome of the scenario now and beginning of June (when I sent the outcomes to Urgenda).

I'm currently trying to recover the scenario settings of the 9th of June, but am pretty confident that the scenario itself didn't change since then (the only thing I can think of is a copy-paste mistake).

![image](htt

[2017-06-21 09:29] antw commented on #2421
We're you using beta for those "Dashboard" values? There was a fix to P2H after that date which might explain the difference.

I believe I'm closer to explaining why the two servers have different results: they're ordering household P2P and EV P2P differently when discharging:

Production:

[code]

Beta:

[code]

[2017-06-21 11:03] DorinevanderVlies commented on #2421
I was indeed using beta for those "Dashboard" values

The main difference is in energy import, export and curtailment and costs. So to me it seems plausible that flexibility (P2H) is the cause of the differences. Do you agree @antw?

[2017-06-21 11:08] antw commented on #2421
I'm hopeful that this is now fixed, so I will close this issue. Please reopen if you find any other inconsistencies.

I would imagine so; it's the only code change which happened after that date. The problem was that the P2H buffers were being emptied more than they should have; fixing that would likely have reduced the amount of energy imported since there is more heat available in the buffers.

[2017-06-21 11:08] #2421 closed

[2017-06-26 14:33] DorinevanderVlies opened #2423 "Dataset Netherland does not load on beta"
The dataset "Netherlands" and other country datasets do not load properly on the beta server. This includes scenario's based on this dataset.

Local dataset seem fine.

![image](https://user-images.githubusercontent.com/19907658/27544283-f7993ba4-5a8c-11e7-8468-112f1f701145.png)

Does this have to do with https://github.com/quintel/etengine/commit/f33465116d789c886ee0ffc3af7b40953ffac7e0?

[2017-06-26 14:55] #2423 closed

[2017-06-26 15:00] antw commented on #2423
Well-spotted, thanks; that was my bad. :blush:

[2017-06-28 11:24] ChaelKruip opened #2424 "Electricity costs in the model should be calculated by merit"
Currently, electricity costs are calculated by both Merit and by queries. The latter costs is not always consistent with what Merit computes. We should only have one method for calculating electricity costs/price in the ETM IMO.

Including @jorisberkhout @AlexanderWirtz @DorinevanderVlies

[2017-06-29 13:31] ChaelKruip opened #2425 "LOLE and Black-out hours should the equal if import capacity and flex is zero"
In [this scenario](https://beta-pro.energytransitionmodel.com/scenarios/691333) I have set the interconnector to zero and there are no batteries.

I expect the LOLE and Black-out hours to result in the same number of hours but they are 49 and 284 respectively.

Including @AlexanderWirtz @jorisberkhout @DorinevanderVlies

[2017-06-30 12:49] AlexanderWirtz commented on #2425
Indeed, @ChaelKruip and I noted this the other day when demonstrating the ETM. Very odd.

Blackout hours should be a subset of LOLE hours, as some LOLE events can be mitigated by imports. If imports are impossible, i.e. the system is an island, there is no difference between LOLE and blackout hours

[2017-07-03 12:19] grdw opened #2426 "Short term solution for selecting a (sub)region for a scenario"
![screen shot 2017-07-03 at 13 38 26](https://user-images.githubusercontent.com/2676542/27791356-e8bd360e-5ff4-11e7-8813-19e36771970f.png)

The current interface for selecting a region in the ETModel interface is becoming messy.  That’s the reason to rethink this and find a new implementation.

We have to keep in the back of our heads that this implementation will *not* be suitable for 15.000+ dat

[2017-07-03 12:50] antw commented on #2426
Could we go back a step and consider in what way it is messy? I agree that it doesn't look very pretty, but how would you describe the problem with the current option list? Too many entries? Not clear why there are three different sections? ...

[2017-07-03 12:57] grdw commented on #2426
Well those two things definitely. Also it's now pretty unclear that the third section of regions are all regions within The Netherlands. For an outsider it might not be immediately clear that that's the case.

[2017-07-03 13:40] antw commented on #2426
[Using optgroups](https://jsfiddle.net/55q89ffo/) would kind of solve those issues – except for there still being too many entries – and would be really simple to implement. I think it's also easier for visitors to *not* show them a separate "Region" list.

<img width="236" alt="screen shot 2017-07-03 at 14 30 07" src="https://user-images.githubusercontent.com/4383/27794958-28810868-5ffc-11e7-9b8b

[2017-07-03 14:01] grdw commented on #2426
Yes.

I think the `optgroup` solution might actually work for the time being. Also since the only supported regions are the one's from The Netherlands this will hold. When the list becomes larger than >100 items this idea might need to be revisited.

[2017-07-03 16:11] #2420 closed

[2017-07-03 16:11] #2426 closed

[2017-07-06 14:26] ChaelKruip opened #2428 "Names should be nicely readable"
Can we use etmodel translations to render human readable names like in this piece of code?

[code]

[2017-07-06 14:43] antw commented on #2428
[code]

[2017-07-06 14:43] #2428 closed

[2017-07-06 15:12] ChaelKruip opened #2429 "Costs of insulation should be an explicit category in the cost chart"
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://user-images.githubusercontent.com/1303760/27918129-4fe62388-626e-11e7-82ca-0374088efcaf.png)

[2017-07-06 16:29] antw commented on #2425
The implementation of these two metrics is different:

* **Loss-of-load expectation** takes [a demand curve from ETEngine](https://github.com/quintel/etsource/blob/313c2a31cd5d2e9913a23d724b726c792d195424/gqueries/modules/security_of_supply/lole_demand.gql), [some dispatchable producers](https://github.com/quintel/etsource/blob/313c2a31cd5d2e9913a23d724b726c792d195424/gqueries/modules/security_of_

[2017-07-06 18:51] AlexanderWirtz commented on #2425
Thanks @antw that clears things up. It seems to me we need to use the same method to calculate both metrics. @jorisberkhout had already mentioned that the two methods might be different.

The LOLE implementation is probably out of date. Can we calculate LOLE with merit? It would need to know about available import capacity.

[2017-07-07 07:25] ChaelKruip commented on #2425
![trump_wrong](https://user-images.githubusercontent.com/1303760/27947126-da46f954-62f4-11e7-989c-8d8def1c28c8.jpeg)

The LOLE measure is independent of import. It compares *local* demand with *local* dispatchable capacity. In my mind, the black-out calculation **without the aid of import** could function as LOLE.

@jorisberkhout do you agree with this interpretation?

[2017-07-07 12:22] ChaelKruip opened #2430 "Oil does not show up in import/export chart"
In the report:
![energietransitiemodel_-_je_eigen_onafhankelijke__volledige_en_op_feiten_gebaseerde_energiescenario_](https://user-images.githubusercontent.com/1303760/27957630-9395cabe-631f-11e7-9d94-3cd43df0853d.png)

On beta:
![energy_transition_model_-_your_free__independent__comprehensive__fact-based_scenario_builder_](https://user-images.githubusercontent.com/1303760/27957666-bb3f619c-631f-1

[2017-07-07 13:24] antw commented on #2430
Is your first screenshot from your local copy? Perhaps your database is out of date and doesn't have that series?

It certainly shows up on beta for me:

| ETM interface | Report |
| :---: | :---: |
| ![screen shot 2017-07-07 at 14 22 52](https://user-images.githubusercontent.com/4383/27959558-d5a37014-631f-11e7-8b7e-427f1490d282.png) | ![screen shot 2017-07-07 at 14 22 58](https://user-images.git

[2017-07-07 13:54] ChaelKruip commented on #2430
🤦‍♂️
😊

[2017-07-07 13:54] #2430 closed

[2017-07-11 07:21] dennisquintel opened #2431 "Further improve on menu?"
It would be cool if you could see in which part of the menu 'you are' as you are scrolling down. Furthermore, I think the menu can be a bit darker/have more contrast.

![image](https://user-images.githubusercontent.com/104830/28055637-1def8dce-661a-11e7-8fd4-94a1031cff07.png)

cc @ChaelKruip

[2017-07-11 07:48] dennisschoenmakers opened #2432 "How do we advertise the fact that you can create a ScenarioReport?"
Currently, the cool new feature of the scenario report is hidden from sight from the user.

I think we can tackle this in two ways:

1. We 'explain' to people the new features, e.g. with a pop-up/walk through.
2. We make the button more prone, so, people being people and being curious, they inevitably press it, and there you go.

I personally do not like option 1 so much.

### Option 2

![image](h

[2017-07-11 07:52] ChaelKruip commented on #2432
Personally, I don't like pop-ups. I click them away and hardly ever read them. Shiny buttons, however, attract my curiosity and make me want to push them. Without further ado I will share my preference for option 2!